[2019-03-10 06:02] aravindavk opened #1 "Handle Storage Class options in CSI Controllerserver"
Currently Volume name is hardcoded as "glustervol" to make it work for single Volume. Get the Hosting Volume name from Storage Class Option.

[2019-03-10 06:04] aravindavk opened #2 "Alpine build for kadalu-csi and kadalu-server container"
Glusterfs server packages are required in kadalu-server container and Gluster client packages required in kadalu-csi container.

[2019-03-10 06:12] aravindavk opened #3 "Implement CSI driver Logging"
Logging is not yet available for CSI drivers.

[2019-03-10 06:16] aravindavk opened #4 "Volgen support"
Use `gluster-volgen` tool(Glusterd2 volgen library based tool) to generate Volfile in container on need basis. Store Volinfo in configMap and generate volfile on request basis(Currently static volfile is stored in ConfigMap and used).

Ref: https://github.com/aravindavk/gluster-volgen

[2019-03-10 06:26] aravindavk opened #5 "Implement Quota RPC/ReST API in sidecar container of server pods"
When subdirectory is created with required size, Xfs(or respective FS) Quota need to be set in each bricks backend.

[2019-03-10 06:34] aravindavk opened #11 "Centralized logging support"
Centralized logging support required for all containers.

[2019-03-10 07:09] aravindavk opened #12 "Monitoring support"
Prometheus exporter support for server and CSI pods

[2019-03-10 10:27] amarts commented on #10
I vote for below 4

* 1 brick (think of backend EBS / LUN) without any replicate factor (Support)
* replica 3 (Support)
* thin-arbiter (tech preview)
* Tech-preview (EC) - Only for the scenarios of large file app.

[2019-03-12 06:28] amarts opened #13 "change in naming convention of manifest files."
Currently the below is recommended execution order

[code]

while it is good enough, much more easier way of making sure we have the right order enforced is by generating these files with the order, something like below:

[code]
and also considering we give a sample PVC file, we can name it `06-sample-pvc.yaml`

This helps us to pick only one at a time and see whats the status.

[2019-03-13 08:21] #13 closed

[2019-03-28 03:25] humblec opened #18 "flexibility of kadalu PV hosting volume"
At present , its an admin overhead to create PV Hosting volume. This invite a manual intervention /blocking op on the path. What about, we give a choice of submitting a PVC name in the CRD, so that we dont care where we operate ?

[code]
@amarts thoughts here ?

[2019-03-28 14:02] aravindavk opened #20 "Travis CI integration for Smoke test"
Travis CI setup for the following is required

- Pylint test for all Python files
- Flake8 test for all Python files
- Container build tests for Operator, CSI and server containers
- Yaml validations

[2019-03-28 15:39] amarts commented on #2
Depends on building glusterfs on Alphine. Not able to smoothly build on that.

[2019-03-28 16:06] aravindavk commented on #5
To do any required operation in server pods. For example, set backend quota or to get status of Self heal etc.

## Managing directory Quota
- When a directory is created, set Quota for requested size.
- When Quota resize is requested:
    - If requested size is more than existing quota size, then check for available size in brick path. Error if space is not available.
    - If requested size is le

[2019-03-28 16:32] amarts commented on #5
Thanks for this. I am of the opinion to implement the sidecar model for now.

This helps in quickest, and simplest implementation. We can track failed call separately, and may be do it again once in every 10mins or something like that. I don't see a huge problem with that to 'start' with.

[2019-03-28 16:34] amarts commented on #18
Thanks for the points @humblec. Ack on not doing manual overheads.

[2019-04-02 15:32] amarts commented on #5
Update: PR #23 does implement some part of this.

We have chosen the way to do this, mainly because this doesn't involve another web 'service', and is fool proof. Mainly because this is inside glusterfs, which can get self-healed even when it goes out of sync. As the 'info' file is in same gluster volume as that of PV (PersistentVolume), it works similar to glusterfs's xattr model. We do have meta

[2019-04-07 12:19] aravindavk commented on #6
PR https://github.com/kadalu/kadalu/pull/17 implements initial Operator which takes care of setting up CSI drivers and storage configurations.

[2019-04-08 04:31] Madhu-1 commented on #20
@aravindavk i will send a patch for this one

[2019-04-08 04:33] aravindavk commented on #20
Thanks @Madhu-1 (Note: need to skip generated files under csi directory(`csi_pb2_grpc.py` and `csi_pb2.py`) while testing Pylint)

https://github.com/kadalu/kadalu/pull/23/files#diff-b67911656ef5d18c4ae36cb6741b7965R31

[2019-04-08 04:52] #1 closed

[2019-04-08 08:20] aravindavk opened #26 "Graceful shutdown of server pods"
Server pods use `mountPropagation: Bidirectional` to make the brick mount available for sidecar container in server pod. On pod delete, it is not unmounting the brick.

Use `preStop` hook to unmount the Volume before it terminates.

[2019-04-08 08:22] aravindavk opened #27 "Support multiple filesystem for block volumes"
`mkfs.xfs` is used when new RWO volumes are created. Provide option to choose Filesystem during PV claim.

[2019-04-08 08:27] aravindavk opened #28 "Start Self-heal daemon if storage is Replica 3/Disperse volume"
Server pods now contains `glusterfsd` and `quotad` containers. Include Self heal daemon container if the storage is Replica3/Disperse Volume.

Volgen support or Volgen template support for Self heal daemon is required.

[2019-04-08 08:29] aravindavk commented on #7
This is now available: https://hub.docker.com/u/kadalu

[2019-04-08 08:30] aravindavk commented on #5
PR #23 implemented this. Sidecar container watches for new directory in brick mount and sets quota as required.

[2019-04-08 08:30] #5 closed

[2019-04-08 08:30] aravindavk commented on #3
PR #23 implements Logging

[2019-04-08 08:30] #3 closed

[2019-04-09 03:07] aravindavk commented on #18
This is definitely possible. The only requirement is that PV should support xattrs and option to enable project Quota while mounting that volume.

1. Claim for local volume or EBS volume
2. Use that claim name in KadaluStorage CRD

[code]

For Replica 3 volume,

[code]

[2019-07-24 08:24] amarts opened #6 "Setup CI/CD for PR validations"
Travis, which does complete 'build', deploy, and testing of all the pods and CSI involved in project.

[2019-07-24 08:25] amarts opened #7 "Scale Testing"
Understanding how many PVs can be created with a node of 16GB RAM, 4TB disk etc.

1. Just measure the create rate
2. Also measure if I/O can also scale from all the pods.

[2019-07-24 08:26] amarts opened #8 "Configure monitoring"
Using prometheus, also needs grafana dashboard to view these metrics.

[2019-07-24 08:27] amarts opened #9 "Centralized logging"
k8s takes care of having all '/dev/stdout' logs in a centralized format. Currently glusterfsd logs are all going to stdout, but the CSI logs are not going to /dev/stdout. Need to get them in central place, so debugging would be easy.

[2019-07-24 08:28] amarts opened #10 "Reduce the size of the images"
Currently some image sizes are 200MB, 400MB and 600MB... looks like we can reduce the size by having a opinionated stack.

[2019-07-25 10:07] #6 closed, assigned to nobody

[2019-07-26 05:17] amarts opened #15 "Need more logging in sidecar container (quotad)"
`kubectl -nkadalu logs server-storage-pool-1-worker0-0 -c quotad`

doesn't give any outputs. If it has successfully started, it should say "started successfully".

[2019-07-26 05:45] amarts opened #16 "Analytics of usage"
It would be great to add analytics on usage (specially just the downloads), and details on which version it uses etc. With this information, it is easier to support users, and also provide features in particular version.

[2019-07-29 10:29] #15 closed, assigned to nobody

[2019-08-13 05:53] aravindavk opened #32 "Update available size in Storage under lock"
When a PV is created(subdir/virtblock), Free size is updated to a file. Use `fcntl` lock while updating the file to prevent wrong updates during parallel PV creation.

https://github.com/aravindavk/kadalu/blob/master/csi/volumeutils.py#L106-L115

[2019-08-13 05:55] aravindavk commented on #32
Also during PV delete https://github.com/aravindavk/kadalu/blob/master/csi/volumeutils.py#L295

[2019-09-04 06:24] amarts opened #33 "Move repo to its own separate org"
Considering this project has many potential to growth, and more user participations in future, it would be great to move the repo to its own org, so one can collaborate better.

If it is OK for you, please consider moving the repo to https://github.com/kadalu

That way, project can have its own docs, webpage, and multiple repos.

[2019-09-09 04:01] amarts commented on #33
'Forked' the repo to kadalu org, and made you an admin too. Let me know if that works :-)

You can close the issue.

[2019-09-11 03:57] aravindavk commented on #33
I think we can move the repo itself to kadalu org.

[2019-09-11 05:38] aravindavk commented on #33
Moved both aravindavk/kadalu and aravindavk/kadalu-cookbook under kadalu org.

[2019-09-11 05:38] #33 closed, assigned to aravindavk

[2019-09-13 10:38] amarts opened #36 "RFE: Can kadalu operator take external gluster server and manage only CSI?"
There are many possible setup where Gluster servers can be outside the k8s cluster, and there may be need for just providing CSI driver in k8s. Can the operator handle it?

I am thinking of config file to say something like:

[code]

We can recommend to run the quota setting script as hook script in servers for such users, as we can't control setting of quota.

[2019-09-18 07:34] aravindavk commented on #36
This is a very good enhancement!  +1

[2019-10-01 05:29] amarts opened #37 "RFE: thin-arbiter (metro cluster) support"
GlusterFS-7 is releasing with thin-arbiter support. Once released, if kadalu supports thin-arbiter cluster support, it will help many users who have only 2 data centers.

[2019-10-01 12:45] amarts opened #38 "release v0.2 with glusterfs-7.0"
GlusterFS 7.0 is in RC state now. Once the release is out, it would be good to make a release.

Also, it would be great to have a release with glusterfs-7.0 available to kadalu users.

[2019-10-01 12:47] amarts commented on #38
Also planning to tag users of gluster-kubernetes and heketi here in this issue so that this news can be reached to many users.

[2019-10-02 18:30] amarts opened #40 "Start 'shd' container if 'Replica3' is choosen type."
Currently in `server/server.py` there is no self-heal daemon started. Would be great to have it running.

[2019-10-02 18:30] amarts commented on #9
Even with these changes, I am not seeing the client log. Need some more changes IMO.

[2019-10-04 09:29] amarts opened #41 "RFE: Operator fails to run on Openshift due to permission failure"
Looks like need to work on a correct  `scc` context. Need expert advise here.

[2019-10-05 12:05] hetii opened #42 "More examples needed."
Hi,
Could you provide more examples, what to do when we have more nodes, and how to configure kadalu to have at least one mirroring data in case of some crash?

General some descriptions regarding data recovery plan or redeploying kadalu would be useful.

Best regards.

[2019-10-05 14:59] amarts commented on #42
Sure. Makes sense to add some documents on this regard for sure. Will do that soon.

Btw, will answer some of the above questions for you here itself:

#### 1. What do we do when we have more nodes?
Kadalu's design principles are with couple of assumptions: (ie, In the early development phase).

a. The PVC size requirements are going to be lesser than one available disk of any node.
b. No need to

[2019-10-16 07:24] amarts opened #45 "RFE: PV resize support (through CSI module)"
Decide and design possible resize feature.

Will add more details soon. Ping here if you are interested to pick it up

[2019-10-23 12:37] hetii commented on #42
Hello. Thank you for your explanation.

I love kadalu simplicity but have more questions.

Currently in your example you use the block devices. Is it possible to use directory?
If yes, then what about fs type need to be used for it?

I wonder also if kadalu can act as a middleware between PV/PVC delivered by cloud provider that only support RWO mode and use it as a backend storage for glusterfs wh

[2019-10-23 12:56] hetii commented on #45
I think resizing is one of bit advantage in glusterfs.
As far as I know heketi do it by changing LVM size and apply it in fly, so there is no need to even restart pod that use it. I would love to see similar functionality in kadalu.

[2019-10-23 13:44] amarts commented on #42
Happy to answer.

Yes :+1:

Any FS which supports xattr. We have tested mostly with xfs. May be for other FS type, we may need more testing.

Option looks something like:

[code]

Again, technically possible. Few more lines of code needed to be added in kadalu-server.

Option can be something like:

[code]
Here, "node" name is where it would be starting kadalu-server. Can be expanded in future to

[2019-10-23 13:50] amarts opened #46 "RFE: make kadalu-server run on top of RWO PV itself."
Most of the cloud providers provide a decent RWO PV support. Can kadalu-server run on top of the RWO PV, instead of having a need for admin manually setup a block device, or an export directory.

[2019-10-23 13:50] amarts commented on #46
Addresses one of the usecases mentioned in #42

[2019-10-24 06:40] aravindavk commented on #42
Will RWO PV created from Azure aks supports providing mount option and Filesystem type?

If RWO PV is available, (volumeMode: Filesystem)

- CSI driver of respective RWO provider should support setting mount option(In our case `-oprjquota` is required)
- Option to specify Filesystem type is required. Kadalu is using `xfs` to support directory Quota.

If Raw block volume(https://kubernetes.io/docs/

[2019-10-24 06:51] aravindavk commented on #45
For RWX volumes instead of comparing the Quota already set, compare with the requested quota set size https://github.com/kadalu/kadalu/blob/master/server/quotad.py#L63

[code]

Resizing RWO volumes TBD.

[2019-10-24 08:34] amarts commented on #41
Once we get someone to test this, and confirm things work, would be good to close this. (May need a release soon with this feature).

[2019-10-25 21:30] papanito opened #49 "Documentation for gluster part missing"
I read trough your documents but for me it is still not clear what is required or has to be done in terms of gluster.
Does glusterd need to be running on the host? What are the pre-requirements?

In your blog entry you say

Maybe you can elaborate this a bit more.

Thanks

[2019-10-26 03:14] aravindavk commented on #49
Running Glusterd is not required on the host. Once Kadalu Operator is deployed, a Storage device from the Host needs to be specified.

Below Asciinema recordings may help to understand the setup and exposing the storage device.

- Setup: https://asciinema.org/a/259949
- Exposing the storage device: https://asciinema.org/a/259951

Hope this helps.

We are working on improving the documentation. Tha

[2019-10-26 06:40] amarts commented on #49
@papanito I hope Aravinda's answers gave some insights to you.

Provide a storage (or 3 storage if it is replica 3) end points for kadalu to export. (ie, brick detail in gluster terminology). Gluster will be setup automatically, no need to do anything other than telling which device to export.

If you go through our fundamental idea of the project [(in pdf here)](https://github.com/kadalu/kadalu/b

[2019-10-26 06:40] amarts commented on #49
Also Issue #42 has some questions answered.

[2019-10-27 07:13] papanito commented on #49
Thanks guys thus helps me a lot. Will give it a try

[2019-10-29 16:58] amarts commented on #49
Closed with #50

[2019-10-29 16:58] #49 closed, assigned to nobody

[2019-10-29 16:58] amarts commented on #42
Closed with #50

[2019-10-29 16:58] #42 closed, assigned to nobody

[2019-10-29 17:00] amarts commented on #38
We have made v0.2 tag already...  With glisterfa 7.0, it would be good to do v0.3

[2019-10-31 15:44] holmesb commented on #36
+1, this would probably unlock our ability to use this project.  Combining our storage and compute (k8s) nodes is too limiting.

[2019-11-04 05:55] amarts opened #53 "make replica3 volumes use 'read-hash-mode 3' option."
For the kadalu usecase, considering it may run mostly in cloud setup, using 'read-hash-mode 3' option for replicate xlator would save lot of money (in bandwidth). Considering the option will be available in glusterfs-7.0, it would be good to have the option when we will have CSI driver updated to use latest veresion.

 Check [Details here](https://github.com/gluster/glusterfs/issues/520) about thi

[2019-11-04 12:22] amarts opened #55 "RFE: provide helm chart"
[helm charts](https://helm.sh/) are a good way to have more reach in k8s world. Would be good to have a helm chart implemented for kadalu project.

[2019-11-06 06:39] capusta opened #56 "DNS-1123 label: spec.hostname: Invalid value"
When following tutorials, the operator goes into CrashLoopBackOff

Logs from operator:
[code]

when describing the operator-initiated statefulset:
[code]

[2019-11-06 13:04] amarts commented on #56
Thanks for the report. Will look into this.

But meantime, can you check if changing the 'name' of the storage config is changed to 'storage-pool-1' to something else and try?

[2019-11-06 17:38] capusta commented on #56
Before applying `kind: KadaluStorage`:
[code]
`storage-pool-1` -> `storage-pool-test`
after applying:
- operator logs same error:
[code]
- describing statefulset:
``` Warning  FailedCreate  2m16s (x17 over 7m44s)  statefulset-controller  create Pod server-storage-pool-test-kubenode1.dev.lan-0 in StatefulSet server-storage-pool-test-kubenode1.dev.lan failed error: Pod "server-storage-pool-test-kube

[2019-11-07 17:06] amarts commented on #56
Interesting. I am still confused about the error 'invalid value' for hostname.

if it is OK, can you get us details of `kubectl get nodes` and cat config file? (storage-config.yml)

[2019-11-07 23:41] capusta commented on #56
redoing the cluster from scratch:
- nodes:
[code]
- operator:
[code]
- statefulset:
[code]
- crd:
[code]

[2019-11-08 03:36] aravindavk commented on #56
Thanks for the detailed issue report. I will work on the fix and post the patch. Looks like the issue is using hostname as part of pod name. (https://github.com/kadalu/kadalu/blob/master/templates/server.yaml.j2#L6). I will update here once the patch is available.

[2019-11-08 03:38] amarts commented on #56
Can you try using only `gravity-11` as the hostname? Looks like the option is not taking dot.

[2019-11-09 02:39] aravindavk commented on #56
Posted a patch for review. https://github.com/kadalu/kadalu/pull/57

[2019-11-09 10:20] aravindavk commented on #56
The fix will be available in the next release, meanwhile, the fix can be tested by installing Operator from my staging repository using the following command.

[code]

[2019-11-10 06:08] capusta commented on #56
confirmed working (https://github.com/kadalu/kadalu/pull/57#issuecomment-552166701)

[2019-11-10 12:55] #56 closed, assigned to nobody

[2019-11-11 17:09] amarts commented on #45
For RWO volumes, do something like below (pseudo code):

[code]

And do below on the 'nodeserver' (or wherever we have access to the mount-point)

`xfs_growfs -d $PV_MOUNTPOINT`

[2019-11-13 11:30] fs-system opened #59 "Failed to generate grpc python code"
[code]
Add Developer readme which will help for new  comers to setup the environment

[2019-11-13 11:32] amarts commented on #59
Thanks for the suggestion. Will give and update those information soon.

Meantime, would be great if you can try it out, and say what are the improvements you suggest as issues too :-)

[2019-11-13 11:41] fs-system opened #60 "Install project dependencies"
This project has dependencies it would be good to add those into a `requirement.txt` file and update Readme to install same to setup development environment

[2019-11-13 11:49] fs-system opened #61 "Fix pylint issues"
current codebase is having lint issues, need to check all modules  for pylint issues in  Travis CI
[code]

[2019-11-21 14:52] hetii opened #65 "Failed to provision volume with StorageClass "kadalu.replica3""
Hi,
I try to setup kadalu on aks cluster but csi-provisioner raise error like:

    Warning  ProvisioningFailed    3s                 kadalu_csi-provisioner-0_27e261cc-0c6d-11ea-a863-7ec92e551436  failed to provision volume with StorageClass "kadalu.replica3": rpc error: code = Unknown desc = Exception calling application: [Errno 17] File exists: '/mnt/kadalu-storage-replica-pool-3'

Details:

[2019-11-21 15:15] hetii opened #66 "Kadalu csi driver performance in context of kernel < 4.17"
Hello.
As I play strongly about rook vs kadalu setup I notice that CSI driver in rook are affected by very low performance bug describe in [rook github](https://github.com/rook/rook/issues/3315).

To solve that they require to switch to kernel >= 4.17 that support [quotas](https://docs.ceph.com/docs/master/cephfs/kernel-features/#quotas).

Unfortunate azure just have in plans to upgrade theirs ker

[2019-11-21 15:48] aravindavk commented on #65
@fs-system this looks like the same issue which you observed. Are you planning to send PR?

[2019-11-21 16:54] amarts commented on #65
@hetii thanks for the report... we will look into this soon, and get back to you.

[2019-11-21 17:10] hetii commented on #65
@amarts No problem, I can help you somehow but just start digging into your code.
Even when I start from scratch and use device block like device: /dev/sdb1 container kadalu-provisioner from csi-provisioner-0 persist to create directory like /mnt/kadalu-storage-replica-pool-3 and as probably this is already a file then traceback happen.

I have no clue with filesystem it is as /mnt in csi-provisio

[2019-11-21 17:12] amarts commented on #66
@hetii Thanks for raising this issue. IMO, this shouldn't matter much for us, as quotas are offloaded to backend brick (xfs) in kadalu setup. If it was pure fuse module issue, then yes, there was a possibility of having impact, but it doesn't look like.

[2019-11-21 17:18] amarts opened #67 "Add CI/CD for replica3 volume"
It is not possible to make sure we have 100% usecases covered manually for each PR. If a case is not covered in CI/CD, the usecase can't be supported.

We need to make sure we also test Replica3 in CI/CD. Basic things shouldn't come as bug to users like #65

[2019-11-21 18:11] amarts commented on #67
[code]
Here, storage-pool-2 should have been Replica3 type.

[2019-11-22 05:09] #67 closed, assigned to nobody

[2019-11-22 09:07] #40 closed, assigned to nobody

[2019-11-22 09:10] amarts commented on #41
Closing as #47 is merged and a release (https://github.com/kadalu/kadalu/releases/tag/0.2.0) is made available.

[2019-11-22 09:10] #41 closed, assigned to nobody

[2019-11-22 09:25] amarts commented on #53
This depends on #38  (Only after we upgrade glusterfs version to v7.0 or above, we can do this).

[2019-11-26 11:25] amarts commented on #65
Fix available with #71

[2019-11-26 11:25] #65 closed, assigned to nobody

[2019-11-26 12:39] amarts commented on #66
@hetii we will be treating this as closed. If you find any issues with v0.3 or above (ie, latest as of 26/11/2019), lets reopen this issue.

[2019-11-26 12:39] #66 closed, assigned to nobody

[2019-11-28 17:40] amarts commented on #46
https://kubernetes.io/docs/concepts/storage/volumes/#awselasticblockstore

If you notice, the PV here can take `fsType` parameter, with which, we can make our storage work on top of it. All it needs it have the proper config parameters to the PVC saying we need xfs.

[2019-11-28 17:44] amarts commented on #46
above suggestion answers https://github.com/kadalu/kadalu/issues/42#issuecomment-545769621

[2019-12-01 19:40] hetii commented on #46
I just add that in azure is possible to define fsType by using such storage class:

    ---
    kind: StorageClass
    apiVersion: storage.k8s.io/v1
    metadata:
      name: premium-azure-disk-sc
    provisioner: kubernetes.io/azure-disk
    reclaimPolicy: Retain
    # reclaimPolicy: Delete
    allowVolumeExpansion: true
    volumeBindingMode: Immediate
    parameters:
      storageaccounttype: P

[2019-12-02 15:38] aravindavk opened #74 "Use Type hints for all Python code"
Type hints are available in Python 3(https://www.python.org/dev/peps/pep-0484). We can use that in all Python files.

Type hints will not add any runtime overhead, since Type checks to be done with the external tool [mypy](http://mypy-lang.org) (`pip3 install mypy` and check with `mypy <python-file>`)

Example type hints:

[code]

[2019-12-02 16:21] amarts commented on #74
Should we add these in travis test?

[2019-12-03 03:20] aravindavk commented on #74
Yes. along with the pylint tests(https://github.com/kadalu/kadalu/issues/61)

[2019-12-13 06:39] amarts opened #75 "Need to install some debugging tools till we reach v1.0"
Right now, kadalu repositories are in development. While most of the things are still under development, we need tools like 'ping' (to verify if dns resolution is working), telnet etc.

[2019-12-13 07:56] amarts opened #77 "Suggestion: Create a separate base-image"
As of now, we use fedora30 as base-image for all our containers. And after that, each containers are prepared separately when we do `make build-containers`.

On a developer's laptop this is fine, but our CI/CD tests are taking 6 mins (out of 9 mins for total run) to build the containers.

One possibility is, we can have a separate docker file for base image, and have it uploaded at 'kadalu/base-im

[2019-12-13 07:56] amarts commented on #77
This also makes our tests run within 4 mins :-) which would be a great win.

[2019-12-13 08:27] amarts opened #78 "issue to start gluster server pods"
[code]

This happened when I exported a 'file' as device.

[code]

[2019-12-13 08:40] amarts opened #80 "Send constant CID (client-id) per deployment"
Right now, the analytics we get is skewed as we send cid (ie, client-id) as the timestamp. Ideally it should be a random number (uuid?) constant for deployment.

This can be achieved by having a uuid generated if it doesn't exists in configmap, and while sending analytics, it should be used.

[2019-12-13 08:43] amarts commented on #80
If you want to help:

Check `send_analytics_tracker()` from `lib/kadalulib.py` and fix the client_id (you can take client_id as an argument as configmap is mostly present in both operator and server component.

[2019-12-14 04:38] aravindavk commented on #77
Nice.

[2019-12-14 16:48] #78 closed, assigned to nobody

[2019-12-16 06:03] amarts opened #83 "Error when using file as a device"
Saw these errors.. the brick directory was not created.

[code]

[2019-12-17 08:37] amarts opened #86 "Reduce Quotad logs"
When a PV is provisioned, QuotaD crawls and sets the quota on each volume. It does it in a constant loop in 1second interval.

As we have a log there, it is flooding log files. Looks like we need to do it only when we do quota set first time, and not everytime.

[code]

[2019-12-17 09:08] #86 closed, assigned to nobody

[2019-12-18 17:52] amarts opened #91 "While providing PVC as storage for the server pod 'node' shouldn't be mandatory"
But if I remove the 'node' part it is erroring out

Ref #90 .

We need to fix it.

[2019-12-19 08:49] amarts commented on #36
This is now functional and merged to master branch, should be available with v0.4

[2019-12-19 08:49] #36 closed, assigned to nobody

[2019-12-19 08:51] amarts commented on #46
It is tested on top of hostpath PVC of minikube right now, and added CI tests for the same.  The features should be available with v0.4 version.

[2019-12-19 08:55] amarts commented on #55
More on it here : https://docs.bitnami.com/kubernetes/how-to/create-your-first-helm-chart/

[2019-12-19 09:00] amarts commented on #91
Fixed by #90

[2019-12-19 09:00] #91 closed, assigned to nobody

[2019-12-19 09:01] #16 closed, assigned to nobody

[2019-12-19 14:52] #80 closed, assigned to nobody

[2019-12-19 17:37] #46 closed, assigned to nobody

[2019-12-20 08:03] amarts commented on #83
This seems to be an issue which happened because of CoreDNS pods in my minikube crashed with loop error.... Fixed by changing `nameserver 127.0.0.1` to `nameserver 8.8.8.8` and restarting minikube.

All working now.

[2019-12-20 08:03] #83 closed, assigned to nobody

[2019-12-20 08:04] amarts opened #96 "cleanup stuck"
While developing, I keep running `./extras/scripts/cleanup` to cleanup kadalu namespace, and restart everything.

Most of the times, I get to below state, after which I have to kill the pod with --force.

[code]

Would be good to figure out the reason.

[2019-12-26 04:58] aravindavk opened #98 "Use readinessProbe and livelinessProbe for Kadalu Pods"
Use readinessProbe and livelinessProbe for Kadalu Pods

Readiness Probe helps Kubernetes to know that these Pods are ready. This can be done by creating a file after process start in `startup.sh`(https://github.com/kadalu/kadalu/pull/97/files#diff-ad46fbb7f3f2af7be618f73637c5389aR23)

[code]

Liveliness probe is to restart Kadalu Pod/container based on health. (Liveliness probe requirements TBD)

[2019-12-26 05:06] aravindavk opened #99 "Use sidecar container for Logging"
CSI Pods mounts Gluster volumes and those logs are not in `stderr` of csi container because these mounts are child processes in CSI pods.

Use another sidecar container which watches on the log files created by these mounts and log to stderr.

[2019-12-26 05:09] aravindavk commented on #99
This might be useful https://logz.io/blog/a-practical-guide-to-kubernetes-logging/

[2019-12-26 05:16] aravindavk opened #100 "FAQ and Troubleshooting guide"
Prepare a Troubleshooting guide for Kadalu.

- When a storage pod is down, how will mounts behave?
- One storage pod/node is down in Replica3 volume
- PV is created, but my application pod is not coming up
- PVC status is still showing "Pending"
- Understanding all Log files
- I added storage, but not showing when I run `kubectl get pods -n kadalu`
- How to remove the storage?

[2019-12-26 05:18] aravindavk commented on #100
@amarts @sac @fs-system Please add more failure scenarios.

[2019-12-27 04:21] amarts commented on #100
:+1:

Good to get started with these. We can open different issues, as we encounter the need in future!

[2019-12-27 04:44] #96 closed, assigned to nobody

[2019-12-27 04:48] amarts commented on #9
#99 is related. We need to get CSI mount logs out first, and consider this.

[2019-12-27 04:56] aravindavk commented on #77
while working on this we can also finalize on base OS which we can use. (CentOS or Ubuntu LTS)

[2019-12-27 06:27] amarts commented on #98
This would be very helpful. Specially in terms of support. We can extend what more to add eventually. Good to get started with default success to start as 'started' state.

[2019-12-27 07:53] #99 closed, assigned to nobody

[2019-12-27 17:20] amarts opened #103 "logging sidecar not picking the latest log file"
After merging #101, if we add a new storage to pool, the CSI mount logs are not logged to the stdout.

Expectation is, all of the client logs are in stdout so that can be persisted, and used in debugging without logging into the pods.

[2019-12-28 13:23] amarts opened #106 "Test: install operator from 0.4 version, and upgrade to latest (any release 0.5/0.6 etc)"
Ideally, the upgrade should be smooth, without loosing any information about previously created PVs, storage config etc. The process of upgrading the operator as of now is like below:

1. check if operator and other csi drivers are all running.
2. just do `kubectl apply -f new-operator-yaml-file`
3. see that all the new versions should be installed now.

Correct the steps, and document the steps i

[2019-12-30 09:55] #103 closed, assigned to nobody

[2020-01-04 05:02] amarts commented on #75
Update from one of the slack communication:

And I noticed that 'ping' in not present.

[2020-01-05 11:12] papanito opened #111 "storage export pods not created"
I followed [the guidelines](https://github.com/kadalu/kadalu) but somehow the "storage export pods" are not created. This is my storage config which uses `/dev/md3`.

[code]
but no pods

[code]

pvc thus stay in state `pending`

[code]

**Operator logs**

I've first applied a wrong config - 2 nodes configured instead 1. However I corrected it and re-applied again. There is nothing else logged afte

[2020-01-05 13:03] papanito commented on #111
Ok maybe not an issue at all, just deleted the old config and recreated it again

[code]
There is still another problem as the volume claim is still in state `pending`.

[code]

[2020-01-05 13:03] #111 closed, assigned to nobody

[2020-01-06 04:04] amarts commented on #111
@papanito Glad the first issue got resolved.

But about still pending issue, what does the pod and pvc describe and logs show?

[2020-01-06 06:00] papanito commented on #111
@amarts I tought to maybe create a separate issue. The log says
[code]

[2020-01-06 09:04] amarts opened #112 "Test: add a test for setup and cleanup in a loop"
This helps to makes sure, the cleanup script doesn't leave any resource pending.

That way, we are sure of what resources we are generating.

[2020-01-06 09:06] amarts commented on #112
@aravindavk @papanito This should fix the issue @papanito faced earlier.

[2020-01-06 18:00] amarts opened #114 "enhancement: Add 'install' option to kubectl_kadalu"
With [kubectl-kadalu](https://kadalu.io/blog/introducing-kadalu-kubectl-plugin) package, there are possibilities for us to further reduce the 'dependency' of knowing kubernetes for starting kadalu.

One such thing is, removing the need to run `kubectl create -f https://kadalu.io/kadalu-operator.yaml`, instead make it `kubectl kadalu install [--version 1.0.0]` or something similar. That way, all us

[2020-01-07 09:26] #114 closed, assigned to nobody

[2020-01-07 09:42] amarts commented on #100
#117 is a good start, but we need to further keep that document updated with all the observations.

[2020-01-07 11:15] amarts opened #118 "Enhancement: backup options for PVs"
Right now, no specific designs in place. We can consider multiple options:

1. Use Gluster's geo-replication.
2. Considering we use backend differently, use reflink, and transfer from the clone.
3. Use tools like https://backube.github.io/snapscheduler/ and backup natively in k8s way.
4. Shift to using ZFS / btrfs, and use their snapshots, and transfer data.
5. validate possibilities of xfs_dump t

[2020-01-08 07:14] papanito opened #119 "Creation of `ReatWriteOnce` fails with `mounter.SetupAt failed: rpc error: code = Unknown desc = Exception calling application: [32] b`"
Claiming volumes with `ReatWriteOnce` fails with

[code]

**Steps to reproduce**

Install `prometheus` using persistent volume claim when installing via helm chart

1. Create `values.yaml` defining persistence using `ReadWriteOnce`

[code]

1. Install helm chart

[code]

**Expected Result**

No errors

**Actual Result**

[code]

**Additional info**

Changing the access mode to `ReadWriteMany` work

[2020-01-09 08:27] amarts commented on #46
@hetii our v0.4 release is now out, and this feature is available to try. Just make sure that the host PVC is available for `kadalu` namespace.

[2020-01-10 13:22] papanito opened #121 "mkdir /var/lib/kubelet/pods/xxxxx/volumes/kubernetes.io~csi/pvc-xxx/mount: file exists"
I try to install [`nextcloud` with `mariadb`](https://github.com/helm/charts/tree/master/stable/nextcloud) with helm, using `kadalu.replica1` as persistent storage. This fails with an error related to storage

[code]

**Steps to reproduce**

Install `nextcloud` using persistent volume claim when installing via helm chart

1. Create `values.yaml` defining persistence using `ReadWriteMany` (shows on

[2020-01-13 09:45] amarts opened #124 "Issue with reusing same disk image with newer version"
I have used a device which was used with a previous kadalu install (both used for testing), and when I try to use it again get below error:

[code]

We should have an understanding how to use the data which has different glusterfs volume before. This may be expected behavior, but took some time for me to resolve. At least it would be great to add a check like these in kubectl_kadalu scripts so, us

[2020-01-13 09:52] amarts opened #125 "Quotad error logs in kadalu server pod"
Looks like the issue started happening once quota package is being done. Not sure yet.

[code]

[2020-01-13 11:09] amarts commented on #119
Is this consistent with RWO PVC ? Because I too had an issue with RWO when I tried, but noticed thats because of failing to mount the hostvolume, so, the file was not accessible on app pods.

When this happens, would need log of `csi-nodeplugin-*****` (in kadalu namespace), go with `--all-containers` option for logs. There were no issues in data path of RWO pv.

[2020-01-13 13:22] papanito commented on #119
Here you go. I've deleted the installation (`helm delete`) and the reinstalled it with `ReadWriteOnce`.
[cis-nodeplugin.log](https://github.com/kadalu/kadalu/files/4053734/cis-nodeplugin.log)

[2020-01-13 13:29] papanito commented on #119
RWO seems the same issue [cis-nodeplugin.log](https://github.com/kadalu/kadalu/files/4053768/cis-nodeplugin.log)

[2020-01-13 14:09] papanito commented on #119
Here the log of `storage-pool-pod`: [storage-pool.log](https://github.com/kadalu/kadalu/files/4053931/storage-pool.log)

[2020-01-13 15:59] #125 closed, assigned to nobody

[2020-01-13 16:57] amarts commented on #119
Interesting. The issue here seems to be related to disconnects happening when fd_cleanup happens. Still need to debug (as the same issue is not happening for me yet). Looks like we need to handle #75 for this same reason. At present this is a glusterfs disconnect between client and server.

[2020-01-13 17:20] papanito commented on #119
Is there a way I can debug it or maybe give you more details?
And why does `RWX` work and the others not?

[2020-01-14 07:45] aravindavk commented on #100
Recording feedback from @sac here

My storage is not getting created
1. Check if the node name is right (it has to be other than master)
2. Check if the given path exists.
3. Check if there is any typo in path (Same as 2).
Otherwise things look good.
I'll test the disk based setup tomorrow or so.

[2020-01-15 16:08] amarts commented on #119
I am suspecting the issue to be similar to https://lists.gluster.org/pipermail/gluster-users/2020-January/037557.html (in case of RWO). I recommend to use `direct-io-mode=disable` for mount point. This should help in applications which would need DB like access.

[2020-01-15 19:11] papanito commented on #119
Still had not the chance to test `replica3`. Path requires `xfs` as underlying fs to simulate 3 nodes but I have `ext4`

[2020-01-16 03:55] amarts commented on #119
If you could make a path to export, I recommend creating a file `truncate -s Ng $path/disk-image` and use that as `device: $path/disk-image` in the storage config file. Again, this is good only for testing.

Ref: https://github.com/kadalu/kadalu/blob/master/tests/minikube.sh#L153..L154

[2020-01-16 04:40] amarts commented on #61
`make pylint`

[2020-01-16 11:53] amarts commented on #38
Would be fixed with #128

[2020-01-16 17:19] #32 closed, assigned to nobody

[2020-01-16 17:49] #61 closed, assigned to nobody

[2020-01-17 05:40] #77 closed, assigned to nobody

[2020-01-17 09:12] manvantarah opened #135 "Indentation was not proper in storage-config.yaml . The log file did not throw any error, even though the error exist in config-file"
### kubectl logs -f -n kadalu operator-68649f4bb6-49hv2

+ pid=0
+ cmd=/usr/bin/python3
+ script=/kadalu/main.py
+ trap 'kill ${!}; term_handler' SIGTERM
+ pid=7
+ true
+ wait 8
+ tail -f /dev/null
+ /usr/bin/python3 /kadalu/main.py
[2020-01-17 07:31:54,301] DEBUG [rest - 219:request] - response body: {"kind":"ConfigMapList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/namespaces/kadalu/confi

[2020-01-17 09:41] aravindavk commented on #135
Please paste the content of storage-config.yaml file used

[2020-01-20 13:27] manvantarah commented on #135
[code]

[2020-01-22 13:28] vatsa287 opened #138 "Got an error while executing kubectl-kadalu command."
[code]

[2020-01-22 13:40] #38 closed, assigned to nobody

[2020-01-22 14:53] sac commented on #138
@vatsa287 it'll be good if you could mention how to reproduce.

[2020-01-22 14:59] aravindavk commented on #138
@sac, I got the issue. `capture_output` in subprocess library is introduced in Python 3.7 version.

Need to use old method to run the commands.

[2020-01-22 16:21] vatsa287 opened #140 "Issue in creating a PV , the status of the PV remains pending."
[code]

[2020-01-22 16:28] amarts commented on #140
Post output of `kubectl describe pvc` and `kubectl -nkadalu logs csi-provisioner-0 --all-container`

[2020-01-22 16:37] vatsa287 commented on #140
[code]

[2020-01-22 16:37] #138 closed, assigned to nobody

[2020-01-22 16:40] amarts commented on #124
Thinking more about it, this may not be a good idea. If it was used by a different volume, it may mean there may be a pod using it. This may cause problems.

Closing.

[2020-01-22 16:40] #124 closed, assigned to nobody

[2020-01-22 16:42] vatsa287 commented on #140
O/P > sudo kubectl -n kadalu logs csi provisioner-0 --all containers
[output.txt](https://github.com/kadalu/kadalu/files/4098499/output.txt)

[2020-01-23 05:08] #53 closed, assigned to nobody

[2020-01-23 05:21] aravindavk opened #143 "Merge Docs from Website and Github"
Documentation has diverged in Github and Website. Maintain documentation in Github and build versioned documentation externally.

External Repo to generate versioned documentation from multiple repositories(Repo name will change soon from `docs1` to `docs`)
https://github.com/kadalu/docs1/

[2020-01-23 06:08] aravindavk opened #144 "Automate the release of Python packages"
Kadalu provides two Python packages which can be downloaded from Pypi website.

- kubectl-kadalu - Kubectl extension
- kadalu-quotad - To use Kadalu with External Gluster storage

Setup Github actions to publish these packages to Pypi

Ref: https://github.com/hyperledger/ursa-python/blob/master/.github/workflows/pythonpublish.yml

[2020-01-24 23:35] superbiche opened #149 "Cannot provision volume after cleanup & reinstall - RegisterPlugin error -- failed to get plugin info using RPC GetInfo at socket /var/lib/kubelet/plugins_registry/kadalu/csi.sock"
I've installed Kadalu then reset my K8S 1.17 cluster, etcd, cleaned everything and started again.

Then I removed Kadalu, ran the cleanup script, re-deployed it and the 2 replica3 clusters, but I get this error in kubelet journal:
[code]
---
EDIT: manifests attached

[code]
[code]

Worked perfectly on the same Kubernetes version like a day ago, and I have no idea if this error happened at that mom

[2020-01-25 00:54] superbiche commented on #149
After a full reset of the cluster again, wiping the FS, and rebuilding the cluster, I was able to deploy Kadalu again and my first PVC is bound!
Maybe something missing from the cleanup script?

[2020-01-25 06:29] amarts commented on #149
Had not seen this error before. But cleanup should have helped to clean things up. So, will consider this as a `cleanup` issue.

[2020-01-25 15:54] aravindavk commented on #140
From the README: The host should support xfs (mkfs.xfs). On some systems this might require installation of xfsprogs package.

Please check if `mkfs.xfs` is available in the host machine using the following command

[code]

[2020-01-25 16:10] rajasaur commented on #140
Thanks @aravindavk . found it just after filing the issue. Ill try it out and get back to you

[2020-01-26 06:35] rajasaur opened #151 "Kadalu error on Minikube"
I have been trying to get kadalu working with minikube and it seems to throw this error on minikube.

Environment:
Kubernetes version: 1.15.2
minikube on OSX

[code]

Trying to manually run the mount command threw the same error
[code]

Looking through dmesg on that container indicates that
`[ 1248.053406] XFS (sdb): quota support not available in this kernel.`
not sure if thats the reason for the

[2020-01-26 12:18] rajasaur commented on #151
I have this working on a regular Debian node where I enabled quota support. So it looks like an issue only on minikube.

We can close this issue unless there is something that can be done for minikube users(either with documentation or a workaround)

[2020-01-27 12:17] papanito commented on #119
I've completely removed `kadalu` by running the `cleanup.sh` script and the used `replica3`. Here the logs trying a `replica3`. I'm actually using 3 nodes
[csi-nodeplugin-m8phv.log](https://github.com/kadalu/kadalu/files/4117040/csi-nodeplugin-m8phv.log)
[csi-provisioner-0.log](https://github.com/kadalu/kadalu/files/4117041/csi-provisioner-0.log)
[kadalu.events.log](https://github.com/kadalu/kadal

[2020-01-28 17:00] amarts opened #153 "should we move 'examples/' dir to 'doc/examples' ?"
That way, we can manage document links in proper way ? Ie, today many documents has links from examples referred, all that would be under one subdirectory by moving these files, and it is not a bad thing because, a sample yaml file by itself can be a document of reference.

[2020-01-28 17:04] aravindavk commented on #153
I think reading experience will be good if examples are expanded in the documentation itself instead of clicking one more link.

[2020-01-29 03:26] aravindavk opened #156 "new command kubectl kadalu storage-list"
Introduce new subcommand to Kadalu Kubectl plugin,

[code]

## Design:

Get the list of Kadalu Storage from config map

[code]

Parse the `data` to get list of Volume info.

Example command output:

[code]

Example Python script to parse the above output:

[code]

To get the running status information, run

[code]

Parse and get the status of each server node(Starting with `server-`)

To get the u

[2020-01-29 03:28] aravindavk opened #157 "Detect openshift in Kubectl extension"
Openshift binary is created as `oc-kadalu`. With this detect `--type=openshift` automatically when `oc kadalu storage-add` is run. For example,

[code]

[2020-01-29 03:31] aravindavk opened #158 "Dry run option to kubectl kadalu storage-add subcommand"
With `--dry-run` option shows the generated config file for review.

[code]

[2020-01-29 03:34] aravindavk opened #159 "[RFE] Support for Storage Remove"
CLI: Support to initiate the storage remove

[code]

Operator: Understand the storage remove request and cleanup the related k8s resources.

**Note**: Do not delete or wipe the data from the device

[2020-01-29 04:01] #153 closed, assigned to nobody

[2020-01-29 04:05] aravindavk commented on #45
We can split this issue into two separate issues and plan to close RWX resize by v0.6

[2020-01-30 10:38] manvantarah opened #163 "Kadalu pods status is in error state, after change in kadalu storage version"
[code]

[2020-01-30 11:08] amarts opened #164 "build for multiple architectures"
Currently kadalu is built only for linux/amd64 (x86_64), would be great if linux/arm64 can be provided as an option.

[2020-01-30 15:09] papanito opened #165 "No `csi` pods are started, urllib3.connection.VerifiedHTTPSConnection object at 0xXXXXXXXXX"
I've cleaned my previous kadalu installation completely. Then I ran

[code]
But I realized that only `operator`-pod was started but not the `csi`. Here is the log from the `operator`-pod

[code]

**Reproduction steps**

1. Run `cleanup.sh`

[code]
2. Check for ns `kadalu` - should be clean

[code]
3. Install kadalu

[code]

[2020-01-30 15:22] aravindavk commented on #165
Please do not use the bit.ly link. That is pointing to old version.

Use `kubectl create -f https://kadalu.io/operator-latest.yaml` or use the kubectl plugin as https://kadalu.io/docs/k8s-storage/latest/quick-start

[2020-01-30 15:27] papanito commented on #165
My bad I took it from [here](https://asciinema.org/a/259949). So now I tried the correct one `kubectl create -f https://kadalu.io/operator-latest.yaml` however there are still no `csi` pods.

[code]

[2020-01-30 15:33] papanito commented on #165
Apparently there is some sort of timeout, I've added the complete log into the issue description

[2020-01-31 01:15] amarts commented on #165
If I start a fresh v0.5 (without any prior kadalu), things seems to be working. Will try a setup after cleanup and see if I can get the same error.

[2020-01-31 13:31] papanito commented on #165
@amarts could you reproduce?

[2020-01-31 15:54] amarts commented on #165
Found out a theory that, RWO volumes have issues based on hostOS used. Specifically because we use `/dev/loop` way to mount a file on gluster as a block volume. Hence it was not getting reproduced in latest fedora and latest ubuntu host (both of which I use). Looks like CentOS7.x series has an issue right now.

We will find out the possible correct solution and send out an update.

[2020-01-31 16:24] papanito commented on #165
Thanks @amarts. If it helps, I'm using `Debian 10`. Is there something which can be done/"cleaned" manually in order to go on?

[2020-02-03 14:22] papanito commented on #165
Any updates?

[2020-02-03 17:03] amarts commented on #165
Not today @papanito. Turning out its not easily reproducible in local setup.

[2020-02-03 18:32] papanito commented on #165
No problem thanks for looking into it.

[2020-02-04 03:39] boconnell2210 opened #167 "pvc's stuck in pending state"
OS Version:
[code]

When installing kadula, I am able to see some pvc's created, but others stuck in the pending state.
<img width="446" alt="image" src="https://user-images.githubusercontent.com/10049733/73711276-57e72a80-46d4-11ea-9d6f-89ee478dd506.png">

All of the "kadula" pods seem to be in a good state:
<img width="247" alt="image" src="https://user-images.githubusercontent.com/10049733/7371

[2020-02-04 03:48] amarts commented on #167
`kubectl logs -n kadalu csi-provision-0 --all-containers` would give some more info.

[2020-02-04 03:52] boconnell2210 commented on #167
[logs.zip](https://github.com/kadalu/kadalu/files/4151337/logs.zip)

[2020-02-04 03:57] amarts commented on #165
@papanito I am now suspecting the issue to be from one of my patches:

https://github.com/kadalu/kadalu/commit/b6ad41f2724714089952a1738892fc68fd9d7293#diff-706564578408a7a8e8f703f9dce22096R426

Can you try adding a 'return None'  @ Line 426 of operator/main.py, and run the `run-local` (https://github.com/kadalu/kadalu/blob/master/extras/scripts/run-local) script ?

[2020-02-04 04:31] amarts commented on #167
Thanks for the logs @boconnell2210. I suspect few things, will check them and get back. Meantime, best option right now is to try RWX for now. It is a different volume config (ie, the perf xlators are off), so it would work for even the workloads which needs RWO.

[2020-02-04 04:40] aravindavk commented on #167
Noticed some errors related to storage full and some related to provisioning. I will look into this in detail.

[code]

[2020-02-04 04:49] boconnell2210 commented on #167
Thanks.  Storage should not be full, as this was a fresh install.  Anything you guys need from me, please let me know.   I am not sure RWX is an option for us at this point.

[2020-02-04 06:27] aravindavk commented on #167
Exec into Server Pod using,

[code]

and provide us the output of

[code]

[2020-02-04 11:44] #37 closed, assigned to nobody

[2020-02-04 12:39] amarts opened #169 "storage pods doesn't terminate when there are errors"
I execute below command 3 times:

[code]

Notice that each of these are using the same device. Now, I check the pod status:

[code]

Technically this shouldn't happen as same disk is used by all pods. I checked logs, and as expected abcd1 was successfully running (because it was using a fresh disk). abcd2 and abcd3 pods had errors as expected, but that didn't stop them from running.

[code]

[2020-02-04 15:55] boconnell2210 commented on #167
[code]

[2020-02-04 16:04] aravindavk commented on #167
Thanks for the update, I was suspecting the wrong value due to duplicate update in the stat file about the available size. That is ruled out now. Will look into other areas where it can fail.

[2020-02-04 16:17] amarts commented on #143
Now this task is complete. All docs get to website from docs of this repo. (other than blogs)

[2020-02-04 16:17] #143 closed, assigned to aravindavk

[2020-02-04 16:49] amarts commented on #60
@vatsa287 a good issue to pick. All you need to do is to add all dependencies listed in .travis.yaml (for pylint tests) in requirements.txt

[2020-02-04 16:50] amarts commented on #75
Added nettools (mainly netstat and telnet). Should be fine for now

[2020-02-04 16:50] #75 closed, assigned to nobody

[2020-02-04 16:51] amarts commented on #11
We need a separate issue, and testing to pick the best of the options from glusterfs volume options. Will close this as it is specific to one option.

[2020-02-04 17:43] vatsa287 commented on #60
OK Anna

[2020-02-05 06:25] papanito commented on #165
@amarts will try. Just to be clear, I have to run the `run-local` script on all 3 nodes?

[2020-02-05 06:37] amarts commented on #165
Thats a good question.  I prepared 'run-local' for running my tests in my laptop so we can make changes quickly. On a 3 node system, we need to start operator only in one place, but the docker-image tags needs to be present in other machines, so it can consume it. Anyways, Considering we are experimenting to get CSI pod up, I say running it on just 1 node is good enough to see impact. There should

[2020-02-05 13:48] papanito commented on #165
It turned out that the problem was not `kadalu` but the server config. I've added a 3rd node to the cluster which had troubles properly quering the `dns`. This is a known problem with `ntftables` which are default in `Debian 10`. [Using legacy `iptables` fixed the problem](https://wiki.debian.org/nftables)

[2020-02-05 13:48] #165 closed, assigned to nobody

[2020-02-05 14:12] aravindavk commented on #100
Include this topic https://github.com/kadalu/kadalu/issues/165

[2020-02-06 15:34] #60 closed, assigned to nobody

[2020-02-10 10:14] amarts commented on #167
@aravindavk isn't the content saying all size available is used up?

`{"size": 265587433472, "free_size": 7889395712}`  (ie, 7,889,395,712 ~= 7.8GB / 265 GB) is available.

[2020-02-10 18:21] amarts opened #177 "Traceback found in 0.5.0 CSI controller"
[code]

More info:

[code]

[2020-02-10 18:22] amarts opened #178 "timeout logs seen in CSI/controller"
[code]

The above logs are commonly seen in controller. We need to increase the timeout to 120 seconds for kadalu.

[2020-02-10 18:27] amarts commented on #177
More info:

[code]

Shows that as there were no other `storageClass` available, kadalu CSI got called, which crashed the CSI driver. CSI driver needs to have proper checks.

Also probably, kadalu shouldn't be 'default' storageClass, and kadalu.replica1 and kadalu.replica3 should be setup only after storage config is setup.

[2020-02-10 18:38] papanito commented on #177
Does this only happen if the default provider is set to `kadalu`?

[2020-02-12 02:24] boconnell2210 commented on #167
I am doing a fresh install now.

fdisk on /dev/sdb

[code]

Now, I follow the install guide and setup the kadalu namespace and assign the storage
[code]

[code]
[code]

Going to bring up my application now and bind to the storage.
Taking a while to bind the pvc's:
[code]

Currently, looking at the storage pod:  cat /bricks/turbo-storage-pool1/data/brick/.stat
[code]

[2020-02-12 21:01] rayray221 opened #182 "Unable to create Volume: mismatching volume-id....already is a part of volume"
I have been trying to get Kadalu setup and am now seeing the following:

[code]
I originally forgot to install xfs, which is why I think it failed the first time.  Since then, I have installed xfs and ran the following to rest and start over:

kadalu_cleanup.sh
kubectl kadalu install
kubectl kadalu storage-add st1-kadalu --device android16.dbz:/dev/vdb

I have tried different names for the storage

[2020-02-13 01:38] aravindavk commented on #182
The cleanup script will not wipe the device for safety reasons. Please wipe the contents of the device and use again.

[code]

[2020-02-13 16:21] #177 closed, assigned to nobody

[2020-02-14 12:48] rayray221 commented on #182
Thanks, that indeed worked and I was able to get the pvc bound, but now I get the following when spinning up the container....

`Warning  FailedMount  4m43s (x357 over 11h)  kubelet, android18.dbz  MountVolume.SetUp failed for volume "pvc-40aad71f-c2c8-4e54-bca3-e43b1c0705eb" : kubernetes.io/csi: mounter.SetupAt failed: rpc error: code = Unknown desc = Exception calling application: [32] b'' b'mou

[2020-02-14 12:57] amarts commented on #182
'Structure needs cleaning' is the error we see if 'errno' is not set properly.  Is there a possibility to get logs of `kubectl logs csi-nodeplugin-* -nkadalu --all-containers` where `*` is from `kubectl get pods -nkadalu`

That should help us to see the gluster log messages.

[2020-02-14 13:47] rayray221 commented on #182
Of course, see attached.  I believe the one you want to look at is node2.

[csi-node1.log](https://github.com/kadalu/kadalu/files/4204691/csi-node1.log)
[csi-node2.log](https://github.com/kadalu/kadalu/files/4204693/csi-node2.log)
[csi-node3.log](https://github.com/kadalu/kadalu/files/4204694/csi-node3.log)

Thanks!

[2020-02-15 16:23] amarts commented on #182
Interestingly no logs from gluster.log (/kadalu/gluster.log in pod).

From `man errno`: `     EUCLEAN         Structure needs cleaning.`

If I check glusterfs, the values are set @ dht/afr and posix. Considering there were no logs in gluster logs and dht/afr are not used in this setup (as it is Replica1 setup), I would need a little more time to debug.

[code]

Meantime, is it possible to create a

[2020-02-15 18:41] rayray221 commented on #182
Thanks Amarts,

I deleted the pvc and pods I had, created three new ones and scheduled each one to a different node....this worked as expected:

[code]

`kubectl get pods -o wide`
[code]
[code]
[code]
[code]

Not sure why, but I did include the csi-node* logs again if it helps...I guess we can close this, but let me know if there is anything else I can do to help.
[csi-node1.log](https://github.co

[2020-02-16 07:41] amarts commented on #182
That confirms the hypothesis that it was an issue from gluster process, so when you restarted, the mount happened again, and all states were reset. So, no more error seen.

Looks like we need a mechanism to issue 'remount' without PVs getting impacted. Will raise an enhancement issue. Also suspect the current error got originated from 'readdir-ahead', and will send a patch to disable it.

Thanks f

[2020-02-16 21:23] #182 closed, assigned to nobody

[2020-02-20 14:19] bartpaczkows opened #183 "Pending pvc"
Hi,
I was trying to follow the instruction but I'm stuck on step PVC creation - it's in pending stage.
Log file from PVC "kubectl describe pvc pv1":
"Events:
  Type     Reason                Age                     From                                                           Message
  ----     ------                ----                    ----

[2020-02-21 05:18] amarts commented on #183
Hi @bartpaczkows.

Is `/dev/vcs` available in your node `node-1` ?

You need to attach an available device from nodes in your kube cluster (which you can get through `kubectl get nodes`)

In any case, can you check the output of `kubectl get pods -nkadalu` and `kubectl logs operator-* -nkadalu` where * part can be picked up from previous command.

[2020-02-21 05:30] papanito opened #184 "Creation of volumes fails with: No Hosting Volumes available, add more storage"
Creation of volumes fails with

[code]

[code]
shows

[code]
However, there are no volumes at all in place, all I have are 3 pending pvcs

[code]

** Version Info **

- kadalu: `0.5.0`
- kubernetes: `1.17.2`
- OS: `Debian 10`

[2020-02-21 05:38] amarts commented on #184
Thanks! Looks like there are some issues in how we are calculating the storage usage!

Will fix. Looks like this is same concern from #167

[2020-02-21 05:53] papanito commented on #184
Even so I do not have any volume, I can see in the brick that there are a lot of "subvols" which have data in it
[code]

[code]
Still it is nowhere full but if there are no volumes, should this not be empty anyway?

[2020-02-21 09:27] bartpaczkows commented on #183
Hi @amarts ,
/dev/vcs is available on node-1, see the output of the commands below

vagrant@k8s-master:~$ kubectl get nodes
NAME         STATUS   ROLES    AGE   VERSION
k8s-master   Ready    master   18h   v1.17.3
node-1       Ready    <none>   17h   v1.17.3
node-2       Ready    <none>   17h   v1.17.3

vagrant@node-1:/dev$ ll | grep vcs
crw-rw----  1 root    tty       7,   0 Feb 20 15:27 vcs
crw-

[2020-02-21 09:38] rhinduja opened #185 "server-storage-pools pod fails to create if the hostname is long"
Description:
---------------

In my test environment, I had long hostname like [1, 35 char] which after being appended by pod id [2, 10] and volume name [3, 24] exceeded the limit of 63 chars and failed to start.

Kadalu should handle such scenario at the time of adding storage pool [during 4] either by "alternate unique name" or "by throwing user a warning at the time of adding storage pool that

[2020-02-21 09:49] bartpaczkows commented on #183
Hi @amarts ,
Just one question to clarify - what do you mean exactly by attaching an available device from nodes in kube cluster. Is just a matter of creating storage with a definition file like in the example below

apiVersion: kadalu-operator.storage/v1alpha1
kind: KadaluStorage
metadata:
  name: storage-pool-1
spec:
  storage:
  - device: /dev/vcs
    node: node-1
  type: Replica1

Also in case

[2020-02-21 10:03] amarts commented on #183
Yes, attaching the 'device' is same as calling with a config file.

Right now, you can't add 2 storage devices to same config (ie, same name). You have to run that command separately for each storage addition. If it is 'Replica3' type, then you will need to give 3 devices.

[2020-02-21 12:05] bartpaczkows commented on #183
Hi @amarts
I did everything once again and still there is an issue with pending PersistentVolumeClaim.
Is there anything else that I can check to debug this?

See the log below:
Events:
  Type     Reason                Age                From                                                           Message
  ----     ------                ----               ----

[2020-02-21 14:08] papanito opened #186 "'ProvisioningFailed' failed to provision volume with StorageClass "kadalu.replica3": rpc error: code = Unknown desc = Exception calling application: [1] b'' b''"
Claiming volumes with `ReatWriteOnce` and  `replica3` fails with

[code]

**Steps to reproduce**

1. Cleanup all using the cleanup script

1. Re-deploy kadalu

1. Create `values.yaml` defining persistence using `ReadWriteOnce`

[code]

1. Install a helm chart which uses persistent storagw

[code]

**Expected Result**

No errors

**Actual Result**

[code]

[csi-node-plugin.log](https://github.com/k

[2020-02-21 16:45] amarts commented on #183
thanks for operator logs. I initially suspected if storage pods were not running. But the issue is in provisioner. Please check `kubectl logs csi-provisioner-0 -nkadalu --all-containers -n 4000 > csi-controller.logs` and check if there is something fishy.

[2020-02-21 16:55] amarts commented on #186
@papanito looks like CoreDNS pods are not running. Can you check if `kubectl get pods --all-namespaces` (or `-nkube-system`) and that has CoreDNS properly running?

[2020-02-21 16:57] amarts commented on #186
All gluster logs has the error of 'Connection Refused', so it makes me believe it may also be related to firewall preventing accessing the port 24007 (ufw or iptables). Can you check that too ?

[2020-02-21 17:06] amarts commented on #184
@papanito we had not completed 'DeleteVolume', mainly as we wanted to keep it as optional till we reach v1.0 (we had seen this request to get back data after too earlier). If there were PVs created, and deleted, and data is no more required, feel free to delete the directories in backend directly for now.

The whole issue seems to be with the mangled update of the data usage stats

[2020-02-21 17:31] papanito commented on #186
All pods are running and firewall should be good - kadalu pods were running fine before I deleted all. Will do some checks later and provide you more info

[2020-02-21 18:13] papanito commented on #186
[code]

[2020-02-21 18:19] papanito commented on #186
`iptables` looks fine as far as I can see nothing is blocking it.  I can share the iptables with you if you'd like.

There is no `ufw` on the nodes.

[2020-02-21 19:06] papanito commented on #186
Mhh maybe some problems are there with dns. I've restarted `coredns` pods

[code]

dns resolution works partly in the pods, get the ip but then `Can't find xxxxx.xxx: No answer`

[code]

[2020-02-21 22:59] sankarshanmukhopadhyay commented on #185
I'm not sure if we've seen this - non UTF-8 encoded name handling. If this is an issue, we'd need a seperate bug.

[2020-02-24 06:18] manvantarah opened #187 "Permission Denied while creating Promethues server pod on kadalu"
`sudo kubectl logs prometheus -n kadalu`

`level=error ts=2020-02-24T05:44:15.863385564Z caller=main.go:582 err="Opening storage failed` `open DB in /var/lib/prometheus/: open /var/lib/prometheus/360366309: permission denied"`

`level=info ts=2020-02-24T05:44:15.863433879Z caller=main.go:584 msg="See you next time!"`

[2020-02-25 10:40] bartpaczkows commented on #183
HI @amarts ,
I set up my kubernetes cluster from scratch (based on Cubespray) and tried again, unfortunately with the sa
[csi-provisioner-log.zip](https://github.com/kadalu/kadalu/files/4249502/csi-provisioner-log.zip)
me results.
I attached the log file from "kubectl logs csi-provisioner-0 -nkadalu --all-containers" command

[2020-02-25 11:06] amarts commented on #183
@bartpaczkows is there a firewall (`iptables` or `ufw`) setup? Because the error on gluster client log is all about connection 'refused'.

[2020-02-25 11:09] amarts commented on #183
you need to open up port `24007` (all servers are running on port 24007 when you use kadalu).

[2020-02-25 11:24] bartpaczkows commented on #183
firewall is disabled.

[2020-02-26 03:45] aravindavk commented on #186
@amarts similar to the issue mentioned https://github.com/kadalu/kadalu/pull/181#issuecomment-591223657

First, it fails with `ENOTCONN` and after that mount fails may be due to stale mount exists.

[2020-02-26 08:00] #187 closed, assigned to manvantarah

[2020-02-26 17:04] amarts commented on #144
Fixed with #191 & #194

[2020-02-26 17:04] #144 closed, assigned to nobody

[2020-02-26 18:15] papanito commented on #186
Is there a way around the issue? I teared down my cluster and re-instantiated it. I still face the problem...

[csi-provisioner-o.log](https://github.com/kadalu/kadalu/files/4257456/csi-provisioner-o.log)

[2020-02-29 13:19] papanito opened #196 "Volume cannot be mounted: can't read superblock on /dev/loop0"
I get the following error with `kadalu 0.5.2`

[code]

However not sure if this is really an issue

**Steps to reproduce**

1. Cleanup all using the cleanup script

1. Re-deploy kadalu

1. Create `storage-config.yaml`

[code]
1. Deploy nextcloud

[code]

**Expected Result**

No errors

**Actual Result**

[code]

Volume claims seem fine

[code]

[csi-nodeplugin-9ggpw.log](https://github.com/kadalu/

[2020-03-02 04:32] amarts opened #199 "CLI fails to take external storage option"
$ kubectl-kadalu storage-add kadalu-test --external http://redacted-mgmt-a02d.my-domain.net:/kadalu-test

=> Invalid external storage details. Please specify details in the format <node>:/<volname>

Credits: [Twitter User - Stonecut2010](https://twitter.com/stonecut2010)

[2020-03-02 04:41] amarts commented on #199
@aravindavk took a look and found that the issue is, external option is treated like an array (like `--device` etc), but it is indeed a string. Hence the failure.

Two things needed here:

1. Fix the issue (ie, fix CLI tool)
2. Add Test cases for all these cases (#195)

[2020-03-02 05:08] #199 closed, assigned to nobody

[2020-03-02 09:22] amarts opened #203 "volume name validation required"
It is expected to have volume name as a valid **DNS-1035** name.

[code]

[2020-03-02 16:26] amarts opened #204 "external storage config options not handled properly"
[code]

This trace is seen when using `kubectl kadalu` CLI tool

[2020-03-02 16:27] amarts commented on #204
Noticed that this is happening because `gluster-options` field is not provided, and in operator, if this option is not provided, it is taking nil (empty string) as option, and while dumping the json to config map, that gives an error.

[2020-03-03 00:35] #204 closed, assigned to nobody

[2020-03-03 08:25] rhinduja opened #206 "Add pre-validation checks for the devices that can be added to storage pool"
[node 1]# kubectl kadalu storage-add storage-pool-3 --device temp:/root/storage1.img
Storage add request sent successfully
kadalustorage.kadalu-operator.storage/storage-pool-3 created
[node 1]#

[node 1]# kubectl get pods -n kadalu | grep pool-3
server-storage-pool-3-0-temp-0          0/2     Pending   0          11m
[node 1]#

temp is not a host name but was provided as a dummy name. We should en

[2020-03-03 08:28] amarts commented on #206
Valid request / bug.

A good issue for someone to get used to kadalu. Before issuing the `kubectl create` in CLI, one can check if the 'node' part is in `kubectl get nodes` output.

[2020-03-03 08:57] rhinduja opened #207 "[RFE]: Provide user option to delete the storage pool"
Currently kadalu provides way to create and add storage pool. However we do not have a way yet to delete the storage pool when not required any more.

[node 1# kubectl kadalu --help
usage: kubectl-kadalu [-h] {storage-add,install} ...

IMO this should be handled for two cases

Case 1: When the storage pool is no more required but the data (& device) should remain intact. (Default case)
Case 2: Com

[2020-03-03 09:31] aravindavk commented on #207
Duplicate of https://github.com/kadalu/kadalu/issues/159

[2020-03-03 09:31] #207 closed, assigned to nobody

[2020-03-03 13:45] #203 closed, assigned to nobody

[2020-03-04 07:42] amarts commented on #196
We have noticed 2 things here.

1. usage of `/dev/loopNN`. The stability of this approach depends on host machine OS/version too.
2. RWO doesn't mean we have to provide a 'Block' storage, it means, the PV provided should be used by just one application.

With that in mind, we did add a fix (#174), which should help in reducing the issues caused by RWO usecases.

This should be available only with

[2020-03-04 08:26] amarts commented on #135
This is now not happening on 0.6.0 release. Re-open if seen again.

[2020-03-04 08:26] #135 closed, assigned to manvantarah

[2020-03-04 08:27] amarts commented on #98
Implemented with #181

[2020-03-04 09:41] StoneCut opened #209 "Deleting external volume and then creating a new one fails"
I've successfully been able to set up external storage using kubectl-kadalu (v0.6.0) and then a PVC thanks to your help on the slack channel. I then successfully used that PVC in a test deployment. This all worked fine.

Next, I deleted the PVC and implemented kadalu-quotad as a service on my GlusterFS nodes. I then wanted to provision a new PVC using the same storage class that was previously set

[2020-03-04 15:25] aravindavk commented on #206
https://github.com/kadalu/kadalu/pull/208 Fixed this issue

[2020-03-04 15:25] #206 closed, assigned to nobody

[2020-03-05 07:02] papanito commented on #196
With latest version the problem is gone

[2020-03-05 10:58] StoneCut commented on #209
Fixed with [Pull 210](https://github.com/kadalu/kadalu/pull/210).

[2020-03-05 11:10] aravindavk commented on #209
Good to know that the patch fixes the issue. We will keep this issue open till that patch gets merged.

[2020-03-05 12:28] StoneCut commented on #209
Ah, sorry about that. I'm still having other issues, too.

[2020-03-05 15:04] boconnell2210 opened #211 "Failed Mount: Failed to mount export brick fstype=xfs"
OS: `CentOS Linux release 7.7.1908 (Core)`
kubectl version: `Server Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3"`
kadalu version: `0.6.0`

### Description:
Fresh install of OS/Kubernetes using kadula to provide storage from a block device, /dev/sdb, the storage pod is not starting properly.

### Details
logs:
kubectl logs -n kadalu server-storage-pool-1-node1-0-0 glusterfsd
[c

[2020-03-05 16:16] amarts commented on #211
@boconnell2210 Multiple things in this issue.

This is a common error of formatting disk. We couldn't automatically do it, because if user provides a wrong (ie, a disk with data) to kadalu by mistake, we would overwrite/format the data. So, decided to keep it non-automatic.

Now to figure out why the disk is giving error, can you check below?

`lsblk` & `fdisk -l /dev/sdb` ??

I think this is a ne

[2020-03-05 16:19] boconnell2210 commented on #211
Yes, it is a new disk.  I can run wipefs again.

Here are the results of the commands run:
[code]

[2020-03-05 16:37] amarts commented on #211
Thanks @boconnell2210

I guess, we need 2 things as next step.

### 1. Code changes

 We can use a new field along with node and device in 'storage' section of storage config, called 'force_format', if present, we can add `-f` (ref: man mkfs.xfs) when the error is bad fs type.

#### what needs to be done:

This needs changes in `operator/main.py` code to add an option to storage section. Pass it a

[2020-03-12 04:06] renich opened #212 "Question: Are you joining rooks?"
Recently, I've been worried about the status of GlusterFS in k8s. They haven't been maintaining their offering, to the best of my knowledge.

This made me look towards the Cloud Native Computing Foundation and noticed the rooks project.

I think it gives us a bit of certainty to see projects being supported.

BTW, I wanted to ask this is Slack but didn't find the link to join your slack; only to l

[2020-03-12 04:07] renich opened #213 "Upgrade/Migration path required"
I'm a GlusterFS user on k8s. I want to know if there is an upgrade/migration plan.

[2020-03-12 04:34] amarts commented on #212
@renich you can join slack from the links at the bottom of website @ https://kadalu.io

As per our understanding, 'joining' rook project would again add layers to kadalu's architecture, and hence we believe it is better to stay a small layer with operator and csi being provided. As kubernetes is 'complex' already, our goal is to reduce layers in storage, and make it easy for users. Hence, at least

[2020-03-12 04:40] amarts commented on #213
When you say you are 'GlusterFS' user in k8s, how have you consumed GlusterFS?  through heketi? or wrote your own custom scripts etc to manage storage?

You may be interested in this article - https://kadalu.io/docs/k8s-storage/latest/external-gluster-storage

[2020-03-12 16:02] renich commented on #213
Well, the article is interesting, thank you. I meant more of a k8s + gluster converged setup. If I wanted to remove that one and port all my pvs to Kadalu, what would I have to do?

I could add more nodes and create a kadalu cluster in three of them. But, then, how do I port stuff to kadalu?

[2020-03-12 16:03] #212 closed, assigned to nobody

[2020-03-13 05:14] amarts commented on #213
Thanks for confirming @renich!

At very top level, when we started kadalu, we didn't had any such upgrade path, and as kadalu is a whole new thinking of management layer of glusterfs, the backward compatibility is not possible. We thought k8s usage would grow in future, and as current gluster converged setups would not support CSI too, there may be a day for people to do a migration anyways, so it

[2020-03-13 07:12] amarts opened #214 "[RFE] Provide gnfs export too from the gluster volumes, so, NFS mounts would work"
While we can argue on how NFS would be anti-pattern for kadalu, we see that in the market, NFS is still actively used [Reference conversation here](https://groups.google.com/forum/?#!msg/kubernetes-sig-storage/W6OWDocLxfA/P9fTnL3LAQAJ)

Let me know if we should, in our storage pods, expose gNFS ? ie, it would allow NFSv3 clients to connect to the storage.

Considering NFS provides subdir mount nat

[2020-03-13 21:10] renich commented on #213
Thank you for the help and suggestions.

[2020-03-13 21:10] #213 closed, assigned to nobody

[2020-03-15 19:48] binali-rustamov opened #215 "[RFC] About "stripe" mode"
Is there mode to enable striping in Kadalu?

I'm creating a k8s development cluster, and I want to have get disk capacity than HA.

[2020-03-16 05:40] amarts commented on #215
Few questions:

1. Is your single PV size bigger than a single disk/storage backend?

2. Is the storage attached to k8s cluster? Or you want to have it outside?

[2020-03-16 08:01] binali-rustamov commented on #215
Yes. For example I have three nodes, each node has a disk with 300Gb capacity. I want to create volume with 400Gb capacity.

I want to use it inside k8s cluster. Only for development  :)

I had "ResourceExhausted" problem, and I don't know how to fix it.

[2020-03-16 08:26] amarts commented on #215
Ok! We had thoughtfully avoided this usecase in our initial versions, mainly because we had seen in our experience most of the times, PV sizes requested were smaller than the underlaying disk/storage size.

It is expected when your storage is not available (ie, when the size is more than available size).

I don't see ourself working on this feature immediately, mainly because we now get >4TB of Bl

[2020-03-17 20:41] milodano opened #216 "error while running "VolumeBinding" filter plugin for pod "pod1": pod has unbound immediate PersistentVolumeClaims"
ubuntu@kubemaster1:~$ kubectl describe  pod pod1
Name:         pod1
Namespace:    default
Priority:     0
Node:         kubenode1/63.48.36.32
Start Time:   Tue, 17 Mar 2020 20:19:34 +0000
Labels:       app=sample-app
Annotations:  kubectl.kubernetes.io/last-applied-configuration:
                {"apiVersion":"v1","kind":"Pod","metadata":{"annotations":{},"labels":{"app":"sample-app"},"name":"pod1

[2020-03-18 01:54] amarts commented on #216
Looks like sample app completed fine. Can you check `kubectl logs pod1`?

Yes, the errors happened initially (may be because of server pods not being ready), but in next tries it succeeded.

[2020-03-18 16:57] milodano commented on #216
It was user error, thanks a lot... this CSI is amazing BTW, good job

[2020-03-18 16:57] #216 closed, assigned to nobody

[2020-03-21 11:54] #209 closed, assigned to nobody

[2020-03-31 06:20] aravindavk opened #218 "Enable support for K8s 1.18"
Kubernetes 1.18 is released. Enable support for this version.

https://kubernetes.io/blog/2020/03/25/kubernetes-1-18-release-announcement/

[2020-04-01 08:17] rhinduja opened #219 "Broken reference link in "Try Kadalu" Web Page"
Severity: Med

Description:
We have broken link reference in "Try Kadalu" Web page

Steps:
1: Access page "https://kadalu.io/docs/k8s-storage/master/try-kadalu#try-kadalu"
2: Scroll Down to "Gluster and Kadalu" Segment
3. Access the link mentioned under here in statement "We have compiled a list of things here"

Link mentioned under here is "https://kadalu.io/docs/k8s-storage/master/gluster-and-ka

[2020-04-02 02:28] sankarshanmukhopadhyay commented on #219
Thank you for catching and reporting this. We'll address this quickly.

[2020-04-03 08:22] rhinduja opened #221 "Multiple Broken Reference Links under "kadalu.io" webpage"
Severity: High
Impact: Usability / Troubleshooting / Product Engagement

Description:
Identified more broken links through the kadalu.io webpage. Raising a new issue then #219 as this is more of generic. Will keep this issue updated for any additional broken ref object before closure of this issue.

Link 1:
--------
Broken Link: https://github.com/kadalu/kadalu/extras/scripts/cleanup
Reference Und

[2020-04-03 10:20] aravindavk commented on #221
Thanks. I will fix the issues

[2020-04-03 10:25] aravindavk commented on #219
This is now fixed by the PR: https://github.com/kadalu/docs/pull/4

Thanks for reporting

[2020-04-03 10:25] #219 closed, assigned to nobody

[2020-04-03 10:58] aravindavk commented on #221
Fixed now with PR https://github.com/kadalu/kadalu.github.io/pull/32 and https://github.com/kadalu/kadalu/pull/222

[2020-04-03 10:58] #221 closed, assigned to aravindavk

[2020-04-15 08:00] papanito commented on #121
Still valid I guess

[2020-04-20 04:34] amarts commented on #9
As we are already pushing all 'logs' to `/dev/stdout` of pods, we can consider this as partially done!

[2020-04-20 04:34] amarts commented on #8
Still needed.

[2020-04-20 06:29] amarts commented on #55
we don't have helm chart yet, and we still need one!

[2020-04-20 09:34] aravindavk commented on #74
This is good to have.

[2020-04-26 20:13] superbiche commented on #218
@aravindavk I've setup Kadalu on a managed Kubernetes running 1.18, using external pool, it works perfectly, and on another one (Bare Metal HA), running 1.18.2, provisioning with a native pool, both work like a charm.
I guess you have some compatibility work to do but I just wanted to let you know and also, great job, the latest releases are really looking good.

[2020-04-27 04:08] amarts commented on #218
Good to hear that!  We wanted to add 1.18 in our testing (.travis.yml) to say it is ready!

[2020-04-28 04:20] amarts commented on #45
relevant issue! We need pv resize!

[2020-04-28 12:15] amarts commented on #118
Still valid

[2020-04-28 12:15] amarts commented on #159
valid usecase!

[2020-04-28 12:16] amarts commented on #156
Still valid

[2020-04-28 14:32] amarts commented on #185
Looks like we are hitting this in tests with 'minikube' hostname changed :-) in #225

[2020-04-28 15:03] aravindavk commented on #185
Oh, then it is good to skip using node name in Pod name and use numeric index.

[2020-04-28 16:15] #185 closed, assigned to nobody

[2020-04-30 06:44] #10 closed, assigned to nobody

[2020-04-30 06:44] #59 closed, assigned to nobody

[2020-04-30 06:44] #112 closed, assigned to nobody

[2020-05-01 07:28] egonbraun commented on #164
I have the same problem guys, is there an alternative for kadalu for ARM?

[2020-05-01 08:09] amarts commented on #164
If you have arm system doing below should get you an image:

Checkout the repo:

`KADALU_VERSION=test_arm make prepare-release`!

Let us know if this works.

[2020-05-01 08:20] aravindavk commented on #156
Updated the design.

Is anyone interested to pick this up?

[2020-05-02 01:54] esara opened #233 "operator does not have permissions to patch csidrivers and statefulsets"
During an update of the kadalustorages resource, the operator is not able to patch csidrivers and statefulsets

`Object: &{map["apiVersion":"storage.k8s.io/v1beta1" "kind":"CSIDriver" "metadata":map["creationTimestamp":"2020-05-01T23:51:35Z" "name":"org.kadalu.gluster" "resourceVersion":"191124003" "selfLink":"/apis/storage.k8s.io/v1beta1/csidrivers/org.kadalu.gluster" "uid":"b0de9399-8c06-11ea-93

[2020-05-02 14:53] amarts commented on #218
Implemented with #225

[2020-05-02 14:53] #218 closed, assigned to nobody

[2020-05-03 08:42] amarts opened #236 "Release job not pushing the operator yml files to repo"
After we moved to automated release process, we have not added commit to get the operator.yml files into repository.

[2020-05-03 09:10] rajasaur commented on #184
I think this is similar to what I experienced. If there are issues when creating the Volume, the update to the data['free_size'] keeps happening in the `update_free_size` method but its not reverted back in case there is a failure. Since this seems to be reconciling till the PVC is available, it keeps reducing the free_size each time this method is run, even though the actual PVC creation still ha

[2020-05-04 10:07] amarts opened #237 "Doc: Update about ARM support"
Now that we have ARM64 support, document about it.

Also add info about ability to use the latest changes to test if one uses version as `master`.

[2020-05-05 18:48] #233 closed, assigned to nobody

[2020-05-09 05:36] marklester opened #238 "provide a way to uninstall"
For a user who is testing out kadalu it would be useful to have uninstall command or instructions.

[2020-05-09 05:47] marklester opened #239 "csi-nodeplugin error"
I get the following error
[code]
I am using microk8s and I don't think it uses that directory:
https://microk8s.io/docs/configuring-services

[2020-05-09 06:01] marklester commented on #239
From:
https://github.com/kadalu/kadalu/blob/master/templates/csi.yaml.j2#L66
it looks like that needs to be set to:
/var/snap/microk8s/common/var/lib/kubelet/plugins
for microk8s

[2020-05-09 06:35] aravindavk commented on #239
Thanks for the pointer. We will see how to dynamically get the `kubelet/plugins` directory dynamically.

[2020-05-09 15:39] #149 closed, assigned to nobody

[2020-05-09 19:18] marklester commented on #239
Looks like I got it working. Do you accept prs?
They way I got it working was add an environment variable that can be replaced at operator deploy time.

[2020-05-10 03:29] aravindavk commented on #239
Nice. Looked at the PR looks good. We do accept PRs, Thanks.

[2020-05-10 03:34] aravindavk commented on #239
@marklester Do you know any mechanism to detect k8s distribution inside pod? If available then `KUBELET_DIR` can be determined runtime itself(Current approach requires different Operator Yaml file during deployment)

[code]

[2020-05-10 10:47] marklester commented on #239
not full proof. For microk8s it looks like they label their nodes
with:
`microk8s.io/cluster=true`
I can ask in their chat to see if they plan on doing that indefinitely.

ok I will try to have pr up soon.

[2020-05-10 13:02] marklester commented on #239
ok just confirmed in the microk8s chatroom. That is how they identify microk8s nodes.
so if node.labels.contains("microk8s") should be a reliable way to do it from microk8s

[2020-05-10 13:07] marklester commented on #239
@aravindavk  are you thinking of adding a flag to the install cmd?
`kubectl kadalu install type=microk8s`

or does it make sense to add it as an option like

`kubectl kadalu install --kubelet-dir=...`

the 2nd seems more general purpose. I could see a plugin for microk8s where you can do
`microk8s.enable kadalu` where it it just sets the kubelet dir

[2020-05-10 13:52] aravindavk commented on #239
The first option looks good. We are already using `--type` for some customization for `openshift`.

Your approach based on env variable looks good. `kubectl kadalu` can substitute `KUBELET_DIR` based on k8s distribution.

[2020-05-10 14:38] aravindavk opened #242 "[RFE] Storage Pods Upgrade during Operator Pod Start"
After upgrading Kadalu Operator, it upgrades the CSI pods and other resources except Storage Pods.

Enhance the Operator to try upgrading Storage pods if the Version is different than the deployed version.

Pseudo code,

[code]

[2020-05-10 14:41] #151 closed, assigned to nobody

[2020-05-11 03:09] manvantarah opened #243 "metrics pod(CrashLoopBackOff) in kadalu namespace"
### The following error
`W0511 01:59:52.742079       1 configmap_cafile_content.go:102] unable to load initial CA bundle for: "client-ca::kube-system::extension-apiserver-authentication::client-ca-file" due to: configmap "extension-apiserver-authentication" not found
`

- File `metrics-pod.yaml`

[code]

[2020-05-11 03:13] #163 closed, assigned to nobody

[2020-05-12 18:39] ncresswell opened #247 "Creation of volumes fails with: No Hosting Volumes available, add more storage"
Using Kadalu 0.7 and replica1 storage class, I can create a volume just fine that is 5Gi, 10Gi, 15Gi, but if i increase the size any larger than 15Gi it gets stuck forever with:

failed to provision volume with StorageClass "kadalu.replica1": rpc error: code = ResourceExhausted desc = No Hosting Volumes available, add more storage"

my underlying storage is 100GB, and there is nothing in it.
![ima

[2020-05-13 02:16] aravindavk commented on #247
Thanks for reporting the issue.

[2020-05-13 04:46] #157 closed, assigned to nobody

[2020-05-13 14:40] aravindavk commented on #158
Good to have. Reopening

[2020-05-13 15:23] aravindavk commented on #184
I am thinking about changing the format of the info file. Instead of storing the aggregated values store individual pv sizes in sqlite db(inside mount). For example,

[code]

On each change update using,

[code]

To get the total used size,

[code]

On pv delete, remove the record from Db.

@amarts do you think any issue to use SqliteDb inside Gluster mount? (Thread lock is used so no concurrent a

[2020-05-13 15:36] rajasaur commented on #184
I think a way to recalculate the right storage(and stored either like it is now or in a DB) as a command will definitely be helpful in case of installations that errored.
I can simulate my error case where if i produce a wrong SC, it keeps looping and updates the stat file without allocating actual storage. This goes on till the requested size isnt available in the node, even though it is actually

[2020-05-13 17:28] amarts commented on #184
I feel thats totally fine. We are providing storage for Databases anyways! Yes, this is better for accounting, and as things gets randomly inserted and deleted, handling it with DB is better.

[2020-05-14 02:54] vishnuravi3186 opened #248 "Deleting pvc not deleting underlying pv"
While trying to delete the a pvc , the underlying pv is not getting deleted automatically just the status changes to released. Need to manually delete the pv to reclaim the space. Currently using storageclass kadalu.replica1.

[2020-05-14 03:01] vishnuravi3186 opened #249 "pvc in pending state"
While creating pvc , certain pvc stays in pending state indefinetely, if i try to delete it and recreate it again it works fine and bound to the underlying pv, its kinda of hit or miss. Following is the message from the log

Normal   Provisioning          114s (x2 over 4m19s)  kadalu_csi-provisioner-0_7690cf1c-953c-11ea-b403-7a2e95eda3b8  External provisioner is provisioning volume for claim "ab/a

[2020-05-14 15:23] aravindavk opened #250 "[RFE] Include Kubectl Kadalu in Operator image"
Installing a new package specific to Kadalu is not straight forward compared to Kubernetes setup. Many people are familiar with YAML based installation but not `pip` based installation.

Include Kubectl kadalu inside Operator, so that those utilities can be used using kubectl exec commands.

[code]

Now use Kadalu helper utility without installing any code in the host machine.

For example,

[code

[2020-05-14 16:56] sankarshanmukhopadhyay opened #251 "Suggestion to use volumeBindingMode: WaitForFirstConsumer"
From #general on Slack

More detail - https://kubernetes.io/docs/concepts/storage/storage-classes/

The volumeBindingMode field controls when volume binding and dynamic provisioning should occur.

By default, the Immediate mode indicates that volume binding and dynamic provisioning occurs once the PersistentVolumeClaim is created. For storage backends that are topology-constrained and not globally

[2020-05-15 06:03] sankarshanmukhopadhyay opened #252 "Suggestion to look at Kpt to deploy Kadalu"
From #general received suggestion about considering Kpt https://googlecontainertools.github.io/kpt/ to deploy Kadalu

[2020-05-15 07:12] AlexisDucastel commented on #251
I think there is no need about WaitForFirstConsumer. This PVC provisioning parameter is only useful when it can have an impact on storage location. But in Kadalu, bricks are provided at installation and storage will be served from :
- node-bounded bricks pods for devices option
- node-bounded bricks pods for hostPaths option
- cluster bounded pod using a PVC for PVC option

In all cases, no need t

[2020-05-16 15:39] aravindavk opened #255 "[RFE] Push Manifest files to Release instead of keeping in source tree"
Currently, manifest files are saved under `$SRC/manifests` directory and `kubectl kadalu install` uses files from the manifests directory.

- Add these manifest files to the release (Example: https://github.com/kadalu/kadalu/releases/tag/0.7.0)
- Change Documentation to use this path
- Change Kubectl kadalu CLI to use this path.

**Bonus**: Automatically copy the generated yaml files to release us

[2020-05-17 04:54] #248 closed, assigned to nobody

[2020-05-19 12:34] aviorma commented on #45
any updates?

[2020-05-19 12:44] aravindavk commented on #45
Added to v0.8 milestone. Any specific use case in mind? So that it will be useful for our testing.

[2020-05-19 12:51] aviorma commented on #251
Currently `node_affinity` in Kadalu does not help me since i am using `StatefulSets` application with dynamic volumes creation (volumeClaimTemplates) and you can not use different StorageClass in the same `StatefulSets` object

how do you think we can overcome this ?

[2020-05-19 12:54] aviorma commented on #45
Very simple use case - Patch and update existing PVC with larger size will extend the glusterfs volume

StorageClass should has `allowVolumeExpansion: true`
https://kubernetes.io/blog/2018/07/12/resizing-persistent-volumes-using-kubernetes/

[2020-05-19 12:55] AlexisDucastel commented on #251
@aviorma I'm sorry but I suppose that your question is not related to this issue, is it ?

Anyway, no you can't set multiple storage class for your statefulset.

[2020-05-19 12:56] aravindavk commented on #251
Please share an example StatefulSet with a dynamic volume template. I will try to find an alternate solution based on the template.

[2020-05-19 13:16] aravindavk commented on #251
@aviorma got it. https://kubernetes.io/blog/2019/04/04/kubernetes-1.14-local-persistent-volumes-ga/

I need to see if CSI controller can understand from which node request is coming from. I will update you

[2020-05-19 13:23] AlexisDucastel commented on #251
Local persistent volumes is not CSI related, it is related to the opportunity to have a "hostPath" equivalent for multiple nodes clusters.

Moreover, by using Kadalu in replica3 mode, kadalu gluster pods have to be scheduled before to provide a folder in its volume, so what impact would it have to know the PVC requestion pod location ?

[2020-05-19 13:33] aravindavk commented on #251
@AlexisDucastel The use case from @aviorma is very simple. Using Kadalu Replica 1 volume as alternative to Local storage. In Kadalu v0.7, we introduced `node_affinity` filter which can be added to Storage Class creation. For example, three nodes available and each node is having one device. Create 3 Kadalu Replica 1 volumes and create respective Storage class with node_affinity set. So if a Pod re

[2020-05-19 13:40] AlexisDucastel commented on #251
Okay, but that is in fact the use case for EphemeralStorage or LocalPersistentStorage. really not sure that kadalu should handle this.

[2020-05-19 14:32] aravindavk commented on #196
Closing this issue based on the above comment

[2020-05-19 14:32] #196 closed, assigned to nobody

[2020-05-19 14:39] aravindavk commented on #169
This is fixed by PR https://github.com/kadalu/kadalu/pull/181

[2020-05-19 14:39] #169 closed, assigned to nobody

[2020-05-19 14:41] aravindavk commented on #178
I see the connection timeout increased to `3m`(https://github.com/kadalu/kadalu/pull/181). Closing this issue. Please reopen if this is still an issue

[2020-05-19 14:41] #178 closed, assigned to nobody

[2020-05-20 09:01] kannanvr opened #257 "Could not mount the volume"
Hi All,
  I am trying to evaluate the performance between Heket-GFs and Kadalu GFS for my project purpose
I have attached 1 disk on the node  and able to provision Heketi-GFS... and on the same node, i have attached another disk(from Vsphere) on the same node and trying to enable Kadalu GFS.
The moment i have created the volume, server-storage-pool-1-0-0 pod is created and it is failing due to bel

[2020-05-20 09:05] aravindavk commented on #257
This is one known issue which we are working on. If the Host machine where Kubernetes is setup is having old Kernel(For example, CentOS 7). Kadalu Server pod creates XFS filesystem with latest version of `xfsprogs` which doesn't have mount support in host Kernel.

Work around: Preformat(`mkfs.xfs /devsdc`) the device in the host machine, before giving it to the Kadalu.

[2020-05-20 09:06] kannanvr commented on #257
Thanks @aravindavk for your prompt Response...

[2020-05-20 09:06] #257 closed, assigned to nobody

[2020-05-20 14:10] vishnuravi3186 opened #258 "Storage Class default patch gets nullified on operator restart"
I am trying to patch the storage class to set kadalu.replica1 as default , but on restart of the operator  automatically kadalu storage class is set to default, following is the get storageclass output on restart

kubectl get sc
NAME                        PROVISIONER   RECLAIMPOLICY   VOLUMEBINDINGMODE   ALLOWVOLUMEEXPANSION   AGE
kadalu (default)            kadalu        Delete          Immediat

[2020-05-21 06:04] aviorma commented on #156
What need in this feature kind of indication for storage capacity in the storage pool

[2020-05-24 11:36] alekitto opened #260 "Failed to provision persistent volume with replica 3"
Hi everyone,
I've some troubles trying to provision a persistent volume with `kadalu.replica3` storage class.

Here's the provisioner log:

[code]

Kubernetes 1.18.3
Kadalu 0.7.0

Thanks for the help

EDIT: just tried with replica 1 and replica 2. Same error logged.

[2020-05-24 19:01] boconnell2210 commented on #211
As I am finally getting back to this, I wanted to update this on the steps to get this to work.  As of version kubectl-kadalu==0.7.0, this was not done automatically.

Before installing kadalu:

[code]

[2020-05-25 03:22] amarts commented on #211
Thanks @boconnell2210 ! Looks like this is one of the most common errors which we have encountered so far! Will add this as part of documentation itself.

[2020-05-26 06:23] aravindavk commented on #260
This looks like some issue in csi plugin. Upgrading all csi bits(https://github.com/kadalu/kadalu/pull/262) to see if this is related to that.

Is this error happening in v1.17 version of K8s?

Also please share the PVC file so that I can try the same in my setup. Thanks

[2020-05-26 15:02] alekitto commented on #260
An old gluster+heketi set up was present on the nodes. After cleaning up `/var/lib/glusterd` and `/var/lib/heketi` folders everything began to work correctly.
However it was the first PV in the cluster. I'll try to replicate the situation locally.

[2020-05-26 16:59] aravindavk commented on #260
However it was the first PV in the cluster. I'll try to replicate the situation locally.

Heketi setup or another Gluster setup on host nodes should not be a problem for Kadalu. Let us know if this issue happens again.

[2020-05-27 16:27] vishnuravi3186 commented on #258
I see frequently the operator pod getting evicted, and the resets the storageclass default to kadalu and when i list storageclass I can see both kadalu and kadalu.replica1 both set as default, couldn't able to fetch the evicted operator pods log to find information why it gets evicted.

 kubectl get sc
NAME                        PROVISIONER   RECLAIMPOLICY   VOLUMEBINDINGMODE   ALLOWVOLUMEEXPANSI

[2020-05-29 23:30] iamenr0s opened #264 "failed deployment on arm64 architecture"
I am trying to install kadalu on my k8s cluster running in arm64 infrastructure. I followed your instructions and I ran the command
[code]
The operator container went up properly,
[code]
but the deployment stopped at this stage.
doing some investigation in operator container it seems the kubectl command fails due to wrong architecture.
[code]
from Kadulu/operator/Dockerfile in master branch there

[2020-05-30 08:30] aravindavk commented on #264
Thanks for highlighting the issue.

[2020-06-01 04:07] rajasaur opened #265 "Underlying storage is not deleted when PVC/PV is deleted"
Kadalu branch: 0.6.0
Kubernetes: 1.16.0

When deleting the PVC/PV and Storage class of kadalu.replica1 (Althought it doesnt matter as all of them use a Reclaimpolicy: Delete), the underlying storage in the file system is not freed up.
I can find the storage still getting used and the files retained on the physical disk.

It will be required to free-up the space from the underlying storage when the

[2020-06-01 09:26] aviorma opened #266 "glusterfsd Container | error-xlator: sisense-pool-access-control [Permission denied]"
Kadalu branch: 0.7.0
Kubernetes: 1.15.3

Case:

3 nodes of Kubernetes - with 3 block devices disk on each node /dev/sdb
1 storage pool with replica3
7 pvc of replica3 for different applications

When rebooting one of the nodes the pods that attached to the pvc throwing

`Unable to mount volumes for pod "storage-749f5f9496-lckjp_sisense(b304c13e-c187-4ec2-b548-b6eb4f7eca66)": timeout expired waitin

[2020-06-03 10:37] #264 closed, assigned to nobody

[2020-06-06 08:39] #247 closed, assigned to nobody

[2020-06-06 08:40] #239 closed, assigned to nobody

[2020-06-06 10:53] #258 closed, assigned to nobody

[2020-06-06 18:14] FlexibleToast opened #271 "csi-provisioner fails to deploy on arm"
I have a 4 node  cluster of Raspberry Pi 4 (4GB) nodes. I'm running Ubuntu 20.04 arm64 as the OS, using k3s, and running etcd for high availability, 3 master nodes and 1 worker node. Each node has two USB drives I would like to use as persistent storage. Upon deployment of a fresh cluster I attempted to deploy kadalu using the instructions for arm here: https://github.com/kadalu/kadalu#arm-support

[2020-06-07 03:08] aravindavk commented on #271
Thanks for reporting, please share the logs from the failed pods/containers so that that helps us to root cause the issue.

[2020-06-07 05:20] FlexibleToast commented on #271
[code]
Looks like it pulled the wrong architecture image

[2020-06-08 10:18] iamenr0s commented on #271
you are right, it's wrong arch. if it should be useful I've just compiled some containers required to deploy kadalu in arm64 architecture.
[csi-node-driver-registrar](https://quay.io/repository/enr0s/csi-node-driver-registrar)
[csi-resizer](https://quay.io/repository/enr0s/csi-resizer)
[csi-provisioner](https://quay.io/repository/enr0s/csi-provisioner)
[csi-snapshotter](https://quay.io/repository/

[2020-06-08 14:06] FlexibleToast commented on #271
The only image I see referenced in the yaml is the kadalu operator. From my understanding the operator is then tasked with pulling and placing all the images. How do I then edit the image being pulled for that pod? Is it as simple as a kubectl edit podname -n kadalu? Shouldn't the operator be able to detect the architecture and pull the correct images?

[2020-06-08 14:15] iamenr0s commented on #271
When I did my test I deployed all images on my own repo, but you should be able to modify your deployment images using the kubectl command:
`kubectl get deployment -nkadalu -o wide`
than
`kubectl edit -nkadalu deployment [kadalu_deploy]`

[2020-06-08 14:19] aravindavk commented on #271
Thanks, @enr0s for providing container images for Arm, We will accommodate soon within the repo.

[2020-06-09 12:13] FlexibleToast commented on #271
`kubectl get deployment -n kadalu -o wide`
Only shows the deployment for the operator and if I edit it, I don't see any mention of the csi-provisioner at all.

[2020-06-10 04:41] papanito opened #272 "Lot of logs "Unverified HTTPS request is being made to host '10.43.0.1'""
I've updated kadalu to `0.7.0` and now I see that I `kadalu-operator` regularly issues the following warning

[code]
Can this be suppressed in the log? or fixed?

The regularity of the warning generates an immense load of data which can be a problem in case you have a log management tool which you pay by size. In my case I already got 4.3GB of data in just 3 hours :open_mouth:

![Screenshot from 2

[2020-06-10 05:46] papanito commented on #186
Not sure if this issue could be closed, but for me the problem is gone in later versions and I don't have the issue anymore.

[2020-06-10 05:49] papanito commented on #265
See also comment https://github.com/kadalu/kadalu/issues/184#issuecomment-589744596

[2020-06-10 07:17] papanito commented on #272
@aravindavk is there maybe a way to disable the log temporarily?

[2020-06-10 07:37] aravindavk commented on #272
Unfortunately, the `DEBUG` mode is enabled in all the components. I will look into the issue to reduce the logs.

[2020-06-11 04:42] aravindavk commented on #271
csi pods are deployed as `DaemonSet` and `StatefulSet`. Please try the workaround by getting `kubectl get DaemonSet -n kadalu -o wide` and `kubectl get StatefulSet -n kadalu -o wide`

[2020-06-25 21:48] beat commented on #260
I just had the same issue, and also had heketi and glusterfs installed before. Here the output of `kubectl logs -n kadalu csi-provisioner-0 --all-containers`:

[code]

[2020-06-25 21:49] beat commented on #260
BTW, what the bip is this ?:

`[2020-06-25 20:06:12,510] DEBUG [connectionpool - 442:_make_request] - https://www.google-analytics.com:443 "GET /collect?v=1&t=pageview&dl=http://kadalu.org/kadalu-pvc-None-0.7.0&dt=Kadalu%20pvc-None&tid=UA-144588868-1&cid=f0f0d167-d49a-48ff-b027-0837c19bfb26 HTTP/1.1" 200 35`

I do not recall having given Kadalu any permissions to spy my installation ? ;-)
Hint: th

[2020-06-25 22:34] beat commented on #260
After removing the 2 folders

I get this on startup:
[code]
And then when trying to allocate 0.1 GiB for a test PVC, it doesn't work, and the same logs show:

[code]

So things look like split-brained now ?

With heketi, I could execute a `gluster volume status` command inside the glusterfs pods, but seems not with Kadalu:

[code]

What to try next ? reinstall ? What are the tools to check the sta

[2020-06-25 22:39] beat commented on #260
Looking for a missing command to remove the storage to start fresh, something like `kubectl kadalu storage-remove storage-pool-1`. Or `kubectl kadalu help`. Any ideas ?

[2020-06-26 03:08] aravindavk commented on #260
@beat Thanks for reporting the issues.

As mentioned in the note here: https://github.com/kadalu/kadalu#note  We enabled this default since Kadalu is not 1.0 yet and this metric will help us to improve the project. In 1.0 release we will provide options to enable/disable this reporting.

Kadalu is not using Glusterd, so existing gluster clis will not be available.

Storage delete is yet to be impl

[2020-06-26 09:45] beat commented on #260
Hi @aravindavk and Thank you for your quick reply and the links.

I have removed all pending PVCs (no PVCs, no PVs left) then ran the cleanup script you referenced, re-generated new clean unformatted vdb devices for the 3 storage nodes li28-li30, and rebooted all nodes (incl. li27 K8s control node).

Then I attempted a clean install (Ubuntu Focal 20.04LTS, K8s 1.18.4), as follows:

[code]

Then I

[2020-06-26 16:27] beat commented on #260
Ok, as the example PVC from https://kadalu.io/docs/k8s-storage/latest/quick-start DID work, tried to understand why Kadalu didn't act correctly as **default** Storage.

So in the mysql helm chart, the PVC was written like this:

[code]

but in the `spec`, the `  storageClassName: kadalu.replica3` was missing (which is normal for a default Storage class).

Adding it like this:

[code]
made it work!

[2020-06-26 17:07] beat commented on #260
Update:

Making the `kadalu.replica3` the default storage class instead of `kadalu` (by `kubectl edit storageclasses.storage.k8s.io kadalu.replica3` and `kubectl edit storageclasses.storage.k8s.io kadalu`) makes kadalu provision as default storage class.

Continuing testing.

[2020-06-27 16:18] aravindavk commented on #260
Thanks. This is a great help. I will look into the default class issue.

kubectl-kadalu command will get more subcommands to diagnose the system(https://github.com/kadalu/kadalu/issues/156). We are working on to use `glfsheal` command for checking the Self-heal information and triggering heal can be done(Issue yet to be opened)

WIP PR to use Ubuntu as a base image(https://github.com/kadalu/kadalu

[2020-06-27 21:55] beat commented on #260
Thanks @aravindavk

Here an update on tests, progressing slowly:

I am running a heavy install test installing gitlab with helm, no success so far, but that lead me to see that Kadalu doesn't take into account storage limits, e.g. I have 3 30 GiB partitions for Kadalu, but it provisions PVs for 35 GiB, before next one gets pending. This effects to have [diskpressure] on all 3 nodes, and pods being

[2020-07-05 06:43] amarts commented on #271
@FlexibleToast @enr0s the PR #274 should fix this for now.

I used @enr0s's images for arm for now. And note the change in tag to `master-arm`. The tag is pushed as part of the build test already, so one can verify if it is actually working!

[2020-07-06 21:32] FlexibleToast commented on #271
I used the mentioned buildx-test branch's manifest to deploy kadalu to my pis. After some confusion about creating storage pools I created 4 different pools, (4 nodes, 2 devices each, replica2). I tried creating a test PVC and the PV isn't being created. I tried deleting the operator pod, because I had to do that to get it to deploy the storage servers... Still no dice. Here is the test-pv.yaml I

[2020-07-07 13:35] FlexibleToast commented on #271
As asked in Slack, here are the logs for the csi-provisionor

[logs-from-csi-provisioner-in-csi-provisioner-0.txt](https://github.com/kadalu/kadalu/files/4885140/logs-from-csi-provisioner-in-csi-provisioner-0.txt)

[2020-07-07 13:43] amarts commented on #271
@enr0s is there a version compatibility issue in CSI drivers? looks like csi-provisioner is not able to connect properly!

[2020-07-07 13:48] amarts commented on #271
@FlexibleToast Sorry, had missed checking glusterfsd logs. Only checked operator logs earlier. Issue seems to be below:

[code]

Is this a fresh disk you want to provide for kadalu? Then mostly the volume-id was created in previous attempt. You need to delete the xattr.

`attr -r trusted.glusterfs.volume-id /mount/path`

[2020-07-07 13:50] FlexibleToast commented on #271
Maybe I'm at a fundamental misunderstanding again. I wiped the drives and passed them as devices /dev/sda. Was this the correct way to do it? Was I supposed to partition, mount, then pass the mount path?

[2020-07-07 13:53] aravindavk commented on #271
This is correct. `device` accepts raw device and `path` accepts mount path in Storage config file. You can also use CLI to add storage. `sudo pip3 install kubectl-kadalu`

[2020-07-07 14:04] amarts commented on #271
ok... as a work around can you change the name of the storage pool when you passed the info? I suspect some stale data pending in configmap is causing the new server processes to not start. (surely a bug on our end),
@FlexibleToast your way of clean restart is valid.
i suspect that because server log is way earlier than the operator log/csi log
(or it may be also an issue with localtime/utc time o

[2020-07-09 03:59] amarts opened #276 "Operator shows some warnings on ARM (k3s) deployments"
[code]

[2020-07-09 14:05] FlexibleToast commented on #276
Adding more info

It appears that kadalu successfully deployed.
[code]

However, when attempting to deploy a storage pod
[code]

The storage pod isn't created. That's when I pulled the log available in the original post.

[2020-07-11 17:55] amarts commented on #276
Looks like the traceback issue is a glitch in urllib3 version:

* https://github.com/psf/requests/issues/4248
* https://github.com/urllib3/urllib3/issues/1516 (Looks like fix went in as recently as a month back).

Rechecked the operator logs, and it is sure that it didn't get any storage-deployment requests. I will further check on this and update the thread!

[2020-07-14 08:52] close2 opened #277 "hostvoltype might be NONE"
When creating your own storageclass the hostvoltype might not be set.

Normally kadalu storage classes have the parameter `hostvol_type`:
`kubectl get storageclasses.storage.k8s.io kadalu.replica1 -o yaml`
[code]

However if we create our own storageClass:
[code]
This parameter is missing:
`kubectl get storageclasses.storage.k8s.io kadalu.fast-storage -o yaml`
[code]

The createVolumeReponse then

[2020-07-14 08:58] close2 commented on #277
Here is the log output
`kubectl -n kadalu logs csi-provisioner-0 -c kadalu-provisioner`
[code]

[2020-07-14 09:03] amarts commented on #277
Thanks..

looks like the right fix is to check for it before submission...

[2020-07-14 09:13] close2 commented on #277
i've updated my comment.
The problem is in the createVolumeResponse call.

The `volume` https://github.com/kadalu/kadalu/blob/6519bcec6d164ca6f8b9c0684459fc7bbe347469/csi/protos/csi.proto#L415
doesn't allow None as value.

This value should exist inside `hostvol` (it's the `type` in the `.info` file).
You could probably also simply pass "unknown" if it is `None`.  (I don't know if this value is ev

[2020-07-17 14:46] aravindavk commented on #276
I see the Python urllib3 fix is part of 1.25.9 release. Rebuilding container images without any change may help to fix the issue.

https://github.com/urllib3/urllib3/compare/1.25.9...master (Pull request: https://github.com/urllib3/urllib3/pull/1888)

[2020-07-17 15:12] amarts commented on #276
From latest build:

[code]
It should be available in next 1hr, with that we can see if the issue gets fixed.

[2020-07-18 21:00] FlexibleToast commented on #276
Just tried rebuilding the cluster. Has the same error. I also confirmed that the Image ID matched the latest arm64 image here https://hub.docker.com/layers/kadalu/kadalu-operator/master-arm/images/sha256-f88f8fba78e51a300a3d4c71226ae7570d5b3710bdc190f59bfe439ecb2b849f?context=explore.

[2020-07-20 07:45] tuunit commented on #272
@aravindavk are there any news about this issue? We do have this problem as well. Over the weekend it produced 45GB of logs and flooded our filesystem. Do you have any idea, what kind of request is causing the issue and how can we prevent it?

[2020-07-20 07:45] tuunit commented on #272
@aravindavk are you aware of any possible workaround or fix?

[2020-07-20 07:48] aravindavk commented on #272
That's bad. I will look into this. Is the above-mentioned log causing this issue or other log messages as well?

[2020-07-20 07:52] aravindavk commented on #272
I will work on properly fixing these issues. As a workaround try to set env variable for the Pod using `kubectl edit ` command.

[code]

https://stackoverflow.com/questions/27981545/suppress-insecurerequestwarning-unverified-https-request-is-being-made-in-pytho

[2020-07-20 08:01] tuunit commented on #272
Only the mentioned log message

[2020-07-20 08:02] tuunit commented on #272
Thanks a lot, that seems to work!

[2020-07-24 07:15] #156 closed, assigned to nobody

[2020-07-29 04:51] FlexibleToast commented on #276
I think I've narrowed down the issue. I was deploying a highly available k3s cluster using an etcd database. That etcd database was also hosted on the three Raspberry Pi 4 master nodes. I attempted an install using an external MariaDB on a completely different machine while keeping all other parts of the install were left the same. This time kadalu was able to deploy and did not have the Python er

[2020-07-29 17:48] FlexibleToast opened #282 "Storage Pods not properly deploying on ARM (k3s)"
Using a Raspberry Pi 4 and Ubuntu 18.04 as the host I was able to deploy k3s and kadalu without errors. When I deploy a storage pool I only see 1/2 containers ready. The storage pod then continuously crashloops.
[code]
storage.yml
[code]

[2020-07-30 04:39] aravindavk commented on #282
Please share the logs from server pod.

[2020-08-01 13:18] FlexibleToast commented on #282
I had the cluster shutdown and when it came back up the storage pod had successfully deployed. I tried re-deploying the cluster two more times and both times the storage pod successfully deployed without errors. Since I can't recreate the issue I'm going to just close this issue.

[2020-08-01 13:18] #282 closed, assigned to nobody

[2020-08-01 13:23] FlexibleToast opened #283 "PV doesn't get created, PVC stuck at pending (ARM k3s)"
Kadalu successfully deployed, storage pod successfully deployed, but when I created a PVC it is stuck at "Pending"
[code]

[code]

Attaching logs of the provisioner:
[csi-provisioner.txt](https://github.com/kadalu/kadalu/files/5010462/csi-provisioner.txt)
[csi-attacher.txt](https://github.com/kadalu/kadalu/files/5010463/csi-attacher.txt)
[kadalu-provisioner.txt](https://github.com/kadalu/kadalu/fi

[2020-08-07 06:42] papanito commented on #119
@amarts will this be fixed?

[2020-08-09 13:29] aravindavk commented on #100
ongoing. Not all the known cases updated.

[2020-08-09 13:29] aravindavk commented on #7
required.

[2020-08-09 13:30] aravindavk commented on #106
upgrade testing is needed.

[2020-08-10 11:53] aravindavk commented on #167
PV size accounting was rewritten with the PR https://github.com/kadalu/kadalu/pull/268

This can be closed after `0.8.0` release.

[2020-08-13 04:57] #277 closed, assigned to nobody

[2020-08-17 13:49] schmitch commented on #45
currently I stumbled at this project and basically I think kadalu should support the following (btw. I'm already stunned how smooth it works, compared to gluster-kubernetes or heketi):

- resizing the underlying device/path **and** especially the pvc, I think for many applications it's especially useful to actually use kadalu to create a `ReadWriteMany` `pvc` around existing gcloud/aws/azure/etc `

[2020-08-22 04:38] #140 closed, assigned to nobody

[2020-09-07 12:39] #183 closed, assigned to nobody

[2020-09-15 09:42] #98 closed, assigned to nobody

[2020-09-24 16:05] #214 closed, assigned to nobody

[2020-09-27 10:26] #215 closed, assigned to nobody

[2020-09-29 02:37] #271 closed, assigned to nobody

[2020-09-29 04:45] #236 closed, assigned to nobody

[2020-10-28 14:20] #164 closed, assigned to nobody

[2020-11-01 05:38] #9 closed, assigned to nobody

[2020-11-01 14:43] #74 closed, assigned to nobody

[2020-11-11 04:24] #158 closed, assigned to nobody

[2020-11-18 07:13] #250 closed, assigned to nobody

[2020-11-22 05:39] #243 closed, assigned to nobody

[2020-11-24 04:22] #276 closed, assigned to nobody

[2020-11-24 10:24] #238 closed, assigned to nobody

[2020-11-26 03:41] #249 closed, assigned to nobody

[2020-11-26 08:24] #252 closed, assigned to nobody

[2020-11-30 21:34] #237 closed, assigned to nobody

[2020-11-30 21:34] #251 closed, assigned to nobody

[2020-12-06 05:42] #211 closed, assigned to nobody

[2020-12-18 01:31] #159 closed, assigned to nobody

[2020-12-22 10:20] #186 closed, assigned to nobody

[2020-12-24 07:05] #265 closed, assigned to vatsa287

[2020-12-24 07:06] #121 closed, assigned to nobody

[2021-01-15 05:14] #45 closed, assigned to nobody

[2021-01-18 12:56] #272 closed, assigned to nobody

[2021-01-19 06:46] #167 closed, assigned to nobody

[2021-01-19 06:52] #242 closed, assigned to nobody

[2021-01-19 06:53] #255 closed, assigned to nobody

[2021-01-19 06:56] #266 closed, assigned to nobody

[2021-01-19 07:01] #55 closed, assigned to nobody

[2021-01-19 07:04] #283 closed, assigned to nobody

[2021-01-19 07:06] #119 closed, assigned to nobody

[2021-02-20 23:09] #100 closed, assigned to nobody

[2021-04-30 02:41] #184 closed, assigned to nobody

[2021-08-02 13:31] #106 closed, assigned to nobody

[2021-08-02 13:31] #7 closed, assigned to nobody

[2021-11-08 00:56] #118 closed, assigned to nobody

[2021-12-11 14:46] #260 closed, assigned to nobody