[2019-07-24 08:24] amarts opened #6 "Setup CI/CD for PR validations"
Travis, which does complete 'build', deploy, and testing of all the pods and CSI involved in project.

[2019-07-24 08:25] amarts opened #7 "Scale Testing"
Understanding how many PVs can be created with a node of 16GB RAM, 4TB disk etc.

1. Just measure the create rate
2. Also measure if I/O can also scale from all the pods.

[2019-07-24 08:26] amarts opened #8 "Configure monitoring"
Using prometheus, also needs grafana dashboard to view these metrics.

[2019-07-24 08:27] amarts opened #9 "Centralized logging"
k8s takes care of having all '/dev/stdout' logs in a centralized format. Currently glusterfsd logs are all going to stdout, but the CSI logs are not going to /dev/stdout. Need to get them in central place, so debugging would be easy.

[2019-07-24 08:28] amarts opened #10 "Reduce the size of the images"
Currently some image sizes are 200MB, 400MB and 600MB... looks like we can reduce the size by having a opinionated stack.

[2019-07-24 09:19] amarts opened #11 "consider using fuse's write-cache on CSI mount."
Fuse's write-cache would give much better performance than that of glusterfs's internal caching. It would be good to provide that here.

[2019-07-25 10:07] #6 closed

[2019-07-26 05:17] amarts opened #15 "Need more logging in sidecar container (quotad)"
`kubectl -nkadalu logs server-storage-pool-1-worker0-0 -c quotad`

doesn't give any outputs. If it has successfully started, it should say "started successfully".

[2019-07-26 05:45] amarts opened #16 "Analytics of usage"
It would be great to add analytics on usage (specially just the downloads), and details on which version it uses etc. With this information, it is easier to support users, and also provide features in particular version.

[2019-07-29 10:29] #15 closed

[2019-08-13 05:53] aravindavk opened #32 "Update available size in Storage under lock"
When a PV is created(subdir/virtblock), Free size is updated to a file. Use `fcntl` lock while updating the file to prevent wrong updates during parallel PV creation.

https://github.com/aravindavk/kadalu/blob/master/csi/volumeutils.py#L106-L115

[2019-09-04 06:24] amarts opened #33 "Move repo to its own separate org"
Considering this project has many potential to growth, and more user participations in future, it would be great to move the repo to its own org, so one can collaborate better.

If it is OK for you, please consider moving the repo to https://github.com/kadalu

That way, project can have its own docs, webpage, and multiple repos.

[2019-09-11 05:38] #33 closed

[2019-09-13 10:38] amarts opened #36 "RFE: Can kadalu operator take external gluster server and manage only CSI?"
There are many possible setup where Gluster servers can be outside the k8s cluster, and there may be need for just providing CSI driver in k8s. Can the operator handle it?

I am thinking of config file to say something like:

[code]

We can recommend to run the quota setting script as hook script in servers for such users, as we can't control setting of quota.

[2019-10-01 05:29] amarts opened #37 "RFE: thin-arbiter (metro cluster) support"
GlusterFS-7 is releasing with thin-arbiter support. Once released, if kadalu supports thin-arbiter cluster support, it will help many users who have only 2 data centers.

[2019-10-01 12:45] amarts opened #38 "release v0.2 with glusterfs-7.0"
GlusterFS 7.0 is in RC state now. Once the release is out, it would be good to make a release.

Also, it would be great to have a release with glusterfs-7.0 available to kadalu users.

[2019-10-02 18:30] amarts opened #40 "Start 'shd' container if 'Replica3' is choosen type."
Currently in `server/server.py` there is no self-heal daemon started. Would be great to have it running.

[2019-10-04 09:29] amarts opened #41 "RFE: Operator fails to run on Openshift due to permission failure"
Looks like need to work on a correct  `scc` context. Need expert advise here.

[2019-10-05 12:05] hetii opened #42 "More examples needed."
Hi,
Could you provide more examples, what to do when we have more nodes, and how to configure kadalu to have at least one mirroring data in case of some crash?

General some descriptions regarding data recovery plan or redeploying kadalu would be useful.

Best regards.

[2019-10-16 07:24] amarts opened #45 "RFE: PV resize support (through CSI module)"
Decide and design possible resize feature.

Will add more details soon. Ping here if you are interested to pick it up

[2019-10-23 13:50] amarts opened #46 "RFE: make kadalu-server run on top of RWO PV itself."
Most of the cloud providers provide a decent RWO PV support. Can kadalu-server run on top of the RWO PV, instead of having a need for admin manually setup a block device, or an export directory.

[2019-10-25 21:30] papanito opened #49 "Documentation for gluster part missing"
I read trough your documents but for me it is still not clear what is required or has to be done in terms of gluster.
Does glusterd need to be running on the host? What are the pre-requirements?

In your blog entry you say

Maybe you can elaborate this a bit more.

Thanks

[2019-10-29 16:58] #49 closed

[2019-10-29 16:58] #42 closed

[2019-11-04 05:55] amarts opened #53 "make replica3 volumes use 'read-hash-mode 3' option."
For the kadalu usecase, considering it may run mostly in cloud setup, using 'read-hash-mode 3' option for replicate xlator would save lot of money (in bandwidth). Considering the option will be available in glusterfs-7.0, it would be good to have the option when we will have CSI driver updated to use latest veresion.

 Check [Details here](https://github.com/gluster/glusterfs/issues/520) about thi

[2019-11-04 12:22] amarts opened #55 "RFE: provide helm chart"
[helm charts](https://helm.sh/) are a good way to have more reach in k8s world. Would be good to have a helm chart implemented for kadalu project.

[2019-11-06 06:39] capusta opened #56 "DNS-1123 label: spec.hostname: Invalid value"
When following tutorials, the operator goes into CrashLoopBackOff

Logs from operator:
[code]

when describing the operator-initiated statefulset:
[code]

[2019-11-10 12:55] #56 closed

[2019-11-13 11:30] fs-system opened #59 "Failed to generate grpc python code"
[code]
Add Developer readme which will help for new  comers to setup the environment

[2019-11-13 11:41] fs-system opened #60 "Install project dependencies"
This project has dependencies it would be good to add those into a `requirement.txt` file and update Readme to install same to setup development environment

[2019-11-13 11:49] fs-system opened #61 "Fix pylint issues"
current codebase is having lint issues, need to check all modules  for pylint issues in  Travis CI
[code]

[2019-11-21 14:52] hetii opened #65 "Failed to provision volume with StorageClass "kadalu.replica3""
Hi,
I try to setup kadalu on aks cluster but csi-provisioner raise error like:

    Warning  ProvisioningFailed    3s                 kadalu_csi-provisioner-0_27e261cc-0c6d-11ea-a863-7ec92e551436  failed to provision volume with StorageClass "kadalu.replica3": rpc error: code = Unknown desc = Exception calling application: [Errno 17] File exists: '/mnt/kadalu-storage-replica-pool-3'

Details:

[2019-11-21 15:15] hetii opened #66 "Kadalu csi driver performance in context of kernel < 4.17"
Hello.
As I play strongly about rook vs kadalu setup I notice that CSI driver in rook are affected by very low performance bug describe in [rook github](https://github.com/rook/rook/issues/3315).

To solve that they require to switch to kernel >= 4.17 that support [quotas](https://docs.ceph.com/docs/master/cephfs/kernel-features/#quotas).

Unfortunate azure just have in plans to upgrade theirs ker

[2019-11-21 17:18] amarts opened #67 "Add CI/CD for replica3 volume"
It is not possible to make sure we have 100% usecases covered manually for each PR. If a case is not covered in CI/CD, the usecase can't be supported.

We need to make sure we also test Replica3 in CI/CD. Basic things shouldn't come as bug to users like #65

[2019-11-22 05:09] #67 closed

[2019-11-22 09:07] #40 closed

[2019-11-22 09:10] #41 closed

[2019-11-26 11:25] #65 closed

[2019-11-26 12:39] #66 closed

[2019-12-01 19:39] hetii commented on #42
I just add that in azure it's possible to use xfs fsType:

    ---
    kind: StorageClass
    apiVersion: storage.k8s.io/v1
    metadata:
      name: premium-azure-disk-sc
    provisioner: kubernetes.io/azure-disk
    reclaimPolicy: Retain
    # reclaimPolicy: Delete
    allowVolumeExpansion: true
    volumeBindingMode: Immediate
    parameters:
      storageaccounttype: Premium_LRS
      kind: Ma

[2019-12-02 15:38] aravindavk opened #74 "Use Type hints for all Python code"
Type hints are available in Python 3(https://www.python.org/dev/peps/pep-0484). We can use that in all Python files.

Type hints will not add any runtime overhead, since Type checks to be done with the external tool [mypy](http://mypy-lang.org) (`pip3 install mypy` and check with `mypy <python-file>`)

Example type hints:

[code]

[2019-12-13 06:39] amarts opened #75 "Need to install some debugging tools till we reach v1.0"
Right now, kadalu repositories are in development. While most of the things are still under development, we need tools like 'ping' (to verify if dns resolution is working), telnet etc.

[2019-12-13 07:56] amarts opened #77 "Suggestion: Create a separate base-image"
As of now, we use fedora30 as base-image for all our containers. And after that, each containers are prepared separately when we do `make build-containers`.

On a developer's laptop this is fine, but our CI/CD tests are taking 6 mins (out of 9 mins for total run) to build the containers.

One possibility is, we can have a separate docker file for base image, and have it uploaded at 'kadalu/base-im

[2019-12-13 08:27] amarts opened #78 "issue to start gluster server pods"
[code]

This happened when I exported a 'file' as device.

[code]

[2019-12-13 08:40] amarts opened #80 "Send constant CID (client-id) per deployment"
Right now, the analytics we get is skewed as we send cid (ie, client-id) as the timestamp. Ideally it should be a random number (uuid?) constant for deployment.

This can be achieved by having a uuid generated if it doesn't exists in configmap, and while sending analytics, it should be used.

[2019-12-14 16:48] #78 closed

[2019-12-16 06:03] amarts opened #83 "Error when using file as a device"
Saw these errors.. the brick directory was not created.

[code]

[2019-12-17 08:37] amarts opened #86 "Reduce Quotad logs"
When a PV is provisioned, QuotaD crawls and sets the quota on each volume. It does it in a constant loop in 1second interval.

As we have a log there, it is flooding log files. Looks like we need to do it only when we do quota set first time, and not everytime.

[code]

[2019-12-17 09:08] #86 closed

[2019-12-18 17:52] amarts opened #91 "While providing PVC as storage for the server pod 'node' shouldn't be mandatory"
But if I remove the 'node' part it is erroring out

Ref #90 .

We need to fix it.

[2019-12-19 08:49] #36 closed

[2019-12-19 09:00] #91 closed

[2019-12-19 09:01] #16 closed

[2019-12-19 14:52] #80 closed

[2019-12-19 17:37] #46 closed

[2019-12-20 08:03] #83 closed

[2019-12-20 08:04] amarts opened #96 "cleanup stuck"
While developing, I keep running `./extras/scripts/cleanup` to cleanup kadalu namespace, and restart everything.

Most of the times, I get to below state, after which I have to kill the pod with --force.

[code]

Would be good to figure out the reason.

[2019-12-26 04:58] aravindavk opened #98 "Use readinessProbe and livelinessProbe for Kadalu Pods"
Use readinessProbe and livelinessProbe for Kadalu Pods

Readiness Probe helps Kubernetes to know that these Pods are ready. This can be done by creating a file after process start in `startup.sh`(https://github.com/kadalu/kadalu/pull/97/files#diff-ad46fbb7f3f2af7be618f73637c5389aR23)

[code]

Liveliness probe is to restart Kadalu Pod/container based on health. (Liveliness probe requirements TBD)

[2019-12-26 05:06] aravindavk opened #99 "Use sidecar container for Logging"
CSI Pods mounts Gluster volumes and those logs are not in `stderr` of csi container because these mounts are child processes in CSI pods.

Use another sidecar container which watches on the log files created by these mounts and log to stderr.

[2019-12-26 05:16] aravindavk opened #100 "FAQ and Troubleshooting guide"
Prepare a Troubleshooting guide for Kadalu.

- When a storage pod is down, how will mounts behave?
- One storage pod/node is down in Replica3 volume
- PV is created, but my application pod is not coming up
- PVC status is still showing "Pending"
- Understanding all Log files
- I added storage, but not showing when I run `kubectl get pods -n kadalu`
- How to remove the storage?

[2019-12-27 04:44] #96 closed

[2019-12-27 07:53] #99 closed

[2019-12-27 17:20] amarts opened #103 "logging sidecar not picking the latest log file"
After merging #101, if we add a new storage to pool, the CSI mount logs are not logged to the stdout.

Expectation is, all of the client logs are in stdout so that can be persisted, and used in debugging without logging into the pods.

[2019-12-28 13:23] amarts opened #106 "Test: install operator from 0.4 version, and upgrade to latest (any release 0.5/0.6 etc)"
Ideally, the upgrade should be smooth, without loosing any information about previously created PVs, storage config etc. The process of upgrading the operator as of now is like below:

1. check if operator and other csi drivers are all running.
2. just do `kubectl apply -f new-operator-yaml-file`
3. see that all the new versions should be installed now.

Correct the steps, and document the steps i

[2019-12-30 09:55] #103 closed

[2020-01-05 11:12] papanito opened #111 "storage export pods not created"
I followed [the guidelines](https://github.com/kadalu/kadalu) but somehow the "storage export pods" are not created. This is my storage config which uses `/dev/md3`.

[code]
but no pods

[code]

pvc thus stay in state `pending`

[code]

**Operator logs**

I've first applied a wrong config - 2 nodes configured instead 1. However I corrected it and re-applied again. There is nothing else logged afte

[2020-01-05 13:03] #111 closed

[2020-01-06 09:04] amarts opened #112 "Test: add a test for setup and cleanup in a loop"
This helps to makes sure, the cleanup script doesn't leave any resource pending.

That way, we are sure of what resources we are generating.

[2020-01-06 18:00] amarts opened #114 "enhancement: Add 'install' option to kubectl_kadalu"
With [kubectl-kadalu](https://kadalu.io/blog/introducing-kadalu-kubectl-plugin) package, there are possibilities for us to further reduce the 'dependency' of knowing kubernetes for starting kadalu.

One such thing is, removing the need to run `kubectl create -f https://kadalu.io/kadalu-operator.yaml`, instead make it `kubectl kadalu install [--version 1.0.0]` or something similar. That way, all us

[2020-01-07 09:26] #114 closed

[2020-01-07 11:15] amarts opened #118 "Enhancement: backup options for PVs"
Right now, no specific designs in place. We can consider multiple options:

1. Use Gluster's geo-replication.
2. Considering we use backend differently, use reflink, and transfer from the clone.
3. Use tools like https://backube.github.io/snapscheduler/ and backup natively in k8s way.
4. Shift to using ZFS / btrfs, and use their snapshots, and transfer data.
5. validate possibilities of xfs_dump t

[2020-01-08 07:14] papanito opened #119 "Creation of `ReatWriteOnce` fails with `mounter.SetupAt failed: rpc error: code = Unknown desc = Exception calling application: [32] b`"
Claiming volumes with `ReatWriteOnce` fails with

[code]

**Steps to reproduce**

Install `prometheus` using persistent volume claim when installing via helm chart

1. Create `values.yaml` defining persistence using `ReadWriteOnce`

[code]

1. Install helm chart

[code]

**Expected Result**

No errors

**Actual Result**

[code]

**Additional info**

Changing the access mode to `ReadWriteMany` work

[2020-01-10 13:22] papanito opened #121 "mkdir /var/lib/kubelet/pods/xxxxx/volumes/kubernetes.io~csi/pvc-xxx/mount: file exists"
I try to install [`nextcloud` with `mariadb`](https://github.com/helm/charts/tree/master/stable/nextcloud) with helm, using `kadalu.replica1` as persistent storage. This fails with an error related to storage

[code]

**Steps to reproduce**

Install `nextcloud` using persistent volume claim when installing via helm chart

1. Create `values.yaml` defining persistence using `ReadWriteMany` (shows on

[2020-01-13 09:45] amarts opened #124 "Issue with reusing same disk image with newer version"
I have used a device which was used with a previous kadalu install (both used for testing), and when I try to use it again get below error:

[code]

We should have an understanding how to use the data which has different glusterfs volume before. This may be expected behavior, but took some time for me to resolve. At least it would be great to add a check like these in kubectl_kadalu scripts so, us

[2020-01-13 09:52] amarts opened #125 "Quotad error logs in kadalu server pod"
Looks like the issue started happening once quota package is being done. Not sure yet.

[code]

[2020-01-13 15:59] #125 closed

[2020-01-16 17:19] #32 closed

[2020-01-16 17:49] #61 closed

[2020-01-17 05:40] #77 closed

[2020-01-17 09:12] manvantarah opened #135 "Indentation was not proper in storage-config.yaml . The log file did not throw any error, even though the error exist in config-file"
### kubectl logs -f -n kadalu operator-68649f4bb6-49hv2

+ pid=0
+ cmd=/usr/bin/python3
+ script=/kadalu/main.py
+ trap 'kill ${!}; term_handler' SIGTERM
+ pid=7
+ true
+ wait 8
+ tail -f /dev/null
+ /usr/bin/python3 /kadalu/main.py
[2020-01-17 07:31:54,301] DEBUG [rest - 219:request] - response body: {"kind":"ConfigMapList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/namespaces/kadalu/confi

[2020-01-20 13:23] manvantarah commented on #135
# File: storage-config.yaml
---
apiVersion: kadalu-operator.storage/v1alpha1
kind: KadaluStorage
metadata:
    # This will be used as name of PV Hosting Volume
    name: storage-pool-1
    spec:
    type: Replica1
    storage:
      - node: minikube      # node name as shown in `kubectl get nodes`
        device: /root/disk  # Device to provide storage to all PVs

[2020-01-20 13:25] manvantarah commented on #135
@aravindavk - Bad indentation storage-config.yaml

[2020-01-20 13:25] manvantarah commented on #135
# File: storage-config.yaml
---
apiVersion: kadalu-operator.storage/v1alpha1
kind: KadaluStorage
metadata:
    # This will be used as name of PV Hosting Volume
    name: storage-pool-1
spec:
    type: Replica1
    storage:
      - node: minikube      # node name as shown in `kubectl get nodes`
        device: /root/disk  # Device to provide storage to all PVs

[2020-01-20 13:26] manvantarah commented on #135
@aravindavk - Proper indentation storage-file.yaml

[2020-01-22 13:28] vatsa287 opened #138 "Got an error while executing kubectl-kadalu command."
[code]

[2020-01-22 13:40] #38 closed

[2020-01-22 16:21] vatsa287 opened #140 "Issue in creating a PV"

[2020-01-22 16:37] #138 closed

[2020-01-22 16:40] #124 closed

[2020-01-23 05:08] #53 closed

[2020-01-23 05:21] aravindavk opened #143 "Merge Docs from Website and Github"
Documentation has diverged in Github and Website. Maintain documentation in Github and build versioned documentation externally.

External Repo to generate versioned documentation from multiple repositories(Repo name will change soon from `docs1` to `docs`)
https://github.com/kadalu/docs1/

[2020-01-23 06:08] aravindavk opened #144 "Automate the release of Python packages"
Kadalu provides two Python packages which can be downloaded from Pypi website.

- kubectl-kadalu - Kubectl extension
- kadalu-quotad - To use Kadalu with External Gluster storage

Setup Github actions to publish these packages to Pypi

Ref: https://github.com/hyperledger/ursa-python/blob/master/.github/workflows/pythonpublish.yml

[2020-01-24 23:35] superbiche opened #149 "Cannot provision volume after cleanup & reinstall - RegisterPlugin error -- failed to get plugin info using RPC GetInfo at socket /var/lib/kubelet/plugins_registry/kadalu/csi.sock"
I've installed Kadalu then reset my K8S 1.17 cluster, etcd, cleaned everything and started again.

Then I removed Kadalu, ran the cleanup script, re-deployed it and the 2 replica3 clusters, but I get this error in kubelet journal:
[code]
---
EDIT: manifests attached

[code]
[code]

Worked perfectly on the same Kubernetes version like a day ago, and I have no idea if this error happened at that mom

[2020-01-25 15:48] rajasaur commented on #140
I have a similar issue with the latest version of the operator and have the same error on minikube as well as another cluster running debian buster.  The error message I get is

[code]

Are there any xfs commands I can run manually on the nodes to narrow this down?

[2020-01-26 06:35] rajasaur opened #151 "Kadalu error on Minikube"
I have been trying to get kadalu working with minikube and it seems to throw this error on minikube.

Environment:
Kubernetes version: 1.15.2
minikube on OSX

[code]

Trying to manually run the mount command threw the same error
[code]

Looking through dmesg on that container indicates that
`[ 1248.053406] XFS (sdb): quota support not available in this kernel.`
not sure if thats the reason for the

[2020-01-27 12:18] papanito commented on #119
[server-storage-pool-main-2-node003-0.log](https://github.com/kadalu/kadalu/files/4117047/server-storage-pool-main-2-node003-0.log)

[2020-01-28 17:00] amarts opened #153 "should we move 'examples/' dir to 'doc/examples' ?"
That way, we can manage document links in proper way ? Ie, today many documents has links from examples referred, all that would be under one subdirectory by moving these files, and it is not a bad thing because, a sample yaml file by itself can be a document of reference.

[2020-01-29 03:26] aravindavk opened #156 "new command kubectl kadalu storage-list"
Introduce new subcommand to Kadalu Kubectl plugin,

[code]

## Design:

Get the list of Kadalu Storage from config map

[code]

Parse the `data` to get list of Volume info.

Example command output:

[code]

Example Python script to parse the above output:

[code]

To get the running status information, run

[code]

Parse and get the status of each server node(Starting with `server-`)

To get the u

[2020-01-29 03:28] aravindavk opened #157 "Detect openshift in Kubectl extension"
Openshift binary is created as `oc-kadalu`. With this detect `--type=openshift` automatically when `oc kadalu storage-add` is run. For example,

[code]

[2020-01-29 03:31] aravindavk opened #158 "Dry run option to kubectl kadalu storage-add subcommand"
With `--dry-run` option shows the generated config file for review.

[code]

[2020-01-29 03:34] aravindavk opened #159 "[RFE] Support for Storage Remove"
CLI: Support to initiate the storage remove

[code]

Operator: Understand the storage remove request and cleanup the related k8s resources.

**Note**: Do not delete or wipe the data from the device

[2020-01-29 04:01] #153 closed

[2020-01-30 10:38] manvantarah opened #163 "Kadalu pods status is in error state, after change in kadalu storage version"
[code]

[2020-01-30 11:08] amarts opened #164 "build for multiple architectures"
Currently kadalu is built only for linux/amd64 (x86_64), would be great if linux/arm64 can be provided as an option.

[2020-01-30 15:09] papanito opened #165 "No `csi` pods are started, urllib3.connection.VerifiedHTTPSConnection object at 0xXXXXXXXXX"
I've cleaned my previous kadalu installation completely. Then I ran

[code]
But I realized that only `operator`-pod was started but not the `csi`. Here is the log from the `operator`-pod

[code]

**Reproduction steps**

1. Run `cleanup.sh`

[code]
2. Check for ns `kadalu` - should be clean

[code]
3. Install kadalu

[code]

[2020-02-04 03:39] boconnell2210 opened #167 "pvc's stuck in pending state"
OS Version:
[code]

When installing kadula, I am able to see some pvc's created, but others stuck in the pending state.
<img width="446" alt="image" src="https://user-images.githubusercontent.com/10049733/73711276-57e72a80-46d4-11ea-9d6f-89ee478dd506.png">

All of the "kadula" pods seem to be in a good state:
<img width="247" alt="image" src="https://user-images.githubusercontent.com/10049733/7371

[2020-02-04 11:44] #37 closed

[2020-02-04 12:39] amarts opened #169 "storage pods doesn't terminate when there are errors"
I execute below command 3 times:

[code]

Notice that each of these are using the same device. Now, I check the pod status:

[code]

Technically this shouldn't happen as same disk is used by all pods. I checked logs, and as expected abcd1 was successfully running (because it was using a fresh disk). abcd2 and abcd3 pods had errors as expected, but that didn't stop them from running.

[code]

[2020-02-04 16:17] #143 closed

[2020-02-04 16:50] #75 closed

[2020-02-04 16:51] #11 closed

[2020-02-05 13:48] #165 closed

[2020-02-06 15:34] #60 closed

[2020-02-10 18:21] amarts opened #177 "Traceback found in 0.5.0 CSI controller"
[code]

More info:

[code]

[2020-02-10 18:22] amarts opened #178 "timeout logs seen in CSI/controller"
[code]

The above logs are commonly seen in controller. We need to increase the timeout to 120 seconds for kadalu.

[2020-02-12 21:01] rayray221 opened #182 "Unable to create Volume: mismatching volume-id....already is a part of volume"
I have been trying to get Kadalu setup and am now seeing the following:

[code]
I originally forgot to install xfs, which is why I think it failed the first time.  Since then, I have installed xfs and ran the following to rest and start over:

kadalu_cleanup.sh
kubectl kadalu install
kubectl kadalu storage-add st1-kadalu --device android16.dbz:/dev/vdb

I have tried different names for the storage

[2020-02-13 16:21] #177 closed

[2020-02-16 21:23] #182 closed

[2020-02-20 14:19] bartpaczkows opened #183 "Pending pvc"
Hi,
I was trying to follow the instruction but I'm stuck on step PVC creation - it's in pending stage.
Log file from PVC "kubectl describe pvc pv1":
"Events:
  Type     Reason                Age                     From                                                           Message
  ----     ------                ----                    ----

[2020-02-21 05:30] papanito opened #184 "Creation of volumes fails with: No Hosting Volumes available, add more storage"
Creation of volumes fails with

[code]

[code]
shows

[code]
However, there are no volumes at all in place, all I have are 3 pending pvcs

[code]

** Version Info **

- kadalu: `0.5.0`
- kubernetes: `1.17.2`
- OS: `Debian 10`

[2020-02-21 09:38] rhinduja opened #185 "server-storage-pools pod fails to create if the hostname is long"
Description:
---------------

In my test environment, I had long hostname like [1, 35 char] which after being appended by pod id [2, 10] and volume name [3, 24] exceeded the limit of 63 chars and failed to start.

Kadalu should handle such scenario at the time of adding storage pool [during 4] either by "alternate unique name" or "by throwing user a warning at the time of adding storage pool that

[2020-02-21 14:08] papanito opened #186 "'ProvisioningFailed' failed to provision volume with StorageClass "kadalu.replica3": rpc error: code = Unknown desc = Exception calling application: [1] b'' b''"
Claiming volumes with `ReatWriteOnce` and  `replica3` fails with

[code]

**Steps to reproduce**

1. Cleanup all using the cleanup script

1. Re-deploy kadalu

1. Create `values.yaml` defining persistence using `ReadWriteOnce`

[code]

1. Install a helm chart which uses persistent storagw

[code]

**Expected Result**

No errors

**Actual Result**

[code]

[csi-node-plugin.log](https://github.com/k

[2020-02-24 06:18] manvantarah opened #187 "Permission Denied while creating Promethues server pod on kadalu"
`sudo kubectl logs prometheus -n kadalu`

`level=error ts=2020-02-24T05:44:15.863385564Z caller=main.go:582 err="Opening storage failed` `open DB in /var/lib/prometheus/: open /var/lib/prometheus/360366309: permission denied"`

`level=info ts=2020-02-24T05:44:15.863433879Z caller=main.go:584 msg="See you next time!"`

[2020-02-26 08:00] #187 closed

[2020-02-26 17:04] #144 closed

[2020-02-29 13:19] papanito opened #196 "Volume cannot be mounted: can't read superblock on /dev/loop0"
I get the following error with `kadalu 0.5.2`

[code]

However not sure if this is really an issue

**Steps to reproduce**

1. Cleanup all using the cleanup script

1. Re-deploy kadalu

1. Create `storage-config.yaml`

[code]
1. Deploy nextcloud

[code]

**Expected Result**

No errors

**Actual Result**

[code]

Volume claims seem fine

[code]

[csi-nodeplugin-9ggpw.log](https://github.com/kadalu/

[2020-03-02 04:32] amarts opened #199 "CLI fails to take external storage option"
$ kubectl-kadalu storage-add kadalu-test --external http://redacted-mgmt-a02d.my-domain.net:/kadalu-test

=> Invalid external storage details. Please specify details in the format <node>:/<volname>

Credits: [Twitter User - Stonecut2010](https://twitter.com/stonecut2010)

[2020-03-02 05:08] #199 closed

[2020-03-02 09:22] amarts opened #203 "volume name validation required"
It is expected to have volume name as a valid **DNS-1035** name.

[code]

[2020-03-02 16:26] amarts opened #204 "external storage config options not handled properly"
[code]

This trace is seen when using `kubectl kadalu` CLI tool

[2020-03-03 00:35] #204 closed

[2020-03-03 08:25] rhinduja opened #206 "Add pre-validation checks for the devices that can be added to storage pool"
[node 1]# kubectl kadalu storage-add storage-pool-3 --device temp:/root/storage1.img
Storage add request sent successfully
kadalustorage.kadalu-operator.storage/storage-pool-3 created
[node 1]#

[node 1]# kubectl get pods -n kadalu | grep pool-3
server-storage-pool-3-0-temp-0          0/2     Pending   0          11m
[node 1]#

temp is not a host name but was provided as a dummy name. We should en

[2020-03-03 08:57] rhinduja opened #207 "[RFE]: Provide user option to delete the storage pool"
Currently kadalu provides way to create and add storage pool. However we do not have a way yet to delete the storage pool when not required any more.

[node 1# kubectl kadalu --help
usage: kubectl-kadalu [-h] {storage-add,install} ...

IMO this should be handled for two cases

Case 1: When the storage pool is no more required but the data (& device) should remain intact. (Default case)
Case 2: Com

[2020-03-03 09:31] #207 closed

[2020-03-03 13:45] #203 closed

[2020-03-04 08:26] #135 closed

[2020-03-04 09:41] StoneCut opened #209 "Deleting external volume and then creating a new one fails"
I've successfully been able to set up external storage using kubectl-kadalu (v0.6.0) and then a PVC thanks to your help on the slack channel. I then successfully used that PVC in a test deployment. This all worked fine.

Next, I deleted the PVC and implemented kadalu-quotad as a service on my GlusterFS nodes. I then wanted to provision a new PVC using the same storage class that was previously set

[2020-03-04 15:25] #206 closed

[2020-03-05 15:04] boconnell2210 opened #211 "Failed Mount: Failed to mount export brick fstype=xfs"
OS: `CentOS Linux release 7.7.1908 (Core)`
kubectl version: `Server Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3"`
kadalu version: `0.6.0`

### Description:
Fresh install of OS/Kubernetes using kadula to provide storage from a block device, /dev/sdb, the storage pod is not starting properly.

### Details
logs:
kubectl logs -n kadalu server-storage-pool-1-node1-0-0 glusterfsd
[c

[2020-03-12 04:06] renich opened #212 "Question: Are you joining rooks?"
Recently, I've been worried about the status of GlusterFS in k8s. They haven't been maintaining their offering, to the best of my knowledge.

This made me look towards the Cloud Native Computing Foundation and noticed the rooks project.

I think it gives us a bit of certainty to see projects being supported.

BTW, I wanted to ask this is Slack but didn't find the link to join your slack; only to l

[2020-03-12 04:07] renich opened #213 "Upgrade/Migration path required"
I'm a GlusterFS user on k8s. I want to know if there is an upgrade/migration plan.

[2020-03-12 16:03] #212 closed

[2020-03-13 07:12] amarts opened #214 "[RFE] Provide gnfs export too from the gluster volumes, so, NFS mounts would work"
While we can argue on how NFS would be anti-pattern for kadalu, we see that in the market, NFS is still actively used [Reference conversation here](https://groups.google.com/forum/?#!msg/kubernetes-sig-storage/W6OWDocLxfA/P9fTnL3LAQAJ)

Let me know if we should, in our storage pods, expose gNFS ? ie, it would allow NFSv3 clients to connect to the storage.

Considering NFS provides subdir mount nat

[2020-03-13 21:10] #213 closed

[2020-03-15 19:48] binali-rustamov opened #215 "[RFC] About "stripe" mode"
Is there mode to enable striping in Kadalu?

I'm creating a k8s development cluster, and I want to have get disk capacity than HA.

[2020-03-17 20:41] milodano opened #216 "error while running "VolumeBinding" filter plugin for pod "pod1": pod has unbound immediate PersistentVolumeClaims"
ubuntu@kubemaster1:~$ kubectl describe  pod pod1
Name:         pod1
Namespace:    default
Priority:     0
Node:         kubenode1/63.48.36.32
Start Time:   Tue, 17 Mar 2020 20:19:34 +0000
Labels:       app=sample-app
Annotations:  kubectl.kubernetes.io/last-applied-configuration:
                {"apiVersion":"v1","kind":"Pod","metadata":{"annotations":{},"labels":{"app":"sample-app"},"name":"pod1

[2020-03-18 13:44] milodano commented on #216
Hello Amar,
thanks for you prompt response.
Here is the output:

----------------------------------------------------------------------------------------------------
ubuntu@kubemaster1:~$ kubectl logs pod1
This is a sample application
# df -h
Filesystem                Size      Used Available Use% Mounted on
/kadalu/volfiles/storage-pool-1.client.vol
                          1.0G     10.2M   1013

[2020-03-18 15:37] milodano commented on #216
maybe also this will help

ubuntu@kubemaster1:~$ kubectl get pod server-storage-pool-1-kubenode1-0-0 -o yaml -n kadalu | less
apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: "2020-03-17T20:14:39Z"
  generateName: server-storage-pool-1-kubenode1-0-
  labels:
    app.kubernetes.io/component: server
    app.kubernetes.io/name: server
    app.kubernetes.io/part-of: kadalu
    controller-revisi

[2020-03-18 15:40] milodano commented on #216
root@kubenode1:/home/ubuntu# docker logs 53156cbd4ffc
+ pid=0
+ cmd=/usr/bin/python3
+ script=/kadalu/server.py
+ trap 'kill ${!}; term_handler' SIGTERM
+ pid=6
+ true
+ /usr/bin/python3 /kadalu/server.py
+ wait 7
+ tail -f /dev/null
[2020-03-18 15:36:37,796] ERROR [glusterfsd - 107:create_and_mount_brick] - Failed to create file system         fstype=xfs device=/brickdev/vdb
++ kill 7
++ term_han

[2020-03-18 15:50] milodano commented on #216
kubectl kadalu storage-add storage-pool-1 --type Replica3 --device kubenode1:/var/vdb --device kubenode2:/var/vdb --device kubenode3:/dev/vdb

ahhh, user error... :) sorry fo bothering you... keep up the good work, thanks again a lot

[2020-03-18 16:51] milodano commented on #216
ahh, i got new error:

ubuntu@kubemaster1:~$ kubectl describe pod nginx3-67d4b4dd6d-gbrfb
Name:           nginx3-67d4b4dd6d-gbrfb
Namespace:      default
Priority:       0
Node:           kubenode3/63.48.36.28
Start Time:     Wed, 18 Mar 2020 16:48:06 +0000
Labels:         pod-template-hash=67d4b4dd6d
                run=nginx3
Annotations:    <none>
Status:         Pending
IP:
IPs:            <no

[2020-03-18 16:57] #216 closed

[2020-03-21 11:54] #209 closed

[2020-03-31 06:20] aravindavk opened #218 "Enable support for K8s 1.18"
Kubernetes 1.18 is released. Enable support for this version.

https://kubernetes.io/blog/2020/03/25/kubernetes-1-18-release-announcement/

[2020-04-01 08:17] rhinduja opened #219 "Broken reference link in "Try Kadalu" Web Page"
Severity: Med

Description:
We have broken link reference in "Try Kadalu" Web page

Steps:
1: Access page "https://kadalu.io/docs/k8s-storage/master/try-kadalu#try-kadalu"
2: Scroll Down to "Gluster and Kadalu" Segment
3. Access the link mentioned under here in statement "We have compiled a list of things here"

Link mentioned under here is "https://kadalu.io/docs/k8s-storage/master/gluster-and-ka

[2020-04-03 08:22] rhinduja opened #221 "Multiple Broken Reference Links under "kadalu.io" webpage"
Severity: High
Impact: Usability / Troubleshooting / Product Engagement

Description:
Identified more broken links through the kadalu.io webpage. Raising a new issue then #219 as this is more of generic. Will keep this issue updated for any additional broken ref object before closure of this issue.

Link 1:
--------
Broken Link: https://github.com/kadalu/kadalu/extras/scripts/cleanup
Reference Und

[2020-04-03 10:25] #219 closed

[2020-04-03 10:58] #221 closed

[2020-04-28 16:15] #185 closed

[2020-04-30 06:44] #10 closed

[2020-04-30 06:44] #59 closed

[2020-04-30 06:44] #112 closed

[2020-05-02 01:54] esara opened #233 "operator does not have permissions to patch csidrivers and statefulsets"
During an update of the kadalustorages resource, the operator is not able to patch csidrivers and statefulsets

`Object: &{map["apiVersion":"storage.k8s.io/v1beta1" "kind":"CSIDriver" "metadata":map["creationTimestamp":"2020-05-01T23:51:35Z" "name":"org.kadalu.gluster" "resourceVersion":"191124003" "selfLink":"/apis/storage.k8s.io/v1beta1/csidrivers/org.kadalu.gluster" "uid":"b0de9399-8c06-11ea-93

[2020-05-02 14:53] #218 closed

[2020-05-03 08:42] amarts opened #236 "Release job not pushing the operator yml files to repo"
After we moved to automated release process, we have not added commit to get the operator.yml files into repository.

[2020-05-04 10:07] amarts opened #237 "Doc: Update about ARM support"
Now that we have ARM64 support, document about it.

Also add info about ability to use the latest changes to test if one uses version as `master`.

[2020-05-05 18:48] #233 closed

[2020-05-09 05:36] marklester opened #238 "provide a way to uninstall"
For a user who is testing out kadalu it would be useful to have uninstall command or instructions.

[2020-05-09 05:47] marklester opened #239 "csi-nodeplugin error"
I get the following error
[code]
I am using microk8s and I don't think it uses that directory:
https://microk8s.io/docs/configuring-services

[2020-05-09 15:39] #149 closed

[2020-05-10 14:38] aravindavk opened #242 "[RFE] Storage Pods Upgrade during Operator Pod Start"
After upgrading Kadalu Operator, it upgrades the CSI pods and other resources except Storage Pods.

Enhance the Operator to try upgrading Storage pods if the Version is different than the deployed version.

Pseudo code,

[code]

[2020-05-10 14:41] #151 closed

[2020-05-11 03:09] manvantarah opened #243 "metrics pod(CrashLoopBackOff) in kadalu namespace"
### The following error
`W0511 01:59:52.742079       1 configmap_cafile_content.go:102] unable to load initial CA bundle for: "client-ca::kube-system::extension-apiserver-authentication::client-ca-file" due to: configmap "extension-apiserver-authentication" not found
`

- File `metrics-pod.yaml`

[code]

[2020-05-11 03:13] #163 closed

[2020-05-12 18:20] ncresswell commented on #184
I see this issue still remains in Kadalu 0.7?

I can create a volume just fine that is 5Gi, 10Gi, 15Gi, but if i increase the size any larger than 15Gi it gets stuck forever with: failed to provision volume with StorageClass "kadalu.replica1": rpc error: code = ResourceExhausted desc = No Hosting Volumes available, add more storage"

my underlying storage is 100GB, and there is nothing in it.
![im

[2020-05-12 18:39] ncresswell opened #247 "Creation of volumes fails with: No Hosting Volumes available, add more storage"
Using Kadalu 0.7 and replica1 storage class, I can create a volume just fine that is 5Gi, 10Gi, 15Gi, but if i increase the size any larger than 15Gi it gets stuck forever with:

failed to provision volume with StorageClass "kadalu.replica1": rpc error: code = ResourceExhausted desc = No Hosting Volumes available, add more storage"

my underlying storage is 100GB, and there is nothing in it.
![ima

[2020-05-13 04:46] #157 closed

[2020-05-14 02:54] vishnuravi3186 opened #248 "Deleting pvc not deleting underlying pv"
While trying to delete the a pvc , the underlying pv is not getting deleted automatically just the status changes to released. Need to manually delete the pv to reclaim the space. Currently using storageclass kadalu.replica1.

[2020-05-14 03:01] vishnuravi3186 opened #249 "pvc in pending state"
While creating pvc , certain pvc stays in pending state indefinetely, if i try to delete it and recreate it again it works fine and bound to the underlying pv, its kinda of hit or miss. Following is the message from the log

Normal   Provisioning          114s (x2 over 4m19s)  kadalu_csi-provisioner-0_7690cf1c-953c-11ea-b403-7a2e95eda3b8  External provisioner is provisioning volume for claim "ab/a

[2020-05-14 15:23] aravindavk opened #250 "[RFE] Include Kubectl Kadalu in Operator image"
Installing a new package specific to Kadalu is not straight forward compared to Kubernetes setup. Many people are familiar with YAML based installation but not `pip` based installation.

Include Kubectl kadalu inside Operator, so that those utilities can be used using kubectl exec commands.

[code]

Now use Kadalu helper utility without installing any code in the host machine.

For example,

[code

[2020-05-14 16:56] sankarshanmukhopadhyay opened #251 "Suggestion to use volumeBindingMode: WaitForFirstConsumer"
From #general on Slack

More detail - https://kubernetes.io/docs/concepts/storage/storage-classes/

The volumeBindingMode field controls when volume binding and dynamic provisioning should occur.

By default, the Immediate mode indicates that volume binding and dynamic provisioning occurs once the PersistentVolumeClaim is created. For storage backends that are topology-constrained and not globally

[2020-05-15 03:25] vishnuravi3186 commented on #249
[2020-05-14 20:40:18,018] DEBUG [controllerserver - 34:CreateVolume] - Create Volume request     request=name: "pvc-7cd74ef5-a79c-43f3-b9bb-9dd31ddd60a0"
capacity_range {
  required_bytes: 1073741824
}
volume_capabilities {
  mount {
    fs_type: "ext4"
  }
  access_mode {
    mode: MULTI_NODE_MULTI_WRITER
  }
}
parameters {
  key: "hostvol_type"
  value: "Replica1"
}

[2020-05-14 20:40:18,019] DE

[2020-05-15 06:03] sankarshanmukhopadhyay opened #252 "Suggestion to look at Kpt to deploy Kadalu"
From #general received suggestion about considering Kpt https://googlecontainertools.github.io/kpt/ to deploy Kadalu

[2020-05-16 15:39] aravindavk opened #255 "[RFE] Push Manifest files to Release instead of keeping in source tree"
Currently, manifest files are saved under `$SRC/manifests` directory and `kubectl kadalu install` uses files from the manifests directory.

- Add these manifest files to the release (Example: https://github.com/kadalu/kadalu/releases/tag/0.7.0)
- Change Documentation to use this path
- Change Kubectl kadalu CLI to use this path.

**Bonus**: Automatically copy the generated yaml files to release us

[2020-05-17 04:54] #248 closed

[2020-05-19 14:32] #196 closed

[2020-05-19 14:39] #169 closed

[2020-05-19 14:41] #178 closed

[2020-05-20 09:01] kannanvr opened #257 "Could not mount the volume"
Hi All,
  I am trying to evaluate the performance between Heket-GFs and Kadalu GFS for my project purpose
I have attached 1 disk on the node  and able to provision Heketi-GFS... and on the same node, i have attached another disk(from Vsphere) on the same node and trying to enable Kadalu GFS.
The moment i have created the volume, server-storage-pool-1-0-0 pod is created and it is failing due to bel

[2020-05-20 09:06] #257 closed

[2020-05-20 14:10] vishnuravi3186 opened #258 "Storage Class default patch gets nullified on operator restart"
I am trying to patch the storage class to set kadalu.replica1 as default , but on restart of the operator  automatically kadalu storage class is set to default, following is the get storageclass output on restart

kubectl get sc
NAME                        PROVISIONER   RECLAIMPOLICY   VOLUMEBINDINGMODE   ALLOWVOLUMEEXPANSION   AGE
kadalu (default)            kadalu        Delete          Immediat

[2020-05-24 11:36] alekitto opened #260 "Failed to provision persistent volume with replica 3"
Hi everyone,
I've some troubles trying to provision a persistent volume with `kadalu.replica3` storage class.

Here's the provisioner log:

[code]

Kubernetes 1.18.3
Kadalu 0.7.0

Thanks for the help

EDIT: just tried with replica 1 and replica 2. Same error logged.

[2020-05-29 23:30] enr0s opened #264 "failed deployment on arm64 architecture"
I am trying to install kadalu on my k8s cluster running in arm64 infrastructure. I followed your instructions and I ran the command
[code]
The operator container went up properly,
[code]
but the deployment stopped at this stage.
doing some investigation in operator container it seems the kubectl command fails due to wrong architecture.
[code]
from Kadulu/operator/Dockerfile in master branch there

[2020-06-01 04:07] rajasaur opened #265 "Underlying storage is not deleted when PVC/PV is deleted"
Kadalu branch: 0.6.0
Kubernetes: 1.16.0

When deleting the PVC/PV and Storage class of kadalu.replica1 (Althought it doesnt matter as all of them use a Reclaimpolicy: Delete), the underlying storage in the file system is not freed up.
I can find the storage still getting used and the files retained on the physical disk.

It will be required to free-up the space from the underlying storage when the

[2020-06-01 09:26] aviorma opened #266 "glusterfsd Container | error-xlator: sisense-pool-access-control [Permission denied]"
Kadalu branch: 0.7.0
Kubernetes: 1.15.3

Case:

3 nodes of Kubernetes - with 3 block devices disk on each node /dev/sdb
1 storage pool with replica3
7 pvc of replica3 for different applications

When rebooting one of the nodes the pods that attached to the pvc throwing

`Unable to mount volumes for pod "storage-749f5f9496-lckjp_sisense(b304c13e-c187-4ec2-b548-b6eb4f7eca66)": timeout expired waitin

[2020-06-03 10:37] #264 closed

[2020-06-06 08:39] #247 closed

[2020-06-06 08:40] #239 closed

[2020-06-06 10:53] #258 closed

[2020-06-06 18:14] FlexibleToast opened #271 "csi-provisioner fails to deploy on arm"
I have a 4 node  cluster of Raspberry Pi 4 (4GB) nodes. I'm running Ubuntu 20.04 arm64 as the OS, using k3s, and running etcd for high availability, 3 master nodes and 1 worker node. Each node has two USB drives I would like to use as persistent storage. Upon deployment of a fresh cluster I attempted to deploy kadalu using the instructions for arm here: https://github.com/kadalu/kadalu#arm-support

[2020-06-10 04:41] papanito opened #272 "Lot of logs "Unverified HTTPS request is being made to host '10.43.0.1'""
I've updated kadalu to `0.7.0` and now I see that I `kadalu-operator` regularly issues the following warning

[code]
Can this be suppressed in the log? or fixed?

The regularity of the warning generates an immense load of data which can be a problem in case you have a log management tool which you pay by size. In my case I already got 4.3GB of data in just 3 hours :open_mouth:

![Screenshot from 2

[2020-07-09 03:59] amarts opened #276 "Operator shows some warnings on ARM (k3s) deployments"
[code]

[2020-07-14 08:52] close2 opened #277 "hostvoltype might be NONE"
When creating your own storageclass the hostvoltype might not be set.

Normally kadalu storage classes have the parameter `hostvol_type`:
`kubectl get storageclasses.storage.k8s.io kadalu.replica1 -o yaml`
[code]

However if we create our own storageClass:
[code]
This parameter is missing:
`kubectl get storageclasses.storage.k8s.io kadalu.fast-storage -o yaml`
[code]

The createVolumeReponse then

[2020-07-24 07:15] #156 closed

[2020-07-29 17:48] FlexibleToast opened #282 "Storage Pods not properly deploying on ARM (k3s)"
Using a Raspberry Pi 4 and Ubuntu 18.04 as the host I was able to deploy k3s and kadalu without errors. When I deploy a storage pool I only see 1/2 containers ready. The storage pod then continuously crashloops.
[code]
storage.yml
[code]

[2020-08-01 13:18] #282 closed

[2020-08-01 13:23] FlexibleToast opened #283 "PV doesn't get created, PVC stuck at pending (ARM k3s)"
Kadalu successfully deployed, storage pod successfully deployed, but when I created a PVC it is stuck at "Pending"
[code]

[code]

Attaching logs of the provisioner:
[csi-provisioner.txt](https://github.com/kadalu/kadalu/files/5010462/csi-provisioner.txt)
[csi-attacher.txt](https://github.com/kadalu/kadalu/files/5010463/csi-attacher.txt)
[kadalu-provisioner.txt](https://github.com/kadalu/kadalu/fi

[2020-08-13 04:57] #277 closed

[2020-08-19 06:41] amarts commented on #276
With #262 merged, we should be good on ARM. Can you please check `master` label deployment again? (not `master-arm`).

[2020-08-19 06:42] amarts commented on #283
With #262 and #284 merged, `master` tag should be good to be deployed on ARM and it should work. Can you please check and confirm when you get time?

[2020-08-20 03:40] amarts commented on #45
Thanks @schmitch @aviorma for feedback.

[2020-08-21 15:15] FlexibleToast commented on #276
I thought I had this particular issue resolved with switching to MariaDB instead of a underprovisioned etcd. However, I used the external MariaDB I confirmed to work previously and just got the exact same error that started this issue and the storage pod doesn't deploy. I did it twice to make sure it wasn't some connection issue with the MariaDB that caused it.

Just to confirm, I deployed it with

[2020-08-23 06:26] amarts commented on #276
@FlexibleToast thanks for testing. We will try to procure some ARM64 machines, and test the behavior again. Last time we tried with AWS arm64 instance, the issue was about create PVs, but operator was ok.

[2020-08-25 06:47] ook opened #286 "Replica3: mismatching volume-id received / already is a part of volume / DNS resolution failed on host"
Hi,

## Setup 💻
Using Kadalu installed yesterday with 3 nodes, k8s v1.17.4 (via rancher2), nodes running on baremetal servers with docker 19.3.12 (host: ubuntu 18.04LTS)

## Problem description ✍️
I setup a Replica3 as follow:

[code]

Using the storage class `kadalu.replica3` autogenerated on a PVC, the volume is correctly created and mounted, but checking kadalu pods I see that only 1 pod is ok:

[2020-08-25 07:06] amarts commented on #286
This issue contains 2 issues:

1. reuse of the volume:

This is a inherent data loss protection implemented in glusterfs by making sure a brick belonging to another volume can never be re-used by another volume.

This can happen when you started using / or experimented with the disk for another volume, and now decided to use it for another volume. Recommend a clean start after a wipefs.

2. DNS re

[2020-08-25 07:41] ook commented on #286
Ok, go for a deep cleanup since I only have test data for now. Do you recommand a way to make kadalu "forget" current setup before I wipefs the partitions?

[2020-08-25 07:43] amarts commented on #286
https://github.com/kadalu/kadalu/blob/master/extras/scripts/cleanup is what we normally do.

[2020-08-25 07:44] ook commented on #286
I missed it. Perfect. I'll keep you in touch.

[2020-08-25 08:25] ook commented on #286
So you were perfectly right, @amarts . Thank you, my issue is solved.
Steps to solve:

1. Run script https://github.com/kadalu/kadalu/blob/master/extras/scripts/cleanup
2. On each glusterfs nodes, run `wipefs -a -t dos -f /dev/sda4 && mkfs.xfs -f /dev/sda4` (where `/dev/sda4` is the disk dedicated to storage)
3. `kubectl kadalu install`
4. `kubectl kadalu storage-add rep012-storage-pool --type=Rep

[2020-08-25 08:34] amarts commented on #286
@ook we are still in beta stage, and not yet v1.0... so please give it more time to test, and report any issues you see, we are glad to fix them.

[2020-08-25 08:54] davehatton opened #287 "problem running elasticsearch cluster on replica3"
I have an elasticsearch cluster deployed from a statefulset  that is working when using heketi/gluster but fails to start when migrated to kadalu/replica3 storage.

The key message from the application appears to be

[code]

My storage is presented using

[code]

and my stateful set is:

[code]

Any suggestions on what maybe wrong?

[2020-08-25 09:37] amarts commented on #287
Thanks for the yml in my setup, when I changed `kadalu.replica3` to `kadalu.replica1`, I found no issues.

[code]

Testing further with kadalu.replica3. Meantime, I wanted to check if your application nodes have any firewall etc? We need port 24007 to be open for glusterfs processes.

[2020-08-26 09:03] gxwangit opened #289 "pods in different namespaces share one PV by kadalu ？"

[2020-08-29 08:32] volkerCodeschoepfer commented on #271
I experience the same issue which is described here.

[code]

[code]

[code]

Up to fix #274 this should be solved. But this seems not be the case. Did I overlook something? I am on Raspberry PI 4 / aarch64:

`Linux glupi0 5.4.0-1015-raspi #15-Ubuntu SMP Fri Jul 10 05:34:24 UTC 2020 aarch64 aarch64 aarch64 GNU/Linux`

[2020-08-29 11:47] amarts commented on #271
Interesting... You used the correct tag. Will check what changed..

[2020-08-29 12:12] volkerCodeschoepfer commented on #271
According to the patch #274 I should refer to

`https://raw.githubusercontent.com/kadalu/kadalu/master/manifests/kadalu-operator-master-arm.yaml`

instead of

`https://raw.githubusercontent.com/kadalu/kadalu/master/manifests/kadalu-operator-master.yaml`

but I cannot find it in the master tree.

[2020-08-29 13:27] amarts commented on #271
That got removed in the latest commit as we fixed the buildx issue with using a multi-arch based csi images, instead of x86_64 one previously used (ref: #262 )

The fix is in picking right kubectl image in `operator/Dockerfile`.

[2020-08-31 14:27] volkerCodeschoepfer commented on #271
ok, both the daemonset as well as the statefullset point to the following images:

[code]
[code]

I assume that kadalu-csi ist wrong. Can you confirm?

[2020-09-01 02:34] amarts commented on #271
Yes, the images look fine, and as per docker tags, all of them support linux/arm64 platform.

[2020-09-01 12:28] YamacorePriv opened #290 "Kadalu without Python?"
I wanted to use Kadalu on my K3s Cluster which runs on K3OS n sadly got no python or pip, i found some documentation that there is a binary but i cant find any link or anything. Maybe i misinterpreted something since my main language isnt eng, otherwise i would love to see a full yaml guide/doc

[2020-09-01 12:33] amarts commented on #290
You can use `kubectl create -f file` to get the operator started.

Something like `kubectl create -f https://github.com/kadalu/kadalu/blob/master/manifests/kadalu-operator-master.yaml` (more options @ https://github.com/kadalu/kadalu/tree/master/manifests)

After this configure your storage with one of the below config, which is defined here:  https://github.com/kadalu/kadalu/tree/master/examples

[2020-09-01 12:34] aravindavk commented on #290
Thanks for reporting the issue.

Kadalu Kubectl plugin is completely optional. Without this tool,

Install the Kadalu Operator using,

[code]

More yaml file available here: https://github.com/kadalu/kadalu/tree/master/manifests

and then Create Storage yaml file as required. Refer example yaml files here. https://github.com/kadalu/kadalu/tree/master/examples

Kadalu Kubectl plugin uses Python. In

[2020-09-01 14:14] YamacorePriv commented on #290
Thanks for the fast replys, got it nearly working, the last question would be if its possible to use a folder instead of device like instead of /dev/sda /otp or /home or anything like that? Else i will just add a Partition for it.

Atm when i use a folder instead of /dev/sda i get Pending on all claims

[2020-09-01 14:17] amarts commented on #290
Yes, check this:

https://github.com/kadalu/kadalu/blob/master/examples/sample-storage.yaml

Instead of `device: /dev/sda` give `path: /opt/export`, we recommend it to be xfs for now, as the quota setting is with xfs.

[2020-09-01 16:39] YamacorePriv commented on #290
all i get when i try to set a simple 2 node replica is a pending pvc:
EDIT some info:
os: k3os running with k3s
gave it /otp after checking if its persistant and ext4 (cant change that on k3os)

`Name:          pv1
Namespace:     default
StorageClass:  kadalu.replica1
Status:        Pending
Volume:
Labels:        <none>
Annotations:   volume.beta.kubernetes.io/storage-provisioner: kadalu
Finalizer

[2020-09-01 16:52] amarts commented on #290
you are using replica1 here. If you are using replica2 (ie, 2 nodes, please give it as `kadalu.replica2`)

[2020-09-01 17:20] YamacorePriv commented on #290
I get the same error, but thanks for the hint did an error there for sure, here is my step by step:
kubectl create -f https://raw.githubusercontent.com/kadalu/kadalu/master/manifests/kadalu-operator-master.yaml
kubectl get pod -n kadalu (check if all is fine)
kubectl create -f https://pastebin.com/raw/dLeYJudv (while /opt is on a ext4 formatted volume from k3os)
kubectl create -f https://pastebin.

[2020-09-02 14:48] volkerCodeschoepfer commented on #271
I was able to track it down: The images from raspbernetes are wrong:

https://github.com/raspbernetes/multi-arch-images/issues/144#issuecomment-685782568

[2020-09-03 13:28] pawel-detka opened #295 "Cannot attach pvc to pod"
I'm trying to connect external GlusterFS cluster to k8s in DigitalOcean.

I have already pvc and binded pvc.

When I create pod, it is stalled in ContainerCreating status
[code]

[code]

Storage configuration:
[code]

Pod configuration

[code]

[code]

[code]

K8S service on DigitalOcean  1.18.8-do.0
Gluster is built on 3 nodes, public domains with VPC IPs
Storage drive `/storage_data/subvol/fb/3f

[2020-09-03 13:38] amarts commented on #295
recent changes to change csi plugins looks like the cause for this. Can you try the version 0.7.0 ? We will check this and get back.

[2020-09-03 13:43] amarts commented on #295
Looks like the issue is with the date we built our 'master' tag :-/ (https://bugzilla.redhat.com/show_bug.cgi?id=1871051). Will trigger another build.

[2020-09-03 13:50] pawel-detka commented on #295
Hi @amarts
I tried with 0.7.0
[code]

Same story.

[2020-09-03 13:50] amarts commented on #289
Not sure, does any other CSI plugins allow that? if yes, kadalu should too.

[2020-09-03 13:52] amarts commented on #271
@d7volker thanks for this. Was not aware of this.

[2020-09-03 14:03] amarts commented on #295
I see that we need to add few more permissions when k8s is 1.19.0, I am trying to see latest behavior @ #296. Expect a fix soon.

[2020-09-03 14:04] amarts commented on #295
which means, my earlier comment may be wrong... need more debugging.

[2020-09-04 01:39] amarts commented on #295
Can you try the latest `devel` tag? I saw the same issue in Travis tests too. Now seems to be fixed with #296

[2020-09-04 05:53] pawel-detka commented on #295
Hi @amarts
after I removed completely kadalu and reinstalled it by
[code]

new storageClass creation failed
[code]

Logs from operator
[code]

Logs from kadalu-csi-provisioner-0 csi-attacher
[code]

[2020-09-04 06:00] amarts commented on #295
Noticed that there was still some changes in my machine after submitting the patch:

[code]
Can you apply this change, and run?

[2020-09-04 06:32] pawel-detka commented on #295
Hi @amarts
It is working on devel branch with your patch
[code]

Should I use this configuration, or it will be released soon ?
Thank you very much!

[2020-09-04 06:49] amarts commented on #295
As you are using external glusterfs, you can use this till we release new version. As namespace, and storageclass name remains same even in release versions, you can upgrade just by kubectl apply in future.

[2020-09-04 06:50] pawel-detka commented on #295
Thanks !

[2020-09-04 07:02] #295 closed, assigned to nobody

[2020-09-04 22:56] schmitch opened #299 "csi provisioner needs rights to volumeattachments/status"
else it might fail to attach pvc's.

[2020-09-04 22:57] #299 closed, assigned to nobody

[2020-09-05 02:16] amarts commented on #299
#295 was similar and got fixed with #297

[2020-09-05 10:01] schmitch commented on #299
ah yeah thanks, I was already asleep while writing this :-( i've seen it already in the template while creating a MR.

[2020-09-07 12:39] #183 closed

[2020-09-09 14:29] couloum opened #300 "Volume size displayed in pod is wrong"
Hi,

We juste deployed kadalu to give it a try. We currently use heketti and are following this project very attentively.

When we deployed kadalu on a test cluster, we observed a strange behavior and we don't know if it's normal or not.

We created a PVC of 2GB. When we mount it on pods, and do a `df -h` on them, we don't see 2GB size for the mounted volume, but 477GB (size of the underlying disk

[2020-09-09 15:24] couloum opened #301 "Gluster command line freeze"
Hi,

I would like to use gluster command line in `server-storage-pool-*` pods to get information about glusterfs status. But every time I enter a command, it freezes. I have to do `ctrl+c` to

[code]

Is there something to do to be able to use gluster command?

Thanks

[2020-09-09 15:53] amarts commented on #300
Interesting. This looks very much like the host volume mount.

Kadalu uses subdir and sets Quota on it (xfs quota at present) and then uses the storage. You used path or Device for the storage pool?

[2020-09-09 15:54] amarts commented on #301
What do you want to do with gluster command? Kadalu operator + CSI are the management layer for glusterfs in this case. There is no gluster CLI, not glusterd running.

If the pod is running on port 24007, then the service is all up and running.

For self-heal monitoring and all that, we will be providing a `kubectl kadalu monitor` command. Happy to hear what are the metrics / status you were think

[2020-09-09 15:56] amarts commented on #300
Surely not!

[2020-09-10 07:34] aravindavk commented on #300
How Kadalu Storage is configured? Using `path` or using `device`. My suspect is XFS Quota is not enabled and directory is provided while creating Kadalu Storage pool. Please confirm.

[2020-09-11 14:45] couloum commented on #300
We used `device`. We created the storage-pool using this command:

[code]

and kadalu was installed using this command:

[code]

Would that confirm your hint?

Thanks

[2020-09-11 14:51] couloum commented on #301
We use the gluster command to check status of all volumes, using a home-developped monitoring script:
1) Are all peer available?
2) Are all bricks online?
3) Are all pid running?
4) Is there any heal events on bricks

We also use the gluster command when we have issues on volume, like after a suddent crash of a node, we sometime need to perform some healing operation manually.

How should we do th

[2020-09-11 15:00] aravindavk commented on #301
Thanks for the inputs.

Clustering is delegated to K8s, no separate Cluster maintained for Kadalu.

Status of Bricks == `kubectl get pods -n kadalu | grep "server-"`   - If all are running then that means all are online.

Same Pod status

Heal commands are yet to be implemented.

Also upcoming release will have a new subcommand `kubectl kadalu storage-list`. You can refer the sample output here ht

[2020-09-11 15:06] aravindavk commented on #300
My suspect was wrong, the steps used were proper. But looks like backend Quota set is failing. Any errors/traces in Server pod logs?

Also what is the Host operating system used?

[2020-09-15 09:42] #98 closed

[2020-09-15 14:58] couloum commented on #300
It seems there is a DNS resolution issue in `server-storage-pool-0-0/shd`:

[code]

I don't see other error log

We use Ubuntu 20.04:

[code]

Here are all the pods running:

[code]

[2020-09-15 14:59] couloum commented on #301
Ok, thanks for the information. I better understand the philosophy.

[2020-09-15 14:59] #301 closed, assigned to nobody

[2020-09-20 17:42] tsufeki opened #302 "Configuring tolerations (espacially for server & nodeplugin)"
It seems there's no way to configure tolerations for kadalu pods, which makes kadalu unusable in scenarios with "special use" tainted nodes:

* having dedicated "storage" nodes (server pods won't start)
* other "special" nodes where pods need to attach kadalu volumes (no nodeplugin pods there)

Also, it may be useful to define tolerations & node affinity for other pods (e.g. csi-provisioner).

Ple

[2020-09-21 08:17] robojones opened #303 "Volumes are created but not mounted"
When I create multiple volume claims in a short timeframe, they are created but not mounted in the containers. I am pretty sure that this is an issue with kadalu. Any help is welcome!

Kadalu is configured as default storage class in my cluster. With small deployments using few volumes this works fine.
Now I am trying to install the [Harbor helmchart](https://github.com/goharbor/harbor-helm) which

[2020-09-21 08:21] amarts commented on #303
Thanks for the report. Can you check the logs of `kadalu-csi-nodeplugin` pods, and see if you find any issues there?

[2020-09-21 08:34] robojones commented on #303
@amarts the kadalu-csi-nodeplugin pods have been running for the past five days. The logs look fine to me but I have uploaded them [here](https://gist.github.com/robojones/2a9b1d4c5bd541abe365ace98adb090d), so you can take a look.

[2020-09-21 08:39] amarts commented on #303
Interesting, the volume Attach is an operation to be handled by nodeplugin, so not all PVC requests came to the nodeplugin (or this particular nodeplugin. Can you check if there are kadalu-nodeplugin running in all nodes which needs the mount? there should be just 1 kadalu csi provisioner , but per node 1 nodeplugins. (if not, then there is an issue), and the mount issue may be from only few nodep

[2020-09-21 08:45] robojones commented on #303
I checked and `kadalu-nodeplugin` is running on all of my nodes. Here is a screenshot of my Rancher dashboard.
![image](https://user-images.githubusercontent.com/21033651/93747768-76fce300-fbf7-11ea-980e-e269410db528.png)

[2020-09-21 09:55] robojones commented on #303
I have toyed around with my [example deployment](https://gist.github.com/robojones/df924fe209f106c1bc26b066db1fa9dc#file-deployment-yaml).

When I mount only specific volumes then some volumes work, while others don't. For example, when I run only one pod with a single container and mount the PVC called "volume-claim-3" the container always hangs because the volume cannot be mounted. When I use "v

[2020-09-21 10:22] amarts commented on #303
@robojones any hints in `kadalu-csi-provisioner` logs ?

[2020-09-21 21:46] volkerCodeschoepfer commented on #271
The bug mentioned in my comment before, is fixed. But a another does exist with the csi-attacher.
I guess it is the same issue, there.

[2020-09-22 08:20] aravindavk commented on #302
Please provide more details about the use case. Why node affinity is required for csi-provisioner other pods.

Server pods do require node affinity since these services are dependent on the disk.

By default, one nodeplugin pod will be present on each node. Please let us know the details about the deployment.

[2020-09-22 08:49] robojones commented on #303
@amarts created the whole cluster from scratch just to make sure this is not caused by any misconfiguration in the cluster. The issue remains.

Here are my [kadalu-csi-provisioner logs](https://gist.github.com/robojones/3416fb53369a534d88b29145b7c3d8e7).

[2020-09-22 08:56] robojones commented on #303
I think the errors in controller.go are interesting. They come up quite a bit in the [cli-provisioner log](https://gist.github.com/robojones/3416fb53369a534d88b29145b7c3d8e7#file-csi-provisioner-L49).

`[controller.go:1443] couldn't create key for object pvc-...: object has no meta: object does not implement the Object interfaces`

[2020-09-22 08:59] amarts commented on #303
Yes, suspect the same! Let me try to figure out why that comes up!

[2020-09-22 09:01] robojones commented on #303
The Kubernetes permission error [here](https://gist.github.com/robojones/3416fb53369a534d88b29145b7c3d8e7#file-csi-attacher-L22) could be important too. Maybe a misconfigured ClusterRole?

`Error saving VolumeAttachment csi-80c66f7c847c949e41e3bffa0bbeefbe3d742a8a8e3d26dabb406ac4d19a41fa as attached: volumeattachments.storage.k8s.io "csi-80c66f7c847c949e41e3bffa0bbeefbe3d742a8a8e3d26dabb406ac4d19a

[2020-09-22 09:02] amarts commented on #303
Which version are you using?  the `devel` tag should fix it, as we fixed the same in one of the latest patch (#299 )

[2020-09-22 09:11] robojones commented on #303
According to `pip freeze` I have version 0.7.0

[2020-09-22 09:18] robojones commented on #303
I installed kadalu into the cluster today using `kubectl kadalu install`.

[2020-09-22 09:22] amarts commented on #303
Can you try

`kubectl create -f https://raw.githubusercontent.com/kadalu/kadalu/devel/manifests/kadalu-operator-devel.yaml`

[2020-09-22 09:34] robojones commented on #303
Sure :smiley:
I ran the following command.
`kubectl -n kadalu apply -f https://raw.githubusercontent.com/kadalu/kadalu/devel/manifests/kadalu-operator-devel.yaml`

The output is:
[code]

I am still seeing the permission error in the `csi-attacher` log. The test deployment still fails.

[2020-09-22 09:37] amarts commented on #303
may be because its not restarting any `csi-`* pods. Please kill all the kadalu `csi-nodeplugin` and `csi-provisioner` pods, and let the new operator start them.

[2020-09-22 09:47] robojones commented on #303
I deleted the pods and Kubernetes scheduled them again. It did not change anything.

[2020-09-22 09:48] robojones commented on #303
Is there a way to completely remove kadalu and then reinstall it using the operator with devel tag?

[2020-09-22 09:55] robojones commented on #303
I am pretty sure that I know why the operator is unable to upgrade the other components. The operator uses `kubectl create` to create the Kubernetes objects. Maybe this should be changed to `kubectl apply` wherever possible so the objects can be updated by a newer operator.

[2020-09-22 09:59] amarts commented on #303
https://github.com/kadalu/kadalu/blob/master/extras/scripts/cleanup

[2020-09-22 10:25] aravindavk commented on #303
Open issue related to Storage pods upgrade https://github.com/kadalu/kadalu/issues/242

[2020-09-22 10:28] robojones commented on #242
We should be able to always use apply without explicitly checking if the version has changed. Kubernetes will only upgrade the objects if the yaml file has changed.

[2020-09-22 10:47] robojones commented on #303
I have removed kadalu with the cleanup script and reinstalled it using the [devel config](https://github.com/kadalu/kadalu/blob/devel/manifests/kadalu-operator-devel.yaml). My pod is now starting and all volumes are attached successfully. Maybe it's time for a new release :tada:

This error still remains but it does not seem to affect my deployment:

[2020-09-22 10:58] amarts commented on #303
@aravindavk what do you think? lets take #305 and make a release?

[2020-09-22 11:09] aravindavk commented on #303
Server pods will not be upgraded automatically if Operator is upgraded. #242 needs to be fixed. Agree on the release part. Good to make a release.

[2020-09-22 11:31] amarts opened #306 "Issue while running latest version on k8s 1.13.7"
[code]

[2020-09-22 12:38] tsufeki commented on #302
@aravindavk

nodeplugin, like all DaemonSets respects node taints: pods won't start on a tainted node unless it has appropriate toleration.

Use case for taints is allowing keeping dedicated nodes for specific workloads (for example requiring GPU or separating CI jobs from other pods,  [see official docs](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/#example-use-cas

[2020-09-22 17:30] amarts commented on #303
Can we close this issue as the new release is made, and that should help in resolving ?

For the other logs, and issues, we can have separate issues to track them.

[2020-09-22 17:31] amarts commented on #302
@tsufeki is it possible to provide some sample options you would like to pass to CSI specs?

[2020-09-22 18:18] tsufeki commented on #302
@amarts Does this help? I'm not sure I understood what you ask for...

[code]

and same thing for server and maybe provisioner. Some other projects just read this whole from env var in operator pod (but I don't know if this would work in kadalu):

[code]

As for affinity (only makes sense on csi-provisioner), maybe something like that:

[code]

[2020-09-22 18:23] amarts commented on #302
Yes it does help!

Mainly, these things should get in to https://github.com/kadalu/kadalu/blob/master/templates/csi.yaml.j2 as an option to be added. Now we need to think what is the best way to configure this, how to pass this information to operator, so we can tell it what to pass to csi config when it starts, should it be based on a simple ENV variable, or should we pick a section in operator c

[2020-09-23 07:01] robojones commented on #303
I successfully started the Harbor helmchart and all volumes are mounted without problems. The issue seems to be fixed in the latest release.

Thanks a lot for the help @amarts :+1:

[2020-09-23 07:01] #303 closed, assigned to nobody

[2020-09-23 08:38] robojones opened #311 "Use fixed versions of third-party docker images"
I have noticed that we are using the `:latest` tag with third-party images. I suggest that going forward we select specific versions of the images. This will make Kadalu more reliable and easier to debug when there are breaking changes in those images.

Here's a list of the images:
- raspbernetes/csi-node-driver-registrar
- raspbernetes/csi-external-provisioner
- raspbernetes/csi-external-attacher

[2020-09-23 13:00] aravindavk commented on #311
Very good points. Thanks @robojones

[2020-09-24 16:05] #214 closed

[2020-09-26 16:11] volkerCodeschoepfer commented on #271
The problem with the csi-attacher is solved:

https://github.com/raspbernetes/multi-arch-images/issues/166

[2020-09-26 16:13] volkerCodeschoepfer commented on #271
One outstanding bug is with csi-node-driver-registrar. I am going to open a bug report for it.
https://github.com/raspbernetes/multi-arch-images/issues/168

[2020-09-27 10:26] #215 closed

[2020-09-28 08:43] jamesorlakin commented on #271
Hi folks, apologies for the images being wrong on the Raspbernetes collection for arm. The CSI build scripts have all been revamped in their recent major releases and they override GOARCH. I've updated our scripts to patch that out, otherwise you get weird behaviour where the arm64 Docker buildx environment creates an amd64 build. There's a schedule to automatically update the images for new relea

[2020-09-28 12:09] amarts commented on #271
@jamesorlakin thanks for the updates!  Thanks @d7volker for following up.

Once we merge #312 we should have the issue fixed, and we can confirm if its working fine :+1:

[2020-09-28 12:35] #311 closed, assigned to nobody

[2020-09-28 12:43] aravindavk commented on #255
Also use the same approach to upload the `kubectl-kadalu` binary.

Example: `KADALU_VERSION=0.7.1 make cli-build` and then copy `./cli/build/kubectl-kadalu` to release page.

[2020-09-28 18:30] volkerCodeschoepfer commented on #271
@amarts: I know, you are waiting for #312 to be merged.
However I tested with the latest images, and I can say they are now working! :)

[2020-09-29 02:37] amarts commented on #271
@FlexibleToast please try when you get a chance! Thanks. Will be closing this for now!

[2020-09-29 02:37] #271 closed

[2020-09-29 04:24] amarts opened #314 "Need for Generic improvements across codebase"
In a project, as the time passes some of the assumptions made at the beginning should be re-looked, analyzed, and kept up-to-date. Without which the project would grow and the tech backlog would remain.

This is an issue to capture all such efforts, so if we have any PRs linked here, you can assume that is a clean up patch :+1:

[2020-09-29 04:45] amarts commented on #236
#255 is similar and tracks the same issue!

[2020-09-29 04:45] #236 closed

[2020-10-11 17:53] unixfox commented on #238
:+1: I wanted to reinstall kadalu for testing purposes but I don't know where to start for the uninstall.

[2020-10-11 17:56] amarts commented on #238
https://github.com/kadalu/kadalu/blob/devel/extras/scripts/cleanup is what we have provided! Will add it to Quick-Start guide! Check and remove what all you need to remove in that script!.

[2020-10-13 10:26] papanito commented on #121
Still valid I guess

[2020-10-13 21:15] ook opened #319 "After node crash: AttachVolume.Attach failed for volume"
Hi,

One of my node crashed, I had to electrically reboot it. K8s did its magic and everything's got well but 2 pods depending on PVC handled by kadalu (here the simplest one), stucks in `ContainerCreating` due to those warnings :

[code]

I searched for ghost mount point on the different hosts, but found nothing.
TBH, I don't know where to look to fix this.
Thank you by advance for any advices.

[2020-10-14 05:39] aravindavk commented on #319
Please provide more info about the setup and logs from server pods. Are Kadalu server pods are up and running after the reboot? (`kubectl get pods -n kadalu`)

[2020-10-14 10:58] ook commented on #319
Sure: I have 4 kadalu nodes (each of them with 1 to 2Tb dedicated to storage), 2 different kadalu-storage (replica1, replica3):

[code]

The kadalu pods are ok:

[code]

(you can see the failing node was the well named `kaboom`, k8s recovered the pod after 3 reboot)

The failing pods are:

[code]

The PVC are:

[code]
Note that the registry-docker pvc is correctly bound and the pod works correctly

[2020-10-14 20:24] slash1387 opened #320 "Volume mount fails in pod (rancher 2.5.1)"
hi all
we have successfully installed kadalu with external glusterfs storage class. pvc's get created perfectly and visible in k8s, but attaching pvc to pod fails. we are using rancher 2.5.1 with custom cluster k8s 1.19.2.

![image](https://user-images.githubusercontent.com/66519368/96041365-ff277e80-0e6b-11eb-92f7-000d21126641.png)
[code]
[code]

[2020-10-14 21:54] #320 closed, assigned to nobody

[2020-10-14 22:15] slash1387 commented on #184
We use external gluster storage and would love the feature of deleting backend data folders after wiping pvc and pv's from k8s. How do we know what subfolder of the gluster volume to delete since we only have one gluster volume in the external scenario?

[2020-10-15 07:56] aravindavk commented on #319
logs from `kadalu-csi-nodeplugin-7qz78` pod will be helpful to see if any errors while mounting Gluster volume.

[2020-10-15 14:20] ook commented on #319
Here we go:

[code]
I'm tempted to search and remove that file.

[2020-10-15 16:09] aravindavk commented on #121
Thanks. I will try to reproduce this issue this week.

[2020-10-15 20:20] evanreichard opened #321 "[Bug] sqlite3 Missing: kubectl kadalu storage-list --status"
When running, `kubectl kadalu storage-list --status`, the following is displayed:

error: Internal error occurred: error executing command in container: failed to exec in container: failed to start exec "48a1357ecc82df899909b529df3add2d01be9e00dfec7dde1fa37e8834ecface": OCI runtime exec failed: exec failed: container_linux.go:370: starting container process caused: exec: "sqlite3": executable file

[2020-10-16 09:38] ook commented on #319
Forget my last message: it was an old error. Here the "current" problem logs:

[code]
I don't know what I can do about it.

[2020-10-16 17:39] amarts commented on #319
Looks like this is an issue with glusterfs! Will see how quickly we can resolve this. Thanks for reporting!

[2020-10-16 17:42] aravindavk commented on #321
Thanks for reporting the issue. Looks like the base image is not rebuilt.

[2020-10-17 08:44] unixfox commented on #55
Bump, still interested.

[2020-10-17 11:19] aravindavk commented on #8
still needed.

[2020-10-22 17:28] narphu opened #324 "Unable to startup CSI provisioners"
I am a beginner and using flannel CNI deployed with kubespray as the k8s base. I was trying to deploy the kadalu operaor but this the logs I see in the operator:
+ pid=0
+ cmd=/usr/bin/python3
+ script=/kadalu/main.py
+ trap 'kill ${!}; term_handler' SIGTERM
+ pid=6
+ true
+ wait 7
+ /usr/bin/python3 /kadalu/main.py
+ tail -f /dev/null
[2020-10-22 17:09:11,207] WARNING [connectionpool - 750:urlope

[2020-10-22 17:49] narphu commented on #324
As a follow up, I observed the following in the kube-controller-manager pods:
` 1 resource_quota_controller.go:437] failed to sync resource monitors: [couldn't start monitor for resource "kadalu-operator.storage/v1alpha1, Resource=kadalustorages": unable to monitor quota for resource "kadalu-operator.storage/v1alpha1, Resource=kadalustorages", couldn't start monitor for resource "extensions/v1beta

[2020-10-23 11:06] chernetskyi commented on #324
Same on AWS EKS (AWS VPC CNI plugin) with self-managed nodes.

Upd: tried to fix the issue as mentioned in #165 - no luck.

[2020-10-23 13:17] aravindavk commented on #324
Identified an issue with latest version of Python kubernetes Client. Still looking at identifying the root cause of the failure.

CI is passing with the downgraded version of python client. https://github.com/kadalu/kadalu/pull/325

To confirm the issue,

* Login to operator pod, Example: `kubectl exec -it operator-76b85b86b6-cn2tx -n kadalu -- /bin/bash`
* Run `pip3 install -Iv kubernetes==11.0.0

[2020-10-23 13:35] chernetskyi commented on #324
Cannot create storage pool with `kubectl kadalu storage-add` after downgrading Python kubernetes in the Operator Pod.

[code]

[2020-10-25 15:10] aravindavk commented on #118
Still valid

[2020-10-26 02:54] xinghui-hou commented on #287
### same question
1. use kadalu.replica3
![image](https://user-images.githubusercontent.com/10824788/97129812-c98f6900-177a-11eb-9f12-e16983b4989a.png)

2. Some index red
red    open ilm-history-1-000002            ZTBP-AOGS42iv_RcG30m9Q 1 1

3.maybe is a glusterfs bug
https://github.com/gluster/glusterfs/issues/631

[2020-10-27 10:08] hetii opened #326 "DELETED handle called, but not implemented when KadaluStorage is deleted."
Hello.
I back to this project after few months, to give it chance again, but again it seams it's not easy to use it as I expect :(
This time I deploy operator from file https://raw.githubusercontent.com/kadalu/kadalu/0.7.1/manifests/kadalu-operator-rke.yaml as I don't like to play with additional kubectl plugins and imho there are plenty scenarios (CI/CD) when this should be the optional, but the

[2020-10-27 10:45] ook commented on #319
Is there a way I could "unstuck" those mount manually, or contribute to the glusterfs fix?

[2020-10-27 12:55] amarts commented on #326
Hi @hetii! Welcome back.

Sorry about your experience. Looks like we should make sure our documentation covers details of using yamls directly with `kubectl` command itself, instead of `kubectl kadalu` too. Will fix that soon.

Yes, valid point. We run the things for our tests to accept the PR, but providing them in a DIR is a good idea. Will work on that.

[2020-10-27 13:24] amarts commented on #324
@aravindavk fixed the issue through #325, which is merged now. Did the issue get resolved with it?

[2020-10-27 13:28] amarts commented on #319
@ook sorry, was not aware you were stuck with stale mounts. Currently, if it is a glusterfs issue of frame loss (as it looks to be), the only solution is to get the mount process killed. ie, stop the application pod and let it restart on another pod.

If this is a glusterfs server side issue, then you just need to kill storage pool pods, and let it get restarted by operator.

[2020-10-27 17:47] ook commented on #319
No problem.

Sadly, your hints didn't work.
What I tried:
* delete the pod
* scale down to 0 then restore the replicas count
Then
* delete the pool pods: they get stuck in a endless restart of the pod (error say it can't create the storage on the gluster node, I guess it's a bug or a consequence of the current one)
* reboot the node handling the pool pod
* delete again the pod linked to the applic

[2020-10-28 09:04] chernetskyi commented on #324
Yes, it is now resolved.

[2020-10-28 09:29] #324 closed, assigned to nobody

[2020-10-28 09:30] amarts commented on #321
@evanreichard #323 should have fixed the issue... along with #325

Is the issue fixed for you?

[2020-10-28 14:20] aravindavk commented on #164
This is now available in the latest version.

[2020-10-28 14:20] #164 closed

[2020-10-29 15:42] couloum commented on #300
Hi,

We have upgraded Kadalu to v0.7.1 but still have the bug. Do you have any idea where it can come from? Do you want me to run some debugging commands on servers?

Thanks

[2020-10-30 09:19] amarts commented on #319
Noticed that the mount actually happens in csi-nodeplugin, and not in app pod. See if killing them help? (it gets restarted anyways).

[2020-10-30 11:47] ook commented on #319
So I delete the `csi-nodeplugin` pod residing on the same node than the po which can't mount, then the pod, same issue, sadly.
I considering creating another instance of the faulty deploy then transfer manually data. Which way would you recommand to fetch data on those volumes?
Thank you.

[2020-11-01 05:38] #9 closed

[2020-11-01 10:41] gabrielruiu opened #328 "Support for armv7"
The kadalu docker images currently have support for arm64, which is great, but it would be cool to also add support for armv7. I am currently trying to deploy a kubernetes cluster where some of the nodes are odroids (HC1 and HC2) which are running on a armv7 processor. Right now it's a blocker in my case.

[2020-11-01 13:54] amarts commented on #328
@gabrielruiu is it possible to build on your architecture with just docker build with kadalu source code. I am facing some issues with arm/v7 tag (#329)... if it works locally, then we can consider automating later!.

[2020-11-01 14:43] #74 closed

[2020-11-01 17:50] ook commented on #319
Another point: so I spawn another project, so asking for another PV. The PV got created but the pod can't mount the new PV. (I notice the mounting pod is the same than the previous instance). I cordoned the node and retry: same result.
Checking the pool logs, it's full of `disabling non-blocking IO` warning, when I filtered it out all I see is that:
[code]

[2020-11-02 13:06] galp opened #330 "replica3 recovery after 1 device unavailable"
Hello,
I have been running happily kadalu on a small arm64 cluster and I like the project very much.

However now I have an issue which I think should be documented a bit better

I have a replica3 storage pool on my cluster. One of the 3 nodes part of the pool is gone and the storage device on it will move to a new node.

First of all it seems that my  pods cannot work with two out of three replic

[2020-11-02 14:53] amarts commented on #330
Good to hear that kadalu is working for you on arm64.

About replica3, it should technically work when only 2 nodes are available. Is there any hint in `csi-provisioner` &  `csi-nodeplugin` logs? (`-nkadalu`)

We will get back to you on the right way to edit the config (to make changes to volume).

[2020-11-03 08:28] galp commented on #330
Ok good. I think It might be beyond saving by now but it would be great to know how to recover in such cases.

[2020-11-03 09:53] al45tair commented on #300
Have you got XFS project quotas turned on for the underlying storage volume? There's a mount option you need to use to enable it; see [xfs(5)](https://www.man7.org/linux/man-pages/man5/xfs.5.html).

[2020-11-03 11:05] aravindavk commented on #300
When raw device is provided while adding Kadalu Storage, then xfs quota will be set by Kadalu server pod itself.

https://github.com/kadalu/kadalu/blob/devel/server/glusterfsd.py#L117

[2020-11-03 11:18] al45tair commented on #300
@aravindavk That's true, but if this is an external Gluster, that won't be the case.

[2020-11-04 09:52] couloum commented on #300
Yes, quota seems to be enabled as you can see:
[code]

[code]

[2020-11-09 13:22] JSN-1 opened #332 "trouble getting external GlusterFS working with KaDalu"
I am having trouble getting external GlusterFS working with KaDalu.

here is my gluster volume info.

[code]

Both kubernetes and gluster is on the same local network and all hostnames have been added to /etc/hosts

i use latest https://raw.githubusercontent.com/kadalu/kadalu/devel/manifests/kadalu-operator-devel.yaml

Here is how i add KadaluStorage

[code]

i create my pvc like this.

[code]

st

[2020-11-09 13:30] JSN-1 commented on #332
i have also tried to use external DNS address for gluster001 and it gives the same error "External Storage provided not valid"

`kubectl kadalu storage-add gfs --type External --external gluster001.external.fqdn:/vol001`

also tried to use --external internal_ip:/vol001 & --external external_ip:/vol001.

[2020-11-09 14:13] amarts commented on #332
at this point, this looks like the csi-provisioner is not able to mount the volume..  Are these the only logs available in csi-provisioner? Can you dump the logs of csi-provisioner from all containers ? would like to see kadalu container's logs.

[2020-11-09 18:04] JSN-1 commented on #332
i located the error, and it was indeed DNS, i have used hostnames gluster001, 002, 003 while creating glusterfs.

when i stopped / deleted glusterfs and created it again using internal ips it worked.

thanks for your help and sorry for stealing your time.

[2020-11-09 18:04] #332 closed, assigned to nobody

[2020-11-10 22:50] galp opened #336 "disk quota exceeded"
Hello,

Running 0.7.2alpha1 arm,
kubernetes version  1.19.3

I created some new  storage :
[code]

Not long after I started using it I get those in the logs of glusterfsd

[code]
[code]
Any idea what this is?

Thanks

[2020-11-11 04:16] amarts commented on #336
The above log says, it reached posix layer in glusterfs (the last entry), and it failed there to create the file with QUOTA exceeded error, which means, the backend filesystem itself is giving this error. Can you check device ` /dev/disk/by-id/scsi-SSamsung_SSD_860_QVO_1TB_641000107102` on `node2` and see what its config are?

[2020-11-11 04:24] aravindavk commented on #158
This feature is available as part of PR https://github.com/kadalu/kadalu/pull/278

[2020-11-11 04:24] #158 closed

[2020-11-11 04:35] aravindavk commented on #250
good to have and easy to implement(only `Dockerfile` changes)

[2020-11-11 15:13] galp commented on #336
Hello, I understand that is a quota error on the filesystem but there shouldnt be any quota settings.  It is a brand new ssd all setup by kadalu as shown in my original post. Noo idea what config you are referring to. Can you advice what to check on node2?

thank you.

[2020-11-11 15:45] amarts commented on #336
@aravindavk do you think quota setting would be screwed up due to endian issues in `arm`? Any specific xfs quota commands to be checked?

@galp Can you try :
`xfs_quota -x -c 'report -h' /mount-point/` (and pv directory on disk) on node2 ?

[2020-11-11 16:47] aravindavk commented on #336
Will confirm tomorrow. I got the Raspberry pi device now for testing.

[2020-11-11 18:35] galp commented on #336
@amarts

the above command inside glusterfsd container
[code]

[2020-11-12 02:04] amarts commented on #336
@galp the output looks valid. And what I understand now, the behavior in this case also is valid, because PV was created with 700MB space, and it is getting EDQUOT after 700MB is utilized.

Please create a PV with higher size and start consuming it.

[2020-11-12 08:53] galp commented on #336
That was own mistake. It should have been 700G not M,

sorry about that.
As for resizing, I will just wipe the disk and start from scratch now. Thanks again.

[2020-11-12 08:53] #336 closed, assigned to nobody

[2020-11-13 08:14] amarts opened #340 "Provide details of 'headless' service choice and improve behavior by few changes"
In the cloud eco-system, there is a fee for transferring data between availability zones. I want CSI node plugin pods to prioritize Storage Pool nodes within the same availability zone to minimize costs. It is possible with the [Service Topology](https://kubernetes.io/docs/concepts/services-networking/service-topology/) feature gate.

The Service Topology may create the imbalance problem, so it is

[2020-11-13 08:36] amarts commented on #340
[code]

One of the suggestion is, it may not work with 'headless' logic (ie, `ClusterIP: None`). More to be done on this.

[2020-11-13 15:24] galp opened #341 "stat.db cleanup xfs quotas"
xfs quotas do not get cleared after a pvc is deleted.  This becomes obvious when  try to make a new one and there might not be enough space to do so.
@amarts thinks it due to the info file not being cleaned as it should

My workaround :
xfs_quota -x -c 'report -h' /bricks/ssd-storage/data/       # here i have the stale quota ids
xfs_quota -x -c "off -up" /bricks/ssd-storage/data/          # disabl

[2020-11-13 16:13] amarts commented on #341
this shouldn't happen IMO.

Tried multiple deletes, and the info and quota setting is not causing the issue... https://github.com/kadalu/kadalu/pull/342

Need to debug why this is happening for you. Noticed that even if quota is set, it can make use of 'thin' provisioning, so if there is enough 'space', it should continue to allow writes.

[2020-11-13 17:46] chernetskyi commented on #340
To explain the reason why developers used Headless Service for the volume service

Therefore the Headless Service is chosen because the [server](https://github.com/kadalu/kadalu/blob/devel/templates/server.yaml.j2) is a StatefulSet.

Possible ways to implement the enhancement:

1. Wait for the ServiceTopology support of Headless Services.
2. Change the server's kind to Deployment and resolve the r

[2020-11-15 16:18] unixfox commented on #159
bump

[2020-11-18 07:13] #250 closed

[2020-11-18 07:26] vatsa287 commented on #250
Used /usr/bin and not /usr/local/bin for kubectl-kadalu.

[2020-11-19 04:17] amarts opened #344 "buildx actions failing for arm64 after making glustercli dependency in base image."
Few things we can try to fix:

* move this dependency only to kadalu-server Docker image.
* try to build it on an arm machine and see what is the error, and fix it in .github/workflow scripts.

[2020-11-20 09:37] #344 closed, assigned to nobody

[2020-11-22 05:39] #243 closed

[2020-11-24 04:21] amarts commented on #321
please use 0.7.2 version and above.

[2020-11-24 04:21] #321 closed, assigned to nobody

[2020-11-24 04:22] amarts commented on #276
Looks like with 0.7.2 and beyond ARM64 is working out fine. Please reopen if issue is still seen.

[2020-11-24 04:22] #276 closed

[2020-11-24 04:24] amarts commented on #266
Can you upgrade to version 0.7.2? Looks like one of the issue in glusterfs caused this. Now the base image is upgraded to glusterfs7.8, which should have the fix.

[2020-11-24 10:24] amarts commented on #238
Added link to cleanup script in README (in #349)

[2020-11-24 10:24] #238 closed

[2020-11-26 03:41] #249 closed

[2020-11-26 08:24] #252 closed

[2020-11-28 14:49] floek opened #351 "error: a container name must be specified"
Hi all,

I've installed a fresh minikube on macOS with VirtualBox and deployed kadalu 0.7.2 on it. Then I created a simple storage on a file, as described in your minikube doc. One storage pod is not starting with the following error:
error: a container name must be specified for pod server-storage-pool-1-0-0, choose one of: [glusterfsd quotad]

Here are my steps:
[code]

Any ideas?

Thanks,

Floe

[2020-11-28 16:01] aravindavk commented on #351
Server pod contains multiple containers, Specify container name while running log command. For example,

[code]

or

[code]

[2020-11-28 16:20] floek commented on #351
Sure:
[code]

[2020-11-30 21:34] #237 closed

[2020-11-30 21:34] #251 closed

[2020-11-30 22:37] schmitch opened #352 "upgrade guide"
since kadalu is a storage platform it should have a upgrade guide, especially to not loose data.
even if it is just `kubectl kadalu upgrade` or upgrading deployment versions.
I mean what nobody wants is loosing data ;-)

Especially with changes that might be disruptive like: #305 i.e. an existing cluster might not upgrade the same the newer clusters.

[2020-12-01 04:39] amarts commented on #352
#242 #213 and #106 were opened with similar points.

[2020-12-05 11:03] floek opened #353 "Question: Howto create a backup of the kadalu data?"
Hi kadalu team,

what is the best practice to create a backup of the kadalu data?
Write a script to tar the data in kubernetes?
Mount the glusterfs outside kubernetes?

I've found nothing relevant in the repo/docu.

Thank you for your help.

Floek

[2020-12-06 05:42] #211 closed

[2020-12-06 08:00] vatsa287 commented on #351
@floek If you are trying kadalu for first time with minikube, could you try /extras/scripts/kadalu-sample-setup and send any feedbacks?
Sample args:  `$ sudo ./extras/scripts/kadalu-sample-setup --device-file-path=/mnt/disk1 --storage-value=150Mi` given that there is device file called disk1 in /mnt.

[2020-12-06 10:48] floek commented on #351
Just to be sure, I should do the following (from scratch):
[code]

Why so I need to run the script with sudo on macOS? This doesn't make that much sense for me.

[2020-12-06 13:36] vatsa287 commented on #351
Coming from a Ubuntu on VM user....
Alternatively I have tried by creating storage-device file in the OS itself and not ssh into minikube.
 `$ sudo truncate -s 4g /mnt/disk1`

This script copies examples/yaml files to /tmp directory and deploys the configured files. Since /tmp is one of those directories which require special permissions [Sticky Bit] to make changes inside. It might throw an error

[2020-12-07 05:37] #326 closed, assigned to nobody

[2020-12-07 05:40] amarts commented on #353
Right now, we don't have 'snapshot' support, so your volume may be live when you are backing up (unless you have a mechanism to stop I/O from application externally). If that is done, any of the method (ie, tar and copy out, or mount and do a `cp`) would work.

Would be great if you let us know what is your thoughts, and contribute a blog :-)

[2020-12-07 16:28] papanito commented on #265
Has this been fixed?

[2020-12-08 06:58] floek commented on #351
I debugged a little bit. The problem is the mount option 'prjquota' in https://github.com/kadalu/kadalu/blob/edb1312bd3ab815350a36c98cea3afe859431245/server/glusterfsd.py#L117

When I change into the containers context and execute the mount on the command line, I get the same error. Without the mount option, I works:

[code]

This seems to be a problem with the linux kernel in my minikube/virtualb

[2020-12-08 07:04] amarts commented on #351
Got it... we run minikube on VM with `--vm-driver=none` option, so it works as `-oprjquota` is present in host VM.

Thanks for getting to the root of it.

[2020-12-08 11:07] floek commented on #353
Okay, I think I'll try to mount the Gluster on one of the hosts. I'll keep you informed.

[2020-12-08 11:12] floek opened #357 ""kubectl kadalu storage-list --status" throws kubectl exec deprecation error"
Hi,
when I exec `kubectl kadalu storage-list --status`I'm getting the following error for every storage, which has no PV yet:

[code]

Storages with Pas deployed are working as expected.

Floek

[2020-12-08 13:35] amarts commented on #265
#254 fixes this issue. Please upgrade to 0.7.x version!

[2020-12-08 14:23] papanito commented on #265
Cool thanks @amarts I will have a look. So I guess you can close the issue then

[2020-12-09 06:33] vatsa287 opened #358 "error when deleting "kadalu-storage1.yaml": kadalustorages.kadalu-operator.storage "storage-pool-1" not found"
Steps to replicate:

Trying to delete storage-pool when pv_count != 0
[code]
[code]
But operator logs shows that storage-pool is not being deleted since pv_count != 0
[code]
And storage-pool is still running
[code]

Deleting storage-pool when pv_count == 0

[code]
[code]
Deleting the storage-pool by re-applying
[code]
Now it is getting deleted
[code]

So I have to re-apply the storage-config file

[2020-12-09 06:54] floek opened #359 "Uncaught exception on kubectl kadalu storage-list --status"
Hi,

I get an uncaught exception on running `kubectl kadalu storage-list --status` now:

[code]

What I did:
  * created storage
  * created PVCs
  * deleted PVCs and PVs
  * run `kubectl kadalu storage-list --status`

[2020-12-13 06:35] amarts opened #361 "RFE: add 'heal info' command to kubectl kadalu"
With the[ recent patch](https://github.com/gluster/glusterfs/commit/dac553ce97bac23477109180b3c57280aa688d0d) to `glfsheal` command of glusterfs, one can use it without management layer, and we can now consume this with the volfile inside the operator. That way, one of the major confusions, and ask of users related to gluster cli for checking heal status would go away.

Will add more info in comme

[2020-12-14 03:54] FlexibleToast commented on #283
I just realized I never got back with this. I just tested Kadalu again today. This is using 4x Raspberry Pi 4s, Ubuntu 20.04, k3s 1.19.4 with their embedded etcd. Everything installs correctly. However, things tend get hung which results in this issue. This happens in two places. When I try to add a storage pool initially nothing happened. If I delete the operator pod when it gets recreated then t

[2020-12-14 04:04] FlexibleToast opened #362 "RFE: Add devices by uuid"
Currently kadalu accepts a device by path or a mountpoint. If someone wants to have Kadalu use a device by its uuid, they first have to create an /etc/fstab mount using the uuid and pass that mount to Kadalu. It would be nice to have Kadalu be able to directly accept and handle the uuid when creating a storage pool.

[2020-12-14 15:32] zzzhangqi opened #364 "Failure to create PVC"
System environment：centos arm64，k8s-1.18
**First question:**
[code]
master-01 is an existing node

pods:
[code]
[code]

**Second question:**
[code]

[2020-12-15 03:38] amarts commented on #364
Possible to have 2 reasons:

I see that you mentioned CentOS7, in which case, we expect a xfs version mismatch with our image, so please do mkfs.xfs on the device before hand itself.

On the root path too, we expect `-oprjquota` and extended attribute support. Please check logs of 'server-rainbond-storage-pool' and also check the logs of `kadalu-csi-provisioner-0`. That should have more informatio

[2020-12-15 03:46] amarts commented on #357
Looks like this is fixed with #321, as there is only one 'exec' command in there. Will have a look soon.

[2020-12-15 09:28] zzzhangqi commented on #364
The first problem is that reinstallation is already possible to create PVC.

The second problem is still the error described above.
`kadalu-csi-provisioner-0` no error log

BUG：
`operator-rke-v0.7.2.yml`  The RKE environment is similar to this bug #239

The `/opt/rke/var/lib/kubelet/pods` in the YML file is incorrect.

[2020-12-16 05:36] vatsa287 opened #366 "RFE: Remove storage_list dependency from kadalu operator"
Current implementation of **handle_deleted()** makes use of **Storage** and **StorageUnit** classes of **storage_list.py**.
This makes use of avoidable traversal of all available storages in **Storage** and **StorageUnit**.

The implementation can be changed to get **_volname_** from **_obj_** and rest all the related information directly from __kadalu configmap__ saving initialization and retriev

[2020-12-16 05:43] #366 closed, assigned to nobody

[2020-12-16 17:00] amarts opened #367 "Issue with External volume type"
Looks like `kubectl apply ` always calls handle_modified() instead of handle_created() even when the volume is not present.

Needs to be validated. In which case, we should get details from configmap, and then fix it if needs action!

[code]

[2020-12-16 17:17] amarts opened #368 "possible glitches with external storage validation"
Logs in travis tests.

[code]

[2020-12-16 17:33] vatsa287 commented on #367
Tested on Replica1 not External:
[code]
[code]

[2020-12-16 18:32] #368 closed, assigned to nobody

[2020-12-16 22:03] FlexibleToast commented on #290
I'm using k3s on Raspberry Pis and Ubuntu Server 20.04. I found that my provisioner container sometimes hangs. After first deployment it hangs and if I give it something that will fail (like the replica1 error you had earlier) it will hang. If I delete the provisioner pod it gets recreated and starts working again. Not ideal, but it got things moving.

[2020-12-17 16:17] FlexibleToast commented on #359
I can recreate using these steps as well as if a pvc is stuck in pending status. For example if you create a PVC too large to be assigned to the PVC gets stuck pending and `kubectl kadalu storage-list --status` shows the same error
[code]

[2020-12-18 01:31] #159 closed

[2020-12-18 04:04] amarts commented on #367
Looks to be not an issue... Seems to be false alarm... all tests are passing now!

[2020-12-18 06:14] amarts opened #374 "Travis tests not running after credits are expired..."
Looks like we need to buy extra, or plan to use github actions for some of this.

[2020-12-19 12:04] floek opened #376 "Python exception "KeyError: 'bricks'" with external GlusterFS on 0.7.3"
Hi,

when I configure an external GlusterFS I get the following Python exception:

[code]

[2020-12-19 12:05] floek opened #377 "Upgrade guide / documentation"
Hi,

how do I upgrade my kadalu pods to the new 0.7.3 version? I found no documentation.
In the meantime, I reinstalled.

Thanks,
Floek

[2020-12-21 09:36] floek commented on #353
My current strategy is to create the Gluster filesystem myself on the worker nodes and use it as an external storage in kadalu. Therefore, I can mount the filesystem outside kubernetes and create a backup.

[2020-12-21 09:36] #353 closed, assigned to nobody

[2020-12-22 07:02] amarts opened #378 "`grpcio` build taking very long time on arm64..."
looking at the issues and stackoverflow, most of them suggest to upgrade pip...

This issue is causing a huge issue in our github actions timing out after 6hrs, and not able to push the images to docker hub.

[2020-12-22 10:20] #186 closed

[2020-12-22 10:31] amarts opened #380 "Found issues while mounting external storage"
This was when I was trying to mount an external storage!
[code]

[2020-12-22 13:14] aravindavk commented on #380
Breaking change in K8s 1.20

https://kubernetes-csi.github.io/docs/kubernetes-changelog.html

[2020-12-22 14:00] robertzsiak commented on #380
after upgraded the kubernetes to 1.20 :( :
`MountVolume.SetUp failed for volume "pvc-ba8d13fb-ab72-4245-bdb8-f28b3d1a23bb" : rpc error: code = Unknown desc = Exception calling application: [32]  mount: /var/lib/kubelet/pods/71f39654-12d0-416c-8de7-83536a84a8d0/volumes/kubernetes.io~csi/pvc-ba8d13fb-ab72-4245-bdb8-f28b3d1a23bb/mount: mount point does not exist.`

[2020-12-22 14:14] amarts commented on #380
Yes, its the same issue! fix is on the way...

[2020-12-22 14:40] #380 closed, assigned to nobody

[2020-12-22 17:07] #359 closed, assigned to nobody

[2020-12-22 17:08] #376 closed, assigned to nobody

[2020-12-22 17:31] amarts commented on #380
Confirmed that the fix works by running the image after building it locally!

Those who are waiting for the fix, please run `KADALU_VERSION=devel KADALU_USER=kadalu make release` after cloning the repo to get unstuck... our auto push from github actions is not working at the moment, and it may take few more hours before getting fixed.

[2020-12-22 18:14] amarts commented on #378
By moving to ubuntu focal this took 6mins, from that of 120+ minutes earlier... Should be fixed by #293

[2020-12-22 19:03] amarts opened #388 "Warning seen while running operator"
[code]

[2020-12-23 07:54] amarts opened #390 "Reduce container size (best practice)"
Looking at https://cloud.google.com/solutions/best-practices-for-building-containers, there is a scope for a separate release specific  image for us (with all the steps in one instead of multiple).

Keeping this issue open to try out the image size reduction!

[2020-12-23 09:03] floek opened #391 "operator exception: "Connection refused""
Hi,

it's me again ;-). I reinstalled kadalu 0.7.4 and now I get an "Connection refused" exception from the operator. Also no other pods where created. Here is the exception:

[code]

Looks like, the operator can't talk to the k8s-api.
I've had no other changes in my setup.

Greetings,

floek

[2020-12-23 09:07] floek opened #392 "Why are the kadalu containers used not tagged with a version?"
Hi,

I found the kadalu containers have no version tag:
[code]

How can I control the container versions that way?

Cheers,
floek

[2020-12-23 09:12] floek commented on #391
An update: I manually changed the operators container version to docker.io/kadalu/kadalu-operator:v0.7.2 and now the node plugin containers get created. So it seems to be a problem with the updated containers.

[2020-12-23 09:16] floek opened #393 "Python exception "TypeError: unhashable type: 'list'" with external GlusterFS on 0.7.4"
Hi,

after fixing #376 I now get another Python exception when executing kubectl kadalu storage-list:
[code]

Cheers,

floek

[2020-12-23 09:32] amarts commented on #393
@vatsa287 fyi... see if you can add it as a test in tests/minikube.sh That way, we can make sure the changes are immediately confirmed to be working!

[2020-12-23 09:35] amarts commented on #391
Intermediate version change was the reason indeed... you have 0.7.4 tag now available.

What we are building is `devel` tag updated for every PR push, and release tags are updated upon release along with latest tag.

[2020-12-23 09:39] amarts commented on #391
For the record - this 'Connection refused is specific to 'kubernetes==12.+' version used, when we use `kuberenetes==11.0.0` it is fine (this is the python pypi package).

[2020-12-23 10:04] vatsa287 commented on #393
sure I'll add it

[2020-12-23 18:27] amarts opened #398 "Helm Chart feedbacks to improve further!"
Honest feedback from well-wisher / user @joejulian

[2020-12-23 18:28] amarts commented on #398
Plan is, in next 2 months we will properly 'define' the CRD with documents, so the values can be properly passed in helm chart, which also can be further optimized with kudo charts.

[2020-12-24 06:35] floek commented on #391
This error is gone now. Thank you.

[2020-12-24 06:35] #391 closed, assigned to nobody

[2020-12-24 06:51] amarts commented on #392
Please note that latest releases are doing it right! It was an issue with actions scripts.

[2020-12-24 06:51] #392 closed, assigned to nobody

[2020-12-24 06:52] #367 closed, assigned to vatsa287

[2020-12-24 06:54] amarts commented on #330
Ok, we now (version 0.7.5) have support for `handle_modified()` (ie, an option to change the storage config). Please test the behavior, and let us know if that is good enough.

Will close the issue for now, re-open if there are concerns.

[2020-12-24 06:54] #330 closed, assigned to nobody

[2020-12-24 06:56] amarts commented on #351
Thanks to @floek for opening the issue in minikube, motivated me to send the first PR to minikube, which is now accepted and merged.

Next version of `minikube` will have this support, and kadalu should be natively supported on it from then onwards!

[2020-12-24 06:56] #351 closed, assigned to nobody

[2020-12-24 06:57] amarts commented on #306
Took out the tests on 1.13.x, most users of kadalu are using 1.16 or above right now. If there are concerns we will look into.

[2020-12-24 06:57] #306 closed, assigned to nobody

[2020-12-24 07:03] floek opened #399 "kadalu-nodeplugin: Exception calling application: [Errno 2] No such file or directory: '/kadalu/templates/External.client.vol.j2'"
Hi,

with 0.7.5 I now get new exceptions. Here is one from the kadalu-nodeplugin container (using an external Gluster Storage):

[code]

Cheers,

floek

[2020-12-24 07:04] amarts commented on #290
Wrote the documentation here to use kadalu without python support..

* https://kadalu.io/docs/k8s-storage/devel/quick-start-yaml
* https://github.com/kadalu/kadalu/blob/devel/doc/quick-start-yaml.md (this is the source)

Also with latest release (0.7.5 (or latest `arm` tag)), kubectl kadalu (the python part of it) is usable with operator's image itself... (#250 )

With that information will close

[2020-12-24 07:04] #290 closed, assigned to nobody

[2020-12-24 07:05] #265 closed

[2020-12-24 07:05] floek opened #400 "kadalu-nodeplugin: Exception calling application: [Errno 2] No such file or directory: '/var/lib/gluster/ext-pool.info'"
Hi,

here is another exception I got with 0.7.5. Also from the kadalu-nodeplugin container (using an external Gluster Storage) and maybe related to #399. This one appeared only once.

[code]

Cheers,

floek

[2020-12-24 07:06] amarts commented on #121
This was the same issue with kubelet changed in 1.20 k8s version... Now we perform makedirs(), previously the corresponding directories were tried to be created from kubelet itself, which errored out. Now its on CSI plugins, in which case its solved in 0.7.5 version.

[2020-12-24 07:06] #121 closed

[2020-12-24 07:12] amarts commented on #399
this is interesting, because External clients should use mount from glusterd (and not from template). Will check this. It should never get to `generate_client_volfile` instead should be doing `mount_glusterfs_with_host`.

Is the storage config valid?

[2020-12-24 07:21] floek commented on #399
Sorry for opening two new issues, after closing two ;-).

I think the storage config is valid, kadalu data is created on the volume (info, stat.db, subvol) and I haven't changed the config in my ansible playbook.

Tell me, if I could help debugging.

[2020-12-24 07:24] floek commented on #399
Oh, I just saw the kadalu executable is still 0.7.4. I will upgrade and try again.

[2020-12-24 07:37] floek commented on #377
I still wonder how to upgrade properly (#399). I'm at a testing environment now and do:
- delete all Kadalu pvs
- delete all ressources (including kadalustorage objects) in the kadalu namespace
- delete all Kadalu storageclasses
- delete the kadalu executable
- delete all data on the external Gluster volume
- run my ansible playbook and redeploy kadalu

But I think this is not the way to do it in

[2020-12-24 07:38] floek commented on #399
Okay, now I'm on 0.7.5 same exception.

[2020-12-24 07:39] floek commented on #393
This still exists in 0.7.5:
[code]

[2020-12-24 09:05] #393 closed, assigned to nobody

[2020-12-24 09:35] sputnik13 commented on #328
@amarts I was able to do `make release` natively on an arm32v7 (odroid-hc1 + armbian buster), however there were missing dependencies in the Dockerfile (addressed in #402)

also there's a known issue with using ubuntu:20.04 on arm32v7 (https://github.com/moby/moby/issues/40734) which may impact ability to build depending on whether the build agent is hosted on ubuntu/focal + docker.io or debian/bu

[2020-12-24 10:12] amarts commented on #390
For people following this issue, from 0.7.2 -> 0.7.5 release, we reduced the image sizes from (~600MB -> ~85MB)..  There is still a lot of scope for improvement, will keep them open for contributions

[2020-12-24 23:40] beat commented on #260
The issue is not solved. Since it didn't work out, I decided to decomplexify the production environment and to move the glusterfs management to native and outside Kubernetes's control for now.

[2021-01-05 01:41] hsinhoyeh opened #406 "doc: incorrect quick-start with yaml file"
Hi guys,

Thanks for creating this awesome project, we follow [the doc](https://github.com/kadalu/kadalu/blob/devel/doc/quick-start-yaml.md) to get started quickly, and found there are some out-of-date information.

by following commit id c181713f8a309e92425d5ddd5bea97db8ca333d5, the following should be updated (https://github.com/kadalu/kadalu/blob/devel/doc/quick-start-yaml.md#prepare-and-start-

[2021-01-05 03:54] #406 closed, assigned to nobody

[2021-01-08 09:31] monaminor opened #410 "storage pool in terminating state"
even after deleting storage pool, the pool not get deleted rather its in terminating state.

after kadalu operator is started i wanted to run storage, brick are successfully created on the node but as i want to delete the storage pool , its not deleting, rater it is in terminating state.
------------------------------------------------------------
here is my storage-config.yaml
-------------------

[2021-01-14 09:13] yacinelazaar commented on #260
Im also experiencing the same issue on v0.7.5. replica1 works fine but i get this error beyond that:
[code]

[2021-01-14 14:12] amarts commented on #260
That is a concern. Is it possible to get the logs from kadalu-provisioner (part of `csi-provisioner-0` pod). Also check if storage pods belonging to replica2 are all running (check their logs too.... `kubectl get pods -n kadalu` `kubectl logs -nkadalu storage*replica2-pods` (here replace the names to actual pods).

[2021-01-14 14:18] amarts commented on #260
Noticed this comment now :-)

We had GA enabled to see which type of 'PVC' is used mostly so we can focus our effort on them. Was not collecting any other information from the installation (you can check the fields picked up in the same call). That was required for us then. Btw, we had mentioned about that in our README as long as we had GA enabled.

From 0.7.2 release, we removed GA bits. If you

[2021-01-14 15:41] yacinelazaar commented on #260
Dont worry about. That was due to overlapping devices config in different storage pools.
One question though: Deleting the storage pool wont wipe the attached disks, right? That's by design.

[2021-01-15 05:14] #45 closed

[2021-01-17 15:21] papanito commented on #272
Still valid!?

[2021-01-18 07:59] amarts commented on #398
CRD definition now changed to v1 from v1beta1 through #413

[code]

[2021-01-18 11:04] #388 closed, assigned to nobody

[2021-01-18 12:56] #272 closed

[2021-01-18 19:00] papanito commented on #272
Thanks!!

[2021-01-19 06:36] amarts commented on #410
feel free to kill it with `kubectl delete pods --force -nkadalu server-storage-replica-pool-1-0-0`. There seems to be an issue with termination flow right now. This can be deleted forcefully for timebeing.

[2021-01-19 06:37] amarts commented on #400
While I was not able to reproduce this, I ran few tests with `0.7.6` version, and things seems to be fine. Please check if its all fine now.

[2021-01-19 06:37] amarts commented on #399
While I was not able to reproduce this, I ran few tests with 0.7.6 version, and things seems to be fine. Please check if its all fine now.

[2021-01-19 06:39] amarts commented on #374
Moved all tests to github actions for now. So far we have credits to run all tests..

[2021-01-19 06:39] #374 closed, assigned to nobody

[2021-01-19 06:40] amarts commented on #357
Is this fixed with `0.7.6`? If not, we will try to prioritize this.

[2021-01-19 06:42] amarts commented on #364
@zzzhangqi can you check if the issues fixed with `0.7.6` version? I will close it as RKE issue is specifically handled. Please reopen if you still find issues.

[2021-01-19 06:42] #364 closed, assigned to nobody

[2021-01-19 06:43] amarts commented on #328
`0.7.6` and beyond will have support for `arm/v7`. Please use.

Thanks to @sputnik13

[2021-01-19 06:43] #328 closed, assigned to nobody

[2021-01-19 06:46] amarts commented on #167
With `0.7.6` release most of these issues are fixed. Please reopen (or create another issue) if any bugs are seen.

[2021-01-19 06:46] #167 closed

[2021-01-19 06:47] amarts commented on #289
@gxwangit PVCs are not tied to the 'kadalu' namespace, and any pods in different namespaces can consume kadalu PVs by giving the proper storage class as the target for PVC.

[2021-01-19 06:47] #289 closed, assigned to nobody

[2021-01-19 06:49] amarts commented on #286
Closing the Issue as `0.7.6` brings in most of the concerns to closure, and also as per https://github.com/kadalu/kadalu/issues/286#issuecomment-679882021, the issue is resolved.

[2021-01-19 06:49] #286 closed, assigned to nobody

[2021-01-19 06:52] amarts commented on #242
This is now partially complete with `0.7.6`.

The next steps involved are actually checking for heal pending state before upgrading storage pods in replica2 and replica3 volumes. It involves us to use few of the PRs which are only in glusterfs `devel` branch. Will consider using a release for a cherry picked PRs from glusterfs repo to enable them. It would be done in v1.0 (when we start kadalu ver

[2021-01-19 06:52] #242 closed

[2021-01-19 06:53] amarts commented on #106
no automated tests yet, but the feature is now available with `0.7.6`.

[2021-01-19 06:53] amarts commented on #255
Done with `0.7.5` and now available in `0.7.6` too.

[2021-01-19 06:53] #255 closed

[2021-01-19 06:55] amarts commented on #302
Still pending, need more feedback from k8s experts in this case :-)

[2021-01-19 06:56] amarts commented on #266
Looks like the issue came up because of the glusterfs version picked up in the release. Please upgrade to `0.7.5` or higher versions to get this resolved.

[2021-01-19 06:56] #266 closed

[2021-01-19 06:57] amarts commented on #341
@galp when you get some cycles, can you see if the issue persists with `0.7.6` version too?

[2021-01-19 06:59] amarts commented on #300
@couloum Sorry we took time to get back on this. We did multiple changes in our `0.7.x` series, and have seen most of the issues are resolved in `0.7.6` release. Let us know if you see similar issues in later releases. Thanks.

[2021-01-19 06:59] floek commented on #357
No, there is a new error in 0.7.6:
[code]

[2021-01-19 07:01] amarts commented on #319
The PR which fixed the issues in glusterfs is available only in glusterfs-9 release which is in RC state. Once its available, will make a release to check if this can be handled any better.

Sorry about the delay. Meantime, we have `0.7.6` with some changes made, check it out to see if its any better.

[2021-01-19 07:01] amarts commented on #55
basic helm chart is provided in the repo now. Will keep tracking the issues separately for any specific bugs from now on.

[2021-01-19 07:01] #55 closed

[2021-01-19 07:03] amarts commented on #283
@FlexibleToast thanks for your patience with the project, and ARM support.. Please see if latest `0.7.6` is any better for you.

[2021-01-19 07:04] amarts commented on #283
Please reopen if there are any issues, for now, kadalu supports arm64 and arm/v7.

[2021-01-19 07:04] #283 closed

[2021-01-19 07:06] amarts commented on #119
@papanito we made changes in the image os, and with that the tool versions used for xfs etc.

Please see if `0.7.6` is any better for you. We will close this issue for now, as we have not seen the particular issue in long time now. If it exists with 0.7.6 please feel free to reopen. Thanks for patience :pray:

[2021-01-19 07:06] #119 closed

[2021-01-19 07:09] amarts commented on #352
@schmitch adding a comment here for your reference. There is still more work pending to handle replica2/replica3 type of volumes.

With the latest version `0.7.6`, to upgrade all storage pods, along with operator, we just have to pass the latest operator yaml file from one of latest releases to `kubectl apply -f`. That should automatically pick the newer version for CSI, Storage pods, and also the

[2021-01-19 07:14] floek commented on #399
It still exists in 0.7.6:
[code]

[2021-01-19 07:20] amarts opened #415 "Issue with pod restart which caused availability of replica3 volume"
Good morning Amar, we are using kadalu as our alpha service trial and encountered some interesting issue. so just check if you know any or your know how to forward the quesiton. thanks. we are using replica3 as our storage pool and everything works well until one node (we call it nodeA below) get some issue (from log it says failed to Failed to create file system fstype=xfs…) and then it is back a

[2021-01-19 07:26] floek commented on #400
Haven't seen this yet in 0.7.6.

[2021-01-19 07:34] amarts commented on #415
pod are somehow restarted --> this node was in disk pressured, so maybe some pods war evicted and it just happened to the storage pod.

[2021-01-19 08:25] amarts commented on #399
Ok, I guess, I found the issue.

This means, the request to get PVC doesn't include a storage class which has `hostvol_type: External` set.

How is the external storage config set?

[2021-01-19 08:27] amarts commented on #399
Please add `storageClassName` option to PVC request if its not already added.

[2021-01-19 08:46] floek commented on #399
Hi,

thanks for analysing this. You are perfectly right. I just set my `storageClassName` to `kadalu` instead of the right external storageClassName. Maybe the error could be caught and given a nicer error message. But that's just a nice to have.

The issue can be closed.

Cheers,

floek

[2021-01-19 08:59] hsinhoyeh commented on #415
Hi @amarts , thanks for posting the message for me. (and also introducing me this great tool for managing storage)
here are my steps to get the storage service back:
- took the nodeA out of the cluster
- run `kubeadm reset cleanup`
- run fdisk on devices (also format the target devices used in replica3, run mkfs.xfs /dev/sdaX )
- join back to the cluster

and
storage-pool-3-2-0 is back and all pod

[2021-01-19 09:00] floek commented on #399
One follow up problem of this issue is: I've now problems to delete the pv and pvc. Maybe some error handling would help.

[2021-01-19 09:27] amarts commented on #399
Sure, will not close the issue till those minor hiccups are fixed.

[2021-01-19 09:38] amarts commented on #400
This is indeed caused by #399 itself. #416 fixes this too.

[2021-01-19 11:06] #399 closed, assigned to nobody

[2021-01-19 11:06] #400 closed, assigned to nobody

[2021-01-19 11:22] robojones opened #417 "Docs for external GlusterFS storage are outdated"
The latest version introduced incompatible changes to the schema for the external GlusterFS storage configuration.
The changes were made in #413 and are **not documented**.

The [kubectl Kadalu Plugin](https://pypi.org/project/kubectl-kadalu/) version 0.7.0 (latest version on pip), which I have installed on my server, returned a schema validation error when I tried to add external GlusterFS storag

[2021-01-19 11:45] amarts commented on #417
Sorry about this! Missed the pypi part of `kubectl_kadalu` package. We have moved to download of kubectl_kadalu as a single package ([check here](https://github.com/kadalu/kadalu/tree/devel/cli)), which takes care of this change properly.

Will update the document soon. But for reference, when one uses `gluster_hosts` option, all the servers given are passed to `glusterfs --volfile-server` argumen

[2021-01-19 20:17] couloum commented on #300
Thanks @amarts . We'll do the upgrade to 0.7.6 and update this issue.

[2021-01-20 01:55] FlexibleToast opened #418 "Kubectl-kadalu release should deploy versioned operator"
After downloading kubectl-kadalu and running `kubectl kadalu install` the kadalu-operator.yaml that is used is: https://raw.githubusercontent.com/kadalu/kadalu/devel/manifests/kadalu-operator.yaml which points to a devel image. A release versioned kubectl-kadalu should install that version of the kadalu operator. For example the 0.7.6 version should install using the release asset: https://github.

[2021-01-20 15:01] amarts opened #419 "handle 'create_and_mount_brick' better in glusterfsd.py"
so, I updated to 0.7.6 from 0.7.1, and I’m seeing this error in the gluster server…. [2021-01-19 22:29:14,221] ERROR [glusterfsd - 104:create_and_mount_brick] - Failed to create file system	 fstype=xfs device=/dev/sda
it shouldn’t be creating a filesystem, it’s an existing volume
unsure what’s going on

I think it reinitialized my storage
seems like all data I had is gone

caused by the baseimage

[2021-01-21 06:56] #419 closed, assigned to nobody

[2021-01-21 06:57] #418 closed, assigned to nobody

[2021-01-22 11:00] couloum commented on #300
Hi,

We performed the upgrade to v0.7.6, but we still have the same behavior.

[code]

Total size is still wrong:

[code]

And we can exceed quota of 1GB (as we're consuming 8.6GB on a 1GB volume).

Here are some logs:
[code]

Let me know if you need more logs are if you need me to perform some commands.

Regards

[2021-01-25 04:25] amarts commented on #351
@floek minikube 1.17.0 is out, which has support for `-oprjquota` I will give it a try this week. Let us know if you are able to test this out on minikube VM.

[2021-01-25 08:11] schmitch commented on #352
I will try it out in the next few weeks. Well we only use replica3 volumes, does this also work? or what exactly does mean "more work pending"?

[2021-01-25 10:10] amarts commented on #352
ok, for replica3 volume we need to do a 'rolling' upgrade. That is the work pending. Ie, the operator should pick the first storage node, upgrade it, and keep watching on heal pending, and once its 0, upgrade second, and watch for heal pending, and once its 0, proceed with node3.

If there is no I/O during upgrade, then the current method of upgrading without checking for heal count would work wit

[2021-01-25 10:28] floek commented on #351
@amarts the error seems to be gone. Thanks for the minikube patch!

[2021-01-26 18:16] FlexibleToast opened #424 "PVC stuck pending using k3os on arm"
I installed k3os on 4 raspberry pis. I deployed k3s using the --disable local-storage option so that it doesn't auto deploy the local host storage provisioner with the intention of using kadalu instead. Because I'm using arm, I have to use a release version of kadalu so I installed using
`kubectl apply -f https://github.com/kadalu/kadalu/releases/download/0.7.6/kadalu-operator.yaml`
After kadalu f

[2021-01-30 17:20] aravindavk commented on #8
To start with we can start with the following metrics. Metric exporter will run in all Pods as container or as shared process within the container in case accessing required resource is challenge.

* **Storage utilization(Size and inodes)** csi-provisioner will have mounts of all Kadalu Storage Volumes(Hosting Volumes), so it is the best candidate to export all the utilization metrics(`kadalu_stor

[2021-02-01 14:48] hans-fischer opened #427 "Error when adding devices /dev/disk/by-id/*"
Hello together!

I tried to add my devices by-id because it's consistent when rebooting the cluster.

My command I execute is:
`kubectl kadalu storage-add storage-pool-1 --device node2:/dev/disk/by-id/usb-SanDisk_Ultra_4C530001061023116262-0:0`

The error:
[code]

The problem is that the device-id contains a ':'.

In my opinion the fix would be:
File: cli/kubectl_kadalu/storage_add.py
by changing

[2021-02-01 16:39] aravindavk commented on #427
Yes, That will fix the issue. Thanks for sharing.

[2021-02-01 18:01] hans-fischer commented on #427
Are there any other parsings doing this?

[2021-02-01 20:00] sputnik13 commented on #8
like the storage-health command idea, not always convenient to bring up grafana for viewing health status

[2021-02-02 04:08] aravindavk commented on #427
Sent PR to fix the issue. https://github.com/kadalu/kadalu/pull/428

Thanks

[2021-02-02 04:46] #427 closed, assigned to nobody

[2021-02-02 07:44] camrossi commented on #357
@floek does it actually work the storage provisioning for you ?

I have a very similar issue (0.7.6 on K8S 1.18)
[code]
But then the POD will not manage to mount anything:
[code]

Also there is no sign of the PVC in the  storage-list command and furthermore if I create a PVC bigger than my actual drive it gets `Bound` anyway.

Also I noticed it still tries to call sqlite3 executable and is missing

[2021-02-02 10:14] floek opened #429 "kublet error: "RegisterPlugin error""
Hi,

I found the following error from Kubelet in my syslog:

[code]

Do I have to worry about this?

floek

[2021-02-02 10:17] floek commented on #357
Hi @camrossi
I'm using an external Gluster Server in the meantime and for me the storage provisioning works. The error in this issue is just a display error for me.
Maybe the kadalu team can help.

Cheers,
floek

[2021-02-11 15:17] amarts opened #437 "Observation on image sizes"
This is the observation of having source install of glusterfs on image size, and also 'time' optimize (build-time) vs size optimize in case of pip installs.

on a running image, source installed glusterfs is ~70MB, out of which easily 30MB can be removed from shared objects as we don't use them -- Good to fix it in `series_0` branch.

We can further optimize it like a storage-server package (which

[2021-02-12 12:46] leelavg opened #441 "Unable to create storage pool in k3d cluster"
- In a cluster setup with k3d, storage pool isn't getting created.
- Setup and all the steps performed can be found in attached file.

The below error is flooding operator logs:
[code]

- The `allinone.tar` mentioned in the attached file contains all the images(with correct tags) corresponding to 0.8.0alpha1 release

[release-testing.txt](https://github.com/kadalu/kadalu/files/5971823/release-test

[2021-02-12 13:01] leelavg commented on #441
[provisoner-logs.txt](https://github.com/kadalu/kadalu/files/5971899/provisoner-logs.txt)

[2021-02-13 09:30] amarts opened #443 "Tracebacks in monitor_proc"
[code]

in operator logs

[2021-02-13 09:31] amarts opened #444 "Traceback in csi-provisioner"
When there are some stale PV requests, or even PV requests without any storage being attached, below warnings are seen:

[code]

[2021-02-13 10:35] amarts commented on #441
Had missed the part where you created kadalu operator using helm.

`k create ns kadalu && helm install -n kadalu kadalu-chart kadalu/ --values kadalu/values.yaml`

The fix should be done in helm chart values also.

[2021-02-13 10:52] #444 closed, assigned to nobody

[2021-02-13 10:56] amarts opened #447 "add 'helm' chart as part of release binary"
currently there is a helm directory, but we are not making a version specific release of helm chart. (and no automated tests to validate helm chart is at least working).

considering we can publish our own helm.tar.gz chart file, Recommend it to be pushed in `on release` job in actions.

For example the issue #441 is caused with using helm charts, and it was not being actively looked into from som

[2021-02-13 11:02] #441 closed, assigned to nobody

[2021-02-14 11:09] floek commented on #377
Hi, how do I upgrade to 0.7.7?

[2021-02-14 11:10] leelavg commented on #447
@amarts can i work on this issue and update the thread frequently so that others also can comment on improving the charts further?

[2021-02-14 13:31] amarts commented on #447
@leelavg sure, and we are very happy if you can pick it up :+1:

[2021-02-17 14:01] leelavg opened #448 "Server pod was stuck in terminating state after deleting it in a k3d cluster"
- Using the similar setup as mentioned in [other](https://github.com/kadalu/kadalu/issues/441#issue-807207824) issue and performing below operation resulted in the Server Pod stuck in terminating state
- `cp` of /usr to /mnt/gluster and it's arequal checksum matched
- `cp` of /sys to /mnt/gluster + kill a server pod is stuck (in terminating state forever: >1hr), any command related to mount (df/ls

[2021-02-20 23:09] #100 closed

[2021-02-21 21:23] matulek opened #451 "Exception calling application: unable to open database file"
Hello,

I'm trying to follow a basic setup and I can't create a volume. When I'm trying to create PVC, it's in "pending state" and I see errors in CSI provisioner. They seem to be related to SQLite databse creation process.

(I've tried Replica3 before and had the same error, I've deleted Replica3 storage pool and went back to try Replica1, the log seems to contain some messages related to previou

[2021-02-22 03:03] amarts commented on #451
which version of kadalu did you install?

[2021-02-22 03:48] leelavg commented on #448
Devel branch seemed to have fixed Terminating status issue

- Backend devices, no `lsblk` available in node so just mounted
[code]
- pool-0-0 was deleted while above IO was happening and didn't stuck in Terminating state
[code]
- Correct reflection of data used
[code]
- Devel branch seemed to have fixed #300 as well

## New issues:
- Utilisation status isn't reflected correctly
[code]
- Failure in

[2021-02-22 05:56] amarts opened #453 "pylint: error seen on ubuntu20.04 images"
[code]

This happened after CI shifted to ubuntu-latest (20.04).

[2021-02-22 14:11] amarts commented on #451
also, another thing to note, what is the host OS ?

[2021-02-22 14:28] #453 closed, assigned to nobody

[2021-02-22 17:44] amarts commented on #448
I remember seeing it before I added `chmod +x /kadalu/heal-info.sh` in the Dockerfile. Will make a successful alpha release and see if this is fixed in that particular version.

[2021-02-22 23:59] xangxiong commented on #287
Not 100% sure if this is related, but with my test setup, using Replica1, Replica2, and Replica3 with ReadWriteMany enabled, I get "Value too large for defined data type" whenever I execute the flock command on the volume mounted.  Linux command to test flock is:

cd /tmp
echo "test" > /tmp/test.txt
exec 100>/tmp/test.txt || exit 1
flock 100 || exit 1

This is assuming /tmp is mounted from a Persi

[2021-02-23 03:16] leelavg commented on #447
helm chart is tested as below:

[code]

[2021-02-23 03:30] leelavg commented on #447
Now that one of the requirements is verified, will validate CI wrt Helm when a change occurs. Please review below and provide feedback/comments

1. Using single version in Chart.yaml (appVersion vs Version)? (ref: https://codefresh.io/docs/docs/new-helm/helm-best-practices/#helm-packaging-strategies)
2. Interoperability between Jinja2 and Go templating? (Difficult to achieve but good to have a sin

[2021-02-23 06:00] aravindavk commented on #287
Please share the PVC yaml used so that we can confirm if `/tmp` is mounted from Kadalu.

[2021-02-23 16:49] xangxiong commented on #287
Hi aravindavk,

The PVC yaml output from Kubernetes is below.  From trying to reproduce this, I realize that I used the kadalu-operator.yaml for 0.7.5 previously, but to test 0.7.7, I updated the version # to 0.7.7.  So I re-ran the test with just 0.7.5 since I'm testing against Kubernetes 1.15 which does not have `apiextensions.k8s.io/v1` yet.  I also included the commands I use (`test_kadalu.txt

[2021-02-23 18:56] amarts commented on #447
I would treat this particular issue as resolved for now. Thanks @leelavg in resolving it. Now, coming to above question series: (technically we can open different issues per point in later point in time).

1. I am OK with not using appVersion for Chart.yaml, and let Chart.yaml can have its own version.
2. Why do we need it? Ie, currently, in helm chart, we are not using any templating at all. ever

[2021-02-23 18:57] amarts commented on #447
lets move to specific issues on discussion from here. closing the issue.

[2021-02-23 18:57] #447 closed, assigned to leelavg

[2021-02-24 02:46] leelavg commented on #447
@amarts ack, will keep a tab on enhancing Helm and will work on resolving other issues.

[2021-02-26 16:13] hans-fischer opened #460 "How to explicit name the KadaluStorage in a PVC?"
Example:
I have two storages. One is HDD other is SSD and both are of type Replica2.

Question:
How can I create a PVC that askes for SSD storage?

[2021-02-27 02:23] aravindavk commented on #460
Create two Storage classes by specifying the storage_name.

Refer this doc for creating custom Storage classes.

https://kadalu.io/docs/k8s-storage/latest/storage-classes

[2021-02-28 08:55] #460 closed, assigned to nobody

[2021-03-02 14:01] posone opened #463 "Potential update on running cluster"
Dear team,

is it possible to perform the update to 0.7.7 (we are currently running 0.7.1) on running kubernetes cluster? We have installed it through this way:
curl -LO https://github.com/kadalu/kadalu/releases/download/0.7.1/kubectl-kadalu
kubectl kadalu install

But we could not find any description how to perform the upgrade. Would you please support us on that? Appreciate any feedback, thank

[2021-03-02 14:20] aravindavk commented on #463
Download the latest and replace the existing `kubectl-kadalu`

[code]

[2021-03-02 14:31] posone commented on #463
And any other commands are not needed, will it be updated automatically?

[2021-03-02 14:44] aravindavk commented on #463
After running `kubectl kadalu install` Operator gets upgraded, and the Operator will upgrade all the other entities.

@amarts any other changes required?

[2021-03-02 15:22] leelavg commented on #463
@posone just a note, if gluster storage is external, above method updates operator and no changes are peformed on gluster nodes afaik.

Let's hear from @amarts as well and replica vols might get benefitted from healinfo in .8 (pre)release as well.

[2021-03-02 16:41] amarts commented on #463
After install of new kubectl-kadalu, running `kubectl kadalu install`  should take care of upgrading all the versions.

About missing docs about upgrade, we wanted to get the healinfo into system before calling upgrade complete. Right now this is not complete for replica2 and 3.

[2021-03-03 08:50] posone commented on #463
So just to make sure - we have internal storage - after we perform kubectl kadalu install - our data will not be touched? Only kadalu operator will be updated?

[2021-03-03 09:24] posone commented on #463
After kubectl kadalu install nothing really happened
kubectl-kadalu install
Kadalu operator already installed

[2021-03-03 10:15] amarts opened #464 "[RFE] allow users to recreate a storage pool with a given volume id"
As of now, the volume ID is auto generated when the storage pool is created. But in some cases, (for example when users wanted to upgrade from 0.7.x (x ~= 0,1,2,3,4) to 0.8.x or higher version, there is a possibility that they may have to reset the kadalu namespace, to allow future 'upgrades'. (ie, using `kubectl create` Vs `kubectl apply`).

If such cases arise, as per the design its not hard to

[2021-03-04 11:00] leelavg commented on #448
[code]
As above issue is fixed in latest version (0.8) closing the issue.

[2021-03-04 11:00] #448 closed, assigned to nobody

[2021-03-06 07:48] amarts commented on #437
Just an update on image sizes (lets pick operator)

0.7.2 - 376MB
0.7.4 - 189MB
0.7.7 -   88MB
0.8.0 -   67MB

With this note, planning to close the Issue. Note that we keep kubectl binary in image of operator, which itself is ~30-40MB. Other things come from python dependencies.

[2021-03-06 07:53] amarts commented on #463
This looks to be the issue we had with #305. Considering you have 0.7.1 version, it may need a namespace cleanup and reinstall of the operator.

I guess only thing you would need to handle proper storage migration is #464. If there is not a lot of storage, my recommendation is to move over to new version now, as we now have at least a basic concept of 'upgrade' with 0.7.6 and above version.

[2021-03-06 07:55] amarts commented on #451
Was not able to reproduce or see the similar traces in setup.

If you are still setting up, can you consider using version [0.8.0](https://github.com/kadalu/kadalu/releases/tag/0.8.0) version?

[2021-03-06 07:57] amarts commented on #429
This corresponds to one of the unimplemented methods in our CSI. Was there a blockVolume PV Claim attempted on kadalu storage class?

About worrying about it, if things are working w.r.to storage and PV provisioning, I don't think its an issue. (Ignore my limited knowledge on k8s ecosystem in general, to many things there :-/)

[2021-03-06 07:59] amarts commented on #424
I haven't made a release with arm on 0.8.0 yet. Let me try to push it soon! Lets see if these are resolved by then.

[2021-03-06 18:28] wojtek-viirtue opened #468 "Mounting Errors."
**Getting the following errors on various kadalu-csi-nodeplugin pods:**

[code]

**The error is correlated to PVCs not being able to mount:**

[code]

If I restart the offending kadalu-csi-nodeplugin pod and then the pod that was trying to mount....it works. It'll be good for almost an hour and then fail again

Here is an output of the healinfo which doesn't show any abnormalities:

[code]

Any he

[2021-03-07 09:39] amarts commented on #468
Is there any logs in csi-nodeplugin for glusterfs? Can you do get logs of all-containers in csi-nodeplugin pod? That would help us to understand the reason for 'failure' of mount!

[2021-03-07 19:25] wojtek-viirtue commented on #468
It just happend again.....when the error condition happens, the container using the PVC never terminates and I'm forced to kill it using the following:
"kubectl delete pod gocd-server-7d4f8dfc8c-gswqb --grace-period=0 --force". (I verify that it's actually not running still in containerd.

I'm afraid that the errors I'm showing you are the product of what happens after the issue occurs (stale moun

[2021-03-08 04:16] amarts commented on #468
[code]
I have raised the issue in glusterfs repo, and will check why this is happening. Meantime, as this is not frequently seen, and with your description, would happen once in an hour, can we try to identify the particular activity which would happen ? Say a cronjob or a routing backup or DB backup type of operation? That would allow us to corner it faster!

[2021-03-08 05:55] aravindavk opened #469 "csi provisioner pod lazy mount issue"
csi provisioner pod mounts Kadalu Storages when it receives the PVC. Once mounted it keeps the mount for future use.

Quota crawler(https://github.com/kadalu/kadalu/blob/devel/csi/quota-crawler.sh#L3) and Metrics exporter(https://github.com/kadalu/kadalu/blob/devel/csi/exporter.py#L48) depends on these mount point to expose the data.

If Provisioner pods restarts then it will not mount all the sto

[2021-03-08 15:30] wojtek-viirtue commented on #468
@amarts I can't pinpoint it on one thing specifically since we have around 10 PVCs that are performing read/write operations.  What I can tell you...is that all pods using a PVC have endpoint transport errors and need to be restarted in order to reestablish connectivity to the mounts.

Furthermore, as described earlier...any pods using a PVC hang in a KILLING status most likely because they're try

[2021-03-08 18:03] amarts commented on #468
Planning to give you an updated gluster version to run kadalu! Once I have the new tags built, will let you know (ETA: 2 days) Meantime, if you get a chance to test, or experiment, see if the same behavior is seen with 'Replica1' setups.

[2021-03-08 23:04] wojtek-viirtue commented on #468
Thank you....I will investigate that a bit further.  For the time being, I've spun up cephfs with rook and it's working without issue.

In doing some research, there was some interest in a glusterfs integration with rook.  Looks like there might be some overlap and synergy with kadalu.  Have you guys thought of potentially adapting the operator to work with rook?  https://github.com/rook/rook/issu

[2021-03-09 03:53] amarts commented on #468
That is a good feedback! We had some fear that would happen, as we rebased glusterfs version for making storage pool config simpler with distribute etc. It would allow us to corner the issue sooner.

We wanted to keep minimum layers with kadalu, and hence if you notice, we removed many things which heketi had, and made them all simpler. We removed many glusterfs translators which are not being use

[2021-03-09 04:25] amarts opened #471 "[CI] - Add more IO tests to qualify the release"
It is good if we add more IO tests to the PR merge CIs (or at least release CIs). That we we can avoid bugs like #468 which happen after upgrade!

Recommend some automated containers which can be used for testing!

[2021-03-09 04:44] amarts commented on #468
@wojtek-viirtue when you get chance, can you try `devel` tag once? If it works for you, will push out a 0.8.1 release.

Notice that the main difference here is rebasing to later glusterfs devel branch.

[2021-03-10 17:46] DanielWinks opened #474 "0.8.0 fails on AARCH64 (Pi 4 4GB)"
When attempting to run 0.8.0 on AARCH64/ARM64, the operator fails to start, giving error message:

`ModuleNotFoundError: No module named 'xxhash._xxhash'`

Seems the AARCH64 build is missing the above Python module. 0.7.7 does not display this issue and works properly.

[2021-03-10 20:23] FlexibleToast opened #475 "[RFE] Update documentation to include making distributed storage volumes"
Release 0.8.0 looks like it brought in support of distributed volumes. I can't find any documentation on how to use this feature. For example I have 4 nodes and would like to setup 2 replicas distributed over 2 nodes creating something similar to a RAID10.

[2021-03-11 04:12] amarts commented on #474
Ack!

This is my bad, there were some issues with `pynacl` (ie, cryptography pip install in arm/v7 tag). To figure that out, I had made both arm builds disabled. Added them back now, 0.8.1 should have the arm64 builds. (not yet ready with arm/v7).

Next time such things happen, it will have a pointer in Release notes.

[2021-03-11 04:16] amarts commented on #475
Ack! Pending on our end.

The only place an example is added is in 'testing', as we use it in our PR tests now. Check the [example here](https://github.com/kadalu/kadalu/blob/devel/tests/storage-add.yaml#L10..L15)

It would be similar for other type of volumes. If its Replica3, the storage config takes options in 3,6,9 or any multiple of 3s. They will be added to distribute group in the same order

[2021-03-11 04:26] FlexibleToast commented on #475
Looks like it is as easy as setting type to ReplicaX and make sure the total number of nodes is a factor of X? So just type: Replica2 and list the four nodes?

[2021-03-11 04:29] amarts commented on #475
Yes, that's right. Number of bricks in config should be multiple of replica count.

[2021-03-11 08:42] posone commented on #463
Team,
thank you for tips, we did storage migration and re-install kadalu for 0.7.7. Everything is working fine now, thanks!

[2021-03-11 08:42] #463 closed, assigned to nobody

[2021-03-11 08:53] leelavg commented on #471
@amarts I've prepared an image (~75MB) consisting of Crefi, arequal and I believe this type of IO is good enough for a start.

If you are fine with the size and [dockerfile steps](https://thoughtexpo.com/setup-k3d-cluster-for-local-testing-or-development/#local-registry), i can give a try including that in CI.

[2021-03-11 12:12] amarts commented on #471
Sure. It seems like a good idea.

[2021-03-12 02:19] amarts opened #476 "setxattr failed logs in pod"
Logs on the replacement pod keeps repeating the following:
[code]

Credit Tim on kadalu Slack.

[2021-03-12 02:20] amarts opened #477 "Self-heal not triggered on files in 0.8.0"
Looks like self-heal is not properly triggered on the files properly. It was working fine on 0.7.7 version!

[2021-03-12 02:23] amarts opened #478 "Observation on volfiles on 0.8.0"
Observed two issues in Kadalu(k8s) volfiles in 0.8.0

1) Distribute is used in the shd volfiles https://github.com/kadalu/kadalu/blob/devel/templates/Replica3.shd.vol.j2#L28-L31

2) Skips `afr-pending-xattr` in both client and shd volfiles https://github.com/gluster/glusterd2/issues/925

[2021-03-12 02:24] amarts commented on #477
May be related to 2nd point in #478  Need to check.

[2021-03-12 02:28] amarts opened #479 "xfs quota failed errors in 0.8.0"
saw below logs

[code]

[2021-03-12 02:28] amarts commented on #479
credits Tim on Slack

[2021-03-12 03:45] amarts commented on #478
observations from @aravindavk...

Actually, point 1 above is a genuine issue, and I noticed that dht (nor utime) is used in self-heal daemon files. (sent a fix now)

where as, 2nd point, `afr-pending-xattr` gets automatically assigned if not provided, this shouldn't be an issue.

[2021-03-12 09:24] #469 closed, assigned to nobody

[2021-03-12 09:28] #479 closed, assigned to nobody

[2021-03-12 13:11] #477 closed, assigned to nobody

[2021-03-13 06:20] amarts opened #486 "Errors seen on Release CI"
This is happening when I add `linux/arm64` platform to the build.

[code]

[2021-03-14 09:26] amarts commented on #486
One of the suggestion was to use `apt-get install -y python3-grpcio` instead of pip install. (credits @aravindavk). Looks like it is working.

[2021-03-14 18:22] #486 closed, assigned to nobody

[2021-03-15 10:52] posone opened #490 "0.7.7 arm64 issue"
Dear team,

last week we have installed another K8 instance, this time on aarch64. Unfortunately we have run into some issues - the initial pods (nodeplugins, operator and provisioner) have been created with success
kadalu-csi-nodeplugin-4xfpz   3/3     Running   0          4d2h
kadalu-csi-nodeplugin-vtv5z   3/3     Running   0          4d2h
kadalu-csi-nodeplugin-zv5cj   3/3     Running   0

[2021-03-15 10:56] amarts commented on #490
which tag did you use to install this?

Can you try `0.8.2alpha0` ?

[2021-03-15 11:29] posone commented on #490
Ahh, sorry, it should be 0.7.7
curl -LO https://github.com/kadalu/kadalu/releases/download/0.7.7/kubectl-kadalu

I will try with 0.8.2alpha0

[2021-03-15 12:09] posone commented on #490
On 0.8.2alpha0 is a little better - the storage replica pods are trying to be deployed at least - but they can not.

The info in the logs:
[2021-03-15 12:07:10,877] INFO [kadalulib - 369:monitor_proc] - Restarted Process	 name=shd
[2021-03-15 12:07:11,879] INFO [kadalulib - 369:monitor_proc] - Restarted Process	 name=glusterfsd
[2021-03-15 12:07:11.881015 +0000] I [MSGID: 100030] [glusterfsd.c:269

[2021-03-15 12:37] amarts commented on #490
I surely wouldn't call it better :-/

Is there a possibility for you to build kadalu images locally?

Can you build with just one diff to see if that makes any difference?

on `extras/Dockerfile.builder`, change `make install-strip` to `make install`  for glusterfs install.

As this is just the glusterfs initialization workflow, I don't suspect a bug there, but a bug in 'strip' tool, which was nev

[2021-03-15 12:37] amarts commented on #490
btw, you can build them `make build-containers`

[2021-03-15 13:03] posone commented on #490
After I am trying to make it from the folder extras I have:
`make: *** No rule to make target 'build-containers'.  Stop.`

When I am trying to build it from docker - I can not reach ports.ubuntu.com..
`Temporary failure resolving 'ports.ubuntu.com'`

Any fast tips for that? If not I will try to dig later.

[2021-03-15 13:39] amarts commented on #490
ah! no, not from folder extras... top level kadalu repo. That is the one with makefile.

about reaching ports.ubuntu.com.... see if its actually a firewall issue, or just a DNS issue... add proper option in /etc/resolv.conf, something like `nameserver 8.8.8.8`

[2021-03-16 09:38] posone commented on #490
Ok, I have managed to build the image from top level kadalu repo, thank you!
But only one image has been built:
`kadalu/kadalu-operator                           devel `
Should I switch this image for deployment deployment.apps/operator only?

[2021-03-16 12:55] amarts commented on #490
Surprised, it should have built all the jobs! Let me trigger a run on `arm` tag with make install changes... if `arm` tag works for you, then it makes sense make 0.8.2 with those changes!

[2021-03-16 12:59] amarts commented on #490
Triggered a CI action which will push the `arm` tag in next 1-2hrs. - https://github.com/kadalu/kadalu/actions/runs/657618612

[2021-03-16 13:56] posone commented on #490
Thank you, will check this tomorrow!

[2021-03-17 09:06] posone commented on #490
Just to make sure - now I should just rebuild all components we have (by kubectl edit deployments) with below images?
`docker.io/kadalu/kadalu-csi:arm`
`docker.io/kadalu/kadalu-operator:arm`
`docker.io/kadalu/kadalu-server:arm`

[2021-03-17 09:11] amarts commented on #490
Yes. Which is done by using

`kubectl apply -f https://raw.githubusercontent.com/kadalu/kadalu/arm/manifests/kadalu-operator.yaml` as a fresh setup!

[2021-03-17 09:46] posone commented on #490
Unfortunately still similar errors:

`[2021-03-17 09:44:08,715] INFO [kadalulib - 369:monitor_proc] - Restarted Process	 name=glusterfsd
[2021-03-17 09:44:08.716284 +0000] I [MSGID: 100030] [glusterfsd.c:2697:main] 0-/opt/sbin/glusterfsd: Started running version [{arg=/opt/sbin/glusterfsd}, {version=2021.03.14}, {cmdlinestr=/opt/sbin/glusterfsd -N --volfile-id kadalu-storage-replica-pool-3.ip-10-0

[2021-03-18 03:34] leelavg opened #494 "[Tracker] Fix CSI sanity failures to conform to CSI Spec v1.2"
# CSI Sanity

- Below are some good first issues for new contributors to get to know about KaDalu CSI Driver and CSI Spec

## Easy (good first issues):
- [x] Node Service NodePublishVolume [It] should fail when no volume id is provided
- [x] Node Service NodePublishVolume [It] should fail when no target path is provided
- [x] Node Service NodePublishVolume [It] should fail when no volume capabilit

[2021-03-18 07:01] posone commented on #490
Any other clue for now? If not I need to move on with implementation so I will omit Kadalu in this one, but if you have something to check later just let me know and I will try to check it again.

[2021-03-18 11:48] amarts commented on #490
considering its a glusterfs crash which is reported, we don't have an immediate fix available. Will run a test and then see what we can do.

[2021-03-18 12:13] tivizi opened #497 "W [fuse-bridge.c:1981:fuse_err_cbk] 0-glusterfs-fuse: 5928: FSYNC() ERR => -1 (Disk quota exceeded)"
my nodeplugin have some error logs.
[nodeplugin.txt](https://github.com/kadalu/kadalu/files/6163895/nodeplugin.txt)

Thanks kadalu Group.

[2021-03-18 13:55] posone commented on #490
Sure, thank you for all your help. Let's stay in touch.

[2021-03-23 04:43] amarts commented on #497
missed seeing this earlier. 'Disk Quota Exceeded' is expected to come when the PV is completely consumed.

Now few more questions:

* Which version of kadalu deployment you have?
* what does pv describe, and a `df -h` output from inside of the nodeplugin show?

[2021-03-25 08:24] tivizi commented on #497
Thanks. I'll close this issue first, and I'll reopen it after I catch it again.

[2021-03-25 08:24] #497 closed, assigned to nobody

[2021-03-26 17:00] vatsa287 commented on #494
"Expand Volume: Should work" Is this error related to some unavailable permissions permissions in csi-sanity?
[code]
I'm guessing this error is from here
[code]

[2021-03-27 10:09] galp commented on #341
Hello, I have updated to 0.7.7  but I wont be able to test as I am using the replica set currently.
Lets  close it and I  reopen in the future.

Thanks for looking at my issue.

[2021-03-27 10:09] #341 closed, assigned to nobody

[2021-03-27 16:07] leelavg commented on #494
@vatsa287 good catch and at the same time I think your guess maybe incorrect.

1. Failure is in setting [trusted.gfs.squota.limit](https://github.com/kadalu/kadalu/blob/20eb11fb316a7137f93700b648b104799827dc98/csi/volumeutils.py#L473)
2. We missed catching the exception and so only `re-raise` of exception is captured in the log
3. @amarts I think we need to investigate why this specific setxattr i

[2021-03-28 21:32] ook commented on #377
Hi @floek . Not an authoritative answer but here "my" way to upgrade:

* run script https://github.com/kadalu/kadalu/blob/devel/extras/scripts/cleanup
* follow the installation instruction from https://github.com/kadalu/kadalu/blob/devel/doc/quick-start.md
* pray^W fix the issues by hand, case by case
HTH

[2021-03-30 17:55] amarts commented on #494
Good finding, and it was indeed the case. With https://github.com/kadalu/glusterfs/commit/7f4259ed48d5d9812d9cb0466f72956d99c218d1 things seem to work well now! Will trigger a run just for validation purposes!

[2021-03-30 19:19] #494 closed, assigned to nobody

[2021-04-07 11:10] marklester opened #508 "Create homebrew package for kadalu cli"
https://brew.sh/
Would be nice to be able to do `brew install kadalu`

k9s, helm, and kpt have formulas too

[2021-04-07 13:15] leelavg commented on #508
@marklester can please mention whether you got limited by kadalu cli installed with pip?

Not at all against in implementing the functionality and at the same handling python environments with brew installed packages may create confusion i guess. :/

All pkgs referred in the issue are go version neutral.

[2021-04-07 13:18] aravindavk commented on #508
`kubectl-kadalu` is not available via pip(may be old version is available). `kubectl-kadalu` is released as single binary using the Python zipapp(https://docs.python.org/3/library/zipapp.html).

[2021-04-07 13:20] aravindavk commented on #508
Nice idea, It surely improves the discoverability. Thanks for the suggestion.

[2021-04-07 13:22] leelavg commented on #508
@aravindavk thanks a lot for the clarification, will look into this issue if possible.

[2021-04-07 13:26] aravindavk opened #509 "[RFE] Create krew package for kadalu cli"
krew is repository of Kubectl plugins.

Once the kadalu plugin is added to krew registry then it can be installed as

[code]

[2021-04-08 20:36] NodeGuy opened #510 "Please write documentation for use with Nomad."
[Nomad](https://www.hashicorp.com/products/nomad) is a simpler alternative to Kubernetes and [works with CSI plugins](https://www.nomadproject.io/docs/internals/plugins/csi).

[2021-04-09 03:59] leelavg commented on #510
@NodeGuy Thanks for the suggestion.

I actually looked into modifying Kadalu to work with Nomad 0.11, however the client part in Nomad isn't fully compatible with CSI Spec the last I checked and there are couple of [issues](https://github.com/hashicorp/nomad/issues/7668) around handling Config maps (which are pretty important in Kadalu Operator and  CSI Storage in general).

Nevertheless, we'll de

[2021-04-12 06:28] aravindavk commented on #357
This is now fixed https://github.com/kadalu/kadalu/pull/323

[2021-04-12 06:28] #357 closed, assigned to nobody

[2021-04-12 06:30] aravindavk commented on #509
Yaml file is created now, post 0.8.2 this needs to be submitted to krew-index repo

https://github.com/kadalu/kadalu/pull/511

[2021-04-12 06:32] aravindavk commented on #478
#481 fixes this issue.

[2021-04-12 06:32] #478 closed, assigned to nobody

[2021-04-12 06:55] aravindavk commented on #361
@amarts is this fixed with https://github.com/kadalu/kadalu/pull/433 or anything pending?

[2021-04-12 07:23] amarts commented on #361
All good here! with 0.8.1 itself this is fixed.

[2021-04-12 07:23] #361 closed, assigned to nobody

[2021-04-14 22:16] #314 closed, assigned to nobody

[2021-04-15 16:39] chewrocca commented on #510
Did the issues around ConfigMaps get resolved now that https://github.com/hashicorp/nomad/issues/7668 is closed?

[2021-04-16 06:32] aravindavk commented on #510
We haven't tried to run Kadalu in Nomad. As @leelavg mentioned, if config map or similar thing is available with Nomad then we can try to port this project to make it work with Nomad.

@NodeGuy, @chewrocca are there any reference implementation available with other storage providers?

[2021-04-16 06:48] leelavg commented on #510
@aravindavk I was only able to find this [single resource](https://github.com/democratic-csi/democratic-csi/blob/master/docs/nomad.md) from [here](https://github.com/hashicorp/nomad/issues/8212#issuecomment-791528109).

Let's wait for other's reply also.

[2021-04-22 08:46] httaotao opened #519 "kadalu KadaluStorage can use node dir or not"
hello, we used hekti to manage glusterfs volume ,but we found a serious problem with  node device which is zfs dataset.  There are many service in one device, if there are some high IO in one application, this will affect the normal operation of other services. The bottleneck is the device .

By the way, so we want to  manage  glusterfs  volume in different node dir ,it's  better.

we want to use

[2021-04-22 08:55] mms11 opened #520 "Failed to mount an External Volume Storage"
Using Versions:
glusterfs 8.1
kubernetes v1.19.8
Kadalu 0.8.0

[code]

My gluster storage nodes are outside k8s cluster.

[code]

I've installed the operator that is work and running as supposed and I'm follow all the process described on "Use external gluster volume as PV in kadalu" section.

Everytime that I try to use external gluster in kadalu native way or use external storage directly I got

[2021-04-22 14:06] amarts commented on #520
XFS is not mandatory for external storage.

For kadalu native pods also XFS is not mandatory starting 0.8.0 version.

For this issue, I think there seems to a bug in `kubectl kadalu` CLI. Can you try the yaml way?

Also please check 10.79.120.121 is reachable from the host nodes?...

One more thing to check is the logs of the operator when you use the `kadalu.external.pv-ext`!

[code]

do a `kubec

[2021-04-22 14:11] amarts commented on #519
while kadalu supports path as an option. I have few questions:

* Is `/glusterfs` a glusterfs mount? or a path which mounts ZFS ?

* If you want to manage glusterfs volume separately in another cluster, 'External' storage is the proper way to get this going. - https://kadalu.io/docs/k8s-storage/latest/external-gluster-storage/

* Currently kadalu doesn't support snapshots, but if you are using kad

[2021-04-22 14:35] httaotao commented on #519
thanks for answer.  In each node, we use ``` zpool```  to protect the data.  we use ``` zfs zaid2``` like this:
[code]
But for glusterfs, it just like a commond system, we also create some glusterfs volume brick  by ouerself under ```/glusterfs```, such as:
[code]

Of course , we also can use ```External  ``` storage, but you know , for k8s, if we create a pv, this makes it difficult to create a v

[2021-04-22 15:07] amarts commented on #519
Got it.

You can do that with kadalu already!

just use `/glusterfs/kadalu-native-replica3` or something similar as the path in storage config. That should work.

[2021-04-22 15:10] leelavg commented on #520
Fix for above is already [merged]( https://github.com/kadalu/kadalu/commit/76869e0f5f6b0b00ab66d8825c09cbf3828b00e0#diff-c1431eee976ad389c7c8070d2069b36e7dfc85f4d9b18713f56af09fd4d86ebfR189) into `devel` and would be part of next release.

Please follow what was suggested in above comment for now.

[2021-04-22 15:10] mms11 commented on #520
Doing that I got the follow issue
`kubectl apply -f ./external-config.yaml
error: unable to recognize "./external-config.yaml": no matches for kind "KadaluStorage" in version "kadalu-operator.storage/v1alpha"`

Meanwhile I've check the k8s api-resource and notice that correct API name is kadalu-operator.storage/v1alpha**1**
`kubectl api-resources | grep kada
kadalustorages

[2021-04-22 15:23] leelavg commented on #520
@amarts I think recent [commit](https://github.com/kadalu/kadalu/pull/516/files) should have been documented with `v1alpha1` to correspond to src?

@mms11,
- Thanks for bringing the version difference to our notice and thanks for the positive confirmation
- This kind of config assumes an external gluster volume already exists then ~Operator mounts that~ this volume get mounted into CSI pods to ser

[2021-04-23 02:54] httaotao commented on #519
Great !

  I  find the storage config in [storage-config.yaml](https://github.com/kadalu/kadalu/blob/devel/doc/examples/storage-config.yaml)

howerver,  I couldn't find the api-version ```kadalu-operator.gluster/v1```  in  helm  resource.yaml. Does it change ? thanks.

[2021-04-23 03:13] amarts commented on #519
Please use `v1alpha1` and not  v1.

[2021-04-23 03:19] httaotao commented on #519
yet, maybe  something  should change in ``` kadalu/doc/examples/storage-config.yaml```
[storage-config.yaml](https://github.com/kadalu/kadalu/blob/devel/doc/examples/storage-config.yaml)

[2021-04-25 04:24] leelavg opened #523 "[RFE] Use moana as a bridge between Kadalu and External Gluster Cluster"
I see requests from users about managing gluster volume lifecycle by Kadalu itself and our previous tracker also suggests interest in external gluster in general.

Although I didn't try external option in kadalu and [moana](https://github.com/kadalu/moana) project yet, I'm basing this RFE on my current understanding on how these components work/interact and so please take it with grain of salt.

#

[2021-04-25 16:19] aravindavk commented on #523
I feel Moana is still a few enhancements away for general availability. I will go through this tomorrow and add comments. Thanks for the details.

[2021-04-26 09:24] KyleSanderson commented on #118
hi Team, thanks for keeping this one open. I am indeed looking at using this however I'm unable to specify redundancy using dispersed versus distributed. This is forcing me to use the External feature to get at this to dynamically provision storage, and then use the native driver to access my external server.

[2021-04-26 09:33] aravindavk opened #524 "Disperse Volume Support"
* New Kadalu Storage Type(CRD) for Disperse Volume
* Disperse Type support in kubectl-kadalu
* Add Volfile Template for Disperse Volume Type
* New Storage Class(Default) for Disperse Volume
* Test Heal info command integration with Disperse Volume

[2021-04-26 09:35] aravindavk commented on #118
Thanks. I opened new issue to support Disperse Volume type in Kadalu. https://github.com/kadalu/kadalu/issues/524

We will keep this open till we implement PV-to-PV backup solution.

[2021-04-26 10:37] aravindavk commented on #523
Possible. Dockerfile is already available. That needs to be adjusted as required.

CLI is just a wrapper around ReST APIs. Currently Crystal Client is available, once the server is feature complete more client libraries will be available(Python/Node/Ruby/Go/Rust).

Server to node connection is not required. Only Moana nodes need access to the Server. Nodes can be behind the firewall.

These can be

[2021-04-26 13:03] leelavg commented on #523
ack, we can either call the wrapper as sub-process or directly call Python bindings in operator by the time they are available.

yes, while creating volumes we'll be referring the configmap during runtime and figure out what bricks are available and what bricks to be used corresponding to the volume type that'll be requested in storage class. User will update the configmap if they want to add any

[2021-04-26 18:19] mms11 opened #525 "External Storage provided not valid"
[code]

My gluster storage nodes are outside k8s cluster and I would like to keep consuming it with my k8s pods. I'm trying your configuration "using external storage directly" but my PVC is always in state PENDING with the message log "External Storage provided not valid"

I've already deleted all the kadalu config cluster using your cleanup script and install it again.

Could you please validate

[2021-04-27 09:54] leelavg commented on #525
@mms11, I'm a bit unsure on internal mappings of using external storage directly in kadalu. By the time others pitch in, can you please look into below if you still have the cluster around?

After applying storageclass, do you see:
- Any errors in the operator log or msgs similar to `Updated configmap` and `Deployed External StorageClass`
- Any `.info` file being created in `/var/lib/gluster` in k

[2021-04-27 10:12] amarts commented on #525
Another point, if you can use External gluster volume as 'kadalu' type (ie, subdirs as PV), it may work, as thats most tested setup. That is stop gap till we find issue here.

[2021-04-27 10:47] mms11 commented on #525
Not founded any reference to Updated configmap and Deployed External StorageClass on logs

[code]

I've used the external gluster as 'kadalu' type but I got the same errors on pvc creation
[code]

[2021-04-27 11:03] leelavg commented on #525
ack, thanks a lot for all the info.

no, we didn't mean you to use `hostvol_type` as `kadalu` but use external volume in kadalu native (subdirs as PV) way and you seem to have got it worked as stated in https://github.com/kadalu/kadalu/issues/520#issuecomment-824927646 and I also tested kadalu native way to see `.info` file getting created.

I can also reproduce original issue using whole external

[2021-04-27 12:58] juliosibaja commented on #520
Hello!!
I have also some problems using External Volumes. I'm using a rapsberry pi 4 with:
- Raspios arm64
- Glusterfs 5.5
- One Volume (myvol1). I have tested mounting the volume in another machine with `sudo mount -t glusterfs 10.13.13.2:/myvol1 /mnt/myvol1 ` and everything worked. The volume config is the following:
[code]

I'm running K3S with kubectl v1.20.6+k3s1 and kubectl-kadalu 0.7.7
And

[2021-04-27 13:05] mms11 commented on #525
@leelavg The thing is that I need to mount diferent/uniq mounts for all the gluster volumes that I've already have created and using the native way it uses the same gluster volume for all the PVC what is not suppost.

I will be waiting for your tests feedback and let me know if you need any other info. Thanks in advance!

[2021-04-27 13:36] leelavg commented on #525
@mms11 Ack, understood the use case. I'll look into why 1gluster  vol : 1 PV isn't working as expected.

In the meantime nothings limiting you to create kadalu storage for every external volume you already have in kadalu native way and claim whole volume as a single PV 😀

[2021-04-27 16:07] leelavg commented on #520
@juliosibaja

- just checked, even in 0.7.7 release `apiVersion` is `kadalu-operator.storage/v1alpha1` not `kadalu-operator.storage/v1alpha`, can you please use that while applying KadaluStorage manifest file
- i created a setup today using external gluster on devel branch which worked, if above didn't work i can only ask to recreate the cluster if you don't have any workloads running

(or)

Are y

[2021-04-27 16:30] juliosibaja commented on #520
@leelavg Thanks for the answer. I'm sorry but i'm already using `kadalu-operator.storage/v1alpha1`, it was just a typo and yes mi PVC is always in Pending State.
I can try with the devel branch on a new cluster installation. On the other hand as i'm using the arm version i'm not sure if i can use the [0.8.2 alpha 0 relase ](https://github.com/kadalu/kadalu/releases/tag/0.8.2alpha0) or anything els

[2021-04-27 23:12] juliosibaja commented on #520
I tried with a new installation of K3S using [0.8.2alpha0 relase](https://github.com/kadalu/kadalu/releases/tag/0.8.2alpha0) and also this operator: https://raw.githubusercontent.com/kadalu/kadalu/arm/manifests/kadalu-operator.yaml
I got this from `kubectl describe pvc pv-ext-kadalu`
[code]
When i print the logs from the kadalu-csi-provisioner-0 i get this:
- ## csi-provisioner
[code]
- ## csi-att

[2021-04-28 03:03] leelavg commented on #520
@juliosibaja

Thanks for detailed logs, I'm not comfortable in commenting about failures wrt glusterfs so, will wait for others to pitch in.

IMO above are the major errors that needs to be looked into, I tested on x86_64 but don't have the availability of arm. Will get back at the earliest.

[2021-04-28 04:32] leelavg opened #526 "setfattr errors on using external cluster in kadalu-native format"
In a cluster using external storage in kadalu native format observing below errors in provisioner logs (kadalu devel branch)

[code]

I have recycled the setup and can't provide other logs atm.

[2021-04-28 05:04] aravindavk commented on #526
I am suspecting this is because Simple Quota is not available in the external Volume.

https://github.com/kadalu/kadalu/blob/291c3d49a46a0f8192db0523c79b16a6ce5cb41e/csi/volumeutils.py#L355-L367

[2021-04-28 05:45] leelavg commented on #526
Yes, I also discussed this with @amarts and he's also on same opinion.

[2021-04-29 05:20] leelavg opened #528 "Pinning python packages to check against Pylint etc"
Rationale:
- We are using all python modules inside containers and we have already pinned base container versions
- Whenever github runner updates it'll install all latest available packages as per requirements.txt which fails pylint
- We don't want to stop consuming latest github runner however it's better to pin versions in requirements.txt to almost resemble what's running in container
- We can

[2021-04-30 02:41] #184 closed

[2021-04-30 05:19] amarts commented on #528
This is Good. Every major release we can look at the latest versions, and have a call on it.

[2021-04-30 15:02] michaltrmac commented on #526
Hi,

we have same problem. PVC with Kadalu operator create directory on gluster cluster but no quota is applied.

Is there something we can set on gluster volume to make Simple Quota available?

[code]
[code]

[2021-04-30 15:33] leelavg commented on #526
@michaltrmac Can you please confirm whether kadalu_quotad is running or not in the nodes of exported bricks as [stated](https://github.com/kadalu/kadalu/blob/devel/server/README.md#external-servers)?

It's linked in [kadalu docs](https://kadalu.io/docs/k8s-storage/devel/external-gluster-storage/), search for 'the server documentation' it's easy to miss though.

This issue tracks a similar but diff

[2021-05-03 11:17] michaltrmac commented on #526
@leelavg thanks for comment. I missed that part of documentation.

Still having problem to get quotad working. I will open new issue for that,

[2021-05-05 08:31] posone commented on #490
Hey @amarts! Have you had a chance to get back to this topic or it will not be fixed soon?

[2021-05-05 08:39] amarts commented on #490
@posone can you try [0.8.2](https://github.com/kadalu/kadalu/releases/tag/0.8.2) version once?

[2021-05-05 13:32] clambin opened #531 "glusterfsd crashes when server-storage-pool starts"
Installed v0.8.2 on my k3s cluster running arm64 (ubuntu).  I used the kadalu-operator.yaml from the packages pages. I created the following Storage entry:

[code]

Didn't have a separate partition available, so I used "path", rather than "device".  The server-storage pods comes up, but inside, glusterfsd continuously crashes:

[code]

[2021-05-05 16:17] leelavg commented on #531
Pardon the inconvenience,  I can see that arm branch isn't upto date with devel and container hosted in docker hub is ~2 months old. I guess we need to revisit release process wrt arm.

Can you please confirm whether you have faced any similar issue with earlier versions if you have deployed before?

[2021-05-05 17:53] amarts commented on #531
@leelavg releases are made with buildx with all of `arm64`, `arm/v7` and `amd64` platforms. He has tried 0.8.2 release itself. This is the same thing @posone has updated in #470. Need more testing of glusterfs version itself.

[2021-05-05 18:58] clambin commented on #531
yep: using 0.8.2 as I noticed the devel manifests points to a docker version that don't have arm64 images.   I switched to type: External (since I'm already running gluster outside of k3s), which doesn't crash.

first time I'm trying Kadalu, BTW:  been looking for a native glusterfs inside k3s.  glad I found you guys.  :)

[2021-05-06 01:39] leelavg commented on #531
@amarts thanks for the info, I'm a little confused and will re-visit release workflow.

For example, operator manifest in arm branch has `:arm` tag however in docker hub the image with tag `:arm` is two months old.

[2021-05-06 08:38] pawel-detka opened #532 "Second external storage in cluster"
Greetings!

I have an issue with adding second storage to the cluster.

First one is defined by :

[code]

And it's works fine.

However when I add this:
[code]

I see in  logs:

[code]

kubectl edit configmaps -n kadalu kadalu-info
[code]
Kubernetes: v1.20.2
GlusterFs 7
Kadalu: devel

[2021-05-06 08:47] leelavg commented on #532
I guess i need to include the possibility of same volname from different gluster cluster in #527 😅

@pawel-detka #527 partially fixes this issue, it seems i need to accommodate above check as well.

[2021-05-06 09:12] pawel-detka commented on #532
@leelavg Thank you for your swift response.
So for now, the workaround is to change name for volume ?

[2021-05-06 09:20] leelavg commented on #532
@pawel-detka unfortunately no, you can see from the log that even for second host incorrect storage class name is being returned (it's already fixed in that PR).

Currently, I need to attend something else on priority, please expect the merge by tomorrow eod.

[2021-05-06 10:59] posone commented on #490
I have just tried, but the results are more-less the same.
[code]

[2021-05-06 17:27] #525 closed, assigned to nobody

[2021-05-06 17:27] #532 closed, assigned to nobody

[2021-05-06 17:31] amarts commented on #531
Is there any chance to try glusterfs latest bits (ie, 9.1 release) on arm platform and see if a `volume start` works? While I plan to setup on arm machine, if one has hardware, it would be a helpful test to corner the issue.

Thanks (@clambin @posone)

[2021-05-06 17:32] amarts commented on #531
:-) Welcome. Lets fix the current issue soon, so you are even more happy!

[2021-05-06 21:15] clambin commented on #531
ubuntu's still on glusterfs 9.0.1.  once they're on 9.1, I'll try again.

[2021-05-07 04:32] #524 closed, assigned to nobody

[2021-05-07 10:11] pawel-detka opened #533 "The CustomResourceDefinition "kadalustorages.kadalu-operator.storage" is invalid"
Hi!
When I tried to install new version

[code]

I have:

[code]

[2021-05-07 10:19] leelavg commented on #533
There's been a change in CRD without version bump. Can you please be kind and run https://github.com/kadalu/kadalu/blob/devel/extras/scripts/cleanup, then install the operator?

[2021-05-07 11:16] pawel-detka commented on #533
@leelavg since this will break current env, I will do that at midnight

[2021-05-07 11:22] leelavg commented on #533
Ack, afaik since no mandatory elements got introduced in CRD you can only delete CRD and apply operator manifest.

Having said that, by no means I suggest to do it now.

[2021-05-08 11:23] clambin commented on #429
getting this error too when running a single (external) storage and a single pvc:

[code]

[2021-05-08 20:46] clambin opened #535 "have an option to archive volumes on delete"
Current behaviour is to delete the data whenever a PVC is deleted.  Would be useful to have an option to retain the data when the PVC gets deleted.   Similar to the behaviour of nfs-subdir-external-provisioner, which (if configured) renames the volume to archived-<volname> if the PVC gets deleted.

[2021-05-09 13:44] ook opened #536 "Normal life of kadalu storage: add and remove devices"
Hi,

I have working Kadalu storages, mainly two kind: a large storage non replicated (replica1) and a "serious" storage (replica3, with 3 nodes on 3 different machines).

I'd want to add new devices to those storage, and remove some (TBH honest: I want to add new bigger machines and remove the older ones without having downtime).

I didn't see a way to achieve that through `kubectl kadalu storage-

[2021-05-10 06:23] amarts commented on #536
Thanks for mentioning the usecase clearly! This is not available right now! But, should be possible to bring soon.

We thought storage migration is a problem for everyone who tries to keep hardware warranty, so would happen once in 3-5yrs. It was not taken up for that reason.  Let me think and propose solution soon.

[2021-05-11 04:24] ben-wangz opened #538 "version in helm chart not matches with release version"
i found the version in helm chart not matches with release version.

* running the command below:

[code]

* the output shows
    1. image: docker.io/kadalu/kadalu-operator:devel
    2. the env KADALU_VERSION is set to devel too

* i have checked [helm/kadalu/templates/deployment.yaml](/kadalu/kadalu/blob/524dd2317ddbd4c2f4d52acd19c4dd6daa861000/helm/kadalu/templates/deployment.yaml). the image an

[2021-05-11 04:35] leelavg commented on #538
@ben-wangz Spot on, yes it's a bug. PR is more than welcome.

Just a little background if you intend to send a PR. As part of [CI](https://github.com/kadalu/kadalu/blob/devel/tests/minikube.sh#L253-#L279) we are validating manifests generated by `make gen-manifest` matching helm charts generated by `helm template` there by limiting functional tests to only once.

As part of [release](https://githu

[2021-05-11 04:40] leelavg commented on #538
Adding to above to reduce your time spent on traversing the code, easy way would be to use a template variable like `version` with default as `devel`, thereby we'll be able to verify template generation in CI and pull images with correct tags in actual prod deployment.

[2021-05-11 08:02] pawel-detka commented on #533
Ok, so I did the update as you suggested and it seems to work now.
Thank you @leelavg !

[2021-05-11 08:02] #533 closed, assigned to nobody

[2021-05-11 08:45] pawel-detka opened #540 "failed to open /proc/0/status: No such file or directory"
Greetings!
So I have super strange issue.
I have two exactly the same clusters (Stage and Prod):

[code]

+ 3x CentOS 7 Gluster 7.

Few times a day, on Stage, I see in logs errors:

[code]

on different nodes. This is crucshing my application, to fix it temporarly I need to restart pod(s) kadalu-csi-nodeplugin-xxx and restart application pod.

On Production however everything is working as charm,

[2021-05-11 08:50] pawel-detka commented on #540
I need to add, that on different clusters I have the same issue, but once a month or two.

[2021-05-12 03:56] leelavg commented on #540
@pawel-detka ack, at first instance it seems to be some incompatibility b/n gluster version used in Kadalu and External storage, however your remark 'I have two exactly the same clusters (Stage and Prod)' nullifies above deduction. We'll look into it (mostly other members)

Currently all our hands are occupied so please expect a delayed response wrt RC. Thanks.

[2021-05-12 05:28] amarts opened #542 "Build a framework to handle 'gluster-options' efficiently"
Currently, we call kadalu as a opinionated storage. Which is good. But glusterfs has many options which work better for few workloads. Hence to reach to wider audience, and usecases, we need a clear way to add options to particular storage config. That will allow our releases to work for all work-loads.

[2021-05-12 10:46] amarts commented on #540
Looks similar to #468

Very much possible that its a glusterfs issue. Need to be checked.

[2021-05-12 14:51] pawel-detka commented on #540
Thank you Guys @leelavg @amarts !
I'm waiting then :)

[2021-05-14 05:32] #535 closed, assigned to vatsa287

[2021-05-17 08:51] #538 closed, assigned to nobody

[2021-05-17 11:35] leelavg opened #546 "Uploading artifacts in release workflow"
- [Failure](https://github.com/kadalu/kadalu/runs/2486683225?check_suite_focus=true#step:12:8) in latest (0.8.2) release while uploading artefacts is due to unavailability of `output/downloads` folder which was created in [previous step](https://github.com/kadalu/kadalu/blob/devel/.github/workflows/on-release-tag.yml#L66)
- The folder should persist between steps and need to ~be investigated furth

[2021-05-17 15:52] aravindavk opened #548 "Support for Gluster Volume create syntax for Kadalu Storage add"
Distribute Volume

[code]

[code]

Replica2 Volume

[code]

[code]

Replica3 Volume

[code]

[code]

Disperse Volume

[code]

[code]

* Special parsing is required along with `argparse` to support this.
* Instead of `--device`, `--path` Use `--storage-unit-type=device|path`

Example parser(To be Improved)

[code]

[2021-05-17 16:13] leelavg commented on #548
Just confirming, apart from cli there'll be no change to the core right?

External Storage should also be accommodated.

[2021-05-17 16:34] aravindavk commented on #548
Yes. This is CLI only change. Intelligently decide which syntax is used. For example,

[code]

Yes.

[2021-05-20 09:15] #546 closed, assigned to nobody

[2021-05-22 06:13] amarts opened #553 "Minor issue seen with ListVolumes"
If a storage config is added, but there is no PVC request made from that volume, then we get below failure.

[code]

Logs from csi-provisioner

[code]

[2021-05-22 06:18] leelavg commented on #553
@amarts I'm aware of this and this was the minor fix that I taked about earlier however i wasn't able to figure out what should be the correct response in this case from CSI Spec.

Thanks for the reminder :)

I'm assigning it to my name and will close it.

[2021-05-22 20:13] hunter86bg opened #558 "[DOC] unknown field "kadalu_format""
It seems that the sample code at [external-gluster-storage](https://kadalu.io/docs/k8s-storage/latest/external-gluster-storage/) has an unknown field names "kadalu_format"

[code]

[code]

[2021-05-22 20:15] hunter86bg commented on #548
External seems to be broken with single brick (distributed) vol:
[code]

[2021-05-23 02:08] leelavg opened #559 "External seems to be broken with single brick (distributed) vol:"
External seems to be broken with single brick (distributed) vol:
[code]

_Originally posted by @hunter86bg in https://github.com/kadalu/kadalu/issues/548#issuecomment-846458271_

[2021-05-23 02:10] leelavg commented on #548
@hunter86bg I've raised new issue #559 referencing your comment since the issue is unreleated to current issue.

Will be tracking it there.

[2021-05-23 02:13] leelavg commented on #559
@hunter86bg for now you can replace `gluster_hosts` with `gluster_host` and use a single string.

This seems to be a bug while generating manifest, will look into it. Thanks for the report.

Btw, please make sure external volume is started.

[2021-05-23 02:26] leelavg commented on #558
@hunter86bg can you please update CRD and try? Or the issue is seen after CRD update too?

[2021-05-23 02:49] leelavg commented on #558
Btw, 'kadalu_format' in CRD is in unreleased version. IOW, it's in devel branch currently :)

[2021-05-23 05:28] hunter86bg commented on #558
I used latest and followed the documentation which actually is indeed jn devel branch :)
I've removed that line and it worked

[2021-05-23 09:02] leelavg commented on #558
This [test](https://github.com/kadalu/kadalu/pull/527#issuecomment-828463648) was peformed while validating the feature.

It seems CRD default value shouldn't be supplied, confused :/

Thanks for the report, will get back at the earliest.

[2021-05-23 09:14] leelavg commented on #558
Would it be possible for you to provide o/p of `kubectl get crd -o yaml | grep -C3 kadalu_format`?

[2021-05-23 09:48] hunter86bg commented on #558
It doesn't return any output.
The setup was built yesterday using kubespray ontop Ubuntu 20.04 .
Theoretically, it should be fully updated.

[2021-05-23 14:21] leelavg commented on #558
As discussed over slack and operator deployed was of v0.8.2 the above is expected.

Pls comment if issue is observed on devel.

[2021-05-23 14:21] #558 closed, assigned to leelavg

[2021-05-24 08:50] pawel-detka commented on #540
Dears, any update ?

[2021-05-24 08:52] leelavg opened #562 "[Tracker] Issues related to external volumes usage"
Hi,

I think below issues are ~good to have fix and so creating this issue to track them.

- [x] Delete external storage classes gracefully
- [x] Make use of `gluster_options` while actually mounting gluster volume
- [ ] Minimal testing wrt external cluster, can gluster be dockerized and used in CI to iron out issues similar to #468 and #540?
- [ ] Revisit kadalu-quotad for any incomplete implemen

[2021-05-24 08:56] amarts commented on #540
@pawel-detka this is a fix in glusterfs, which I did for this @ https://github.com/kadalu/glusterfs/commit/9ef8a8a2dd3e2502961f37baee48df9c3ffd254f (for glusterfs crash in /proc/0/status)

Release 0.8.3 should have the fix. (the `devel` tag is already having the builds with this fix).

[2021-05-24 13:14] #559 closed, assigned to leelavg

[2021-05-25 05:21] leelavg commented on #553
I see below issues in implementing no PV case:
- Deadline will exceed on hitting `get_pv_hosting_volumes` when no volumes exist
- There's no way to query using kubectl for existing kadalustorages/sc/pvcs (~`get_num_pvs`)

@aravindavk / @amarts / @vatsa287  do you see any other way of achieving below with minimal changes?
- ABORT the listvolumes request when no storage is defined or no pvc exist in

[2021-05-25 10:57] pawel-detka commented on #540
@amarts thank you,
When you expect 0.8.3 release ?

[2021-05-25 11:52] amarts commented on #553
If the expectation is to return an empty array in case nothing exists, then I would recommend handling it in validation (with a new method), instead of `get_pv_hosting_volumes()`. That way, this will be properly fixed IMO.

[2021-05-26 08:58] aravindavk commented on #553
Currently Kadalu Storage/GlusterFS Volume itself is used for storing meta information related to PVs. How about exposing api from Operator to maintain the PV list. CSI controller will call API during PV create/update/delete. Operator will use paginated configmap to maintain the list.(Paginated because Config Map limit is `1MB`).

This also improves the search speed for PV delete. With pv delete, n

[2021-05-26 09:52] leelavg commented on #553
For now I made changes to my local repo using `iterations` arg with minimal changes and that'd solve this particular issue.

Below will be taken as part of another issue.

Agreed. We'll actually be consolidating the operator knowledge in operator pod itself and we'll be reducing a great number of mounting operations as well :)

Anything inhibiting us right now for doing so?

All in all, any change

[2021-05-26 15:09] aravindavk commented on #553
Quota crawler is not required in all nodes. But running it on all the node-plugins may become redundant.

Working on a test framework for quite some time now. Still the WIP, but the progress looks promising.

https://kadalu.io/docs/binnacle/devel/quick-start/

[2021-05-28 00:38] #553 closed, assigned to leelavg

[2021-05-28 08:59] dmantipov commented on #531
This looks like a weird aarch64-specific (compiler?) bug accessing TLS variables. Try the following:
[code]

[2021-05-28 10:26] amarts commented on #531
@clambin triggered an alpha release with fix mentioned by @dmantipov here. Should have the images pushed in another  90mins. Please check when you get time with `0.8.3-alpha1`. If things work out, then we can push for 0.8.3 itself soon.

[2021-05-28 13:27] slayer321 commented on #528
Hey @amarts, I am new to open source and k8.  I will like to contribute to this project  can you guide me what needs to be done.

[2021-05-28 14:36] llevi commented on #531
It does not work for me on `0.8.3-alpha1`
[code]

The Log almost the same:
[code]

[2021-05-29 02:56] leelavg commented on #528
@slayer321 Welcome,

I'll try to be as concise as possible wrt requirement and a probable solution for a quick head-start and please comment for more info.

Requirement:
1. There are mainly three components being packaged into images with some helper images as well
2. Some of these images may or may not include python packages and for those included python packages we need to refactor them from do

[2021-05-29 07:34] leelavg commented on #417
#527 introduced some more changes to external vols and at the same time changes are documented as well.

Please comment for any extra info.

[2021-05-29 07:34] #417 closed, assigned to nobody

[2021-05-29 07:45] leelavg commented on #260
Yes, server pods are deleted and incase of external vols ntg is deleted. So, no disks are wiped.

@alekitto / @beat, just checking if any issue still persist on recent released / devel versions.

[2021-05-29 07:56] leelavg commented on #358
@vatsa287 is it possible to retry this scenario on devel, i also observed this https://github.com/kadalu/kadalu/pull/564#issuecomment-849422379 and it seems no way around it atm :/

[2021-05-29 08:01] leelavg commented on #362
@FlexibleToast Kadalu doesn't add entries to fstab.

If all you want is `device` to accept `disk` or `uuid` that can be done with relative ease if `blkid` is available on host.

Can you pls confirm your use case once?

[2021-05-29 08:07] leelavg commented on #429
@clambin is it seen on arm platform and after this error appears any tasks (~consuming pvc) are getting effected?

[2021-05-29 08:08] vatsa287 commented on #358
Will try out again

[2021-05-29 12:50] clambin commented on #429
yes.  running arm64 w/ Ubuntu 21.04.

[2021-05-29 18:51] #464 closed, assigned to nobody

[2021-05-30 09:44] amarts commented on #531
considering things worked fine with 0.7.x series... another suspicion I have right now is about possible compiler version issues with ARM64, which could have resulted from upgrading from ubuntu-18.04 -> 20.04.

[2021-05-30 13:57] #340 closed, assigned to nobody

[2021-05-30 19:04] vatsa287 commented on #358
@leelavg This is still there. Require some kind of validation on kubectl cli, but that is not possible from operator I think.

[2021-05-31 02:20] leelavg commented on #358
Yep, thanks for the confirmation.

[2021-05-31 04:14] leelavg commented on #528
@slayer321 is it possible to provide an ack if you've picked up this issue?

[2021-05-31 04:33] slayer321 commented on #528
Thank you @leelavg  for explaining to me everything in detail.  I am new to k8 and opensource so I got overwhelmed with so many things. Currently, I'm learning docker and how all things work that you have mentioned. So I think I might take time. But once I'm done learning. I will intimidate you and will start working on this issue.
Sorry for the late reply.

[2021-05-31 04:46] leelavg commented on #528
@slayer321 ack, thanks for the confirmation.

No problem, one step at a time. Do comment here for any help required.

@vatsa287 do you see this issue as a good-first, need some confirmation 😅.

[2021-05-31 11:08] hsinhoyeh opened #569 "storage got wiped out when my node restarted"
Hi guys,

Thanks for providing this tool, I got one potential bug issue from replica1 configuration.

I once configure replica1 with `/dev/sda1` for providing storage and it went well.
However, my host got accidentally restarted (due to power issue), all pods (mount PVCs) are all failed
[code]

and I try to grab logs from kadalu, I see (`kubectl logs -f kadalu-csi-nodeplugin-ztbbg -n kadalu --all-

[2021-05-31 11:21] leelavg commented on #569
Hi @hsinhoyeh, thanks for the report.

- Can you recursively list files on subvol directory -->  `ls -alR /bricks/storage-pool-1/data/brick/subvol/`
- Unless user requests for the deletion of the data or manualy deletes the data, it'll not get deleted. Please provide above to classify this as a bug.
- #567 should take care of this scenario :)

[2021-05-31 12:24] hsinhoyeh commented on #569
[code]

[2021-05-31 12:26] hsinhoyeh commented on #569
my KadaluStorage didn't have volume id

[code]
kadalu version is 0.8.2

[2021-05-31 13:26] leelavg commented on #569
@hsinhoyeh, thanks for providing the details. Can you confirm whether below steps represent the operations accurately or not?

- Deploy 0.8.2 operator and add `/dev/sda1` as `storage-pool-1`
- PVC carved out of this pool and mounted in an app pod
- Due to power fail, *all* the nodes were abruptly shutdown
- After power-up, in addition to PV not being mounted on app pod, you observed data loss as w

[2021-05-31 13:45] hsinhoyeh commented on #569
Correct, adding more details, please find inline comments below.

To be clear, my cluster has two nodes, and `/dev/sda1` is a partition in one of them.

Correct. After the machine is restarted and no container is running, I run `systemctl start kubelet` to get pods back. and app pods are stuck on mount phase.

`kubectl get pods -n kadalu`

[code]

My storage pool was terminated at `Mon, 31 May 202