[2021-05-31 16:03] leelavg commented on #569
Thanks a lot for the details and these would do. One minute detail, both nodes got rebooted (I see an age difference in above o/p) or one holding the disk?

Please note I'm in IST time zone and be able to get back in ~24hrs. No issues if you plan to recycle the cluster.

[2021-06-01 05:11] leelavg commented on #569
hi, I tried more than ~5 scenarios (with devel & 0.8.2, using device & path mode, restarting single node & cluster etc) but wasn't able to reproduce the issue particularly data loss (checksum of data also matches) and only able to hit some form of below issue which is easy to explain

[code]

[code]

- When a node reboots `kubelet` tries to match desired state of deploy/sts/ds resources and as suc

[2021-06-01 13:08] vatsa287 commented on #528
@leelavg Thanks for the steps in detail, yes it is a good first issue now😀

[2021-06-01 14:59] hsinhoyeh commented on #569
I found a log which could explain why I have data loss

[code]
is it possible that a corrupted disk gets automatically formatted?

[2021-06-01 17:55] FlexibleToast commented on #362
I don't understand your question. From my understanding when adding storage to a pool, kadalu currently accepts either a device such as
[code]

Or a mountpoint such as
[code]

You can't specify a UUID directly. Using UUID is preferred because it will not change after a reboot. Currently this can be done by specifying the UUID to be mounted at a mount point in the fstab of the host, then point kada

[2021-06-02 01:42] amarts commented on #569
Thanks for these logs. It confuses me bit more now. Mainly because we expect people to have a xfs partition but you still have fat filesystem. May be that is the hint to do some testing. Anyways, I am adding more logs around the place where we manage devices. Will update the thread if I find anything.

[2021-06-02 02:34] leelavg commented on #569
@hsinhoyeh I've couple more questions after looking at the logs if you will.

- Does above `fsck` corresponding to the partition that's exported to Kadalu?
- Is there any way that you can confirm the UUID of the exported disk is same before and after reboot?

[2021-06-02 02:40] leelavg commented on #362
Ack, I also meant a similar setting
- Rather than having a separate `uuid` flag why not supply disk uuid to `device` flag itself, coz at the end of the day they both represent some disk and keep resulting diff to a minimum :)
- I mentioned `blkid` to resolve a UUID to it's disk path, coz we can only use a mounted path as gluster brick

Let me have a look at the codebase and implement if possible o

[2021-06-02 03:10] hsinhoyeh commented on #569
I only saw logs from `/var/log/syslog`, it is linked to the main partition called `/dev/nvme0n1p2`

I wasn't able to find previous UUID on the exported disk, but I believe it should be the same?

[code]

[2021-06-02 04:29] leelavg commented on #569
Chance of partition name getting changed post reboot is slim but not zero.

Uh oh, I forgot to notice this earlier from https://github.com/kadalu/kadalu/issues/569#issue-907368701,
- The logs from `kubelet logs ....` doesn't correspond to `kubectl describe pod ...`, coz you can see that **pod** and **pvc** id's are different, so PVC from NodePublishVolume and ControllerPublishVolume somehow are di

[2021-06-02 04:51] aravindavk commented on #362
Makes sense. `mount` command accepts `UUID` so server pod should be able to mount the disk by UUID. Let me explore this possibility.

Reference mount command

[code]

[2021-06-02 07:29] hsinhoyeh commented on #569
in our first deployment of kadalu, everything works well until the machine was unintentionally restarted.
our app-pods contains deployment/statefulset and a single pod is used for quick testing.

oops, the previous installation was gone.

No, we are not doing that on our end.

[2021-06-02 07:30] hsinhoyeh commented on #569
hi guys, it seems `fsck` is not related to the data loss issue, updated the previous comments accordingly.

[2021-06-02 08:54] leelavg commented on #362
Cool, we can directly pass UUID as brick_device in server yaml then.

In my k3d cluster disk is mounted as `devtmpfs` if it's not the case with other nodes, this rfe implementation will be straightforward.

[2021-06-02 10:41] hsinhoyeh opened #575 "network issue on provisioner when multiple node joined"
Hi

not sure whether this is related to this issue https://github.com/kadalu/kadalu/issues/569
my configuration is to have two nodes (one master (node1), one worker node (node2)) joined by kubeadm and use `flannel` as cni.

I installed kadalu with 0.8.2 and use replica1 on a parition.

[code]

pods in kadalu ns (`kubectl get pods -n kadalu -o wide`)

[code]

and then provisioner stuck on an endles

[2021-06-02 13:27] leelavg commented on #569
We've improved logging via #574 and can only hope to capture the extra information in case anything of this sort repeats again.

If it happens again, please take a dump of all the pods logs in kadalu namespace.

[2021-06-02 13:35] leelavg commented on #575
I also use flannel (default in k3d) and didn't face this issue. Please verify below details:
1. Above is being logged when mount process trying to contact server, check there are no errors in server pod.
2. Verify hostname in server pod and ping server  container from kadalu-provisioner container
3. If there's any issue with the disk, server pod would log errors look out for that as well

I hope t

[2021-06-02 15:35] hsinhoyeh commented on #575
interesting, I wan't able to reproduce on my cluster, now it is working. close this.

[2021-06-02 15:35] #575 closed, assigned to nobody

[2021-06-08 13:18] amarts commented on #531
Thanks to @dmantipov, we have one more possible fix in https://github.com/gluster/glusterfs/pull/2510 for arm.  Someone with ARM64 OR arm/v7 setup help us verify it the latest code works?

I have build a new set of images with the fix for glusterfs. For validating this, you need to use `arm` tag of kadalu operator and other images. You can use reference from our [README](https://github.com/kadalu/

[2021-06-08 13:19] posone commented on #531
I will test it tommorow!

W dniu wt., 8.06.2021 o 15:18 Amar Tumballi ***@***.***>
napisał(a):

[2021-06-09 11:00] posone commented on #531
Hello team,

some good and bad news. Installation has been finally completed and all pods are up:
kadalu-csi-nodeplugin-lrp8q                3/3     Running            0          5h33m
kadalu-csi-nodeplugin-mzv9v                3/3     Running            0          5h33m
kadalu-csi-nodeplugin-zw866                3/3     Running            0          5h33m
kadalu-csi-provisioner-0

[2021-06-10 06:19] posone commented on #531
Hey @amarts do you think the arm will still be broken for a while? I am asking as I need to decide really soon if I can leverage Kadalu in this project or not.

[2021-06-10 06:22] amarts commented on #531
Give time till 14th June. I would like to check with ubuntu-18.04 once. If not fixed by then, it may take time for sure.

[2021-06-10 06:51] posone commented on #531
Ok, thank you! We will wait till 14th.

[2021-06-11 01:34] amarts commented on #531
Built another image with ubuntu-18.04 base. Can you try the `arm` tag again.

[2021-06-11 07:06] posone commented on #531
I have just rebuild it - it fails, logs below

[code]

[2021-06-11 07:28] amarts commented on #531
package-string: glusterfs 2021.05.28

Looking at this, I am not sure if the proper binary is being used. Expected it to have yesterday's value.

Let me check why it is. Also can you please confirm both server pods and csi pods has arm tag on them? Or was it devel.

[2021-06-11 10:15] posone commented on #531
Hi,
all my PODs/Deployment have arm tags in image

[code]

[2021-06-11 14:45] couloum commented on #300
Hi,

We performed an upgrade to v0.8.2 and now the sizing is correct!

[code]

I will close this issue.

Thanks for the quality of the work on this project!

[2021-06-11 14:45] #300 closed, assigned to nobody

[2021-06-11 15:33] leelavg commented on #531
@posone I hope I'm wrong, did you apply operator manifest in an existing kadalu setup or on a clean install?

Rationale being, it seems `imagePullPolicy` is *not* set to `always` in operator manifest and so latest images will not be pulled.

We took aws graviton instance with resources to qualify UAT and committed to fix the issue before the end date.

We'll revisit other components to find out an

[2021-06-14 06:58] posone commented on #531
@leelavg Hey! I did the steps as follow:
[code]
And then applied it by kubectl apply -f again.

[2021-06-14 10:28] aravindavk commented on #531
Locally built images are working. Will confirm this again with 0.8.3-alpha2 in some time.

[2021-06-14 10:45] posone commented on #531
Should I try to deploy them locally in the meantime or just wait for your tests?

[2021-06-14 13:17] aravindavk commented on #531
`0.8.3-alpha2` is working in the Arm instance.

https://github.com/kadalu/kadalu/releases/tag/0.8.3-alpha2

[code]

[2021-06-14 15:08] hsinhoyeh commented on #497
Hi @amarts

we also see such issues on my cluster with replica1.
kadalu version: 0.8.2

go do node-plugins ( `kubectl exec -it kadalu-csi-nodeplugin-vtplp -n kadalu -c kadalu-nodeplugin -- sh` )
[code]

But when I mount the external storage on the host, du shows
[code]

some suspicious logs (`kubectl logs -f server-storage-pool-1-0-0 -n kadalu --all-containers`)

[code]

[2021-06-15 10:11] posone commented on #531
Hello team,
I have implemented 0.8.3-alpha2 but it did not help. After I try to create the KadaluStorage the server-kadalu-storage-replica-pool pods are crashed.

[code]
Version of
[code]

[2021-06-15 10:42] posone commented on #531
Sorry guys! I forgot to wipe the volumes on the nodes. I made wipefs, recreate xfs and it looks better! I will keep testing.

[code]

[2021-06-15 14:05] benedekl opened #577 "Disk usage miscalculated / quota exceeded"
Dear guys,

First, thank you for this awesome storage solution.

I have made a 3 node (Replica3) setup on Kubernetes. The bricks are on the master nodes. I'm using `docker.io/kadalu/kadalu-operator:devel` image as operator and tweaked the servers to tolerate `node-role.kubernetes.io/master` taints.

[code]

[code]

[code]

I tried to create a simple webserver deployment with PVC and everything see

[2021-06-15 16:11] leelavg commented on #577
@benedekl

Thanks for the report, stopped after going through below out of confusion 😕

Are you sure that there are no more entries? Unless I'm mistaken `nodeplugin` should run on every node as a daemonset and not able to see that from above o/p.

Will update the comment after going through entire issue.

[2021-06-15 16:42] amarts commented on #577
Thanks for the report. This is surely some bug with simple-quota. Looks like the issue happened because of self-heal on a directory with quota limit set. Looks like while setting quota xattr there seems to be an issue.

One possible quick way to get rid of this is by removing `trusted.gfs.squota.limit` from the PVC dir on all storage devices (bricks).  Note that it will make the PV show all volume

[2021-06-15 17:07] benedekl commented on #577
@leelavg @amarts

Thanks for your replies. Yes, currently these are the only pods running as I have to use the master nodes as bricks. I'm not sure if `nodeplugin` need to run on the server nodes as well or not. The fact that every PV works well except the one used by Prometheus tells me it is not needed. On the masters there will be no pod consuming PVs provisioned by Kadalu.

A quick check in th

[2021-06-16 02:01] leelavg commented on #577
@benedekl

I understood that it was because of taints and my comment served no purpose, so removed it.

Yes, `nodeplugin` is only needed whey there are pods consuming storage scheduled on that node 😃

[2021-06-16 08:05] benedekl commented on #577
@leelavg

Thank you for confirming this for me!

[2021-06-20 17:37] sysedwinistrator opened #578 "ARM64 deployment fails"
Hi there,
I am trying to deploy kadalu on k8s for the first time.
On my first attempt, I wasn't aware of the arm GitHub branch and Docker tag. I used the generic yaml , but the operator container wouldn't start. (I didn't look at the logs, sorry). So I modified the yaml and changed the the Docker tag from devel to 0.8.2, and the operator started. Now, however, the csi-nodeplugin and csi-provisione

[2021-06-21 04:08] amarts commented on #578
Hi @sysedwinistrator... We fixed few issues seen with ARM64 deployment after `0.8.2` release. The latest pre release is working `0.8.3-alpha2`. Please try that and let us know if it works. We are planning to make the release of 0.8.3 soon. If you confirm it works, then we will do it this week itself.

[2021-06-21 13:26] sysedwinistrator commented on #578
Hi @amarts, thank you for your reply. As I see, you have already released `0.8.3` to docker.
I realised that the mistake was on my side: I only changed the tag of the kadalu-operator image, but didn't also change the `KADALU_VERSION` in the yaml. Sorry for the trouble.
After I put version `0.8.3` in both places, the operator started, but not the csi-provisioner and csi-nodeplugin; they failed with

[2021-06-21 13:26] #578 closed, assigned to nobody

[2021-06-21 13:33] leelavg commented on #578
@sysedwinistrator glad it worked and also thanks for the comment on unqualified images
1. busybox & socat: will add full path of the images
2. socat: it's not deployed by default in prod, conditionally deployed in dev environment.

[2021-06-22 13:09] AndrzejOlender opened #583 "Glusterfs may consume reserved port"
Hi,

I have a kadali deploy done as replica3. k8s cluster version 1.21.1 (kubespray) (3 nodes)
These are 3 vmware virtual machines (RedHat 7), disks for kadalu allocated via vmware.

On the first two nodes I get this error over and over again.
1-2 node logs

``
W [MSGID: 101012] [common-utils.c:3275:gf_get_reserved_ports] 0-glusterfs: could not open/read file, getting ports info [{ /proc/sys/net/i

[2021-06-22 13:41] aravindavk commented on #583
Looks like the log messages are misleading. All server pods will use `24007` port. May be some other error masking this. Will look into the error from the log and update here.

These errors may be related to Heal daemon, Are you able to create PVs?

[2021-06-22 13:54] AndrzejOlender commented on #583
Thank you for your quick response. Any PVs are in pending status.

[2021-06-23 15:36] rmey opened #585 "DNS and reserved ports issue on OpenShift 4.7"
I could not get kadalu.replica3 mode working with an OpenShift Cluster having 3 workers with attached storage on /dev/vdd each. In the logs I get DNS and reserved port warnings. The replication does not work - every of the 3 example pods which share a RWX PVC with replica3 mode storage class are looking like as they would have their own volume. The shared volume does not work.
Since the log is ver

[2021-06-23 15:54] amarts commented on #585
[code]

This looks like the issue which is happening. Will revert back after checking.

[2021-06-23 16:07] amarts commented on #585
ok. One question. Is port 24007 under any firewall in OpenShift? If yes, please open it up. Specially on the nodes where you are having storage pods running.

[2021-06-24 11:56] rmey commented on #585
@amarts port 24007 is not blocked anymore. I added a calico policy which opened the port for tcp/udp. A new error from today is in the gist.
https://gist.github.com/rmey/6f162e2269c19f31fc2e096694aea51c#file-2021-06-24-log
[code]

[2021-06-24 13:44] leelavg commented on #585
- After going through the log, I strongly believe this is coming from python kubernetes api [watching](https://github.com/kadalu/kadalu/blob/devel/operator/main.py#L844) the CRD and found below when I investigated along that route
- Out of all searches [this](https://github.com/emissary-ingress/emissary/pull/724) seems to fit well and so I think no other way than catching the error (maybe `urllib3

[2021-06-24 14:01] leelavg commented on #585
Btw, just deployed devel branch to check on the things and it looks good to me and no error in operator log as well

[code]

[2021-06-27 06:51] KyleSanderson opened #586 "how do I rebalance?"
there doesn't seem to be a way to do it through kubectl-kadalu, what's the correct way to do this with a Kadalu maintained disperse pv?

[2021-06-27 07:10] aravindavk commented on #586
Disperse or Replicate Volume doesn't need to run rebalance, they use Automatic healing. Auto or Self heal is enabled by default.

Rebalance is required only when the Storage is expanded by adding more storage units or shrinked by removing the units. Rebalance support is not yet available.

Please let us know more details about your setup. Did you expanded your Storage recently?

[2021-06-27 07:11] leelavg commented on #586
Hi,

Can you please expand a bit more on your use case?

Is it like you added disperse kadalu storage and carved a PV out of it and then added some more devices/path to same storage and want to expand & rebalance storage?

Edit: By the time I commented, Aravinda addressed above 😅

[2021-06-27 07:12] KyleSanderson commented on #586
I have a really small disk, 4T, the rest are 8T and 12T. I'm trying to remove the 4T disk from the SC but the operator is bailing out on me when removing a single brick.

Data 2, Redundancy 1. 6 disks down to 5.

[code]

EDIT: Specifically I'm manually editing KadaluStorage to get that error.

[2021-06-27 07:20] aravindavk commented on #586
6 disks, Data 2 + Redundancy 1 This means two Sub-volumes with Data 2 + Redundancy 1.

[code]

If you remove 1 disk from this pool, then one subvolume will become two disks That is invalid disperse configuration. Are you going to replace the removed disk? If yes, then after replace Self/Auto heal will sync the files from other disks in that subvolume.

If the configuration is

[code]

Then

[code]

[2021-06-27 07:22] leelavg commented on #586
I'm guessing it's ~ 2×(2+1) and so after you remove a single brick it's not balanced anymore and erroring out.

Comments on the [logic] (https://github.com/kadalu/kadalu/blob/devel/operator/main.py#L190-L212) used are good to look at once.

Btw, we recently introduced decommissioning a brick and replacing it with another and that might be helpful if you are replacing bricks.

[2021-06-27 07:31] KyleSanderson commented on #586
So I think what I'm looking for is for some bricks to be considered online, and then when there's a disk failure the operator kicks in and onlines the stand-by brick(s). I'm also getting some weird behaviour where it's saying quota exceeded on a 512G PV when I'm copying files over.

[code]

[2021-06-27 07:37] leelavg commented on #583
Hi @AndrzejOlender

If you are evaluating Kadalu on a test setup can you please perform a [cleanup](https://github.com/kadalu/kadalu/blob/devel/extras/scripts/cleanup) of kadalu namespace and install operator once again?

If the setup is still up, can you ping server pods from provisioner pods?

- Like login to `kadalu-provisioner` container in `kadalu-csi-provisioner-0 pod` and `ping server-stora

[2021-06-27 08:21] KyleSanderson commented on #577
This seems to be inode related for me, my incredibly basic music directory kicks something into gear and kills the pv. What's the fix?

[2021-06-27 08:49] leelavg commented on #586
Afaik, we don't have that functionality and never come across a similar ask. Just reasoning through the feature, if a piece fails it should retry & fail gracefully than replace faulty automatically which may result in heavy heals/data corruption 🤔.

Anyways, it looks interesting and let's see if that's possible or not.

Are you sure that 512G PV actually has free space?

[2021-06-27 09:00] KyleSanderson commented on #586
Not entirely sure that's possible, because to tolerate the brick loss it can't use the other bricks because that would still be 2data with no redundant volume now. It's like RAID with a hot spare is what I'm requesting, which is incredibly common in enterprise.

Yeah, it's inode related. I can do big files, but a bunch of directories (atleast 900) hits some quota and df reports 1TB used with only

[2021-06-27 12:40] aravindavk opened #587 "[RFE] Heketi to Kadalu Migration"
Recently Volume ID option is added while adding Kadalu Storage. This is good enough to migrate the Heketi Volumes to Kadalu Storage. But once imported it will be used as common storage pool and new PVs may gets assigned from this Storage.

Proposal:

* Get the Gluster Volume ID, PV ID(Ex: `pvc-ed2e3167-5040-4ab0-9b6c-a2dbcc552b6e`), Volume Type and bricks list
* Join the Heketi nodes to Kubernetes

[2021-06-27 13:39] amarts commented on #587
I suggest, treating this and External storage with non-native format in a similar way. Way less code, and similar handling for heketi volume.

[2021-06-27 14:04] leelavg commented on #587
My knowledge about Heketi is rather limited however I'm unsure whether block hosting volumes can also be migrated in the same or not 🤔

@amarts I guess we can map heketi independent mode to external non-native and everything else to kadalu native as they are deployed as pods already or count everything as External for a start?

[2021-06-27 14:23] aravindavk commented on #587
Makes sense. But when all the Storage nodes are migrated to Kadalu then it should be handled as native way with a few changes to Provisioner code. But node plugin can share the code of non-native format.

[2021-06-28 03:45] leelavg commented on #585
- PR #588 catches the exception and operator shouldn't restart every now and then

- However, after this fix need to observe whether above issue also get resolved or not

[2021-06-28 03:58] leelavg commented on #587
@aravindavk small query, did you design a way to move all volume handling logic to operator and serve through REST API (first referenced in https://github.com/kadalu/kadalu/issues/553#issuecomment-848597576)?

[2021-06-28 04:17] amarts commented on #587
If we think of REST API, we can also consider running glusterfs's new [volfile-server xlator ](https://github.com/amarts/glusterfs_fork/blob/2427c2862ec56ceab7b489f0f6ce18f238c99bf6/xlators/mgmt/volfile-server/README.md) on operator, so even client vols are served from there. Just that this service now needs a constant domainname to refer to.

[2021-06-28 04:50] aravindavk commented on #587
Not Yet. I am also thinking about getting ConfigMap write capability to CSI Provisioner Pod. Nothing finalised yet.

[2021-06-28 06:45] rmey commented on #585
I will try at the end of week with development branch using same environment

[2021-06-28 09:53] AndrzejOlender commented on #583
Hi @leelavg

Yes, I tried cleaning everything with the script.
I just tried ping from pod kadalu-csi-provisioner pod and I think you are right.
I need to check other ways now.
[code]

[2021-06-29 04:43] KyleSanderson commented on #577
@leelavg @aravindavk any update on this? Can I do anything more to help fix this bug? It's pretty devastating as it's blocking anyone from using this 😿

[2021-06-29 16:04] amarts commented on #577
@KyleSanderson this is bad, and yes, it is possibly something to do with the inode context... One possible quick fix is as suggested in [comment](https://github.com/kadalu/kadalu/issues/577#issuecomment-861658425) above, remove the xattr on directory which sets the quota as 0, and do a kill of the server pods (which should restart server pods without xattr).

Also when this happens, try to check f

[2021-06-29 16:11] amarts commented on #586
@KyleSanderson regarding quota, can you try 2 things?

Try df -h on the PV mount (from any client volume, in csi nodeplugin/provisioner), and also `du -sh ` on PV mount. Now, see if you can check the 'du -sh ' usage on the brick pods.

[2021-06-30 04:38] KyleSanderson commented on #586
@amarts they're fully bricked PVs quoting some invalid storage requirement. I have zero interest in chatting about basic usage issues when there's massive enhancements that are super close that anyone can reproduce. Outside of weird science project / hey I've never used this: how can I help further. Asking end users to understand implementation details when there's no client to do the immediate pr

[2021-06-30 05:03] leelavg opened #591 "Unable to recreate/resize a PV in K3OS"
From slack:

Łukasz Grzelak  8 days ago
E0622 12:34:13.794966    3900 goroutinemap.go:150] Operation for "/var/lib/kubelet/plugins_registry/kadalu/csi.sock" failed. No retries permitted until 2021-06-22 12:36:15.794943947 +0000 UTC m=+3508.861792830 (durationBeforeRetry 2m2s). Error: "RegisterPlugin error -- failed to get plugin info using RPC GetInfo at socket /var/lib/kubelet/plugins_registry/ka

[2021-06-30 05:07] leelavg commented on #591
- I tried to recreate the scenario but couldn't

[code]

- Above error is masking the issue that you are facing, will revert based on your reply

[2021-06-30 05:13] leelavg commented on #585
@rmey ack,
- since #588 is merged, cleanup the namespace using [this](https://raw.githubusercontent.com/kadalu/kadalu/devel/extras/scripts/cleanup) script [please verify before running it]
- After cleanup, you can apply manifest for [openshift](https://raw.githubusercontent.com/kadalu/kadalu/devel/manifests/kadalu-operator-openshift.yaml) from devel branch
- Please note, the fix just suppresses ex

[2021-06-30 07:25] amarts commented on #586
@KyleSanderson understand that these are not ideal for a person to try when there are other users using the system, and are facing issues.

Valid point. We will work on that. We will get on to building tools to get information on this :+1:

[2021-06-30 10:16] benedekl commented on #577
@amarts How is it possible that there is no such xattr on my directories and I'm still affected by this? The mentioned `trusted.gfs.squota.limit` has never been there, at least I didn't remove it by hand.
[code]
[code]
[code]

The server pod logs this (and similar messages)  in every second:
[code]
Sending `SIGUSR1` to `glusterfsd` shows nothing more in the logs.

[2021-06-30 14:43] vatsa287 commented on #591
Is it because of unimplemented method of NodeExpandVolume ?

[2021-06-30 15:43] leelavg commented on #591
1. Errors aren't related to CSI method, they seem to be spurious registration entries cause the functionality isn't getting impacted afaik
2. If you mean `NodeExpandVolume` in the context of the user scenario idk at the moment, need to relook at `ControllerExpandVolume` vs `NodeExpandVolume`

Waiting on user inputs atm but please proceed with your investigation @vatsa287

[2021-06-30 16:52] vatsa287 commented on #591
@leelavg I am not fully aware of differences between ControllerExpandVolume and NodeExpandVolume

[2021-07-01 03:10] leelavg commented on #591
@vatsa287 From the [docs](https://kubernetes-csi.github.io/docs/volume-expansion.html) it's "either via a control-plane CSI RPC call or via node CSI RPC call or both as a two step process"

So, we don't need both, and we implemented in control-plane our driver that has capability to expand irrespective of volume (PVC) being OFFLINE/ONLINE.

[2021-07-05 08:27] gigipl commented on #591
After creating storage:
[code]
-> create storage:
[code]
-> Create pvc:
[code]
And after this i have:
[code]

[code]

Pods is started fine:
[code]

On the node where this cluster is created:
[code]
So, space should be accessed.

[2021-07-05 11:52] gigipl commented on #591
I think a problem is with server-*

[code]

Here i not see mounted diskdrive (sda,sdc or sdd).

My "root device" on this pod have about 7GB free and i can without any issue make pvc like 1-2GB and resize it to 7GB. So i think a problem is with mounting storage on server-*

My logs:
[code]

[2021-07-05 14:38] leelavg commented on #591
@gigipl thanks for access to the machine, copied below from slack

1. the way i see, we can't add any binaries in k3os?
2. the issue seems to be the difference b/n xfs_* (xfsprogs) utilities b/n host and container
3. for now please use path mode, meanwhile we will try to research more on k3OS
4. before using storage for the first time just run `mkfs.xfs <dev>; mount <dev> <path>` and use yaml simi

[2021-07-05 19:00] kondas commented on #577
Hello guys, i encountered the same "Quota exceeded" while evaluating kadalu. I can reproduce consistently with a disk benchmark pod on a kadalu backed PV. Issue persist using "path" method for storage, formatted to xfs and mounted manually.  trusted.gfs.squota.limit xattr is absent from the start.

[code]

[2021-07-05 19:27] amarts commented on #577
Thanks for this reproducer. One question, is the storage replica1/2 or 3?

[2021-07-05 19:31] kondas commented on #577
The storageservers logs are flooded with this message in my setup:
[code]
@amarts  I created the storage like this, its replica1:
[code]

EDIT: The issue is the same using replica3

on the hosts there is a **cached LVM LV** formatted to XFS and mounted.

Previous setup was passing the "raw" LV-s to the storage pool, quota error also.
[code]

[2021-07-06 06:47] #528 closed, assigned to nobody

[2021-07-06 08:04] leelavg commented on #528
@slayer321 didn't hear from you so went ahead and raised PR to fix this
1. You can look at the merged PR #592 to get to know how above comment is implemented
2. You can look around other issues if you are interested in taking up any

[2021-07-06 11:59] leelavg commented on #591
As stated in the slack, refactoring miss, #594 should fix this
[code]

[2021-07-06 12:15] #591 closed, assigned to nobody

[2021-07-06 18:33] #378 closed, assigned to nobody

[2021-07-07 04:23] amarts commented on #577
@kondas if you have cycles, can you check the latest `devel` tag (for specially server pods) and see if that makes any difference? I have added https://github.com/kadalu/glusterfs/pull/2 in the mix. Some issues should be resolved IMO with it. While we continue to test and fix issues, a validation on this would help us.

[2021-07-07 10:08] kondas commented on #577
@amarts I've reinstalled kadalu with argument "--version=devel", and i can see operator and storage-server pods are on the devel tag. I still get the "Quota exceeded" error with dbench.

[2021-07-07 15:02] #390 closed, assigned to nobody

[2021-07-09 07:07] hunter86bg opened #596 "RFE: Allow kadalu to manage external volume quota ( gluster-native directory)"
It seems that kadalu can assign quota to PVCs initially on external volumes (native gluster directory quota), but has no option to extend it via kubectl.

Can we enable kadalu to change gluster's dir quota upon resize.
The feature from Kubernetes side is: https://kubernetes.io/blog/2018/07/12/resizing-persistent-volumes-using-kubernetes/

[2021-07-09 07:18] amarts commented on #596
Code to make changes (if someone is interested to pick this up).

in `update_subdir_volume()` (csi/volumeutils.py), handle the case separately for External volume (refer CreateVolume code in csi/controllerserver.py), and send a quota limit set command to cluster (with changed quota)).

[2021-07-10 19:24] KyleSanderson commented on #577
Any update on this devastating bug?

[2021-07-10 19:33] amarts commented on #577
Latest `devel` tag has one more fix which should resolve some more issues in simple-quota.

I haven't able to test the fixes in k8s ecosystem yet. If the latest devel branch is tested, we can take a call on this.

[2021-07-10 22:22] kondas commented on #577
@amarts Latest devel tag (16062ca660a2) still has the issue

[2021-07-11 17:18] vatsa287 opened #598 "Error in Operator while deploying external storage class / handle_external_storage_addition() [ DEVEL ]"
While trying create external storage in 'devel' [ make containers ] following error occurred:

[code]
I suspect because the intended storage class is already been deployed through deploy_storage_class() with storageclass-kadalu.custom having the same value. So when same sc is deployed in handle_external_storage_addition(), this is errored out.
Moving deploy_storage_class() after type == "External"

[2021-07-11 19:14] #598 closed, assigned to nobody

[2021-07-13 22:46] KyleSanderson commented on #471
Can this sample be added to CI https://github.com/kadalu/kadalu/issues/577#issuecomment-874283249

[2021-07-14 02:03] leelavg commented on #471
@KyleSanderson definitely, dbench seems to be a good candidate to be included in CI.

@vatsa287 see if you can pick this up or I'll start working on it after a week's time.

[2021-07-14 13:31] couloum opened #600 "Volume won't mount after upgrade on 0.8.2"
Hi,

We have upgraded Kadalu from version 0.7.1 to version 0.8.2. After the upgrade we are not able to mount some volume, with this error in `kubectl describe pod`:

[code]

The PVC do exist (`pvc-a127f797-9cb8-44ef-88be-286592b976f6`):
[code]

Something that we find strange, is the ATTACHER being different on this volume:

[code]

It seems, that new volumes use attacher `kadalu`, while volumes cr

[2021-07-14 17:25] amarts commented on #600
any logs from `kadalu-csi-nodeplugin` pods? That should provide more reasons for this.

[2021-07-15 05:03] leelavg commented on #600
hi @couloum,

- you picked up the only version (0.7.1) which has driver name as (`org.kadalu.gluster`), before 0.7.1 it was `kadalu.gluster` (https://github.com/kadalu/kadalu/commit/170c0844607e89fc0637816602ce4aaea1945ab2) and after 0.7.1 it was and is just `kadalu` (https://github.com/kadalu/kadalu/commit/56d886073da4e5a215d13386576fd1d407b624c3). so, this explains csi-attacher failure and sry f

[2021-07-15 09:16] couloum commented on #600
Hi @leelavg ,

Thanks for this answer. If I apply your procedure (remove `csi-nodeplugin` and `csi-provisioner`, delete `org.kadalu.gluster` and redeploy kadalu operator again, is there a risk to lose all volumes? Will they be recreated, in which case I have to restore a backup, or will I have to recreate them by redeploying deployments using these volumes?

As this is a production server, I prefe

[2021-07-15 10:20] leelavg commented on #600
- I'd be in a better position to advise to upgrade to v0.8.3 if you can provide the storage classes that are currently deployed or `kubectl describe cm kadalu-info -n kadalu`

- is it possible to provide below stats?
a. how many pods are effected by this downtime and waiting for these PVCs?
b. if you can provide configmap (as stated above) we'll be able to see how many storage volumes you are usin

[2021-07-15 12:31] couloum commented on #600
[code]

I see `"kadalu_version": "0.7.0"`, I guess this is bad

Currently, we have only 4 pods (in 3 deployments) waiting for PVCs

[code]

I provide the list of elements in namespace `kadalu` to better see what is installed:

[code]

It seems that we have only 1 volume using old pods, right? In that case, I can manage to remove it and start fresh.

Would it be possible to get commands that I shou

[2021-07-15 13:26] leelavg commented on #600
@couloum cool, this already looks promising.

- I want to assure one thing before moving forward, unless some drastic corner case is hit, you'll not loose data while performing upgrades as there are enough checks in the operator to keep those cases away

no, it isn't 😉, however need to look why it stayed at that specific version 😄

- as i mentioned earlier should've included provisioner process as

[2021-07-15 13:41] couloum commented on #600
Sorry, I forgot. Here it is:

[code]

-> kubectl apply -f https://github.com/kadalu/kadalu/releases/download/0.8.3/kadalu-operator.yaml

I just tried in preview, but I get an error:

[code]

Operator as been updated though and other components as well:

[code]

Should I ignore this error?
[code]

Thanks

[2021-07-15 13:49] leelavg commented on #600
There were some breaking changes wrt external gluster, pls delete only the crd (it'll be like `kubectl delete crd kadalustorages<TAB>`)and install the manifest again. As operator is already upgraded, for a sec or two it'll just log errors.

[2021-07-15 13:52] leelavg commented on #600
@amarts i think we can have `preserveUnknownFields: false` in CRD until v1.

I had some confusion earlier whether that value should be `true/false`, pls suggest when you get time.

[2021-07-15 15:42] couloum commented on #600
I tested the procedure in preview, but still have same result.

Here are the steps I performed:
1. Apply new version 0.8.3 `kubectl apply -f https://github.com/kadalu/kadalu/releases/download/0.8.3/kadalu-operator.yaml`
2. Delete crd: `kubectl delete crd kadalustorages.kadalu-operator.storage`
3. Apply again version 0.8.3 `kubectl apply -f https://github.com/kadalu/kadalu/releases/download/0.8.3/k

[2021-07-15 16:13] couloum commented on #600
The reason why `csidrivers.storage.k8s.io/kadalu` was not present in preview was that someone delete it as a workarround for the `newCsiDriverClient`.

[2021-07-15 16:15] leelavg commented on #600
@couloum uh oh, it's bad then.

1. You can try deleting older nodeplugin and provisioner first and then proceed with above steps.
2. The reason for above is possibly that old and new pods reading off of same configmap
3. Nevertheless, I'll try if I can create this scenario and update you.

Need to investigate whether k8s has some cache somewhere that it has knowledge who created the pvc.

[2021-07-15 16:15] leelavg commented on #600
@couloum uh oh, it's bad then.

1. You can try deleting older nodeplugin and provisioner first and then proceed with above steps.
2. The reason for above is possibly that old and new pods reading off of same configmap
3. Nevertheless, I'll try if I can create this scenario and update you.

Need to investigate whether k8s has some cache somewhere that it has knowledge who created the pvc.

[2021-07-15 16:46] couloum commented on #600
@leelavg , I managed to make it work after I rellout restart `ds/kadalu-csi-nodeplugin`. I believe that it allowed `csi-node-driver-registrar` to apply new CSI driver. Before the restart, there was a confilct with v0.7 and v0.8.

However, after restart, I still had volumes using old CSI driver:

[code]

For these volumes, I deleted them completely and recreated them from scratch. When deleting the

[2021-07-15 16:49] couloum commented on #600
And to finish, I run `kubectl delete csidrivers.storage.k8s.io org.kadalu.gluster`, so only `csidrivers.storage.k8s.io/kadalu` is present.

[2021-07-16 00:21] KyleSanderson commented on #577
Still having issues on this one with devel.

[2021-07-16 01:44] leelavg commented on #600
@couloum great, good to hear that.

From the start, issue is two fold,
1. Old and new versions using same csi.sock to register driver however we already have old driver registered and so new driver isn't getting registered
2. Both versions of server pods reading off of same configmap

You can follow up the discussion here https://github.com/kadalu/kadalu/discussions/563

Restoration is a bit invol

[2021-07-20 08:02] amarts opened #601 "k8s v1.22: v1beta APIs going away, and impact to Kadalu project"
As per https://kubernetes.io/blog/2021/07/14/upcoming-changes-in-kubernetes-1-22/#what-to-do one of the apiextension API we use is going to be unsupported from v1.22. Need to have a plan of action for the same.

[2021-07-20 20:47] couloum commented on #600
Hello,

We have done the operation on production. Like for preview, we had to delete all PVC and restore a backup. At the end, we are running on Kadalu v0.8.3, with all volumes up & running.

I would like to thank you for your support, even if we were not able to make a smooth upgrade without deleting all pvc. Your fast and precise answers were very important for us.

[2021-07-20 20:47] #600 closed, assigned to nobody

[2021-07-21 05:45] amarts commented on #577
Sorry about delay in this. Taking more time than anticipated. Will keep the issue posted on progress.

[2021-07-21 05:51] amarts commented on #600
Glad to hear this. Looks like we should document this issue clearly! And a learning is, Upgrade specific document (along with FAQs) is a must in our documentation. Will fix it soon.

[2021-07-22 08:08] couloum commented on #577
Hi,

We encountered the same bug after upgrade on v0.8.3. I have another way to reproduce the issue:
- Create a pod integrating rsync, with a PVC attached
- Start a rsync transfer (download on the pod)
- Start again rsync transfer on same file
- The quota is increased at each rsync execution

Here are the log of this (I have changed rsync server's url and filename):
[code]

As you can see in last

[2021-07-22 08:29] couloum commented on #577
Would it be possible to provide a detailed procedure on how to apply the workaround, from [this comment](https://github.com/kadalu/kadalu/issues/577#issuecomment-861658425)?

[2021-07-23 06:21] amarts commented on #577
@couloum thanks for this report, in detail. Looks like this is happening due to a bug we identified in glusterfs codebase of kadalu's simple-quota. Made fixes which are available in devel branch now, 0.8.4 should have fix for it. Meantime, we are looking at providing a script in storage layer to recalibrate  based on their usage.

There seems to be one more issue which is taking time to fix, which

[2021-07-26 04:51] leelavg commented on #577
@amarts / @aravindavk

Something's fundamentally broken in quota crawler and subsequent quota ops are failing if I'm not wrong.

I tested with below manifest:

[code]

a. I can hit the same disk quota exceed warning, however below are my observations
1. I asked for a 1G vol but I was able to use ~3.6G of PVC before I hit the warning (server logs are filled with quota warning so unfortunately could

[2021-07-26 06:14] hunter86bg commented on #596
@amarts , I can't find csi/controller.py . Maybe you ment csi/controllerserver.py ?

[2021-07-26 06:58] amarts commented on #596
@hunter86bg sorry about that. Yes. You are right. Editing my detail above.

[2021-07-26 07:11] couloum commented on #577
Hi,

As this quota issue is very problematic, is there a workarround that we could apply?
I have only 2 options for now:
1) Backup data, destroy pvc, recreate it and restore data
2) Switch to local storage

Both workarrounds are not so great. I would prefer to temporarily disable quota.

Thanks

[2021-07-26 07:35] leelavg commented on #577
hi @couloum,

As per my observation, I see no (easy) way out of this situation and we (at-least I) don't have a solid understanding on where things are going wrong.

I'm thinking to bisect commits using a binary search to find out the culprit commit using github CI however scripting it out might take some considerable amount of time.

@amarts will we be losing many functionalities if we switch glu

[2021-07-26 07:38] amarts commented on #577
@leelavg thanks for tests.

@couloum @hunter86bg, @kondas and others... Here are the action plan on this issue.

1. Make a release of 0.8.4 with 1 major option - to disable simple quota check for fops. - ETA -2 days (ie, by end of 27th July, GMT)
2. Work on fixing the quota issue and solve it with definite timeline. - Aug 12th.
3. Provide an option to 'reset' quota based on the actual usage, and r

[2021-07-26 13:08] amarts commented on #577
This is a concern. I fixed an issue after the first reported issue post 0.8.3 where there is a check for less than 0 usage. Ideally the usage shouldn't get to negative. That is a red signal for sure.

We can't see the particular PVCs in `df -h` usage. They are just a directory, not mount points (specially on the provisioner pod). So, you need to apply `df -h $pvc_subdir` to see the limit being iss

[2021-07-26 13:24] leelavg commented on #577
Just realised this 😅. I did take o/p of that and the `fiotest` file itself in the PVC spanned ~3.5G.

And the volume doesn't have any other PVC. So the total usage here is almost occupied by that single PVC.

[2021-07-27 16:48] amarts commented on #577
Ok, some update on this thread.

1. As promised, we made a release with 'disable quota' option - https://github.com/kadalu/kadalu/releases/tag/0.8.4
2. With few fixes which went into to Quota code on glusterfs side for the release, looks like https://github.com/kadalu/glusterfs/commit/16f37030c2769b9625794ed108e5573981e3342e should fix the real issue. It escaped my testing because I was testing on

[2021-07-27 16:51] amarts commented on #587
considering #597 is merged, good to test if 0.8.4 is ready for a migration from heketi with native kadalu approach. Any volunteers to help us test this ? (We recommend this only if you have a test setup where you already have heketi, or can setup heketi). For further steps, please join Slack channel and we can discuss. Once tests are successful, we can update this thread on exact steps needed, and

[2021-07-27 18:07] KyleSanderson commented on #577
@amarts you've forgotten to do a DockerHub release - there's no new tag.

[2021-07-27 18:21] KyleSanderson commented on #577
Yeah - no one can install Kadalu right now because the new operator has been shipped + docs updated but there's (still) no valid image...

Can CI please be added. This is storage, if there's a ethernet nic bug the frames will get transmitted, if there's storage corruption you're losing all of your data - this is very important to get right.

[2021-07-28 01:06] aravindavk commented on #577
@KyleSanderson It is available now. After creating tag, CI took some time to publish the images to dockerhub.

[2021-07-28 03:11] leelavg commented on #577
all,

did a quick check, it looks good, we will work on providing a script to flip the xattrs correctly at the earliest.

expanding on what we are trying to do:

- we need to set `limit` and `size` on PVCs created in 0.8.3 correctly and the rest will be taken care

On 0.8.3:

[code]

After upgrade to 0.8.4:

[code]

[2021-07-28 04:39] aravindavk commented on #577
I think removing `trusted.gfs.squota.size` should be fine to make it work with 0.8.4? @amarts ^^

[2021-07-28 05:04] amarts commented on #577
Steps to get it right:

1. remove `trusted.gfs.squota.size` xattr.
2. calculate `du -s -b $pvcdir` and set the value (value in bytes)  into `trusted.gfs.squota.size`
3. if storage pods are already running then one need to issue `setfattr -n glusterfs.quota.reset -v true $pvcdir`, so the process can reset the relevant fields while running.

[2021-07-28 05:23] leelavg commented on #577
@aravindavk

In my case `limit` didn't overflow because it's containable in `int32` but whoever has carved more PVC, they would see it as overflowed.

@amarts small info,

does `setfattr -n glusterfs.quota.reset -v true $pvcdir` resets both `limit` and `size` attrs? Will continue discussion in slack.

[2021-07-28 10:16] couloum opened #606 "All are PVC disconnected from pods during upgrade"
Hello,

We have performed the upgrade from `v0.8.3` to `v0.8.4` today in our preview environment. During the upgrade, all pods with a PVC attached got their PVC "disconnected". When we tried to access filesystem from the pod, we got this error:

[code]

We had to delete all pods. After recreation, the PVC is correctly attached to new pods.

Is this the attended behavior?

Thank you

[2021-07-28 10:47] couloum commented on #577
Hello,

We did the upgrade on our preview environment and it seems the issue **is still present** with our use-case.

I created a new pvc, and a test pod after the upgrade and performed my rsync commands:

[code]

We need to try to deactivate quota now to see if it works as expected.

[2021-07-28 11:10] leelavg commented on #577
hi @couloum

it's a bit confusing to understand, can you provide o/p of below?

wanted to know whether you had reset the xattr or not as per https://github.com/kadalu/kadalu/issues/577#issuecomment-888012525

[code]

[2021-07-28 12:32] couloum commented on #577
Hi,

here are more information about my test.

First, my setup:

[code]

Everything is running in `v0.8.4`.

Then, my manifest `testapp.yaml`:

[code]

I start from a fresh namespace:

[code]

Then I apply the manifest:

[code]

Finally, the test:
[code]

I am able to reproduce the issue without rsync:
[code]

Here is the result of commands you asked for:
[code]

[2021-07-28 12:50] amarts commented on #577
You have a file of 100MB, you copy it, it should be 200MB right? What am I missing here that you are expecting it to be 100MB?

[2021-07-28 12:52] leelavg commented on #577
@couloum thanks, this is a very good reference.

If I'm not wrong (sry I'm on mobile), after `cp` you performed `rm` on one of testfile{,2} and `du` showing `100M` whereas `df` is stuck at `200M` (or)

You didn't perform any `rm` but `du` is showing `100M` and `df` correctly reporting `200M`

Regarding xattrs, they are getting updated correctly and when I take xattr (`size`) on pvc dir as a source

[2021-07-28 13:00] couloum commented on #577
Sorry, missed one important line in my report:

[code]

I edited the original post to have the correct version.

Basically:
- Create a 100MB file. `df` reports 100MB usage.
- Copy the file. `df` reports 200MB usage.
- Move the copy to the original file (this delete the original file). `df` still reports 200MB usage.

Again, sorry for the confusion.

[2021-07-28 13:05] leelavg commented on #577
Ack,

In that case can you do a `ls -lR` on `pvc` dir from `provisioner`?

Generally, it'd be a good ides to continue this discussion on slack if possible.

[2021-07-28 13:06] couloum commented on #577
I disabled quota check on my pvc. I confirm that it works: I can create files, even if the volume reports 100% usage:

[code]

If I reenable quota check, I cannot write anymore on pvc (expected behavior):
[code]

At least `v0.8.4` provide the workarround we expected untill a fix is found for quota calculation.

Thank for this release!

[2021-07-28 13:37] digidvb commented on #577
@leelavg @couloum

Thank you for your work. I can confirm that @couloum 's `mv` method does leak storage space.

After `mv` I even removed all the files from the PV. `du` shows 0, `ls` shows no files in the pod and in the provisioner as well, but `df` still shows used space.

I've freshly rebuilt the full storage from scratch with 0.8.4 images on wiped block devices.

[2021-07-28 14:02] leelavg commented on #471
I revisited this and unfortunately current CI infra isn't suited for dbench, however we'll add more functional tests based on recent learnings around disk usage metrics

[2021-07-28 16:04] amarts commented on #577
Thanks guys. Hint on `mv` is what I had missed earlier. Identified the issue, fix should be available soon.

[2021-07-28 19:53] couloum commented on #606
Hi,

As an additional note, I have observed that PVC get disconnected when the `csi-nodeplugin` instance running on the same node as the pod is being restarted.

Here are log of `csi-nodeplugin` on the same node as a pod that got it's transport endpoint disconnected:

[code]

The error with `0-fuse: failed to open /proc/0/status` appears continuously in loop every second.

[2021-07-29 06:30] amarts commented on #606
Thanks for these hints.

Thinking about it, makes sense to not restart nodeplugin unless people are ready to stop/drain all the pods from that node. Considering PVs are bind mounted into the app pods, there may be an issue where taking source mount down causes issues.

During upgrade, only the 'server' components should get upgraded, and that shouldn't disturb anything on the app/client side.

@ar

[2021-07-29 09:53] aravindavk commented on #606
If anything changed in Gluster client packages or node plugin code.  We may have to restart the node plugin during upgrade.

Good thing from the above log is `NodePublishVolume` is called after restart. The behaviour is same as mounting the PV for first time. Are you suspecting any issues with bind mount? or issue with Gluster client that is not able to connect back to the servers.

[2021-07-29 12:13] amarts commented on #606
I am suspecting the issue with bind mounts... which is causing the `/proc/0/status` issue. Ie, pid is coming as 0, where as it shouldn't.

Need to understand this bit better to resolve this.

[2021-07-29 13:51] amarts commented on #540
At present, one theory, after looking at #606 is that, this can happen when csi-nodeplugin-* gets restarted without the node being marked for drain.

If the upgrade is not yet done, then recommendation is to wait for 0.8.5, which should have the fix, where we don't touch csi-nodeplugin for upgrade.

[2021-07-29 13:52] amarts commented on #490
as far as we know, with 0.8.4 arm images should be available with release, and are working.

[2021-07-30 12:23] attrib commented on #352
Tried to upgrade from 0.8.3 to 0.8.4, but `kubectl kadalu install` said `Kadalu operator already installed`

I believe in https://github.com/kadalu/kadalu/blame/devel/cli/kubectl_kadalu/install.py#L55 is a check missing, which version is installed, otherwise it will never get to the `kubectl apply -f` mentioned in https://github.com/kadalu/kadalu/issues/352#issuecomment-762647907

[2021-08-01 21:29] #398 closed, assigned to nobody

[2021-08-02 13:31] #410 closed, assigned to nobody

[2021-08-02 13:31] #106 closed

[2021-08-02 13:31] #302 closed, assigned to nobody

[2021-08-02 13:31] #319 closed, assigned to nobody

[2021-08-02 13:31] #7 closed

[2021-08-02 13:31] #415 closed, assigned to nobody

[2021-08-02 14:31] amarts opened #610 "doc: add document on upgrade procedure, and why csi-nodeplugin is started separately."
I think, having a note here about why this is decoupled wrt upgrade and node drain would be good.

_Originally posted by @leelavg in https://github.com/kadalu/kadalu/pull/608#r680860526_

[2021-08-03 07:36] zhucan commented on #526
The "setfattr... unsupported"  is printed by the "quota-crawler.sh".

[2021-08-04 01:41] heathharrelson opened #611 "Kadalu 0.8.4 release fails to install on ARM64"
Installing the 0.8.4 release is failing on ARM64 (k3s on Raspberry PI 4). After running `kubectl kadalu install` the operator goes into `CrashLoopBackOff` and logs the following:

[code]

The 0.8.3 release seems to install successfully.

## Installation Details

[code]

## Environment

Cluster is 4x Raspberry Pi 4, Ubuntu 20.04.2 LTS, k3s 1.21.3+k3s1.

[code]

[2021-08-04 03:26] leelavg commented on #611
@heathharrelson thanks for the report

@amarts when this was regressed earlier, what changes did you made?

Below is from aws arm:
[code]
- I can only think of #592 but that's working in amd64 😕
- Small query, we are using only `devel` branch for all builds right (like `arm` and `arm_test` are stale)?

[2021-08-04 03:29] amarts commented on #611
Yes, only devel branch (for the releases).

Not sure what changed yet. Will need to check again.

[2021-08-04 08:39] zhucan commented on #183
This issue had been sloved？ @bartpaczkows

[2021-08-04 08:57] zhucan opened #613 "Can not delete the pod with name "server-storage-pool-*" when exec "kubectl kadalu storage-remove xx""
![image](https://user-images.githubusercontent.com/13997135/128152553-e5198f17-1e2a-4f28-b2cd-6a9e17737c15.png)

![image](https://user-images.githubusercontent.com/13997135/128152747-af1beeb9-c469-45ee-b121-08403cae44a1.png)

The kadalu storage of "storage-pool" had been deleted. but the status of the "server-storage-pool-*" is Creating.

[2021-08-04 09:08] aravindavk commented on #613
Try:

[code]

[2021-08-04 09:21] zhucan commented on #613
Still exists.

[2021-08-04 09:26] zhucan opened #614 "Create pvc on kadalu storage(internal gluster deployed by kadalu) failed"
server storage pool status:
![image](https://user-images.githubusercontent.com/13997135/128156686-baae2b9b-6b86-4b4e-9251-0a33ed1536ca.png)

storageclass:
![image](https://user-images.githubusercontent.com/13997135/128156827-dc425521-676c-4538-bd9b-a1707e92052b.png)

pvc:
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: pv2
spec:
  storageClassName: kadalu.storage-pool
  accessMode

[2021-08-04 09:38] leelavg commented on #613
@zhucan

1. can you please look at operator logs around the time you tried to delete `storage-pool`
2. pls specify which version of `kadalu` is deployed
3. I anticipate atleast one PVC is carved from this `storage-pool` and operator is backing off from it's removal
4. there's no way to let k8s not to remove entry from `kadalustorages` unless there's no `pvc` from `storage-pool`

[2021-08-04 09:44] zhucan commented on #613
I know how to reproduce:
1. Deploy a kadalu with a not exists path when execing storage add
2. the pod is always creating
3. exec storage-remove
@leelavg

[2021-08-04 09:45] leelavg commented on #614
- it seems provisioner isn't able to access `server` pods, do you see any errors in `server-storage-pool`
- can you provide cmd run against `storage-add` if you used `kubectl kadalu` or manifest applied?

[2021-08-04 09:57] zhucan commented on #614
cmd: kubectl kadalu storage-add storage-pool --path k8s-1.deeproute.ai:/root/gluster1

[2021-08-05 10:10] digidvb commented on #577
Hi,

So, what is the possible solution to fix the previously miscalculated quota? I've tried the method with updating the `trusted.gfs.squota.size` and then setting `glusterfs.quota.reset` to `true`, but nothing happens. I've tried it with stopped, running pods, restarting server, provisioner, nodeplugin pods, but nothing helps.

I use this script to update the attrs:
[code]
After running it the s

[2021-08-05 12:36] leelavg commented on #577
@digidvb

- Afaik, the `mv` fix will land up in next v0.8.5.
- If you've test setup, you can give a try deploying manifest (operator & csi-nodepugin) from `devel` branch.

[2021-08-06 02:44] leelavg opened #616 "Broken pip in Kadalu containers"
## Issue:
1. Neither in amd64 or arm images `pip` is in usable state except in `builder` image
2. This is a pain when we want to check pkgs installed in the container (for ex: https://github.com/kadalu/kadalu/issues/611)

## RC:
1. Pip depends on `disutils.core` and `appdirs` big time, we are installing directly/indirectly these via https://github.com/kadalu/kadalu/blob/61589acec98c1b2e91c0cf4fd77

[2021-08-06 03:14] leelavg commented on #577
I think I know why the issue is happening (atleast some of it)

Interlude (just one-liners): `du` vs `df` and `simple-quota`
1. `df` respects fs superblocks and calculates the usage (~faster)
2. `du` doesn't care resepct info provided by fs but actually traverses each file and calculates the size/usage (~slower)
3. After a reset simple-quota trusts o/p from `df` (as stated below) to set `trusted.g

[2021-08-06 16:35] amarts commented on #616
We surely can experiment with point 3, as it looks simple enough. For testing we can push to arm branch, so it can be tested first.

[2021-08-07 01:51] leelavg commented on #616
Ack, pls rebase one of the arm branches on devel and I'll send the PR based on that.

Since, we aren't associating `arm` tags anymore I think it'll be a fast-forward merge 🤔

[2021-08-07 05:27] hunter86bg commented on #596
@amarts , @aravindavk , maybe this one can be closed ?

[2021-08-07 23:37] joejulian opened #617 "CSIDrivers not in storage.k8s.io/v1beta1 in kubernetes v1.22"
csidrivers is in storage.k8s.io/v1

[code]

[2021-08-08 02:13] leelavg commented on #617
@joejulian thanks for the reminder, we are yet to update GVK as per k8s v1.22 (#601)

We'll take it up at the earliest.

[2021-08-08 09:52] sysedwinistrator opened #618 "kadalu-tiebreaker won't start: 'Extended attribute not supported, exiting'"
Hello,

I'm trying to run the kadalu-tiebreaker container for replica2. Running it on k8s yielded a `CrashLoopBackOff`, so I started the image locally via `podman run -it --name kadalu-tiebreaker --runtime=/usr/bin/crun --restart=always -p 24007:24007 -v /opt/kadalu-tiebreaker:/mnt/brick docker.io/kadalu/kadalu-tiebreaker`

Output:
[code]
`/opt/kadalu-tiebreaker` is on ext4, but I also tried mount

[2021-08-09 03:41] leelavg commented on #613
@zhucan

i tried reproducing the issue with non-existing `device` and `path`. Yes, either they'll fail to get created or stuck in creating state, however I'm able to delete them without any issues.

Please not I mistakenly pulled `devel` and created cluster. Nevertheless, the issue doesn't exist in `devel` so, next release shouldn't have above observed behaviour.

[code]

[2021-08-09 03:48] leelavg commented on #614
Updating comment with status shared on slack [issue614.txt](https://github.com/kadalu/kadalu/files/6952021/issue614.txt)

[2021-08-09 05:49] zhucan commented on #614
@leelavg  no binary cmd "ping", what did you do to test?

[2021-08-09 05:50] Madhu-1 commented on #614
CC @aravindavk @amarts

[2021-08-09 06:15] zhucan commented on #614
kubectl -n kadalu logs kadalu-csi-provisioner-0 -c kadalu-logging
![image](https://user-images.githubusercontent.com/13997135/128666383-563fec42-a8c8-4e7d-90c7-9ae5d63f4974.png)

[2021-08-09 06:24] leelavg commented on #614
@zhucan I hope you went through the attached file.
1. I port-forwarded server pods using `kubefwd` to verify all the resources created successfully or not
2. I was able to reach externally and can confirm that there's no issue with Kadalu build
3. You have mentioned earlier that there are no network policies denying port access however above logs states the opposite
4. It's not at all recommended

[2021-08-09 06:28] zhucan commented on #614
Is it needed to mount local "/etc/hosts" to container?

[2021-08-09 06:29] zhucan commented on #614
I had disabled the firewalld.

[2021-08-09 06:32] leelavg commented on #614
No, not at all.
- As mentioned earlier, we are deploying a headless service with sts so pods are resolvable by internal DNS without any effort
- All I was mentioning from start is, port `24007` on server pods isn't reachable and there should be some policy disabling it
- IIRC, you mentioned you are able to access external gluster, that was successful cause, the socket connection <IP:port> on exter

[2021-08-09 06:37] zhucan commented on #614
The 'gluster host' of the external gluster is ip not hostname, but the internal gluster use the hostname. is it no affect?

[2021-08-09 08:14] zhucan commented on #286
how to slove the "DNS..." problem?

[2021-08-09 08:14] zhucan commented on #286
@ook

[2021-08-09 08:26] zhucan commented on #614
![image](https://user-images.githubusercontent.com/13997135/128678220-3323e96b-8330-4664-b1df-a0d3c7d7fd30.png)

[2021-08-09 09:44] zhucan commented on #614
![image](https://user-images.githubusercontent.com/13997135/128687831-f2811dbf-ad0f-44a5-bb7e-e8f24d639b17.png)

[2021-08-09 09:54] leelavg commented on #614
Cool, thanks for the update. Btw, above forwards all the services existing in Kadalu ns, however doesn't confirm ping is working fine or not.

1. The first four entries are unique, not sure why multiple entries exist for same dns query (will check `server` code once)
2. You deployed external cluster which was working fine
3. After 2, you deployed internal cluster which isn't working
4. So, did you

[2021-08-09 11:17] zhucan commented on #614
If we want to confirm ping is working fine or not, we need to rebuild the container.
![image](https://user-images.githubusercontent.com/13997135/128698273-fdb221ef-706a-48c4-b3eb-ce07fe1690d5.png)

I had tried  to deploy the internal gluster cluster only and facing the same issue.

[2021-08-09 12:36] leelavg commented on #614
Ack, thanks for your patience.

Confirming the way you created internal cluster.

Here `/gluster` is some random directory on worker node.

[code]

Btw, in the meantime, if it's a ping issue, `# k kadalu storage-add storage-pool-1 --device <node:disk>` should also fail. You can try using a free disk or create one just using truncate and loop device etc

Sure, we'll definitely include `ping` in con

[2021-08-09 14:09] leelavg commented on #614
@zhucan feeling bad on how I missed this.😔

We already deploy `busybox` in provisioner pod, you can use `ping` and `nc` to verify `host` and `port` reachability respectively. 😃

[2021-08-10 02:22] zhucan commented on #614
@leelavg Thanks， what's the image version can I use?

[2021-08-10 02:23] zhucan commented on #614
I will use the free disk to test and give the test result.

[2021-08-10 02:38] leelavg commented on #614
- I've deployed `server` with `storage-pool` so below will be the command for me.
- Referring your pool name, pls replace `storage-pool` with `storage-pool1` in below command, like ` k exec -it sts/kadalu-csi-provisioner -c kadalu-logging -- sh -c 'ping -c 5 server-storage-pool1-0-0.storage-pool1; nc -zv server-storage-pool1-0-0.storage-pool1 24007'`
[code]

[2021-08-10 02:54] zhucan commented on #614
what's the image version of the provisoner pod can I use? Because I need to deploy the kadalu-csi-provisioner again.

[2021-08-10 02:58] zhucan commented on #614
@leelavg I had tested with free disk, the same errors with before test.
![image](https://user-images.githubusercontent.com/13997135/128801329-daa56e62-12c9-4af2-a334-fb6d8689b982.png)
Used cmd: kubectl kadalu storage-add storage-pool --type=Replica1 --device k8s-1.deeproute.ai:/dev/vdb
![image](https://user-images.githubusercontent.com/13997135/128801472-d37d83c6-ecd8-4e78-ac74-12b7bc1ec56c.png)

[2021-08-10 03:02] leelavg commented on #614
You can do `k kadalu install` again, it'll pull 0.8.4 operator (i suppose you are using this version) and then operator takes care of deploying provisioner again.

If you don't mind, can we continue this in slack as i feel it's not good to send notifications every now and then by updating the issue.

[2021-08-10 03:06] zhucan commented on #614
ok

[2021-08-10 03:56] leelavg commented on #614
Update from slack:
Finally, as mentioned earlier, issue is with DNS resolution, please refer this [doc](https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/) to troubleshoot services.

After `ping` works `port` accessibility can be checked by `nc`.

[2021-08-10 07:26] #613 closed, assigned to nobody

[2021-08-10 07:27] zhucan commented on #614
@leelavg Thanks for your help, because of the port 8472 was used

[2021-08-10 07:27] #614 closed, assigned to nobody

[2021-08-10 07:29] zhucan commented on #614
![image](https://user-images.githubusercontent.com/13997135/128826131-7933212f-08e3-41f2-b03e-53637d9dda2a.png)
modify the default ports of vxlan from 8472 to 4789 and restart the node.

[2021-08-10 07:42] leelavg commented on #583
Hey @AndrzejOlender since you mentioned `vmware` i think this may be related to https://github.com/kadalu/kadalu/issues/614#issuecomment-895797501, if you didn't fix it already?

[2021-08-11 10:25] AndrzejOlender commented on #583
It worked for me too, solved.
Thanks.

[2021-08-15 15:19] #583 closed, assigned to nobody

[2021-08-16 07:21] aravindavk commented on #616
How about copying python packages from the builder image to `/kadalu` and set this path to `PYTHON_PATH` env variable. No `pip` or `venv` required in the final image.

[2021-08-16 08:30] leelavg commented on #616
That would also work to get away with pip & venv.

However, it'll make listing installed packages pretty hard so more debugging efforts are needed.

Dependency tree will be like, pip -> distutils.core (platform dependent)

Nevertheless, we can give a try making `/kadalu` as `PYTHON_PATH`

[2021-08-16 11:59] leelavg commented on #596
RFE is implemented and verified via #607 and #619

[2021-08-16 11:59] #596 closed, assigned to nobody

[2021-08-17 04:03] leelavg commented on #616
With below diff, things are looking good but image sizes shot up >3x, need to work on one of below:
1. Reduce size with python:3.8.11-slim-buster (maybe symlink to `/kadalu/bin/python3` directly and whole layer will not be copied 🤔)
2. Fix existing (ubuntu) image not to fail with import errors and get away without using pip
3. Fix existing (ubunut) image and still retain usage of pip

[code]

[cod

[2021-08-17 11:51] Teriand opened #621 "Unable to set quota-deem-statfs via ssh"
Unable to set quota-deem-statfs via ssh when have more 1 gluster_hosts:

Storage with 3 hosts
[code]
kadalu-provision:
[code]

Need add connect to any host in server list.

[2021-08-17 12:01] leelavg commented on #621
Ah! good finding and thanks, should be an easy fix.

[2021-08-18 14:24] aravindavk opened #623 "Tests using Binnacle"
Currently the tests are in bash script and doesn't give clear picture about what tests failed. Also it is difficult to add more tests.

Use [Binnacle](https://github.com/kadalu/binnacle) framework for testing.

* `setup.t` - Install `minikube`, `kubectl` and `kubectl-kadalu`. Start minikube.
* `helm.t` - Helm charts testing.
* `operator.t` - Operator install (Yaml based, helm based and kubectl-kad

[2021-08-18 14:49] aravindavk commented on #8
Little change to this approach. Each containers exposes ReST APIs and Operator will collect from all these containers and exposes a single API.

Operator(`GET /metrics`) -> Collect metrics from all the containers in Kadalu namespace by calling respective ReST APIs(internal APIs).

Advantages:
* Easy to integrate with internal or externally hosted Prometheus server.
* Easily avoid collecting duplic

[2021-08-19 05:15] aravindavk commented on #623
Upgrade testing.

[2021-08-19 08:39] #611 closed, assigned to nobody

[2021-08-19 08:54] leelavg commented on #616
Fixed by #620

[2021-08-19 08:54] #616 closed, assigned to nobody

[2021-08-20 07:16] leelavg opened #625 "Reset sqlite3 db stats when external storage is deleted"
- Kinda tricky to solve, considering an empty storage pool may not always need to trigger db reset
- Will revisit or if anyone is interested pls pick it up

Edit: We can actually do it if there's availability of ssh key pair but may not be always true

[2021-08-20 15:02] tili41 opened #626 "Add pod annotations on kadalu-csi statefulset to allow Prom scraping process"
Hi. It could be useful to add pod annotations on `kadalu-csi-statefulset` to allow Prometheus to autmatically scrape metrics exported by `kadalu-csi-provisionner-0`. It would avoid having to configure Prometheus. Thanks.

[code]

[2021-08-20 15:23] leelavg commented on #626
@tili41 yes, you can go ahead if you intend to raise a PR.

One quick question, will there be any need to deploy a service as well? I mean just adding annotations would be good enough?

[2021-08-20 15:34] leelavg commented on #623
- Going to be a heavy lifting ig 😅
- Quick question, so binnacle is stable enough to replace our entire testing in CI?
- I'll give a try to translate atleast the `setup.t` for a start in next release
- For helm I'm thinking to retain existing model of testing

[2021-08-20 15:48] tili41 commented on #626
Ok, thanks. I will create a PR.

If you configure the Pod metadata annotations correctly (with `prometheus.io/port: '8000'`), I don't think you need to have a `service` object or a `containerPort` defined at the pod level to expose the Prom metrics.

[2021-08-20 16:21] leelavg commented on #626
Ack, thanks for the clarification.

Btw, pls look at #8 if you didn't already.

Pls be noted, we are still finalising how monitoring is done at Kadalu level, so, ig we can't document this functionality yet even after merging PR. Hope you'll understand it.

[2021-08-20 16:40] aravindavk commented on #623
Yeah. That is why I added it to `0.8.6`(Milestone date: Sept 23)

It is getting stable day by day. Here, we can start running these tests in parallel without replacing the existing tests. Once it is stable then we can disable the script based testing.

Some more fixes pending in Binnacle, I will push those changes by next week. Mainly related to support Unix Pipe within the tests and Timeout relat

[2021-08-21 11:44] sysedwinistrator commented on #618
Hello again,

as per [this GlusterFS bug report](https://bugzilla.redhat.com/show_bug.cgi?id=764245), GlusterFS requires the `CAP_SYS_ADMIN` capability for "trusted" attributes. Containers don't and shouldn't have this capability by default. The simple workaround is to give the container the required capability. Here is a sample deployment which does that:
[code]
Another solution is [a library](ht

[2021-08-21 11:44] #618 closed, assigned to nobody

[2021-08-21 16:40] hunter86bg opened #628 "Do we have a troubleshooting guide ?"
Thanks for the help over the slack channel, but I was thinking of updating the kadalu troubleshooting guide (or create some) with common problems.

For example the following was quite helpful to identify my issue with external volume and gluster's quota:
[code]

[2021-08-21 16:45] hunter86bg commented on #610
@amarts ,
So far I have understood that we need the latest 'https://github.com/kadalu/kadalu/releases/latest/download/kubectl-kadalu' + applying the 2 manifests:
stable:
  - 'https://github.com/kadalu/kadalu/releases/latest/download/kadalu-operator.yaml'
  - 'https://github.com/kadalu/kadalu/releases/latest/download/csi-nodeplugin.yaml'

devel:
  - 'https://raw.githubusercontent.com/kadalu/kadalu/

[2021-08-21 17:09] leelavg commented on #628
@hunter86bg good to hear that the issue is finally resolved.

We are always trying to keep docs in sync with code, blogging in Kadalu website and other platforms as everything can't fit in docs.

We do this so users can make educated guess when things go wrong with available info.

Yes, you can add above info [here](https://github.com/kadalu/kadalu/blob/devel/doc/troubleshooting.adoc). When you do

[2021-08-22 06:02] #621 closed, assigned to nobody

[2021-08-23 08:20] #626 closed, assigned to nobody

[2021-08-23 09:04] amarts commented on #618
@sysedwinistrator should this be in closed state? or you think we need to get these PRs in? It would be great to get one more contributor in the list for project, if you post the PR to repo.

Thinking more on this, I am thinking if we should build images from kadalu's glusterfs repository, and our volfile. That way, we can make sure we have only those things which are required. Let me think over i

[2021-08-23 09:05] amarts commented on #618
Considering we build for ARM in our release scripts, thinking of pushing `thin-arbiter` image also on-release actions.

[2021-08-24 06:41] amarts commented on #610
@hunter86bg now that 0.8.5 is released, the expectation is, people will only upgrade operator... which internally upgrades storage pods.

Now, about CSI-nodeplugin, we need to do upgrade when we are ready, when applications can be drained and upgraded. Something similar to how they would do upgrade of clients in glusterfs, by stopping app, umount, upgrade, mount, and start the app... That can be d

[2021-08-24 13:18] couloum commented on #577
Hello,

I saw version `0.8.5` was just released. Does it contains the fix for quota miscalculation?

Thank you

[2021-08-24 17:37] amarts commented on #577
All issues related to a fresh PV quota calculation are resolved in 0.8.5. The issue of miscalculated quota in the existing PV still remains. The scripts to update that scenario is not handled.

[2021-08-24 19:25] sysedwinistrator opened #633 "ARM64 is still broken in 0.8.5"
csi-nodeplugin logs:
[code]

[2021-08-25 01:45] leelavg commented on #633
Hi,

It's really bad then, we took a lot of effort to align all images not to result in any python errors irrespective of architecture.

Would you be kind enough to let me know of below o/p?

[code]
Edit: Issue still exists

[2021-08-25 03:28] leelavg commented on #633
@aravindavk and @amarts need your expertise here,

1. We are using same dockerfile for both arm & amd, however arm isn't working as expected due to one single step
2. https://github.com/kadalu/kadalu/blob/dd82df86e8eb62ef53c23d1c3562818bbd643d60/extras/Dockerfile.builder#L21-L22
- Most probably this isn't working (only in **arm**) when we are building image via Dockerfile however it's working if w

[2021-08-25 08:58] couloum commented on #577
Thank you for the information. Is there a command that we could use to update the quota on existing PV? We could use `du` to get current usage and set it for each PV.

[2021-08-25 09:50] leelavg commented on #633
@sysedwinistrator I built arm images locally and can see they are working fine. So, the issue seems to be in buildx used in release scripts 🤔.

You can also give a try on your test machines while we figure out permanent fix:

[code]

If your test machine is configured to pull images from local docker then above would be good enough as a workaround if you are blocked.

[2021-08-25 12:28] Teriand opened #635 "Wrong parsing ip in gluster_hosts list"
New bug after #621

[code]

[code]

Parsed 10.97.145.111 to 10 host 1,0,9,7,1,4,5,1,1,1
Normal dns same:
[code]

[2021-08-25 12:48] leelavg commented on #633
Might be related to https://github.com/docker/buildx/issues/495, just skimmed through that, will take a closer at the earliest.

[2021-08-25 17:51] vatsa287 commented on #635
I thought this was fixed. Working as expected in my local repo. Will check again.
[code]
This is the issue maybe
https://github.com/kadalu/kadalu/blob/devel/csi/controllerserver.py#L42

[2021-08-27 22:10] #443 closed, assigned to nobody

[2021-08-28 06:35] #635 closed, assigned to nobody

[2021-08-29 10:33] sysedwinistrator commented on #618
I'm still not clear about whether you use the official Ubuntu image, or one from an internal registry that has a custom apt repo, because `FROM ubuntu:20.04` in the Dockerfile is unqualified and I couldn't find anything about `glusterfs-thin-arbiter` ever being in the Ubuntu repos.

I will do that as soon as I can, but currently I'm working with only two nodes that have dedicated storage (includin

[2021-08-29 14:28] sysedwinistrator commented on #633
`KADALU_VERSION=0.8.5 make -j6 build-containers`
<details>
<summary>build log:</summary>

[code]
</details>

[code]

[code]
Looks ok.

[2021-08-29 14:40] leelavg commented on #633
Cool, then the issue is with release scripts then.

Can you please mention last commit in your local branch?

With #637 we swapped docker build with buildx as default for building local images to align with release script.

I hope your local branch doesn't contain above commit but if it contains, then 0.8.5 release might be a one off glitch wrt arm but that's evenmore bad which need more investiga

[2021-08-29 20:17] sysedwinistrator commented on #633
I checked out `tags/0.8.5` (`dd82df86e8eb62ef53c23d1c3562818bbd643d60`). It doesn't contain the commit from #637.

[2021-08-30 05:18] leelavg commented on #633
@amarts and @aravindavk ,

Confirmed, the issue is related to ARM + Python Slim + Buildx combo, I built containers with #637 on ARM64 and it's failing as stated in https://github.com/kadalu/kadalu/issues/633#issue-978413688

The attached buildx issue in https://github.com/kadalu/kadalu/issues/633#issuecomment-905471778 is a bit lengthy, so might take more time to fix/find a workaround for the issu

[2021-08-30 17:25] sysedwinistrator commented on #633
@leelavg thanks a lot for your efforts.

I just took a look at your PRs. So, if I understand correctly:

- Up until now you only used `buildx` for the GitHub CI, but not for the "local" build.sh / Makefile.
- #637 changes that and makes the local build script also use `buildx`.
- #639 identifies docker's caching in the GitHub CI action (https://github.com/docker/build-push-action) to be the culpri

[2021-08-31 03:40] leelavg commented on #633
@sysedwinistrator thanks for visiting the commit payload. and your deductions are spot on. I might add #620 is also a part of fixing multi-arch.

Yes

Yes, but mistakenly assumes that it works on local arm and amd without any changes

Yes and No, lot of investigation went into arriving at this decision. However, can only confirm after an alpha release.

Yes, fixed earlier assumption by being accur

[2021-08-31 06:00] leelavg commented on #633
@sysedwinistrator

- Unfortunately, alpha release with #639 still didn't fix the issue
- Building arm on arm and amd on amd with buildx is working fine but the github runner is like, building arm on amd with qemu using buildx
- This multiarch stuff is kinda new to me, will revisit before weekend and that might change my perspective
- All in all many things are converging, will definitely fix this

[2021-08-31 14:59] leelavg commented on #510
Hello, I relooked at Nomad, if anyone is hanging around, can you please answer below queries as per your expectations/experiences?

1. Is it possible to deploy a nomad job from inside docker container?
2. Are you expecting dynamic volume provisions? Equivalent to storage class and pvc?
3. How about user supplies nodes & disks to be used and Kadalu provides PVCs from supplied values
4. For every st

[2021-08-31 17:28] amarts commented on #510
User (Fernando André) response in gluster slack channel for the above question - I believe the used is consul. https://learn.hashicorp.com/tutorials/consul/get-started-key-value-store

[2021-09-01 01:50] leelavg commented on #633
@sysedwinistrator from release logs I can see #641 fixed the issue, you can give a try with 0.8.6_alpha1 if possible.

[code]

- Will close this issue after your confirmation. Thanks.

Edit: Added docker output

[2021-09-01 01:54] leelavg commented on #510
Yes @amarts, I looked at all the necessary tech stack of HashiCorp, Nomad, Consul and Vault are orthogonal products and complement one another.

I'll do a POC if possible before going for a RFC and let you know, seems it's bettrr to ask user inputs once we have some working piece of code.

But ya, if @aravindavk can design the refactor that'd be very helpful.

[2021-09-01 02:11] amarts commented on #510
My take then is, nomad support should be through another repo.

[2021-09-01 03:09] leelavg commented on #510
Ack, I'm a little sceptical about that for below reasons:

- With minor variations current docker images will work well with Nomad.
- There's no need for sidecars and multiple deployments for node and provisioner plugin. We will deploy them as a monolith as our CSI image can work both ways.
- There'll be a lot of duplicate code, I can kinda say ~75-80% of existing code can be re-used, so thinking

[2021-09-01 17:11] kotnn commented on #583
I also use Wmware but have no file /etc/modprobe.d/vxlan.conf
Please advise

[2021-09-01 17:24] kotnn commented on #583
And Ilso I have no any service in kadalu ns:
![image](https://user-images.githubusercontent.com/38759038/131715997-9ffe564e-622d-4b80-9755-e0c8055b705a.png)

[2021-09-01 18:12] kotnn commented on #583
if it matters,  we use Calico

[2021-09-02 02:02] leelavg commented on #583
@kotnn

1. VMware fix is suggested by an user and it seem to work for atleast 2 users that we know of
2. In Calicio can you please create a rule/policy to allow 24007 port on server pods? ( I use flannel so not sure how calicio is configured)

Edit: Small request, pls raise a new issue referring another one if closed (we don't get updates on slack if commented on issues 😅)

[2021-09-02 16:17] kotnn opened #644 "kubectl kadalu storage-remove fails"
Hello.
I've deployed kadalu to my on-prem cluster based on Vmware Vms and Ubuntu 20.04 as nodes.
Kadalu was deployed, storage was added, all pods are alive and no errors in log until i try to remove storage.
2 polls were created: pool1 and pool2. Working with pool2 now.
It was deployed with:
`kubectl kadalu storage-add pool2 --type=Replica1 --device k8snode02:/dev/sdc`
Trying do remive with ` kube

[2021-09-02 16:21] vatsa287 commented on #644
Hi,
Could you please share operator logs and also 'kubectl get svc -nkadalu'

[2021-09-02 16:22] leelavg commented on #644
@kotnn

- Can you please look into / provide operator logs?
- You might've tried removing a pool which has PVC and there are some more corner cases
- Basically, it's usual when custom resources are deleted and k8s couldn't validate custom controllers ( in this case operator handle this operation)

[2021-09-02 16:26] kotnn commented on #644
[logs.txt](https://github.com/kadalu/kadalu/files/7100361/logs.txt)
logs are attached
 'kubectl get svc -nkadalu' output:
![image](https://user-images.githubusercontent.com/38759038/131881641-f86cef30-7d8c-4613-a879-744602cae6b6.png)

[2021-09-02 16:26] leelavg commented on #644
Yep, indeed this is strange, operator has all necessary permissions.

@vatsa287 leaving it to you.

[2021-09-02 16:37] kotnn commented on #644
also storage still listed with  "kubectl-kadalu storage-list --detail" command:
![image](https://user-images.githubusercontent.com/38759038/131882980-45aef108-0f92-4464-8857-30d6b2bd04aa.png)
@vatsa287, @leelavg  thank you so much for quick response!

[2021-09-02 17:49] kotnn commented on #644
[2021-09-02 17:36:33,677] INFO [main - 275:upgrade_storage_pods] - config map    volname=pool1 data={'namespace': 'kadalu', 'kadalu_version': '0.8.5', 'volname': 'pool1', 'volume_id': 'f37005e0-0bfd-11ec-aff9-1a0e36dc9828', 'kadalu_format': 'native', 'type': 'Replica3', 'pvReclaimPolicy': 'delete', 'bricks': [{'brick_path': '/bricks/pool1/data/brick', 'kube_hostname': 'k8snode01', 'node': 'server-

[2021-09-02 20:13] kotnn commented on #644
so I found a cause:
![image](https://user-images.githubusercontent.com/38759038/131909583-592a8cf9-51fe-4f43-a4f8-543dc3fb34d4.png)
operator cannot exec dbquery due to unauthorized error. Other commands like  "ls", "whoami" are working
But still dont know how to fix this

[2021-09-03 02:19] leelavg commented on #644
RBAC and service accounts were working fine the last time I checked.

Maybe some version changes, can you please provide kadalu, kubectl (client and server) versions?

[2021-09-03 06:20] kotnn commented on #644
![image](https://user-images.githubusercontent.com/38759038/131959604-9efc5b86-37aa-43c7-895b-33a038299d46.png)

[2021-09-03 06:51] kotnn commented on #644
the issue resolved by adding:
  resources:
  - pods/exec
  - pods/log
![image](https://user-images.githubusercontent.com/38759038/131962708-c37b662b-087c-439f-b263-fd17fa0082ae.png)
in clusterrole "kadalu-operator"
and restarting kadalu-operator pod.
Not sure if pod restart required as well as adding "pod/log" to role. Did all operations in bunch. Do not want to touch anything anymore because it w

[2021-09-03 07:17] leelavg commented on #644
- I use v1.21.2-k3s1 and CI uses v1.20-k8s but didn't hit this
- Nevertheless, thanks for looking into it and providing the solution
- Will need an update here https://github.com/kadalu/kadalu/blob/382c527ea4e836d3e088ba17da79a94a65a24fea/templates/operator.yaml.j2#L169-L171
- Just referring https://github.com/kadalu/kadalu/issues/601 here to have this fixed as well

[2021-09-03 07:30] vatsa287 commented on #644
Pretty strange, I was able to delete in my setup,
[code]

[2021-09-04 08:55] joelcwe opened #646 "Upgrade options?"
Is there a guide on how to upgrade from an older deployment of kadalu?

[2021-09-07 03:48] #287 closed, assigned to nobody

[2021-09-07 05:56] amarts commented on #474
The issue of ARM64 is a major one we wanted to resolve, and a lot of work has gone in last 6 months for the same. With latest `devel` tag everything is working. Will make a release 0.8.6 soon which should have most of the things covered.

[2021-09-07 05:56] #474 closed, assigned to nobody

[2021-09-08 08:57] maxadamo commented on #510
@leelavg , I'm not a Nomad super-expert yet, but I give it a try. Please see inline replies.

I think so. Maybe you have two options:

1. you set the following Env variable and then, you can use the nomad CLI which you have installed in your container:
`NOMAD_ADDR=https://remote-address:4646`
2. There is an API: [https://www.nomadproject.io/api-docs/jobs](https://www.nomadproject.io/api-docs/jobs)

[2021-09-08 12:05] leelavg commented on #510
@maxadamo ack, thanks for the responses.

Currently busy with some other tasks, will get back at the earliest.

Thanks again.

[2021-09-08 15:36] sysedwinistrator commented on #633
Sorry for the delay, I had to work out some networking issues on my cluster.
I just applied the `0.8.6_alpha1` manifests to my cluster, both for the operator and the nodeplugins. Everything is working fine.

@leelavg thanks again. Many k8s operators only support x86, so your efforts making kadalu work seamlessly on ARM64 are greatly appreciated.

[2021-09-08 15:36] #633 closed, assigned to nobody

[2021-09-09 05:11] aravindavk opened #648 "Release Changes"
As we are approaching Version 1 of this project, we need to adapt to a predictable release cycles.

- Change release versions from 0.8.5, 0.8.6, 0.8.7... to 0.9.0, 0.10.0, 0.11.0... and follow `MAJOR.MINOR.PATCH` format.
- Create a Branch for each major and minor versions. Update the release CI to handle this change.
- After Major version 1, no breaking change between minor releases. Breaking chan

[2021-09-09 05:16] aravindavk commented on #648
Changelog automation: Every patch that adds new feature should add a changelog file under changelogs directory. First line should be the title explaining the change. Leave one line and then add the description in Markdown format. For example,

[code]

Release automation picks all the changelog files from the directory and publishes the release notes.

[2021-09-09 06:46] amarts commented on #648
Not just in kadalu/kadalu repo, but even in kadalu/glusterfs repo, we need to follow the same method for branches which are used by kadalu.

My take is, soon we need to rebase to latest glusterfs (say once we branch to glusterfs-10).

[2021-09-09 07:25] amarts commented on #617
Looks like this got missed in 0.8.6, need to have it addressed in immediate next release.

[2021-09-09 07:27] amarts commented on #606
This got addressed as part of 0.8.6 release, where the node-plugin upgrade wont happen automatically. Thus no issues of PVC disconnect.

[2021-09-09 07:27] #606 closed, assigned to nobody

[2021-09-09 07:32] amarts opened #650 "Provide a script to 'fix' any quota issues manually"
Kadalu uses 'simple-quota', which has all the knobs to fix any wrongly calculated information. But considering it involves few steps, its better to provide a script, which can just take a single PVC (or storage-pool name) as input, and fix the issues properly.

Any users migrating from 0.8.{0,1,2,3,4} to higher version may need this to fix the wrongly calculated quota values.

Also if we extend th

[2021-09-09 07:33] amarts commented on #577
#650 is created to track the migration/fixing of wrongly calculated quotas.

This bugs in simple-quota which were genuine are now fixed, and are included in 0.8.5 and 0.8.6 releases.

[2021-09-09 07:33] #577 closed, assigned to nobody

[2021-09-09 07:36] amarts commented on #540
@pawel-detka sorry, didn't update you earlier. We have 0.8.6 now, which has this particular crash fixed. (well it was fixed in 0.8.5 or 0.8.4 itself).

But I will keep this issue open still, as I am able to see the logs even in our CI runs.

[2021-09-09 07:36] #540 closed, assigned to nobody

[2021-09-09 07:37] amarts opened #651 "glusterfs: logs of /proc/0/status file not found"
These logs are found consistently in glusterfs client logs. Need to be checked and resolved.

[2021-09-09 07:38] amarts commented on #651
#540 is closed as it was focused on the 'crash' after the log, which is now resolved.

[2021-09-09 07:39] amarts commented on #490
Ok, we do have confirmation that all known issues with ARM64 are now fixed with 0.8.6 (well the confirmation was on alpha1 release). Please upgrade to use it on ARM.

[2021-09-09 07:39] #490 closed, assigned to nobody

[2021-09-09 07:39] pawel-detka commented on #540
@amarts thank you!

[2021-09-09 07:42] amarts commented on #531
There were some known issues with aarch64 / arm64 in all previous versions. Please upgrade to 0.8.6 and let us know if it works.

Closing the issue for now considering we have heard arm64 is now working. Please reopen (or new issues) if any issues are seen.

[2021-09-09 07:42] #531 closed, assigned to nobody

[2021-09-09 07:46] amarts commented on #536
@ook we have introduced #573 and along with #570. Which should address these concerns. Please check them with 0.8.6 release and let us know if that works.

[2021-09-09 07:46] #536 closed, assigned to nobody

[2021-09-09 07:47] amarts commented on #520
All ARM64 issues are now resolved with 0.8.6. Can you upgrade and check if things are working?

[2021-09-09 07:47] #520 closed, assigned to nobody

[2021-09-09 07:48] amarts commented on #429
@clambin all ARM64 issues are now fixed with 0.8.6 release. Can you please check that version? If the issue is found, please reopen the bug.

[2021-09-09 07:48] #429 closed, assigned to nobody

[2021-09-09 07:48] ook commented on #536
Thank you @amarts,I'll give it a try soon. Is there an upgrade guide available?

[2021-09-09 07:50] leelavg commented on #651
Attaching the logs from a clean setup which were shared long back in slack
[gluster.log](https://github.com/kadalu/kadalu/files/7134528/gluster.log)
[server-replica3-2-0.log](https://github.com/kadalu/kadalu/files/7134529/server-replica3-2-0.log)
[server-replica3-1-0.log](https://github.com/kadalu/kadalu/files/7134530/server-replica3-1-0.log)
[server-replica3-0-0.log](https://github.com/kadalu/kad

[2021-09-09 10:42] amarts commented on #287
With release of 0.8.6, we are now supporting virtblock device as mount, which means, the Database workloads should smoothly run on top of kadalu.

More on it @ https://github.com/kadalu/kadalu/blob/devel/doc/storage-classes.adoc#pv_type

[2021-09-10 02:46] leelavg opened #653 "Thoughts on Nodeplugin reboots/remount/upgrade"
## Reboots:
1. Issue: When PVC is bound to app pod, reboot of underlying nodeplugin creates a disruption and can only be fixed restarting app pod
2. Initial attempt #645 to fix nodeplugin reboot didn't work as expected
3. Initial attempt tried to use Pool for storing PVC data however an `emptyDir` would solve storing data since it persists across pod reboot
4. If node gets rebooted, anyways app po

[2021-09-10 02:47] leelavg commented on #653
Note to self: I'll be working on reboots+remounts and Nomad support unless there are any regressions, will not be picking up any other features.

[2021-09-10 07:39] hunter86bg opened #654 "[RFE] Add support for windows containers"
As Samba supports libgfapi, we can enhance kadalu with windows/CIFS support. Also,we can use ctdb + samba to make it highly available if pod restart is slow compared to ctdb.

[2021-09-10 08:03] leelavg commented on #654
- Discussions so far can be found at #518
- AFAIK, the flow would be Kadalu exposes Samba server, the smb driver project (includes csi proxy to be used on windows node) can be used to create storageClass which can serve PVC requests

[2021-09-10 13:48] aravindavk commented on #654
- Create a new container image with Samba and Kadalu/GlusterFS installed.
- To use `libgfapi`, enhancement required in Samba integration code to add `volfile_path` option(Currently it is expecting URL or socket to reach Glusterd to get the Volfile) https://www.samba.org/samba/docs/current/man-html/vfs_glusterfs.8.html
- It is possible to support `vfs objects = glusterfs_fuse` now. Generate the Vol

[2021-09-10 13:54] hunter86bg commented on #654
To be honest, I got no clue which one is needed for windows pods to be able to consume it.

[2021-09-11 02:47] leelavg commented on #654
@aravindavk,

- This proposed flow is for supporting external gluster right? Or would it hold true for internal gluster as well?

If we are changing CRD then it'll mostly be on storage pool level and PV level requirement might be hard to fulfil.

So, we can get away without using SMB driver project? Atleast CSI Proxy is required (anyways windows admin need to make sure of this availability on wind

[2021-09-12 04:04] aravindavk commented on #654
Works for both.

For external, Libgfapi works without any change required in samba layer.

Mention of CRD is because it involves starting a new pod. Other option is to start smb server in provisioner pod itself so that it can be handled only with Storage class.

[2021-09-12 05:28] leelavg commented on #510
@maxadamo I gathered all the required pieces to make Kadalu work for Nomad.

I didn't quite get above argument. Let me break the statement,

So you are using, `nomad volume create` on a manually created gluster volume?

Different as in swapping the orchestrator (like nomad with k8s) or storage (manually provisioned vs leveraging CSI)

As of know, we can directly use external gluster cluster in Nom

[2021-09-14 06:29] leelavg commented on #510
hi,

- HCL is tripping me a lot. Any help would be appreciated.
- How to read SSH Private Key pair in `template` stanza?
- Will be revisiting some days later

Current progress (only for accessing external gluster) can be found in [this](https://github.com/leelavg/kadalu-nomad) repo.

[2021-09-15 11:55] juliosibaja commented on #520
Hello @amarts!! I can confirm you that the external volume storage and also _internal storage_ are working fine with 0.8.6 ARM64 version in a rpi4 with raspbian and k3s!! Cheers!!

PD: The overall speed of a replica-2 is relatively slow in my system, but this is a gluster issue anyways.

[2021-09-16 03:22] leelavg opened #655 "[RFE] Nodeplugin upgrades manually and programatically"
- Let's say we have 10 worker nodes and each (worker) node have ~2 scheduled app pods which uses PV(/C) from Kadalu and running v0.8.5
- We got a request to upgrade Kadalu to v0.8.6, as the manifests are split into two, operator and csi controller(/provisioner) will be updated from first manifest
- We (/admin/user) need to evict app pods intelligently (maybe using selectors to find app pod using k

[2021-09-16 06:09] aravindavk commented on #475
Valid issue, keep this open

[2021-09-16 11:46] leelavg commented on #655
- Invalid, while daemonset is performing update via Rolling Update strategy it seems NodeUnpublish calls are being sent to nodeplugin

[2021-09-16 16:48] amarts commented on #646
(Credits to @ Thomas Lecavelier on Slack)

----
# Kadalu upgrade
​
## Context
​
k8s cluster managed with Rancher2 (2.4.15) , 11 nodes k8s v1.18, 3 nodes with kadalu disks.
Kadalu installed via kubectl-kadalu. Upgrade from v0.8.1 to v0.8.6.
14 kadalu managed PVs mounted for more than 700Gb (each from 1Gb to 200Gb)
​
## Steps
​
1. Replace kubectl-kadalu with v0.8.6
​
[code]
​
2. Apply the kadalu ope

[2021-09-16 20:34] hunter86bg commented on #628
https://github.com/kadalu/kadalu/pull/657 should add that info

[2021-09-19 00:46] #437 closed, assigned to nobody

[2021-09-19 00:46] #451 closed, assigned to nobody

[2021-09-19 00:46] #424 closed, assigned to nobody

[2021-09-19 01:34] amarts commented on #424
had missed updating this earlier. With 0.8.6 all known issues with ARM64 specific things are fixed. Please try upgrading to 0.8.6

[2021-09-20 04:10] #628 closed, assigned to nobody

[2021-09-21 11:59] #468 closed, assigned to nobody

[2021-09-22 09:55] leelavg commented on #655
- No alternatives found

[2021-09-22 09:55] #655 closed, assigned to nobody

[2021-09-22 09:56] leelavg commented on #653
- No alternatives found, for upgrades, will track in other existing issues

[2021-09-22 09:56] #653 closed, assigned to nobody

[2021-09-22 23:23] vincentchong1 opened #660 "kadalu consume a lot of CPU"
Will like to find out what is the reason kadalu is consuming a lot of CPU on the k8s worker node.

kadalu 0.8.4
Kubernetes v1.20.6
centos OS 3.10.0-1160.el7.x86_64

kubectl get pod -n kadalu -o wide
NAME                             READY   STATUS    RESTARTS   AGE   IP              NODE          NOMINATED NODE   READINESS GATES
kadalu-csi-nodeplugin-5wsmk      3/3     Running   0          39h   17

[2021-09-23 02:54] leelavg commented on #660
@vincentchong1 thanks for raising the issue.

- First of it's kind which I'm aware wrt resources
- Thanks for your first round of analysis, in any component `main.py` is the monitor and it's work is to restart subprocess if they are dying
- Would you be able to trace out to which pod that specific process belongs to? Basically I can see three (operator, server, nodeplugin) kadalu pods running on t

[2021-09-23 04:27] aravindavk commented on #660
Based on `ps` output it is from Server.(`glusterfsd` process is there)

[2021-09-23 04:39] leelavg commented on #660
- I doubt that, cause, the o/p is from worker node, not from the container and we can see `glusterfsd` on node-2 as well but no CPU hike from `main.py` on that.
- Either ways, unless we've logs/`ps` o/p from containers, we can't determine with certainity ig 😅

[2021-09-23 05:04] aravindavk commented on #660
`ps` command shows CPU usage is currently expressed as the percentage of time spent running during the entire lifetime of a process.

Try using `top` command with `-n 2`. Example: `top -b -n 2 -d 0.2`

`top` command confirms if CPU usage is still high or it is reduced now. Even as a average, CPU usage looks high. We will look into that.

[2021-09-23 06:02] vincentchong1 commented on #660
my suspicious is the kadalu operator-56898988c5-tlcq6.

follow are data from operator container
[code]

only 5 containers related to kadalu are running off kwo1 workers nodes
[code]
Follow are information off kwo-01
[code]

leelavg: edited for readability.

[2021-09-23 06:12] vincentchong1 commented on #660
`[centos@C432-KWO-01 ~]$ pstree | grep -B2 -A3 python3

        |-containerd-shim-+-posagent-config---inotifywait
        |                 `-11*[{containerd-shim}]
        |-containerd-shim-+-python3---python3
        |                 `-11*[{containerd-shim}]
        |-containerd-shim-+-container_start---sleep
        |                 |-2*[morelater---5*[{morelater}]]
        |

[2021-09-23 06:39] vincentchong1 commented on #660
Is this context switch too high?

[root@C432-KWO-01 ~]# cat /proc/14305/status | grep ctxt
voluntary_ctxt_switches:        8146699
nonvoluntary_ctxt_switches:     1675677

[2021-09-23 07:09] leelavg commented on #660
@vincentchong1 the stats are good enough and it states the problem is in `operator/main.py`

- Initial deductions:
1. Watch stream may be restarting every 30s https://github.com/kadalu/kadalu/pull/588 and that's making a good amount of context switches? https://github.com/kadalu/kadalu/blob/68ef132d7b2b85865aec291d676323c86b6bd5ba/operator/main.py#L872-L874
2. If the bottleneck is at https://githu

[2021-09-23 10:18] #476 closed, assigned to nobody

[2021-09-23 14:48] vincentchong1 commented on #660
log for
[code]
[kadalu-issues-660_operator-log.txt](https://github.com/kadalu/kadalu/files/7218617/kadalu-issues-660_operator-log.txt)

[2021-09-23 15:08] leelavg commented on #660
Spot on! Some unknown (new) error in k8s watch is hammering CPU. Need to be fixed at the earliest.

@vincentchong1 , pardon, due to timezone diff, pls expect a delayed response. From when are you facing this issue?

Basically is it the first time you're evaluating Kadalu or been using it from sometime?

@aravindavk if you've bandwidth can you take it up or else I'll look into it tomorrow as my net

[2021-09-23 17:24] vincentchong1 commented on #660
we have used it since 0.8.3, recently upgraded to 0.8.4.  we use it for all of our pvc set up.

[2021-09-24 03:55] leelavg commented on #660
- Can you please confirm whether you are behind a proxy or not
- If yes, after the referenced fix, you need to set `HTTP_PROXY` to URL of the proxy before deploying operator manifest like
`curl -Ls https://github.com/kadalu/kadalu/releases/latest/download/kadalu-operator.yaml | sed -e 's/"HTTP_PROXY"/$URL/' | kubectl apply -f -`
- Well, you get the idea wrt applying different manifests, all you ne

[2021-09-24 15:18] vincentchong1 commented on #660
yes, I think this is what you asked
[code]

[2021-09-24 16:37] leelavg commented on #660
- No, these are part of control plane
- The proxy I meant is, for accessing api server itself
- Do you see any proxy setup in kubeconfig file? If yes, then that should be used, if no, issue need to be revisited 😔

[2021-09-24 17:19] vincentchong1 commented on #660
let me know how I can check it out.
our underlying cluster networking is based on calico, and follow are the port 10250 info
[code]

[2021-09-25 01:08] leelavg commented on #660
- Sry, not this o/p. Can you've a look at https://github.com/kubernetes-client/python/issues/549
- what does `grep -i proxy ~/.kube/config` say, pls remove any certs/creds from o/p?

[2021-09-25 01:20] leelavg commented on #660
- btw, if you know a bit of python, as a workaround
- `k exec -it deploy/operator -n kadalu -- sed -e -i 's/ProtocolError/(ProtocolError, NewConnectionError)/g' /kadalu/main.py`
- `k exec -it deploy/operator-n kadalu -- kill -9 <pid of main.py>`

[2021-10-01 07:42] #510 closed, assigned to leelavg

[2021-10-04 00:14] gnossen commented on #287
@amarts I believe I'm still seeing this issue on `0.8.6` with `pv_type: Block`. I've gotten it down to a minimal reproduction:

[code]

[code]

[code]

This produces the following output:

[code]

When running this repro under `strace`, I get the following (pretty nonsensical) output:

[code]

I believe this is the same as the `java.io.IOException: Value too large for defined data type` mentioned

[2021-10-07 22:12] #660 closed, assigned to nobody

[2021-10-08 03:59] #644 closed, assigned to nobody

[2021-10-09 22:25] gnossen opened #664 "pv_type: Block Does not Support Atomic File Locking"
Recreating this as a new issue, since it didn't gain any traction [here](https://github.com/kadalu/kadalu/issues/287#issuecomment-933057269).

@aravindavk @amarts I believe I'm still seeing this issue on `0.8.6` with `pv_type: Block`. I've gotten it down to a minimal reproduction:

[code]

[code]

[code]

This produces the following output:

[code]

When running this repro under `strace`, I get th

[2021-10-10 02:18] leelavg commented on #664
@gnossen

General:
1. We have slack configured to intimate about new issues and comment to earlier closed issue didn't trigger an alert, so thanks for raising it standalone.
2. We take even the unimplemented features put forth by users for their workflow and add them to backlog to fulfil them subjecting to priority and dev time availability.
3. And this featute is already implemented which isn't w

[2021-10-10 13:37] amarts commented on #664
Thanks for the bug @gnossen. This looks like an issue with Filesystem itself. Will update soon on this.

The quick reproducer helps a lot.

[2021-10-10 14:06] amarts commented on #664
We like to get any fixes contributed. And it is very critical.

I just need one favor. When this error happens, can you send me logs from both node-plugin (ie, glusterfs client) and also gluster server pods?

[2021-10-10 16:30] #377 closed, assigned to nobody

[2021-10-10 17:03] aravindavk commented on #509
Still valid.

[2021-10-10 21:14] gnossen commented on #664
@leelavg @amarts Thank you for the response!

I've pushed the repro to [this repo](https://github.com/gnossen/kadalu-setlk-repro) for ease of use.

I'm assuming this means the `kadalu-logging` container of the `kadalu-csi-provisioner` pod.

Here are the [logs](https://github.com/kadalu/kadalu/files/7318242/logs.txt) you requested.

A couple of caveats:
 - These logs are filled with `setfattr` erro

[2021-10-11 01:06] leelavg commented on #664
- Thanks for the logs, mount in app pod becomes stale when the corresponding nodeplugin reboots and do you mean the same?
- Stuck in pending state -- operator also might be involved, anyways will go through the logs and with the repro we might be able to see the flow in all pods, thanks.

[2021-10-11 08:41] leelavg commented on #664
- Not able to reproduce the issue, may be I missed something 🤔
- I built binary on host (fedora) and just copied the resultant
[code]
- Manifest used for deployment
[code]
- Invoking the binary
[code]
- Logs look clean
[code]
- What amuses me the most is, there's no log line in your logs where it states that `virtblock` volume (like `pvtype=virtblock` in provisioner) is created

@amarts your analy

[2021-10-11 08:44] amarts commented on #664
Yes. When I tried it on a kadalu pvc it works fine. By the reproducer, looks like gluster version is from upstream, so may be External storagepool is used. Will try there next.

[2021-10-11 18:00] gnossen commented on #664
@leelavg

Not quite. The mount of `/dev/sda1` becomes stale within the `kadalu-csi-provisioner` pod over time. I'm not sure what the trigger is, but if I wait a few days, it seems to happen repeatably. Recreating the `kadalu-csi-provisioner` fixes the mount.

Yes. When I generated these logs, I did not explicitly delete the `gluster-setlk-repro-pv2` PV nor did I change names, so I guess it just re

[2021-10-12 04:09] leelavg commented on #664
@gnossen
- I doubt either that you are not in 0.8.6 or the logs are prior to 0.8.6
- If the logs are from 0.8.6 we might've messed up for 0.8.6 release (which is highly unlikely)

- In 0.8.6, the log line (from below log `[controllerserver - 88:CreateVolume] - Found PV type`) is at 140
- In 0.8.3, it's at line 88 https://github.com/kadalu/kadalu/blob/c45740bfb7893f6c04488f02ec20026fe39e32f4/csi/co

[2021-10-12 18:38] gnossen commented on #664
Indeed, this was the problem. I failed to update the `KADALU_VERSION` environment variable on the operator container, so the operator spun up the provisioner with a cached `:devel` image from around the time of `0.8.3`. I'll be more careful with my upgrades in the future.

Thank you all for your great support and sorry for the trouble!

[2021-10-12 18:38] #664 closed, assigned to nobody

[2021-10-12 18:43] amarts commented on #664
Thanks for the test case in any way. Will plan to add it to CI in some way, so we can make sure this never fails in future.

Also, we need to think of a diagnostic to verify if everything is up-to-date, without going through all these back-and-forth. Makes user experience better for users, and helps us to pin-point the error faster.

Good learning.

@aravindavk @leelavg  can we get commands common

[2021-10-14 15:35] #526 closed, assigned to nobody

[2021-10-14 18:09] #601 closed, assigned to nobody

[2021-10-14 18:10] #617 closed, assigned to nobody

[2021-10-18 03:30] zhucan opened #672 "storage-remove failed"
After server-storage-pool**** crashed, exec "storage-remove" the pod and storage was not deleted.

storage-pool3 exists and crash
![image](https://user-images.githubusercontent.com/13997135/137665015-8509baf4-f900-45ba-b03a-4181c840239d.png)

No resouce found with cmd "kubectl get kadalustorages.kadalu-operator.storage"
![image](https://user-images.githubusercontent.com/13997135/137665103-8270c69b

[2021-10-18 03:30] zhucan commented on #672
kadalu version is v0.8.4

[2021-10-18 03:34] leelavg commented on #672
1. There might be some PVCs from the crashed pool and so `kds (kadalustorages)` CR states pool is deleted (from k8s perspective) but the corresponding `sc` will not be deleted, the same can be found from `kubectl get sc`
2. Please have a look at operator logs and that'll log the reason why it isn't able to remove the storage pool sts
3. Workaround should be re-apply the pool manifest, remove the P

[2021-10-18 03:36] zhucan commented on #672
There is no pvc in the storage pool, I will take a look at the code.

[2021-10-18 03:49] zhucan commented on #672
![image](https://user-images.githubusercontent.com/13997135/137666338-5e661142-daf8-442c-b32f-394b5dcf1a01.png)
Because of the counts of the pvc is -1.

How to reproduce:
storage-add with a not exists  device.
![image](https://user-images.githubusercontent.com/13997135/137666560-a10b8e44-6285-4b62-8f4e-dc24a7d21202.png)

[2021-10-18 04:11] leelavg commented on #672
- I remember handling that case as well https://github.com/kadalu/kadalu/blob/60567e9270eae8a2afc9e8e6563320d2463b3549/operator/main.py#L728-L742
- Can you please provide that specific pool, operator logs and applied pool manifest?

[2021-10-18 04:22] leelavg commented on #672
@zhucan
- sry, I overlooked the version that you provided (v0.8.4)
- above fix went into v0.8.5, pls upgrade and no need to provide any log

[2021-10-18 05:39] zhucan commented on #672
@leelavg Thanks

[2021-10-18 05:39] #672 closed, assigned to nobody

[2021-10-18 23:03] vincentchong1 opened #673 "unexpected data beyond EOF in block"
when trying to insert a > 1 million record, i received above error, and the transaction is not successful.

May I know what could cause the problem described, is there any work around?
[code]

[code]

[2021-10-19 01:30] leelavg commented on #673
- The issue description leaves a lot of room to assume the setup 😅
- We suggest databases to be run on `pv_type: Block` introduced in `v0.8.6`
- We didn't have the infra to perform scale testing, if possible provide a reproducer or all kadalu logs when the transaction didn't succeed and also any required log snippet of postgresql as well

[2021-10-19 16:17] vincentchong1 commented on #673
as an update, i removed the dependency on kadalu pvc, i can insert > 5 million record without issue.
will see what I can provide in term of logs.
and try out the 0.8.6.

[2021-10-19 16:19] leelavg commented on #673
- by removing dependency, do you mean you aren't using Kadalu for above (>5m) operation?

[2021-10-19 17:04] vincentchong1 commented on #673
@leelavg, yes, just pure bitnami postgresql-ha chart, and not using kadalu pvc at all.

[2021-10-21 11:38] vatsa287 opened #675 "Add debug stats/logs for all kadalu pods to ask user for easy reference"
Since Kadalu already has logs option making users easier and faster for debug. It would be better to include kadalu version info as well to it.
Quote by @amarts:
"_@aravindavk @leelavg can we get commands common for diagnosing into kubectl kadalu debug or something similar, so instead of asking all these question, we ask users to share output of this one command, which would capture logs, get vers

[2021-10-22 03:46] #508 closed, assigned to nobody

[2021-10-22 20:59] vincentchong1 commented on #673
what is the setting on performance.stat-prefetch in kadalu implementation.
we will like to have a way to turn it off if it is currently ON
https://docs.openshift.com/container-platform/3.10/scaling_performance/optimizing_on_glusterfs_storage.html#Tested-Applciations
https://access.redhat.com/solutions/3673761

[2021-10-23 07:18] leelavg commented on #673
- Uh oh, this might be a long road
- @amarts any chances of increasing priority for #542 ?
- Did you get a chance to try `pv_type: Block`?

[2021-10-25 19:22] vincentchong1 commented on #673
I have issue using pv_type, still try to figure out how to set it up.
May I know if I can have single disk/volume, and also having 3 different storageclass, that is kadalu, kadalu.kadalu-storage-pool, kadalu.block?  Which configuration set up those storageclass.

[2021-10-26 02:55] leelavg commented on #673
- Repeating from existing docs with some emphasis
- Assuming below is the Kadalu CR and you deployed it
[code]
- You'll be seeing a storage class created out of it with `kadalu.` prefix like, `kadalu.pool-1` and that answers your second question i.e, kadalu sets up those sc based on CR deployed. Storage Class `kadalu` is from older release, if there's no PVC using that it can be safely removed.
-

[2021-10-27 12:36] RomanKisilenko opened #676 "Replica3 volume fails to self-heal"
I'm running latest kadalu release on a 1.18.11 kubernetes cluster. I'm using a replica 3 volume and it was working fine for about a month.

Today we started seeing some I/O errors while writing to the volume.

[code]

Hopefully this issue can be fixed as we can not afford automatic healing failures like this.

Please let me know if any additional information is required.

[2021-10-27 14:27] leelavg commented on #676
- Taking it for granted that you are on 0.8.6  pls recheck once
- What does the  corresponding `server-xxxx` pod logs say (particularly `shd` process)
- Is it caused due to any IO pattern or any `server` pods got restarted abruptly?

[2021-10-27 14:35] RomanKisilenko commented on #676
Yes, I'm on 0.8.6
The I/O error happened on an attempt to create a specific folder. Most of the other disk access operations worked correctly at the same time. After we stopped the faulty replica, the I/O error is no longer here. We also tried to change the storage class to Replica2 afterwards. Our manifest was accepted by kadalu, but operator did not apply any changes to storage class, the volume

[2021-10-27 14:48] RomanKisilenko commented on #676
Not sure if this is enough:
[code]

[2021-10-27 15:25] leelavg commented on #676
- Updated Strahil in slack, will take a look into it tomorrow (~12hrs)

[2021-10-28 04:36] hunter86bg commented on #676
So far I saw:
* 0.8.6 has issues and the operator was not comming up at all
* devel allowed me to proceed but was complaining about 'uvicorn' python module
* Setting decommissioned: "True" does not release the brick device, pod was still alive
* Setting replica2 -> the 'unused' pod still exists even when it's not supposed to
* Setting replica1 -> the 'unused' pod still exists even when not suppose

[2021-10-28 04:59] hunter86bg commented on #676
@RomanKisilenko ,

can you provide the output of the following from all worker nodes:
[code]

[2021-10-28 05:29] mbu147 commented on #353
Hi, is there an update on snapshot support for kadalu? Is it on the roadmap?
How you guys make backup currently?

[2021-10-28 06:20] RomanKisilenko commented on #676
[code]

[code]

[code]

[2021-10-28 06:29] RomanKisilenko commented on #676
It would be nice if you guys can document how to recover a failed node in a simple and straightforward way. E.g. I personally would expect something simple like 1) remove the brick folder from faulty node and 2) restart the faulty node.

[2021-10-28 06:52] RomanKisilenko opened #678 "kubectl kadalu healinfo fails with error code 234"
I have kadalu 0.8.6 installed on a kubernetes 1.18.11 cluster where I configured a replica 1 volume. When I try to execute healinfo command, I'm getting:
[code]

It seems like there are no clues in kadalu logs.

Curious how this can be resolved.

[2021-10-28 07:57] hunter86bg commented on #678
Can you provide the output of the script:
[code]
inside it
[code]

[2021-10-28 07:58] hunter86bg commented on #678
Usually replica1 volumes do not heal to anywhere, so the output should be 'heal is not supported'

[2021-10-28 08:02] RomanKisilenko commented on #678
[code]

[2021-10-28 08:08] hunter86bg commented on #676
Yeah, that's what I asked myself.

[2021-10-28 08:09] hunter86bg commented on #676
Does the 'kubectl-kadalu healinfo' show pending heals ?

[2021-10-28 08:17] RomanKisilenko commented on #676
After I manually shut down the faulty replica currently there are many entries in heal pending. Once I restart the faulty replica, I get same numbers as in my initial report.

[2021-10-28 09:06] amarts opened #679 "support decommissioned brick logic in replica2 and replica3 volfiles"
https://github.com/kadalu/kadalu/pull/573 introduced it in just replica1 volume.

Mainly need to add https://github.com/kadalu/kadalu/blob/devel/templates/Replica1.client.vol.j2#L13...L15 into other volfiles.

[2021-10-28 09:08] hunter86bg commented on #676
@RomanKisilenko ,

can you provide the following log:
[code]

[2021-10-28 09:18] RomanKisilenko commented on #676
The log file can be downloaded here: https://we.tl/t-3adpMmGojz

[2021-10-28 14:15] leelavg commented on #679
- No change in `shd` templates required?

[2021-10-28 15:43] aravindavk opened #680 "[RFE] Storage Pool Options(Volume Options) support"
Storage class is the best way to adjust the behaviour of the PVs. This proposal talks about adding support for Storage pool options(Volume Options) to the Storage Class.

[code]

**Note**: The Option names added here is only for illustration purpose. Option names may change based on supported option names in Kadalu.

Changes:

- If Storage Class options not available in Node plugin(?), then we may

[2021-10-28 16:25] leelavg commented on #680
Yep, better not to go this route 😅

Might be harder to implement ig, let's take an hypothetical example which needs a refresh of both server an client volfiles.
- names of `sc` is `sample-1` and `sample-2` both backed by kadalu storage `pool`
- `sample-1` wants `pv_type: Block` but `sample-2` wants custom options then a new volfile should be generated
- However, provisioner and server (brick) `poo

[2021-10-28 16:39] aravindavk commented on #680
pv_type is not an volfile option, so not included in hash calculation. Only Volume options should be included.

Proposal is to support only client side Volume options and fixed options in the server side. Mainly because, Gluster/Kadalu most of the intelligence is in client side and configurability is required for client side. Also multiple Volume options to server side is not possible, only one se

[2021-10-28 20:29] vincentchong1 commented on #673
I am not sure which configuration that I missed, can someone give me some pointer?

The problem is none of the kadalu pool are not set up

I use kadalu-operator.yaml and csi-nodeplugin.yaml manifest directly from this site, with devel changed to 0.8.6.

Then, i have the worker /dev/vdc disk set up, and some kadalu configuration below

[code]

[code]
[code]
[code]
[code]
[code]
I am not sure why th

[2021-10-28 22:26] hunter86bg opened #681 "kadalulib.CommandException: [1] error: unable to recognize "/kadalu/templates/csi-driver-object.yaml": no matches for kind "CSIDriver" in version "storage.k8s.io/v1beta1""
It seems that latest manifests traceback with :
[code]

[2021-10-29 05:12] leelavg commented on #680
- Great, this makes sense now.
- As a gist, flexibility is at CR/SC level.
- Currently nodeplugin mounts corresponds to one storage pool
- After this RFE, number of nodeplugin mounts corresponds to maximum of ( CR/SC )
- Provisioner mounts most likely be untouched.

[2021-10-29 05:29] leelavg commented on #673
@vincentchong1

- Thanks for very detailed info. The issue is most probably in below status

[code]

- When you run cleanup, resources in kadalu namespace will be deleted in a logical manner
- However, cleanup will not wipe backend devices, so when you re-use them in a test setup you need to wipe those disks
- There's another option in CR, `volume_id: <uuid-from-previous-usage-of-this-pool>` (if y

[2021-10-29 06:02] leelavg commented on #681
@hunter86bg

- it seems your k8s version >= 1.22 but your local repo of kadalu doesn't contain commit #669
- from above log, line 901 is `lib_execute` but it should be at line 904 for k8s version >= 1.22

Pls re-check.

[2021-10-29 06:18] leelavg commented on #676
- Stats from the log file
[code]
- Sample errors
[code]
- Errors in the log is not related to the issue.

---

- Trying to recreate the issue. You had a good number of PVCs deployed from internal gluster of type Replica3 which were actively being used in app pods.

- I suspect this alone caused such an outcome of heal pending on an entire brick with no progress. Nevertheless, this is issue1, i.e,

[2021-10-29 07:03] vatsa287 commented on #676
@leelavg is _uvicorn module_ related issue due to non-updated kadalu-base image?
When rest of containers are updated to devel and base remains the same does this issue come up?

[2021-10-29 07:12] leelavg commented on #676
Exactly, uvicorn is installed in builder and copied to component images. But current issue is unrelated to that.

[2021-10-29 09:28] leelavg commented on #675
- This alone doesn't fix version issues, will reopen and add the comments

[2021-10-29 11:06] leelavg commented on #675
- @aravindavk can kadalu cli be embedded into operator also?
- it's better to add something like `k kadalu debug` which confirms the user's that specific logs and list of pools/sc/pvcs is collected.
- then we can ask the user to add these while creating an issue.

@vatsa287 one edge case, let's say
- Someone inform that they built containers off of devel but they mistook old commit as HEAD
- In th

[2021-10-29 19:20] vincentchong1 commented on #673
@leelavg, thank you. I think I can move on now.
I cleanup, wipefs and mkfs.xfs the disk, and recreate

[code]

[2021-10-29 19:21] #673 closed, assigned to nobody

[2021-10-31 18:21] hunter86bg commented on #676
On a test lab with 0.8.7 (should work on 0.8.6 , right @leelavg ? ) I have managed to rebuild the failing brick as follows:
- /etc/fstab is defined either via '/dev/disk/by-id/' or via '/dev/vg/lv' format , but it **is not via UUID**
[code]
- Identify on which kubernetes host is the affected brick
[code]
- Identify the mountpoint which is used by Kadalu
- Decomm the brick
- Kill the pod that is ho

[2021-10-31 18:23] hunter86bg commented on #681
No Longer observed with 0.8.7

[2021-10-31 18:23] #681 closed, assigned to nobody

[2021-11-01 04:33] aravindavk commented on #680
To add Options to the Volfile:

After the `generate_*_volfile` step, add the below steps to add options to the Volfile(Example: https://github.com/kadalu/kadalu/blob/devel/csi/volumeutils.py#L1052)

[code]

- I will add the parser code in the next comment
- options should be in the format `{"<xlator-type>": {"<opt1-name>": "<opt1-value>",..}`. Example: `{"features/utime": {"noatime": "on"}}`
- It

[2021-11-01 04:34] aravindavk commented on #680
Volfile Parser and Writer

[code]

[2021-11-01 07:32] leelavg commented on #676
Might be better to implement #362 then.

Above command is racing against k8s creating a new pod as this was deployed as a statefulset.

I suppose you didn't do this manually and server pod created the structure by default?

- The way you used `decom` isn't supported yet in replica2/3 until #679 is implemented.

Action Items:
- Support reset brick (and detect brick failure as well?)
- More tooling

[2021-11-01 07:39] hunter86bg commented on #362
UUID always changes if you rebuild the FS (for example mkfs.xfs), it's far more reliable using the "/dev/disk/by-id/*" devices or "/dev/vg/lv".

Usually recreating the FS is far easier to wipe the old brick's file attributes

[2021-11-01 07:41] hunter86bg commented on #676
In the storage.yml , it was defined via "path: /gluster/brick1/" where the LV is mounted on "/gluster" ,so in order to recover the brick "/gluster/brick1" should exists

[2021-11-02 04:16] #678 closed, assigned to nobody

[2021-11-02 05:26] amarts opened #684 "self-heal Improvement - Provide list of all files which needs healing"
Currently, the CLI provided for self-heal listing only provides number of files which need self-heal on a volume.

We need to expand it to support all the commands available with gluster CLI, ie, to list individual files (or gfid) which are pending heal to help users fast track their healing.

Also there should be a command to force healing of a file (again something which is already present in gl

[2021-11-02 06:07] hunter86bg commented on #676
@RomanKisilenko ,
can you run:
[code]
It will stat all files in the volume and it can trigger a client-side heal which might "fix" the issue.

[2021-11-02 06:12] amarts commented on #684
An example of triggering  a self-heal on complete volume : https://github.com/kadalu/kadalu/issues/676#issuecomment-957127152

[2021-11-02 06:15] leelavg commented on #625
@aravindavk little help here, not able to think through the problem and side effects.

1. `stat.db` is created on external gluster volume and PVCs are carved from this storage pool
2. just before deletion of external pool all PVCs are deleted and so pv_records in `stat.db` should be empty and only table with pool name and summary exists

Ask:
1. If a new `stat.db` is created with same or different

[2021-11-02 06:59] RomanKisilenko commented on #676
@hunter86bg Hi, this did not help for me. I started faulty replica, waited for it to initialize, ran the above command, waited for it to complete, then executed kubectl kadalu healinfo. The result was the same as in my initial bugreport.

[2021-11-02 14:46] aravindavk commented on #625
How about documenting the steps while adding external Storage.

- Delete any previously created/used PVs directories.
- Delete the meta details files from the Volume.

[2021-11-02 14:51] leelavg commented on #625
- ya, that's also a possibility and a better choice too, will do that.

[2021-11-02 21:27] marcusaram opened #685 "Update to 0.8.7 fails in OKD4"
I'm trying to update Kadalu on OKD4, currently running 0.8.6 operator with csi-node 0.8.6. When I try to update the operator to 0.8.7 I get the following error (in a loop):

[code]
The error is not very helpful to see what is wrong in the kadalu-info config map.

[2021-11-02 22:45] marcusaram commented on #685
I did a quick check. I guess that this has to do with the API major and minor versions. Seems that these are not only int on OKD.

This is my version
[code]

[2021-11-03 02:27] vatsa287 commented on #685
I think “ int_api_instance_minor = int(float(api_instance_minor)) “ would solve this.

[2021-11-03 02:44] leelavg commented on #685
@vatsa287
- that'll not work, here the issue is we are getting `21+` as minor version and float conversion also would fail
- either we need to extract digits out of the string or trim endings with `+`
[code]
- OKD version output skipped our minds 😞

@marcusaram below would be the quick workaround, pardon the inconvenience.

[code]

[2021-11-03 04:06] aravindavk commented on #685
@vatsa287 I think you can keep it as string itself instead of typecasting.

[code]

Comparisons also work fine with strings

[code]

[2021-11-03 05:16] leelavg commented on #685
@aravindavk a little bit confused about usage of `ver.split` we actually get a class (from `client.VersionApi().get_code()`) which has `major` and `minor` attrs as a property.

IMHO, they are actually numbers and should be dealt as such. We aren't concerned about 'patch' and subsequent fields in semver.

So, I still believe we need to extract digits part from `minor` and `major` and compare them a

[2021-11-03 10:59] marcusaram commented on #685
@leelavg Thanks for your quick reply. Since this cluster is also running production workload I will try to update kadalu in the next maintenance window. If you need some more information, just ask. Thanks for this great product. It should have more exposure for sure!

[2021-11-03 12:02] leelavg commented on #685
- thanks for the feedback and passing on kudos to authors/maintainers of Kadalu

- This worries me a bit, as the process in operator keeps on restarting it'll consume a lot of CPU cycles.
- Above workaround can be applied on a stage environment and can be applied to prod without any maintenance/downtime.

Edit: The way it's designed, above workaround will take into effect without any pod/container

[2021-11-04 09:01] vherrlein opened #687 "Error calling metrics endpoint from k3s cluster within LXC/LXD infra"
https://github.com/kadalu/kadalu/blob/ffe706aeaa87d3f512961bfd36dfa1a7597485d7/operator/exporter.py#L175

In my case, unfortunately,  cgroups "cpuacct.usage" and "memory.usage_in_bytes" are not available, meaning throwing an 500 Internal Error from the webpage and the following error message in logs.
[code]

[2021-11-04 09:22] vherrlein commented on #687
this is the list of cgroups available
[code]

[2021-11-04 09:53] leelavg commented on #687
@vherrlein a little bit confused here and I only have a minimum knowledge on lxd (system) containers.

1. We are using `debian:bullseye` as base image which by default has a cgroup v2 hierarchy.
2. Afaik, lxc uses some customised fs (lxcfs i guess) to be able to support hybrid mode when docker containers are run on them.
3. So, the question is, is it safe to assume that above files will always not

[2021-11-04 10:19] vherrlein commented on #687
@leelavg , just for your information my Kubernetes cluster :
1. Kubernetes version: K3S v1.21
2. 3 Nodes (1 master + 2 workers)
3. Nodes under LXC Containers in priviledged mode with some tweaks for containerd
4. Hosted into an hypervisor, a Proxmox 7.0 Cluster of 3 nodes
5. 1 k3s node per machine

For your information, it seems the Proxmox 7.0 is running under "debian:bullseye" but with custom ke

[2021-11-04 10:30] leelavg commented on #687
- Thanks for all the info
- Definitely, HTTP 500 will be handled gracefully and/or we'll try to get metrics from any other place if possible 🤔

[2021-11-04 10:50] iutx opened #688 "0-fuse: Initialization of volume failed. review your volfile again. [{name=fuse}]"
K3s Version: v1.21.5+k3s2
Storage add command:
[code]
Log Error
[code]

[code]

kadalu status:
[code]

Only find this error, node doesn't mount anything, i want to use path.
How can i fix it, thanks.

[2021-11-04 11:44] vherrlein commented on #688
Check your KadaluStorage description with the following command:
[code]

You should have something like:
[code]

1. As you are using only 2 nodes, make sure you are using the right Replica Type
(cf. https://kadalu.io/docs/k8s-storage/devel/storage-config-options/)
2. Within the extracted json, verify each records in storage spec uses "path" instead of "device"

[2021-11-04 11:59] leelavg commented on #688
- Thanks for the suggestion @vherrlein.

umount: /mnt/storage-pool-1: no mount point specified.

@iutx reg above command,
- afair the mount will not be realized on the k8s node
- never came across above issue, so can you pls run the umount command from nodeplugins if no PVC is in use?
- are you able see the mount in (`kadalu-provisioner` container in) `provisioner` pod?

[2021-11-04 12:21] iutx commented on #688
@leelavg thanks for your handling suggestion.

I can't exec umount command at nodeplugins container
![image](https://user-images.githubusercontent.com/31346321/140312009-3b5d5ca0-deba-44ce-bb3e-98b7aa3d894c.png)

I think this screenshot is what you're describing.
![image](https://user-images.githubusercontent.com/31346321/140312302-23ce7180-f1fa-41ba-aea9-69b3c5297a3b.png)

[2021-11-04 13:07] leelavg commented on #688
- great, everything looks good, as we can see above, able to mount pool on provisioner so nodeplugin shouldn't have any issues.

Ask:
- can you pls create a new PVC now and look the logs in `server` pods and provisioner logs?

Expectation:
1. PV should be bound to the PVC
2. In the provisioner if you do a `ls -lR` on `/mnt/storage-pool-1` you'd see the directory with PVC name.

Ask:
1. If above su

[2021-11-04 19:26] hunter86bg commented on #676
@RomanKisilenko ,
I would like to ask you to:
- ensure the faulty replica is available
- ensure that kubectl-kadalu healinfo is still reporting pending heals
- Connect to the provisioner:
[code]
- execute:
[code]

It should provide the full list of files pending heal.

- pick one of the files and execute on all nodes where the storage pods are running:
[code]

[2021-11-05 02:34] iutx commented on #688
Thanks for the suggestion !

I'm sorry for not providing the version at the first time, the kadalu version info:  0.8.7

<br />

I create a pv, but still pending status, logs at `kadalu-csi-provisioner-0 kadalu-logging` still tips "0-fuse: Initialization of volume failed. review your volfile again. [{name=fuse}]"

logs at server pods looks well, there is no valid confidence other than a health che

[2021-11-05 03:15] leelavg commented on #688
- Above looks good, when you see pvc in pending state for long time, you should `describe` that pvc and see the events, that would be super helpful.
- I don't have much experience with thin arbiter, so taking a step back here, @aravindavk doc says we provide thin arbiter if one is not specified while creating replica2 pool, does that still hold true?
- What amuses me is, the initial cmd doesn't sp

[2021-11-05 03:18] leelavg commented on #676
@hunter86bg thanks for investigating this further, it'll be a good addition to kadalu cli, will look into it after getting a response from Roman.

[2021-11-05 04:23] RomanKisilenko commented on #676
Hello,

Here is the result of the commands:
[code]

[code]

[code]

[code]

[2021-11-05 04:45] hunter86bg commented on #676
Now we know why it's not healing . There is a gfid mismatch.

One way to recover is to go to server-replica3-2-0 , backup '/bricks/replica3/data/brick/subvol/9d/14/pvc-b746d909-6aa0-47ea-98dd-803025cf36e3/FBS-Demo/233/126/' and it's contents and then remove it only from that brick.

To trigger a heal, run the find command from https://github.com/kadalu/kadalu/issues/676#issuecomment-957127152

Not

[2021-11-05 05:04] RomanKisilenko commented on #676
I executed the steps yo suggested and I can still see that kadalu healinfo reports same heal pending as in my original report.

[2021-11-05 05:06] hunter86bg commented on #676
Let's see if the shd heals them after 20-30min

[2021-11-05 05:31] iutx commented on #688
I check my history command, parameter `--type` ，I've tested them all
[code]

Before i restart all kadalu pods，neither of the above is available.  have the same mistakes which i describe in issue.

I tested them again, specifying the `--type=Replica2` parameter will succeeds.

[2021-11-05 05:46] RomanKisilenko commented on #676
The problem is still here.

[2021-11-05 05:52] hunter86bg commented on #676
Roman,

can you provide the output of /opt/libexec/glusterfs/glfsheal <VOLUME_NAME> volfile-path /kadalu/volfiles/<VOLUME_NAME>.client.vol
 after the removal of the directory on server-replica3-2-0 ?

[2021-11-05 05:53] RomanKisilenko commented on #676
[code]

[2021-11-05 06:02] leelavg commented on #688
Ack, there's a possibility that `Replica2` might be broken, if you've another disk/path for gluster brick can you use `Replica3` just to test you are able create and use pvc without any issues?

[2021-11-05 06:23] hunter86bg commented on #676
@amarts , @leelavg ,

do we have any toolset in kadalu to trigger a heal, just like the cli command: 'gluster volume heal replica3' or 'gluster volume heal replica3 full' ?

[2021-11-05 06:29] leelavg commented on #676
- My guess would be to check help on glfsheal binary if one exists
- I'm not competent enough to debug glusterfs and tools around it 😔

[2021-11-05 16:43] amarts commented on #688
The issue of 'No space left on device' was genuine as the `tie-breaker.kadalu.io` server which we made available free for everyone to use as a thin-arbiter node when someone chooses to use Replica2 type was indeed out of space. Fixed the issue now, and one should not be seeing the issue for some more time.

I am yet to go through the issue completely as I am out on festival vacation right now.  Wi

[2021-11-05 16:49] amarts commented on #685
While that may be one way, I believe for the lifetime of kadalu, and where we compare the k8s versions, I believe the string based comparison is good enough. We can add a comment saying it is compared in strings only to make sure we take care of OKD and other similar ecosystems.

No point in spending extra effort to crack our head around converting something from string to integer and getting into

[2021-11-05 16:51] amarts commented on #687
@leelavg++

Lets first fix the backtraces and push them into another release, so users are not having issues. We will improve on better approaches later.

[2021-11-06 13:08] #684 closed, assigned to vatsa287

[2021-11-06 18:59] hunter86bg commented on #676
@RomanKisilenko ,

can you retrieve the log again ? It's really puzzling why the shd is not healing.

A workaround can be implemented, but I usually do not recommend altering gluster bricks (directly).If you still feel the need to do it, you can:
- rsync the files from one of the worker nodes to the other one:
[code]
- Remove extended attributes from all bricks:
[code]
In order to make all entries

[2021-11-08 00:56] #118 closed

[2021-11-09 06:03] #685 closed, assigned to vatsa287

[2021-11-09 06:04] #687 closed, assigned to vatsa287

[2021-11-10 04:10] #625 closed, assigned to leelavg

[2021-11-11 05:51] zhucan opened #698 "Add short names for kadalu storages CRDs"

[2021-11-11 05:52] zhucan commented on #698
/assign @leelavg

[2021-11-11 07:38] leelavg commented on #698
@zhucan it's already implemented in #609 and available from v0.8.5, do you mean anything else? you can use `k get kds` or `k get kadalu`
[code]

[2021-11-11 10:00] zhucan commented on #698
@leelavg Thanks

[2021-11-11 10:00] #698 closed, assigned to nobody

[2021-11-11 11:36] bodleytunes opened #700 "Is it possible to mount the GlusterFS volume into the host as a folder?"
Hi All,

Is it possible to mount what would normally be a glusterfs volume only accessible to the k3s cluster directly to the host so I could copy files there and they would be available to the pods?

I have setup glusterFS before directly on the hosts (manually) which enabled me to copy files to the mounted volume (mounted with fstab and glusterfs client) and then I just bind mounted to the pods

[2021-11-11 15:02] aravindavk commented on #700
This is one feature asked by many users. Technically it is possible to mount the Volume on host if all the Server Pods IPs are reachable in host.

I think, we can introduce a kubectl sub-command to mount the Volume in the host machine.

[code]

- Generate the Client Volfile for the given Storage pool name(Accept Volume Options in CLI as well)
- Run Glusterfs command to mount the Volume.(Validate t

[2021-11-11 15:37] amarts commented on #700
Any glusterfs client should work in this case as we haven't done any changes in client side stack.

Good start IMO.

[2021-11-12 17:37] RomanKisilenko commented on #676
The log file was provided to @hunter86bg via alternative communication channel.

[2021-11-12 17:39] RomanKisilenko commented on #676
Also exact same issue has reproduced again on a new folder which means that the issue is a frequently occurring (at least in my disk usage pattern).
I think setting up a load test for kadalu can help to identify and resolve issues like this.

[2021-11-13 13:21] RomanKisilenko opened #702 "kadalu 0.8.7 fails to work correctly after worker node is reprovisioned"
Reprovisioning worker node have lead to the gluster folder being cleared.

After connecting the node to cluster kadalu fails to provision any pvcs and it also fails to remove the storage class (KadaluStorage).

Fully removing kadaly, storageclass and then reinstalling kadalu from scratch did work but this is not something which can be done in production.

[2021-11-18 12:16] aravindavk opened #705 "[RFE] Moana for managing Kadalu"
Moana(https://github.com/kadalu/moana and https://github.com/kadalu/kadalu-storage-manager) is a project focused on providing rich management interface for Kadalu Storage.

**Note**:
- Kadalu Storage Manager project will be merged to Moana soon.
- Moana project is not yet ready for the integration. First release with basic features expected by this year.

This RFE talks about merging the developme

[2021-11-18 12:17] aravindavk commented on #705
@amarts @leelavg ^^

[2021-11-19 05:36] leelavg commented on #705
- For this RFE implementation, kadalu-storage-manager (let's say ksm, less typing 😅) should be merged into Moana and then proceed with using Moana or we can start using Moana and slowly ksm will be merged into Moana?

- I suppose either `kadalu-lite` is still in design phase or I'm not able to see the code in github

- Even though moana agent is the init I suppose the current design of running bus

[2021-11-19 06:18] aravindavk commented on #542
This issue is adding support for Volume options https://github.com/kadalu/kadalu/issues/680

Is that sufficent or missing anything?

[2021-11-19 06:31] aravindavk commented on #705
Thanks @leelavg for the comments. I opened this RFE early to understand if any important things I missed while working on Moana. The Moana project is not yet ready to use, but I really wish to integrate Moana with this project before 1.0.

I will be merging kadalu-storage-manager into Moana. After that, plan is to start using Moana with k8s integration. K8s integration will be GlusterFS/Kadalu Sto

[2021-11-19 07:18] leelavg commented on #705
- just that we are concentrating much of the logic in operator so thought having HA kind of design might be a good fit

- ack, didn't know that. IMHO, consistency is the key if the migration is smooth that'll be welcomed ig

No comments for the rest of responses, all good.

ps: you are making contributors to learn [crystal-lang](https://crystal-lang.org/), ruby devs will like it though, hoping for

[2021-11-20 10:41] vherrlein opened #706 "Collecting Metrics Issue"
Dear team,

May be it's because my K3s is running under LXC/LXD containers.
However, since you fixed on the version 0.8.8 the metrics issue coming from the #687 it seems now another issue occurs from the operator exporter with the following message.

[code]

https://github.com/kadalu/kadalu/blob/42b440bd8db8c4b1b6d6a839f778c969f464a2c3/operator/exporter.py#L355

So, it seems `memory_usage_in_bytes

[2021-11-20 11:12] vherrlein commented on #706
After testing, all of those pieces of code doesn't works:

[code]

So may be something happening when the operator exporter tries to collect metrics from all pods...

[2021-11-21 07:25] hunter86bg commented on #548
@aravindavk ,
is the issue actual ?

[2021-11-21 08:20] aravindavk commented on #705
I understand the concern. Operator and CSI will not change from Python, only gets simplified by calling APIs instead of doing many internal things manually.

Moana will be in crystal language and Kadalu Fs core in C language. Python Language bindings(wrapper around ReST Apis) will be available for Moana.

[2021-11-21 14:46] aravindavk commented on #548
Yes valid.

[2021-11-21 18:08] vherrlein opened #707 "Metrics - Missing 'import os' declaration"
Issue within server/exporter.py.

It seems `import os` declaration is missing at the top.

[code]

https://github.com/kadalu/kadalu/blob/9c9625aba981948ffae868748f1f828531dc7266/server/exporter.py#L2

[2021-11-22 01:37] leelavg commented on #707
Uh oh, how come pylint missed it, maybe due to disable statements 🤔

[2021-11-22 07:04] vatsa287 commented on #707
Indeed #706 looks like it happened because this error. Will bring exporter files under pylint for avoiding catching of these errors.

[2021-11-22 07:41] vherrlein opened #709 "Metrics - Wrong PVC usage values"
When you are running a storage pool in 'PATH' mode, metrics sent by the CSI exporter are wrong and calculate the size based on the file system mount point instead of the PVC Directory.

https://github.com/kadalu/kadalu/blob/9c9625aba981948ffae868748f1f828531dc7266/csi/exporter.py#L111

The main culprit is `os.statvfs` which get information of the filesystem mount point related to the path provided

[2021-11-22 07:47] amarts commented on #709
the `statvfs()` call takes path as an argument, and gets the details of given directory. With glusterfs, we try to provide statvfs output at the simple-quota level, which gets handled properly on client, and you are supposed to get the proper usage without doing a recursive crawl. If that is not happening, then there seems to be a bug in glusterfs, and that needs to be checked. Doing a recursive c

[2021-11-22 07:49] leelavg commented on #709
hi @vherrlein

- thanks a lot for your debug analysis.
- we could also get usage of PVC irrespective of path/device mode based on xattrs (`trusted.gfs.squota.size`) rather than cumulative sum of recursion 🤔
- we'll try to minimise the PR content seeing the issues in metrics, good learning.

[2021-11-22 07:50] vatsa287 commented on #709
PVC Inode and storage Inode data looks the same:
[code]

[2021-11-22 07:56] leelavg commented on #709
@vherrlein

- do you have any posts/steps referring to your setup mentioned in https://github.com/kadalu/kadalu/issues/687#issuecomment-960622581?
- running k3s in a system container (lxd) might be quite different if we are touching the filesystem directly

[2021-11-22 07:58] vherrlein commented on #709
@amarts, Agreed on the performance perspective.

So, in my case it seems the "simple-quota" doesn't work at all.
@leelavg, the issue with `xattrs` seems not working well in within LXC/LXD priviledged container.

[2021-11-22 08:01] vherrlein commented on #709
@leelavg, I did the full setup by myself, no posts or full guidelines exits online :/

[2021-11-23 07:28] vatsa287 commented on #680
@aravindavk does opts contain elements since we are passing it externally? If not then we might need to change update_options_by_type method to something like this(forego print statements) because we cant get access to `opts.get(elements.type)`:
[code]
When opts is in the form:
[code]
Get output like this, [can be used with multiple types as well]:
[code]

[2021-11-23 07:38] aravindavk commented on #680
I didn't get this. `element.options.update(opts[element.type])` merges the dict from parsed opts(Existing options) with the Options passed as input. Is this not working?

[2021-11-23 19:09] timbastin commented on #353
I am really interested in this as well. What is the best practice to do a backup, if there is none, switch to stop application I/O?

[2021-11-23 20:30] ook opened #711 "kubectl-kadalu can't use another k8s context"
My laptop is configured for multiple k8s context (let's say a professional one, which is my default, and a personal one, where I use Kadalu).

I usually use the switch `kubectl --context mycluster` to issue my commands.

It seems that `kubectl-kadalu` don't know how to pass a context to `kubectl` command:

[code]

[code]

I think that `kubectl-kadalu` command should be able to use a given context.

[2021-11-24 13:00] #523 closed, assigned to nobody

[2021-11-24 18:13] #711 closed, assigned to nobody

[2021-11-26 17:41] MatteoManzoni opened #714 "Support for Replica1 to Replica3 migration"
Hello all!
I've experimented a little bit with Kadalu and everything seems really good moreover the performances are great compared to other CAS/CSI supporting RWX.
During my experimentations I've found an issue, maybe it is related to my specific use case, I know a thing or two about GlusterFS and I've done volume replica addition in the past.
To reproduce the issue:
- Create a single node cluste

[2021-11-26 23:14] hunter86bg commented on #714
Can you connect to the provisioner and check the contents of the /kadalu/volfiles/storage01.client.vol

[2021-11-26 23:15] hunter86bg commented on #714
[code]

[2021-11-27 03:35] leelavg commented on #714
@MatteoManzoni hi, good to hear about your experiment and the results.

1. I hope your local repo contains this https://github.com/kadalu/kadalu/pull/572
2. Whenever you perfom any changes to StoragePool first you should look at Operator logs
3. From the error, I suspect replica1 isn't converted to replica3 at all and the same can be confirmed whether you see three `server` pods in total or not
4.

[2021-11-27 04:19] leelavg commented on #709
- Ack, it might be a bit difficult to fix customised setup issues as it might break something else in the same/different infra.
- By no means I'm against supporting the usecase, I'm just saying it'll be easier if we have a reference which reduces to and fro 😀
- I'm not a fan of snap 😅 to setup lxd in fedora, will look for alternatives and see how the filesystem is laid out in system containers.
-

[2021-11-27 08:36] MatteoManzoni commented on #714
Hi @hunter86bg, @leelavg! Thank you so much for quick response here's the vol file:
Replica1:
[code]
Converted to Replica3:
[code]

@leelavg, I'm currently using the latest release applied through kubectl kadalu plugin
<img width="333" alt="Screen Shot 2021-11-27 at 09 30 22" src="https://user-images.githubusercontent.com/35832688/143674219-d1b2f90d-52de-4f14-a78a-22b3f4c35c54.png">

During the ap

[2021-11-27 08:39] hunter86bg commented on #714
For me it looks pure Replica1 based on the file output (not the logs). @leelavg , what do you think ?

[2021-11-27 08:53] vherrlein commented on #709
@leelavg, if you have any python script to test, I could try within my environment.

I understand that's not easy to identify as everyone have different setups with different distros.

In my case:
- Host machine:
  - Debian Bullseyes based (Proxmox VE 7.0)
  - LXC v4.0.9-4
  - Additional Kernel Modules loaded at startup (/etc/modules):
[code]
- LXC Guest Machine:
  - Pure Debian Bullseyes
  - LXC

[2021-11-27 09:46] leelavg commented on #714
- Yep, looking at the volfile I don't think that's a replica3.

- Understood, this is something Kadalu is capable of.

@MatteoManzoni
- looking at overall issue, it doesn't give me confidence to ask you for logs from various places like there are watchers internally to swap volfile currently being used for gluster binary etc
- i didn't get a chance to deploy Kadalu in my k3d cluster recently 😅. So

[2021-11-27 09:56] leelavg commented on #709
- Thanks a lot for the info
- We don't have any python script, Kadalu itself has some checks inbuilt for it to work
- Metrics might be coming into your way of using Kadalu i guess or were you able to create PVC and use it in app pod?
- I think we can provide an option to disable metrics 🤔

[2021-11-27 09:58] MatteoManzoni commented on #714
@leelavg, @hunter86bg thank you guys!
@leelavg Cool thank you so much I'll wait no problem! I'm using k3s version `v1.22.3+k3s1` at the moment if this can help you

[2021-11-27 10:12] vherrlein commented on #709
From my side, I need metrics to monitor the infra.

My target is retrieving all of those metrics:
- Gluster Stats:
  - Status (based on the Quorum and/or Pods states)
  - Availability (SLA)
  - Avg Network Latency
  - Avg I/O Read/Write speed (Bytes/s)
- Storage Pool Stats:
  - Type of replica
  - Status
  - Size
  - Remaining Space
  - I/O Read/Write speed (Bytes/s)
- PVC Stats:
  - Requested Siz

[2021-11-27 11:06] leelavg commented on #709
- Uh oh, your main use case seems to be around monitoring
- Need to prioritise this as well i guess, wrt metrics are you good enough with the available metrics that Kadalu exports if all things work correctly?
- @vatsa287 since you are on Ubuntu can you give a try with lxd, no need to setup k8s and kadalu etc, just look around the filesystem whether all the files specified in metrics are accessibl

[2021-11-27 11:57] vherrlein commented on #709
Monitoring at first glance, then alerting :)

1. As soon as `total_pvc_capacity_bytes`, `used_pvc_capacity_bytes` and `free_pvc_capacity_bytes` metrics will work fine I could manage storage space's KPIs
2. For now, Kadalu doesn't export I/O Stat metrics which will be useful for analyzing later on performances or even troubleshooting (Storage and Network)

Only metrics coming from exporters which d

[2021-11-27 22:38] MatteoManzoni commented on #714
I've continued my troubleshooting anyway, I've found that deleting the kadalu-operator-xxxxx and kadalu-csi-provisioner-0 pods makes the replica configuration update correctly

Here's the commands I've used
[code]

The output of the `.vol` is now correct:
[code]

[2021-11-28 02:20] leelavg commented on #714
- Great  that assures it's working and there's a bug to be fixed 😄
- You shouldn't be restarting the nodeplugin to reflect the changes
- Deleting the provisioner alone should have worked, so I guess changes in kadalu-info config map is not being respected correctly
- Thanks for looking into this

[2021-11-28 14:30] MatteoManzoni commented on #714
@leelavg thank you so much, I can confirm that a simple `kubectl rollout restart statefulset -n kadalu kadalu-csi-provisioner` updates the underlying GlusterFS replica
I can also confirm that the config map is updated correctly as soon as the replica type is modified from `Replica1` to `Replica3`

I can speculate that the issue resides in the on-change reload logic of the config map inside the pro

[2021-11-28 15:25] MatteoManzoni commented on #714
I would speculate that the issue resides here: https://github.com/kadalu/kadalu/blob/42b440bd8db8c4b1b6d6a839f778c969f464a2c3/csi/main.py#L68

The reconfigure volume should be called every time the CM is updated, I've a couple of solution in mind that I would  like to put down in a PR but I'll wait your feedbacks in order to avoid wasting everyone time

[2021-11-28 15:34] leelavg commented on #714
@MatteoManzoni no, not a problem at all.

- Please proceed, we are more happy to get contributions and I'll definitely review it
- Let me know if any info is required, to be frank, python code in the repo is straightforward 😉

[2021-11-28 15:39] leelavg commented on #714
- Before diving in, just make sure `inotify` is indeed working correctly on changes to configmap
https://github.com/kadalu/kadalu/blob/b875972b9b3309930b1cdd805d0b9f966b6daf16/csi/watch-vol-changes.sh#L18-L20
- Happy hacking, will catch up tomorrow.

[2021-11-28 15:50] MatteoManzoni commented on #714
Sorry @leelavg I didn't mentioned it, I've already tried and during a ConfigMap update no logs are generated from the process `watch-vol-changes.sh`

[2021-11-28 16:23] leelavg commented on #714
- Ah, that's where the issue start then.
- The flow is, if change in config map is observed re-generate the volfile and restart the gluster process
- I'll be online in another ~10 hrs to take a look, if inotify isn't working then may need to write some custom watchers in python 😅
- Btw, why not join [slack](https://github.com/kadalu/kadalu#reach-out) for quick debugging (it'll not be active this h

[2021-11-28 20:31] MatteoManzoni commented on #714
Slack joined!

Modifying the inotify catched events to `-e create -e modify -e delete -e move` I see a create event of the meta dir containing the current version of the configmap, I would say that the modify event is not triggered due to the symlink nature of the files present in the folder upper `/var/lib/gluster` folder (atime and modify time are not modified on those symlinks)
<img width="765"

[2021-11-29 06:31] #707 closed, assigned to nobody

[2021-11-29 06:31] #548 closed, assigned to nobody

[2021-11-29 06:32] #714 closed, assigned to nobody

[2021-11-29 06:55] leelavg commented on #709
@vherrlein

- we made last 2 releases to fix monitoring issues, however some issues is still being hit by you
- can you pls try out devel once and list out what's not working for you and what more metrics are needed

[2021-11-29 07:10] leelavg commented on #706
- #708 should have probably fixed this issue too, I'm closing this, pls re-open if you want to have this separate or let's communicate over #709 alone wrt any Metrics issue from you if they aren't deviating too much

[2021-11-29 07:10] #706 closed, assigned to nobody

[2021-11-30 10:43] scr1ble opened #716 "External volume mount not working when using `gluster_options` in StorageClass"
Hi there,

If I try to set an option, such as the debug level in the StorageClass yaml, then I have a problem mounting the volume.

[code]

I checked the logs and found that there is an invalid option for the glusterfs binary.

[code]

So I went ahead and looked at the code to find `mount_glusterfs_with_host` and I saw that the `-o` option is added if there are any options set in the StorageClass

[2021-11-30 10:47] leelavg commented on #716
- Thanks for detailed info
- That's my mistake in #677, would you like to raise a pr since you already close to the solution?

[2021-11-30 12:19] scr1ble commented on #716
Unfortunately, I'm not as good at Python as I would like, and at the moment I don't have a quick solution :(

[2021-11-30 12:57] rafis commented on #716
After upgrading from 0.8.6 to 0.8.8 we have encountered the same issue, so now we in need of 0.8.9 please.

[2021-11-30 15:22] leelavg commented on #716
- Uh oh, didn't think this would be a blocker
- btw, we were not using (i mean before #677) gluster options anyways before mounting the volume, simple workaround is not to supply this field in yaml manifest

@rafis

[2021-12-01 08:06] rafis opened #719 "Can't create volume after upgrading from 0.8.6 to 0.8.8"
Trying to create simple volume which worked on 0.8.6.

kubectl -n kadalu logs kadalu-csi-provisioner-0 -c kadalu-provisioner
[code]
kubectl -n postgres describe pvc
[code]

[2021-12-01 08:24] rafis commented on #719
Downgrading to 0.8.6 didn't help, means that's our configuration issue.

[2021-12-01 08:24] leelavg commented on #719
@rafis pardon the inconvenience

- Can you look into provisioner logs why it failed to set the quota?

- Needs more investigation, is it possible for you to provide applied KadaluStorage yaml manifest?
- Error is in one of these lines (mostly the last one)https://github.com/kadalu/kadalu/blob/c0ba7c0fd795bdc4e2ee2cf6479da1f0115b04f9/csi/controllerserver.py#L318-L321

[2021-12-01 08:26] rafis commented on #719
kubectl -n kadalu get kadalustorage out-dev-gluster -o yaml

[code]

@leelavg please help.

[2021-12-01 08:37] leelavg commented on #719
@rafis ack,

- Found the second issue, that can be confirmed if you do `k get sc kadalu.out-dev-gluster -n kadalu` and look for the **absence** of `gluster_options`
- Not able to find the reason for first issue `Unable to set Gluster Quota via ssh` as mentioned earlier, can you pls look into provisioner logs and search for the same?

[2021-12-01 09:01] rafis commented on #719
* Yes, I was trying to delete `gluster_options` from StorageClass `kadalu.out-dev-gluster` to be compatible with the bug #716 in the current kadalu-operator 0.8.8, but it is impossible because StorageClass is immutable resource.

SSH secret seems to be correctly configured
kubectl -n kadalu get secret glusterquota-ssh-secret -o yaml
[code]
according to documentation
https://github.com/kadalu/kadal

[2021-12-01 09:28] leelavg commented on #719
No, Kadalu is able to create PV(C) but failing to communicate the same to kubernetes 😔

[2021-12-01 09:40] rafis commented on #719
May be I need to restart something more? My downgrade procedure was very simple:
[code]
I have saw that kadalu operator has restarted my `kadalu-csi-provisioner-0` pod automatically afterwards. Maybe I also need to restart all csi-nodeplugins pods manually?

Also I can't disable Quotas checks:
[code]

We are using standard GlusterFS, not the one that is Kadalu edition. Oracle Linux 7.9, GlusterFS

[2021-12-01 09:48] #716 closed, assigned to nobody

[2021-12-01 09:54] rafis commented on #719
Yay! I have returned back `gluster_options` to

kubectl -n kadalu edit kadalustorage out-dev-gluster
kubectl -n kadalu edit configmap kadalu-info

Everything works now as previously.

[2021-12-01 10:10] leelavg commented on #719
- You didn't apply nodeplugin manifest and downgrades are pretty inconsistent in the first place

- I suppose you edited those resources on Kadalu 0.8.6 downgraded setup

- then you shouldn't have seen the quota error

- there's no need to do this afaik

glad, that you have a working setup now but thanks for bringing out these issues.

[2021-12-01 11:38] leelavg opened #721 "Deprecate `volume-id` param in CRD"
- We introduced this option when previous versions of kadalu need to be upgraded and use the same volname (#464)
- I feel it'll be good not to have this anymore as most of the users will be on 0.8 and deprecate this from 0.9
- Better use below for usecases where one wants to re-use the volume with same name?

from generating pseudo-random uuid
https://github.com/kadalu/kadalu/blob/f6545fde6ae3b1ee

[2021-12-01 13:47] #719 closed, assigned to nobody

[2021-12-01 15:39] amarts commented on #721
One of the reasons we got 'volume-id' param in the CRD is to support heketi to kadalu migration, without any data migration.

If its not provided, use predictable uuid, but lets honor the CRD if its given.

[2021-12-01 16:21] aravindavk commented on #721
`volume-id` in CRD also helps if someone wants to use Kubernetes/kadalu to manage the existing Gluster Volume.

For example, if Gluster Volume `gvol1` with ID=`id1` exists in `server1,server2,server3` then,

- Note the Volume ID of a existing Gluster volume
- Stop and Delete the Gluster Volume(Gluster don't remove brick xattrs and data)
- add three servers to Kubernetes Cluster.
- Now call `kubect

[2021-12-01 16:22] aravindavk commented on #721
If Storage Yaml is deleted and reuse of that disk is required, then we can still get the existing volume-id from the xattr of Storage Unit/Brick root.

[2021-12-02 05:09] leelavg commented on #721
- Thank a lot, understood different use cases

- Can you please expand a bit more on it? Yes, gluster volume can be usable however it couldn't be used in the kubernetes context right?
- Like, we can create a new PVC in the gluster volume but can't expose existing data as such or am I missing something here?

[2021-12-02 07:17] rafis commented on #721
* If `volume_id` in KadaluStorage refers to `details.gluster_volname` why it is not named `details.gluster_volid`?

[2021-12-03 06:55] scr1ble opened #722 "Cannot correctly remove `kadaluStorage` and pvc"
Hi there,

I'm trying to delete the `kadaluStorage` and create a new one but I always get different problems.

If there is no pvc'c in the cluster and no kadaluStorage, I can see in the logs that it is trying to find them.

Nothing changes if I remove kadalu from the cluster and restart it.

Could you help me?

That what I've got in the logs right now.
[code]

[2021-12-03 19:32] galp opened #723 "move storage to new node"
Hello,

I have successfully upgraded from 0.7.6 -> 0.8.8 on arm.

My cluster is using a replica3 storage defined like this:

[code]
shut down node0
plug  storage to node5 instead
replaced node0 with node5 in the file and applied:

```kubectl  apply -f kadalu-storage.yaml  ```

Nothing happens. Kadalu still thinks storage is on node0. Is this expected behaviour?

Managed to get this to work by edit

[2021-12-04 02:43] leelavg commented on #723
@galp pretty good use case I'd say 😅.

- I think it should work when you edit kadalu-info cm
~- However statefulset restart would still revert things~
- Need to look into code on how to do it correctly
- IIRC, decommissioning that node and adding new node should work
- If you have a test setup can you try below?
[code]
- After you apply you'd see a total of four server pods and one would be failin

[2021-12-04 03:52] leelavg commented on #722
What does 'it' refers to?

Which container logs are these?

If you want to clean the setup you can run https://github.com/kadalu/kadalu/blob/devel/extras/scripts/cleanup

- There are many unknowns in the report
1. What's the version?
2. Are tou trying to delete new storage or used(/in use) storage
3. How did you remove Kadalu from the cluster?

[2021-12-04 09:35] galp commented on #723
I can confirm that editing also the configmap does makes the switch permanent.

No rush from me now as I have a working setup. I can help will testing, will ping you on slack from monday.
I dont have a test setup but perhaps I get something set up.

thanks for the help

[2021-12-05 12:56] vherrlein commented on #709
@leelavg, it seems the quota is working within a pod, below the error I got from a dd write.

`dd: error writing '/mnt/pv/test.img': Disk quota exceeded`

I prefer waiting on your next release, it's too risky.
I tried one time using the devel directly and I had some troubles with the existing setup.

[2021-12-06 07:08] scr1ble commented on #722
Hi,

It's about kadalu

Can't say for sure. Could you tell which one is using `glusterfs` binary for connection?

1. 0.8.8 latest
2. I'm trying to delete already used storage.
3. It's installed with helm and cleaned with helm uninstall. Also I tried to remove it with this [instruction](https://github.com/kadalu/kadalu/blob/devel/extras/scripts/cleanup)

[2021-12-06 07:21] leelavg commented on #722
sry, you might not like my answer on this, there are many containers where gluster logs the messages, if you are unaware where you pulled this logs from, leave it for now.

I'm assuming it's internal gluster?

Ah! helm doesn't have knowledge of what operator manages so when you uninstall it just removes the operator and csi pods but not server pods

Then you shouldn't be having any issue after run

[2021-12-06 07:27] scr1ble commented on #722
Oh, sorry my bad, I'm using external.

I'll try your recommendations.

Thanks a lot for your help!

[2021-12-06 11:27] leelavg commented on #723
- Just had a quick look, yes, there are some places where similar operations could go wrong however this specific operation should have been successful

- In this case operator invalidated the new manifest and didn't deploy new server pods at all

Ask:
1. Do you see any errors in operator just after applying updated manifest and before you realise nothing is changed?
2. If there were no errors, th

[2021-12-07 14:36] maxsivkov opened #724 "MountVolume.NewMounter initialization failed (expected valid fsGroupPolicy, received nil value or empty string)"
Hello

*Environment:*
Kubernetes cluster v 1.18
kadalu:
[code]

Getting errors while running pod
[code]

I successfully attached storage to the cluster using command
`kubectl kadalu storage-add storage-pool-replica1 --type Replica1 --pv-reclaim-policy delete --device worker-04:/dev/disk/gd0 --device worker-13:/dev/disk/gd0 --device worker-14:/dev/disk/gd0 --script-mode`

devices `/dev/disk/gd0`  a

[2021-12-07 14:45] leelavg commented on #724
@maxsivkov

- pardon the inconvenience, it's a regression in 0.8.8 fixed in #708 and will be part of next release

[2021-12-07 14:52] maxsivkov commented on #724
Thanks for the quick reponse

Do you think #708 will also fix the `MountVolume.NewMounter initialization failed for volume "pvc-461ae852-698f-4b2b-8f20-d4d4d44dabf5" : kubernetes.io/csi: expected valid fsGroupPolicy, received nil value or empty string` error?

[2021-12-07 15:17] leelavg commented on #724
- Ah, missed this detail 😅
- Nope, I don't think it's related and is a different issue
- Might feel wrong to ask again, are you sure that you are on k8s 1.18?
- `kubelet` is throwing that error however `fsGroupPolicy` is in alpha on v1.19 🤔
- I cross checked side car versions however everything checks out
- Currently on mobile so couldn't help more right now

Ask:
1. Pls reconfirm your k8s version

[2021-12-07 16:06] maxsivkov commented on #724
@leelavg , you're right!
1.
We have test cluster with nodes running v1.18.12 (workers and master) and v1.22.4 (2 workers only)
kadalu deployed on 1 node v1.18.12 and on 2 nodes v1.22.4

by default pod was scheduled on a v1.22.4 node.
After deploying pod to the 1.18.12 node it starts to work fine.

2.
*kadalu-csi-nodeplugin-f5mhm* ( this nodeplugin runs on a v1.22.4 node) has no errors during pod s

[2021-12-07 16:18] leelavg commented on #724
- Great, you are all good
- There were three revisions to CSIDriver resource from pre 1.44 to current 1.22
- Kadalu Operator might have picked up master version and deployed CSIDriver to be compatible with that version
- No fix for that is needed, after cluster upgrade reaches a consistent state just restart the operator
- As mentioned earlier other fix will land in next version

[2021-12-07 16:22] leelavg commented on #724
- Read your response too fast 😅, so it's a test cluster and you can schedule on 1.18 nodes only
- When you do your testing you can upgrade and restart operator

[2021-12-07 16:51] maxsivkov commented on #724
@leelavg

Thanks for your sup[port.

As far as we cannot have multiple CSIDriver CRDs in one cluster, I think I have two options:
* Move whole cluster to 1.22
* Revert 1.22 nodes to 1.18

Give me some time to decide)

[2021-12-08 05:42] hunter86bg commented on #702
Do we have any update for this ine ?

[2021-12-08 06:13] scr1ble commented on #722
Hi @leelavg,

So I've tried your recommendations and everything works as expected. Thanks again!

But if I delete kadaluStorage and trying to recreate it with the same name I see this
[code]
But there is no any storage classes in my cluster
[code]
Could you help me with this? :)

[2021-12-08 06:23] leelavg commented on #722
- what's the o/p of `k get po,sc,svc,kds,pv,pvc,cm -n kadalu`
- in-addition, if you can't provide all of above what does the operator logs say?
- if you are sure that no storage is in use either external or internal, run `k delete kds --all -nkadalu` and perform your operations

[2021-12-08 06:32] scr1ble commented on #722
[code]

[code]

[code]

[2021-12-08 06:41] leelavg commented on #722
even after above line, you aren't able to see any `k get kds,sc`?

[2021-12-08 07:39] scr1ble commented on #722
Oh, my bad again :(
I've deleted all `kds` in my cluster right now and trying to recreate them.
`kds` is created but there is no `sc` and obviously that my `pvc` can't find it.

[code]

[2021-12-08 07:50] leelavg commented on #722
- between below operations you see operator log stating storage class is deployed?
[code]
- less than a minute is very less time to confirm all internal knobs are turned correctly or not 😅

[2021-12-08 08:03] scr1ble commented on #722
This are the logs after deleting and creatint `kds`
Right now only kadalu-storage-ext-0 is created
[code]

This is just logs from my cli and since then nothing has changed :)

[2021-12-08 08:59] leelavg commented on #722
- What are the contents of `kadalu-storage-ext-gfs-delete.yaml`?
- There seems to be some issues in the way you are reusing external gluster 😅

[2021-12-08 09:17] scr1ble commented on #722
[code]

I guess so, but absolutely can't understand what's wrong :(

[2021-12-08 09:26] leelavg commented on #722
- uh oh, if you have cleaned it up before installing afresh why does below say two entries in config map 🤔
[code]

- I think I understood the issue, if you want to have a working setup, run the cleanup script, delete the empty directories from external bricks and then deploy kadalu
- I'm sure that'll work, in case if something goes wrong I may need to have my hands on the setup or reproducer steps

[2021-12-08 11:23] scr1ble commented on #722
It works! So is it only way to fix this? I mean ,in my opinion it's nota good  idea to cleanup kaDalu when it will be necessary.

[2021-12-08 11:32] leelavg commented on #722
- no! your initial report suggests that before re-using external gluster back-end bricks wasn't cleaned correctly
- it's work time for me, so while context switching b/n kadalu and my work I might've not provided clear instructions
- to be frank, reports in some of the comments are confusing and took time in creating a usable setup

---

- if cleanup is done for re-using same bricks correctly, the

[2021-12-08 11:46] scr1ble commented on #722
I did a cleanup of the external `gluster` and removed all the` pv,pvc` before removing the `kds, sc`.
Ok. It's clean. Thanks a lot for your help again. I'm really appreciate it. Have a nice day and I'll close the issue.

[2021-12-08 11:46] #722 closed, assigned to nobody

[2021-12-08 11:50] leelavg commented on #702
- Uh oh missed this
- Isn't it the same one that you mention to create same directories from two app pods using same pvc as a repro @hunter86bg ?

[2021-12-08 12:03] hunter86bg commented on #702
It looks more like the case we use via 'replace-brick' in non-container world (host is dead, reinstall and recover the redundancy).

[2021-12-08 16:07] vincentchong1 opened #725 "pvc present different filesystem content"
Problem
/dlpadmin/var is showing problem for two pod
[code]

While, the same pvc, off /dlpadmin/var is showing fine for below pod
[code]

kadalu 0.8.4, replica1 with 4 worker nodes
kubectl 1.20.6
[code]

[2021-12-09 17:02] maxsivkov commented on #724
@leelavg

I reverted kubelet  on 2 nodes from version 1.22 to 1.18, everything works fine now!
I'll close this issue.

[2021-12-09 17:02] #724 closed, assigned to nobody

[2021-12-09 17:52] maxsivkov opened #726 "Enhancement: Add ability to tune gluster volume options"
Gluster has number of [tuning options](https://docs.gluster.org/en/latest/Administrator-Guide/Tuning-Volume-Options/).

Is is possible to specify these options upon volume creation?

There are also possibility to specify group of options (located at `/opt/var/lib/glusterd/groups`

What I'm thinking is to specify `/opt/var/lib/glusterd/groups/db-workload` on particular volume :)

[2021-12-10 04:34] aravindavk commented on #726
Related issue: https://github.com/kadalu/kadalu/issues/680

A few selected Volume options will be available with the above issue.

[2021-12-11 14:46] #260 closed

[2021-12-14 03:40] leelavg commented on #358
@vatsa287 forgot this issue,

- this can be fixed by adding a finalizer to CR and that'll stop deletion
- the finalizer can be removed after confirming that there's no pv/pvc being using from that particular pool

[2021-12-14 10:53] galp commented on #723
The problem reappeared after the new node was unavailable for a bit( was doing some testing) and the pod using the replica3 storage was assigned to the old node.

Both places I edited before had no reference to the old node hostname(node0)

At this point I tried adding what you proposed in my kadalu-storage.yaml file :
[code]
Seemed to have worked.  Definitely didn't destroy my cluster :)  and now

[2021-12-14 11:08] galp commented on #723
UPDATE: didnt work

another time making the new node (node5) unavailable  and the pod was scheduled to old node(node0  which exists but has no storage anymore)
hostname is set correctly in all three server pods and the operator log is above

[2021-12-14 11:34] vatsa287 commented on #358
By Kadalu CR, do you mean storage-config.yaml.? Generally the patch is done manually or set `finalizer` to `null` when `num_pvs=0` in code?

[2021-12-14 11:50] vatsa287 commented on #723
I'm not sure. Would have to try to confirm, @leelavg is it because volfiles of rep2&3 are not yet updated to support this feature. #679?

[2021-12-14 12:06] leelavg commented on #723
- I don't think so, it's part of decommission but not part of replica conversion

- got all the info which I require

@vatsa287 I seems to be fairly easy to reproduce the issue from the issue report, pls assign it to yourself if you want to work on it or else I'll look into the fix possibly on Thursday

[2021-12-14 12:23] leelavg commented on #723
- something else also is in play here 😅 , operator is getting already fulfilled events and deployed three server pods (from log)
- later it received the update event of addition of fourth disk with one decom and resulted in above error

issue 1:
- @vatsa287 this can be fixed with little effort ig, below check should take into account decom as well
- @amarts can you pls confirm the same?
https://gi

[2021-12-14 12:29] leelavg commented on #358
@vatsa287
- oohk, below should be the plan
1. we should add a finalizer to CR metadata
2. add an owner reference while deploying server pods as the CR from which these server pods are spawned as an owner
3. result will be, when CR is asked to be deleted by user we'll check num_pvs and only remove the finalizer when there are no pvs
4. after the finalizer is removed, CR will be deleted and due to t

[2021-12-14 14:46] galp opened #727 "multi attach errors"
I have this scenario:
[code]
and
[code]
* test-pod is running on node5
*  node5 is unplugged or crashed)
*  after a minute node shows us not-ready
*  test-pod goes into "Terminating", new pod ContainerCreating in new node
    however it can not start as it gets
    "Multi-Attach error for volume "pvc-6583a697-84f7-46c3-b5e6-b6073e4f0937" Volume is already used by pod(s) bash-858f477db8-dtq6j"
Afte

[2021-12-14 14:56] leelavg commented on #727
- did you observe even after ~6 min pod isn't scheduled on a new node?

- this is something new and thanks for issue link in k8s

- unless k8s sends a request Kadalu doesn't do anything, need to look into k8s source about what component is generating that error

- i think your deductions are correct, one extra info to know of is, k8s itself gives a grace period of ~5min to mark a node as unschedul

[2021-12-14 15:21] galp commented on #727
Yes this morning after hours it didn't schedule and many other times but today I started digging a bit on the issue.
 It will only recover if dead node comes back  or if I force delete the old pod

I am aware of the grace period. For my tests I also used these tolerations  to speed things up:
` ``
     tolerations:
        - key: "node.kubernetes.io/unreachable"
          operator: "Exists"

[2021-12-14 15:45] leelavg commented on #727
- might not be related to kadalu then, let me see if anything can be done from Kadalu side

- ack

[2021-12-15 11:23] galp commented on #727
Thanks

Yes it seems that is an issue open for few years and no one being able to agree how to solve.

(https://github.com/kubernetes/kubernetes/issues/65392)
(https://github.com/kubernetes/enhancements/pull/1116)

Interesting issue non the less esp for bare metal clusters where failed nodes are not replaced by the autoscaler.
Kadalu does what it should be though. Close if you like @leelavg

[2021-12-15 11:31] leelavg commented on #727
- thanks for taking time and digging into this issue
- let the stale bot do the cleanup until then if any user faces the same issue they can refer this 😄

[2021-12-18 05:46] leelavg commented on #725
- Forgot to check on this after slack conversation
- Does the issue still exist?

[2021-12-21 06:54] leelavg commented on #725
- Not able to produce it in latest (0.8.8) release
[code]

[2021-12-21 10:39] vatsa287 commented on #358
Added finalizer to storage-config. When it is tried to be deleted with finalizer on, the delete command is stuck. `handle-deleted` is not triggered, but a `deletion timestamp` field is seen in CR/storage-config, meaning it has been tried to be deleted and is in finalized state. Have to manually patch later to delete and now `handle-deleted` is triggered.
Question:
- If `handle-deleted` is not trig

[2021-12-21 11:07] leelavg commented on #358
- my mistake in not mentioning this appearance of timestamp and yes, your observation is correct

- yes, that's the state we want. I think this is a foreground delete and waits till CR is deleted and there's another one called background delete which just returns triggering the op but don't need to be concerned about that

- generally we should use k8s api for removing the finalizer.
- however thi

[2021-12-30 16:32] #680 closed, assigned to vatsa287

[2021-12-31 10:39] hunter86bg opened #732 "[RFE] Allow adding tolerations to bypass taints on master nodes"
My current setup is 3 masters + 2 workers where the masters have a NoSchedule taint (as they don't serve as workers).

It will be nice if we can add tolerations for the StratefulSet (for example on Replica3 we got server-gluster-replica3-0 , server-gluster-replica3-1 & server-gluster-replica3-2) and the respectful pods (server-gluster-replica3-0-0, server-gluster-replica3-1-0 ,etc) so Kadalu can r

[2022-01-04 18:50] marcusaram opened #735 "Cannot update kaDalu because changed immutable parameter on CSIDriver resource"
Operator is in loop with this error:

2022-01-04 18:46:37,249] INFO [main - 958:deploy_config_map] - ConfigMap Deployed	 manifest=/kadalu/templates/configmap.yaml uid=274bff60-41f8-4dba-aa51-268a6bb7e1a4 upgrade=True
Traceback (most recent call last):
  File "/kadalu/main.py", line 1029, in <module>
    main()
  File "/kadalu/main.py", line 1005, in main
    deploy_csi_pods(core_v1_client)
  File

[2022-01-05 01:14] leelavg commented on #735
@marcusaram thanks for the report and pardon the inconvenience

1. Root cause will most probably is, upgraded kubernetes, not going into details, comment here if you want more info on how `CSIDriver` resource works
2. Yes, you can delete that right away and at the same time make sure that there will be no new pvc requests during deletion and creation of this resource

@vatsa287 can you take this u

[2022-01-05 04:39] vatsa287 commented on #735
Sure I'll look into it.

[2022-01-05 09:34] marcusaram commented on #735
@leelavg Indeed it is upgraded Kubernetes (OKD), the v1beta1 storage api was replaced by v1 and thus de CSIDriver object is moved to the new storage v1 API.

[2022-01-05 10:24] leelavg commented on #735
@marcusaram ack, I hope removing the existing resource fixed the issue.

[2022-01-06 03:30] #732 closed, assigned to nobody

[2022-01-06 13:02] marcusaram commented on #735
@leelavg Sorry for the late reaction, since this cluster is running production I had to take some measures if it went wrong for some reasons. I had already patched the template in the operator container. Downscaled the operator, removed the CSIDriver and upscaled the operator. All went well and now I've the correct version.

[2022-01-06 13:20] marcusaram opened #737 "CSI driver registration errors because wrong path of csi.sock"
Hello, not really an issues since everything is worker as expected. But I have long time this error on the worker nodes logs. So I figured out what the reason is.

According to https://github.com/kubernetes-csi/node-driver-registrar#usage the path to the csi driver socket is in the wrong path.
The `kadalu-reg.sock` is in the correct folder `/var/lib/kubelet/plugins_registry/` but the `kadalu/csi.s

[2022-01-07 07:08] #735 closed, assigned to nobody

[2022-01-07 07:42] leelavg commented on #737
@marcusaram
- yes, this is a know issue, iirc there were some path changes where kubelet looks for both the sock file.
- will re-look into it

[2022-01-10 08:20] leelavg commented on #723
@galp I built containers from HEAD (at [5d91d92](https://github.com/kadalu/kadalu/commit/5d91d92)) and tried below scenario which worked without any issues.

from
[code]
to
[code]
- kadalu-info config map updated correctly
- I could see nodeaffinity in the server pod changed from worker-a to master-0
- I would wait for next release and hear from you if issue still persist

[2022-01-12 07:22] hunter86bg opened #740 "[RFE] Better logging from volumeutils.py"
I think we can use NamedTuples or Dictionaries to make our debugging life easier.
For example,
mount_and_select_hosting_volume (from volumeutils.py) returns only hvol if it has enough space. Yet, we cound extend it to return the following:
- hvol (or None when there is none available)
- required_size
- free_size_bytes
- reserved_size

Then the caller (for example controllerserver.py -> https://git

[2022-01-13 08:23] #585 closed, assigned to nobody

[2022-01-13 21:36] hunter86bg commented on #740
It's already in the debug mode, so we don't need this one.

[2022-01-13 21:36] #740 closed, assigned to nobody

[2022-01-15 23:14] fastlorenzo commented on #399
This issue is still happening with latest devel version:
[code]

Storage config:
[code]

[2022-01-15 23:35] fastlorenzo commented on #399
A bit of investigation shows that this is only happening when using `native` mode. As can be seen in the following, if `non-native` is used, `mount_glusterfs` is not called due to the `continue`:

https://github.com/kadalu/kadalu/blob/26562e98217d8fc495dd341b6dd4b776b912469a/csi/main.py#L30-L42

Question: should `get_pv_hosting_volumes` also return `External` volumes? If that function doesn't, thi

[2022-01-15 23:41] fastlorenzo commented on #399
Digging a bit deeper, I see this is handled in `mount_glusterfs`:
https://github.com/kadalu/kadalu/blob/26562e98217d8fc495dd341b6dd4b776b912469a/csi/volumeutils.py#L1180-L1188

The issue is that in that function, the code below is not working if this is an `External` volume. Maybe it should be put under an `if volume['type'] != 'External':`?
https://github.com/kadalu/kadalu/blob/26562e98217d8fc495

[2022-01-16 00:00] fastlorenzo commented on #399
ok, found a fix and added it to PR #745 => tested working on my setup

[2022-01-18 15:07] bazuchan opened #746 "How to remove archived volume?"
I have configured storage pool with `pvReclaimPolicy: archive`. Created, then deleted pv, now it is archived. How do I remove archived volume to reclaim used space?

[2022-01-19 03:15] leelavg commented on #746
@vatsa287 would you be able to work on this?

Provide a cli option which takes pool name and archived pvc name and remove it.

1. Remove the pvc folder
2. Reduce the size in sqlite db for removed pvc
3. Remove corresponding info file

[2022-01-19 05:46] vatsa287 commented on #746
@bazuchan Earlier when `pvReclaimPolcy: archive` was written, it was made to avoid unregulated deletes of data. So it would have to be deleted manually.

@leelavg Yea would take this up & it would make handling these cases easier.

[2022-01-19 08:31] fastlorenzo opened #747 "[Enhancement] Add possibility to 'retain' volume on delete"
It would be great to have the possibility to use 'retain' mode in addition to 'delete' and 'archive' when a PV is deleted.

After investigating the code, I think this should only require minor changes.

My example use case would be: I'm using k3d to deploy a k3s cluster, with glusterfs installed on the host. when deleting the cluster, I'd like to keep the data in the original folders on glusterfs

[2022-01-19 08:36] fastlorenzo opened #748 "[Enhancement] Add possibility to set the path pattern"
Similarly to how it is done in https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner, it would be great to be able to set the path pattern for the creating of subvol folders.

Currently, this is automatically done like this:

https://github.com/kadalu/kadalu/blob/26562e98217d8fc495dd341b6dd4b776b912469a/lib/kadalulib.py#L135-L142

Example use case:
[code]

Would create `MOUNT_PATH/sub

[2022-01-19 09:01] leelavg commented on #748
- It's possible to implement it and would reduce a lot of recusive code for finding PVCs
- However this was introduced to maximise the distribution afaik
- If all we want is a consistent hash we can use uuid5 with pool name that'd solve both random and consistent distribution

@aravindavk thoughts?

[2022-01-19 09:04] leelavg commented on #747
- So you want to use same PVC across k3d reboots?
- I don't think it's easy, yes we can retain pvc but when k3d reboots etcd will also be removed, isn't that the case?

[2022-01-19 09:06] fastlorenzo commented on #748
Well, the issue is that currently the path is set based on the PV name, which changes on cluster re-creation. The PVC name and Namespace however would be the same.

Example:
[code]

[2022-01-19 09:08] fastlorenzo commented on #747
yes, PVC name would be the same across reboots, that's why if the folder names could be determined based on something different than the PV name (which changes as etcd is removed), this would be feasible.
I'm currently doing that with NFS storage, but this is not reliable for some workload as NFS is quite unstable.

[2022-01-19 09:12] leelavg commented on #748
- I understood the usecase, the issue is every pvc will end up under same dir hierarchy which may not be good for replica1
- afaik gluster shines when we are distributing files heavily
- well, I'm not expert on this, need info from @amarts

[2022-01-19 09:18] leelavg commented on #747
Ack, so you meant to say trick k8s to send same name for pvc creation given everything else is predictable?

[2022-01-19 09:27] fastlorenzo commented on #747
Well, it's not tricking k8s, I'm using Helm Charts with https://fluxcd.io/ to deploy the workload and configure the cluster, the PVC names are deterministic, they are always the same across every deployment.
Currently with NFS provisioner, I use a path pattern `PVC_NAMESPACE/PVC_NAME`, with a 'retain' option so when the cluster is deleted, the data stays at the same path on the NFS server.
Later w

[2022-01-19 10:39] aravindavk commented on #748
This is a great enhancement. Some time ago I was thinking about removing xxhash prefixes but was worried about backward compatibility. The suggestion here is to make it configurable. Looks good to me. Let me check where all the changes are required.

[2022-01-19 10:42] aravindavk commented on #748
Hash prefix was used to reduce the number of dirs per directory. I think it was over optimised since there will not be too many PVs per Storage pool so that it affects ls performance(Listing PVs).

[2022-01-19 10:44] aravindavk commented on #748
Quota updates and PV metrics in the CSI provisioner may get affected by this mix of patterns.

[2022-01-19 10:59] leelavg commented on #748
@fastlorenzo from https://github.com/kadalu/kadalu/issues/747#issuecomment-1016244192

- when you say PVC name is deterministic do you mean combination of namespace and name of pvc that we supply in yaml or the generated name of k8s?

[2022-01-19 11:02] fastlorenzo commented on #748
I've found the following that would need to be updated:

https://github.com/kadalu/kadalu/blob/26562e98217d8fc495dd341b6dd4b776b912469a/csi/exporter.py#L109

https://github.com/kadalu/kadalu/blob/26562e98217d8fc495dd341b6dd4b776b912469a/csi/quota-crawler.sh#L20

https://github.com/kadalu/kadalu/blob/26562e98217d8fc495dd341b6dd4b776b912469a/lib/kadalulib.py#L135-L142

https://github.com/kadalu/kada

[2022-01-19 11:06] leelavg commented on #748
- And everything that expects PVC be under a random three paths down from root
- However as mentioned earlier, this will be a good enhancement
- Maybe I'm missing something, I can see contents of request supplied to CreateVolume doesn't contain name of PVC that we supply in yaml manifest
[code]
- if all we need a random but predictable id then we can just do below:
[code]
- and maintain a cache in

[2022-01-19 11:07] fastlorenzo commented on #748
In the example above, I'm deploying nextcloud using helm chart. The PVC names are each time the same (e.g. `data-nextcloud-postgresql-0`), even after destroying and re-creating the cluster.

Example with Namespace `nextcloud` and PVC name `data-nextcloud-postgresql-0`. If pathPattern is `"${.PVC.namespace}/${.PVC.name}"`, the resulting mount directory would be `subvol/nextcloud/data-nextcloud-post

[2022-01-19 11:10] fastlorenzo commented on #748
But in this case `volname` would be the PV name, not the PVC name, right?

[2022-01-19 11:12] leelavg commented on #748
- yes, that's the issue, I don't see a way (yet!) supplying PVC name to `create_(subdir|block)_volume` function
- this function is taking the argument from CreateVolume rpc (~request.name) and that's the PV name
- what's puzzling me is how to get `.PVC.name` from rpc call and how nfs project that you linked is doing that

[2022-01-19 12:13] aravindavk commented on #748
Looks like NFS provisioner is not based on CSI https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner

[2022-01-19 12:24] aravindavk commented on #748
CreateVolume CSI method gets PV name only. Refer: https://github.com/container-storage-interface/spec/blob/master/spec.md#createvolume

If CSI can call K8s API to get the PVC object from the PV name then we can use those fields can be used easily. Also as a good side effect, it improves the PV delete implementation. Currently, Delete is searching the given PV in all storage pools since CSI DeleteV

[2022-01-19 12:28] leelavg commented on #748
- this opens up a lot of opportunities and I didn't put it forward as current implementation is k8s agnostic.

[2022-01-19 12:55] leelavg opened #749 "add tolerations to server pods before they are created"
- when tolerations are added after creation of server stateful sets, the pods aren't realising the toleration (ref: #733)
- workaround is to delete the server pod which'll be in pending state and that's harmless
- however while deploying server sts itself it'll be good if we can add tolerations if the pool CR contains any

[2022-01-19 13:33] fastlorenzo commented on #748
I did a bit more investigation, and I think there is a way to get at least the pvc name/namespace.

I'll take the following Claim as example:
[code]

When creating it, we can indeed see that the `CreateVolumeRequest` doesn't contain what we need:
[code]

But if we modify the `kadalu-csi-provisioner` statefulset, and add `--extra-create-metadata` to the `csi-provisioner` container, we get the follo

[2022-01-19 13:34] fastlorenzo commented on #748
[Source](https://github.com/kubernetes-csi/external-provisioner)

`--extra-create-metadata`: Enables the injection of extra PVC and PV metadata as parameters when calling CreateVolume on the driver (keys: "csi.storage.k8s.io/pvc/name", "csi.storage.k8s.io/pvc/namespace", "csi.storage.k8s.io/pv/name")

[2022-01-19 13:37] leelavg commented on #748
Thanks a lot for digging into this and this probably opens some optimisations.

If you want to hang around, pls join slack for quick info exchange

[2022-01-20 09:42] NawiLan opened #752 "jaeger writes logs outside the brick folder"
Hello, jaeger writes logs outside the brick folder, although he should log inside pv. Version kadalu 0.8.9. Config jaeger [values.txt](https://github.com/kadalu/kadalu/files/7903973/values.txt)

![image](https://user-images.githubusercontent.com/65493277/150313418-9a64918e-a2a8-407f-953f-e33756523042.png)

Kadalu config
[code]

[2022-01-20 09:52] leelavg commented on #752
1. Is backtick after `apiVersion` a typo while copying the manifest?
2. Manifest corresponds to storage class mentioned in jaeger values `kadalu.kadalu-gluster`
3. But it doesn't match with snap `/mnt/kub-glusterfs` and how did you mount gluster on master node?

Could you please cross check info once?

[2022-01-20 11:49] NawiLan commented on #752
1. Yes. sorry
2. Yes, it matches
3. ![image](https://user-images.githubusercontent.com/65493277/150323123-b26b07aa-3655-4273-ac71-626f1fc8e11e.png)

Sorry, correct config is here
[code]

[2022-01-20 12:56] leelavg commented on #752
- afaik it isn't possible unless someone copied this entry there by mistake
- what's the output of `getfattr -d -e text -m. /mnt/kub-glusterfs/commitlog-jaegar`

[2022-01-20 15:07] NawiLan commented on #752
![image](https://user-images.githubusercontent.com/65493277/150365226-cd26f2c8-ebe6-4c67-b192-9e5cbedea92b.png)

[2022-01-20 16:06] leelavg commented on #752
Uh oh, how did it end up here 🤔

- is everything good under brick folder?
- above image still doesn't confirm that it is not a copied file from somewhere under brick dir
- can you check whether there's a similar file under brick dir (&subdirs as well)?

[2022-01-21 16:56] MatteoManzoni opened #754 "Cannot mount external gluster volume"
Hi guys,
I was playing with my homelab kubernetes cluster and I was trying to mount an external gluster volume but without any success.
The pod that supposedly should mount the kadalu provisioned pv returned the following error:
[code]

Digging a little deeper with `kubectl kadalu logs` I saw something strange in the instance of `kadalu-csi-nodeplugin` residing in the same node of the pod mounting

[2022-01-22 03:22] leelavg commented on #754
@MatteoManzoni pardon the inconvenience and thanks for troubleshooting the issue so far.

- either #745 or #750 whichever gets merged will sove the issue
- this is a regression for external gluster 😔

[2022-01-22 08:04] MatteoManzoni commented on #754
Hi @leelavg thank you so much for your feedback, can you please point me to a release prior to the introduction of this regression?

[2022-01-22 10:20] leelavg commented on #754
- the fix itself is very easy however it involves editing atleast two files in different containers while they are running, still I encourage to apply #745 to your cluster (or)
- you should probably go back before Oct release, so 0.8.6 is a good candidate
- we'll try to add external gluster at the earliest possible to CI and this already regressed twice

[2022-01-23 11:16] #754 closed, assigned to nobody

[2022-01-23 14:46] #747 closed, assigned to nobody

[2022-01-24 08:14] NawiLan commented on #752
1. yes, everything is fine
2. yes, the same folder is inside pv
![image](https://user-images.githubusercontent.com/65493277/150745006-ccd9c671-ea5e-4580-8f3e-88fa73bd2217.png)
which is strange, the logs were first written outside the briсk folder, and after 18.01 10:45 they began to be written inside pv

[2022-01-24 08:54] leelavg commented on #752
I don't see any reason why it'd happen like that unless manually edited

@amarts any comments?

[2022-01-31 12:55] golyalpha commented on #569
I observed a relatively similar issue right around today.

Almost all running pods in my cluster had restarted about 18 hours ago, including the Kadalu storage pool pod. The reason as to why this happened is unclear.

While in my case, there weren't any issues associated with re-mounting the existing PVs (at least none that required manual intervention), the local Registry has suffered data unavai