[2022-02-01 03:59] leelavg commented on #569
@golyalpha from next time it would be better if you either raise a new issue or at-least re-open corresponding issue if you aren't totally sure about what went wrong.

- thanks for adding comments and providing log
- in your case I'm pretty sure that there's no data loss happened in backend bricks, let me know otherwise
[code]
- above error can be ignored, it's just k8s trying to mount the volume

[2022-02-01 09:04] amarts commented on #569
The issue of `/proc/0/status` was found out to be a genuine bug in fuse on containers, and we did fix it right. The logs can be ignored for now. Once we upgrade glusterfs version to 10.x, this gets fixed.

Same with the `dict_get_with_ref()` logs. Its fixed in glusterfs upstream, will fix it locally.

[2022-02-01 23:02] Y0ngg4n opened #756 "Cant use storage classes with kadalu"
![image](https://user-images.githubusercontent.com/30302975/152065780-1fc73fec-3748-447e-a71c-ebf5004c8eb6.png)

PersistentVolume claim gets never ready
[code]

[2022-02-02 02:09] leelavg commented on #756
@Y0ngg4n thanks for raising the issue.

1. If one were to debug the issue from the info available in the comment, it's impossible i guess 😅 (we'll try to create an issue template)
2. Can only deduce below:
- You are using external gluster
- CSI provisioner isn't able to connect to CSI sock
3. Extra info that's needed is:
- kadalu version
- kadalu-provisioner log from same pod in above listing
- Is

[2022-02-02 02:10] leelavg opened #757 "Create a github template for bug/rfe etc"

[2022-02-02 08:17] Y0ngg4n commented on #756
@leelavg i figured it out. I am using Talos OS for my k8s cluster.  and it does not support csi. I have to switch my k8s cluster.

[2022-02-02 08:17] #756 closed, assigned to nobody

[2022-02-02 18:08] golyalpha commented on #569
Got it, @leelavg.

Can confirm that no data loss actually happened - the problem was that the PV (at the time only PV that actually contained data) got mounted into the registry pod but the data itself was unavailable - it essentially mounted an emptyDir.

[2022-02-02 22:27] Y0ngg4n opened #759 "External Sorage not working"
Hi i am running Kadalu on a virtualized k8s Kubernetes Cluster with Debian VMs.
This are my storage classes:
[code]
mount of gluster volumes work on other hosts.
But when trying to create a pvc i get this events:
![image](https://user-images.githubusercontent.com/30302975/152248091-25a29777-019e-4d40-8e92-d5da8be93eaa.png)

If you need more information don´t hestitate to ask.

[2022-02-03 02:33] leelavg commented on #759
- Most probably a regression assuming you are on v0.8.9
- Similar to #754, fix exists in devel and will be part of next release
- To double check, can you confirm seeing errors in operator and provisioner as well?

@aravindavk can we do a release?

[2022-02-03 02:36] leelavg commented on #569
- Well, k8s works on eventual consistency, so a delay is expected during reboots
- However, mounting an empty dir is something uncalled for, as you can see in the comments of this issue, I tried reproducing data loss but couldn't do that
- Let us know if there are any side effects which you aren't expecting happened to your cluster wrt kadalu

[2022-02-03 09:55] Y0ngg4n commented on #759
@leelavg yes i am using 0.8.9
How can i install devel to fix that issue?
![image](https://user-images.githubusercontent.com/30302975/152319965-caf1b7ef-e0d2-4c23-9321-737bdcad22e4.png)
![image](https://user-images.githubusercontent.com/30302975/152320103-c39e94b6-40c0-433b-97c2-0d342223eed4.png)

[2022-02-03 10:08] leelavg commented on #759
- I meant the logs from `kadalu-provisioner` container in `kadalu-csi-provisioner` pod
- Either ways, I feel it does say `External Storage provided not valid` so fix in devel should work
- Aravinda informed in slack that a new release will be tagged today
- In case if you want to try out before that, we do push devel images on every PR so below would be good enough, you can skip the `sed` pipe if

[2022-02-03 10:29] Y0ngg4n commented on #759
@leelavg oh sorry misunderstood that.
ok nice i think i will wait until the new release is out today :)
Thank you for your quick and great support :+1: :)

[2022-02-03 17:44] #725 closed, assigned to nobody

[2022-02-03 17:44] vincentchong1 commented on #725
not an issue anymore.

[2022-02-03 21:39] Y0ngg4n commented on #759
@leelavg works now with the new release :+1: :)

[2022-02-03 21:39] #759 closed, assigned to nobody

[2022-02-04 18:45] shaky1024 commented on #353
I am really interested in this as well. What is the best practice to do a backup, if there is none, switch to stop application I/O?

[2022-02-05 10:51] Y0ngg4n opened #761 "Automatically delete subvol folder if pvc gets deleted"
Hi it would be nice if you could implement something like a cronjob that deletes all subvol folders that aren´t referenced by any pvc anymore. So if you delete a pvc it will also delete the subvol. It isn´t very handy to allways mount the volume find the directory and delete it by hand. Would be nice if this could be implemented :)

[2022-02-05 11:32] leelavg commented on #761
- It wasn't given a much thought I'd guess as that's a good to have rather than must have
- iirc, we are using `shutil.rmtree` (for removing pvc dir) and `os.remove` (for a pvc block file)
- Just curious, what's the need that you find to remove the dir tree with no PVC apart from not having a bunch of sub folders hanging around?

@aravindavk did you think of #748 recently, as you mentioned earlier

[2022-02-05 12:17] Y0ngg4n commented on #761
@leelavg the problem is for example kubegres. When kubegres failsover it creates a new statefulset with new pvc. Problematic is that the old pvc stays and when you restart it for example 10 times you have 30 pvcs hanging aroud with each a postgres instance. and it it anoying to go into each pvc get the volume and delete the path. It is just an example but would be nice if the path would get automa

[2022-02-05 12:34] leelavg commented on #761
@Y0ngg4n

- then the issue is something different I think, does failing over statefulset also deletes the underlying PVC with data and create a new one?
- what i think might be happening is, as the app is a statefulset k8s isn't sending a DeleteVolume CSI rpc and so the PVC hangs around
- do you know of any other CSI which removes unclaimed PVCs? In your case I feel PVC will still be bound to a PV

[2022-02-05 12:37] Y0ngg4n commented on #761
@leelavg yes the app does not delete the old pvc but it would be easier to delete the pvc in the dashboard for example and delete also the directories 🤔

[2022-02-05 12:49] leelavg commented on #761
- ack, that's the issue. It's not in purview of Kadalu CSI if I've to put it that way.
- Afaic-tell user should invoke PV(C) deletion and that'll trigger CSI rpc call which'll remove the PVC dir in pool, two subdirs above PVC will hang around but that's not a issue to look around as of now (pinged above for that)

[2022-02-05 12:59] Y0ngg4n commented on #761
ah ok thank you :)

[2022-02-11 04:31] #746 closed, assigned to nobody

[2022-02-12 16:42] netwarex opened #763 "O_DIRECT / DirectIO as StorageClass option or mount option"
Hi,

I'm new to Kadalu, but I cannot find so far the option for to use DirectIO which is useful database related workloads: https://stackoverflow.com/questions/37892090/enable-direct-i-o-mode-in-glusterfs

Is this somehow manageable to do by Kadalu for a StorageClass or per mounts?

If not, would you consider to add support for that?

Thanks,
Peter

[2022-02-14 08:33] leelavg commented on #763
@amarts could you pls help here if possible?

[2022-02-14 08:36] leelavg commented on #737
- Relooked into it, multiple changes are required to fully fix it
- At the same time outcome doesn't worth the investment, will park the issue here unless any users report a breaking functionality due to this

[2022-02-14 08:37] leelavg commented on #8
@aravindavk can this issue be closed?

[2022-02-14 09:15] marcusaram commented on #737
@leelavg I understand your outcome, but the problem with this issue is that Kadalu does now not comply with the standards and that may have unexpected behavior in the future. It is possible that something will break in the future.

Is there anything that I can do to help? Would cause the change some issues on older versions of k8s?

[2022-02-14 09:41] amarts commented on #763
@netwarex Can you try the block method of kadalu? This is currently best way to get started...

We are working in glusterfs community to make sure proper caching layers and checks are implemented so DB work load is handled better, but for now, with kadalu, one of the Virtual Block PV is the best way to get started with the database workload

[2022-02-14 09:50] leelavg commented on #737
@aravindavk & @amarts

- Can we drop support for k8s <= v1.17?
- Latest stable release is v1.23 and I vote for dropping support for older versions which could cut off some code.

[2022-02-14 15:03] netwarex commented on #763
Thanks, I will try that method!

[2022-02-17 05:39] kconde2 opened #764 "Is it possible to use kadalu with kinD ?"
kinD: https://kind.sigs.k8s.io/docs/user/quick-start/
Similar for k3d : https://thoughtexpo.com/exploring-kadalu-storage-in-k3d-cluster-glusterfs/

[2022-02-17 16:11] fastlorenzo opened #765 "StorageClass reclaimPolicy always set to "delete""
It looks like the creation of the storageclass doesn't take into consideration the `pvReclaimPolicy` parameter set in the `KadaluStorage`.

The `storageClass` template doesn't have the `reclaimPolicy` parameter:
https://github.com/kadalu/kadalu/blob/24a634a62949b4e3768cb05e51f209186ac39147/templates/storageclass-kadalu.custom.yaml.j2#L1-L11

The operator should set this in the template when receiv

[2022-02-17 16:39] leelavg commented on #764
Well, I believe it'll be possible. However, we don't have steps handy for testing/development of kadalu in KinD.

[2022-02-17 16:51] leelavg commented on #765
~- Ah! Unfortunately yes, it's a bug.~
- For better/worse we don't reconcile storage class, so you could re-create it manually which I believe you know some workaround of this sort 😉
~- On a serious note, pardon the inconvenience 😔~

- Having said above, we implement it at pool level so technically your PV should've been retained 🤔

[2022-02-17 17:09] fastlorenzo commented on #765
No issues, I'll check if I can make a PR when I have a bit of time 😄

So you mean this is normal that the PV's retention policy shown kubectl output says `delete`, even though I set the `pvReclaimPolicy` parameter in the `kadaluStorage` config to `retain`? (just double checking, still testing now so not a big deal or any data loss .. yet 😄

[2022-02-17 22:55] leelavg commented on #765
- first and foremost, in kadalu's case there's no correlation b/n PV policy on storage class vs on pool afaic-think
- you could create multiple storageclasses on a single pool and pool is said to retain PVs all the data from child storageclasses will be retained
- generally, I believe if you set reclaimPolicy at sc level you may loose the benefit of retaining the storage even after recreating a st

[2022-02-18 09:33] #471 closed, assigned to nobody

[2022-02-18 09:33] #352 closed, assigned to nobody

[2022-02-19 02:43] aravindavk commented on #623
Still valid.

[2022-02-20 13:09] fastlorenzo opened #766 "UnboundLocalError: local variable 'response' referenced before assignment in exporter.py"
The following block should be placed within the previous try/except otherwise `response` doesn't exist if an issue occurs:

https://github.com/kadalu/kadalu/blob/24a634a62949b4e3768cb05e51f209186ac39147/operator/exporter.py#L282-L290

Stack trace:
[code]

[2022-02-20 20:15] c-seeger opened #768 "How to get metrics"
I use the helm deployment method together with prometheus and service monitors to gather data. How do i get PVC metrics from kadalu? Is there any documentation or should it work by default (i don't see any pvc/kadalu metrics within prometheus).

[2022-02-21 03:24] leelavg commented on #768
@c-seeger
- we aren't using `serviceMonitor` for exporting promemetheus metrics
- we add a set of annotations and this might help getting that right https://github.com/prometheus-operator/kube-prometheus/pull/16#issuecomment-424318647
- If things aren't working, let me see if I can add servicemonitor configuration to the deployment manifests, btw which k8s distribution are you running?
- Current a

[2022-02-21 15:43] c-seeger commented on #768
Hi @leelavg
We are using a self hosted k8s cluster v1.23.1 with prometheus 2.31.1.
it seems that prometheus trys to grab the logs but fails since the operator shows internal error for /metrics endpoint

[code]

[2022-02-21 16:35] leelavg commented on #768
- issue is addressed in pr #767 , will be part of next release.

[2022-02-22 16:00] c-seeger commented on #768
@leelavg thank you very much is there a sheduled date for the next release?

[2022-02-22 16:04] leelavg commented on #768
No fixed schedule as much however looking back it's around once per month unless there's a regression of high severity/priority forcing us to reduce the cadence.

[2022-02-23 04:47] leelavg commented on #768
@vatsa287 could you pls check why pylint didn't raise this, maybe we are masking more than we wanted in pylint disable statements.

[2022-02-23 04:59] vatsa287 commented on #768
Sure will look into it & remove additional `disable` statements.

[2022-03-11 13:09] golyalpha opened #772 "Volume stuck on Pending with ResourceExhausted"
I just tried deploying another database pod on my cluster, and notice it was stuck in pending because of unbound PVC. Looking at the PVC, I found out that Kadalu was refusing to create a volume for it:
[code]

However, there is more than enough space for the volume:
[code]
Here's the log output from `kubectl kadalu log`:  [kadalu.log](https://github.com/kadalu/kadalu/files/8232070/kadalu.log)

Kad

[2022-03-12 07:15] leelavg commented on #772
- well, as a side note, Replica1 for database workload on root mount, I hope you are not looking for fault tolerance
- it's a rpi and mmc storage, am I correct in assuming that you didn't expand the mount?
- Pls include `-T` as well in `df` in general
- What's the o/p of `getfattr -d -e text -m. /mnt/kadalu`?

@amarts there are some warnings wrt simple-quota in the logs, if possible ptal.

[2022-03-16 07:58] rafis opened #773 "Multiple kadalus inside one cluster?"
We have Kadalu instance installed in `kadalu` namespace. Can we add a second Kadalu instance in namespace for example `kadalu2` with different configuration, will it work?

[2022-03-16 09:23] leelavg commented on #773
- No it'll not work and also no other CSI supports this afaik.
- Think of CSI in terms of Nodes but not Namespaces in current context.
- If multiple sockets are exposed on same node, one may overwrite and there are other issues as well.
---
- May I know the usecase?

[2022-03-16 11:56] rafis commented on #773
Use case is we have trouble with our Gluster FS cluster. Mounting points sometimes fail with "Transport endpoint is not connected" error message. Currently we have to reboot kubernetes workers and this helps for a few days, but then errors repeats again. We want to try to smoothly migrate PVCs to another Gluster FS cluster (freshly installed) and to see if that helps. The number of PVCs is large w

[2022-03-16 12:41] leelavg commented on #773
- is it internal or external gluster server?

- Could you pls raise another issue explaining reproducer steps if possible

- So are you anticipating that the issue is in kadalu csi integration

- Even if freshly installed if the workload is similar then it may not help much, not to discourage the effort however it's better to debug the issue if you intend to use kadalu

- Sry, I'm not able to thin

[2022-03-17 13:38] rafis commented on #773
External GlusterFS cluster with 3 equal nodes. Oracle Linux 7.9, GlusterFS 6.10.

It will be very hard to reproduce environment I think. Anyway issue is not in Kadalu, but is in GlusterFS cluster.

The issue "Transport endpoint is not connected" is not in Kadalu, but is in GlusterFS cluster.

We are trying, but it is hard to do. GlusterFS is written is C and very hard to diagnose. If it would be w

[2022-03-17 13:38] #773 closed, assigned to nobody

[2022-03-22 09:44] golyalpha commented on #772
Nope. I'm not looking for fault tolerance. Just wanted to try out Kadalu.

"Didn't expand the mount?" Not entirely sure what you mean - do you mean expand the filesystem? If so, then yes - I have expanded the filesystem.

Here's the output of `df -Th`:
[code]

`getfattr -d -e text -m. /mnt/kadalu` outputs nothing, exit code `0`

[2022-03-22 09:52] leelavg commented on #772
- ah! the root partition is on ext4, currently server pods assumes xfs and maybe that's the issue
- iiuc ext4 also supports xattrs however I don't want to bet on that
- i'd ask you to use the disk/path that's based on xfs
- as you just want to try kadalu, you could create a loop device and supply that as a device in CR

[2022-03-22 10:10] golyalpha commented on #772
I'm kind of in the process of dropping the cluster, so, not right now. But my guess would be that switching to XFS as the backing filesystem would in fact fix the issue (since you say the assumption is that the backing FS is XFS)

That being said, any clue why I was able to create multiple volumes before this issue popped up?

[2022-03-22 10:18] leelavg commented on #772
- we use xattrs to keep track of pvc usage
- maybe those xattrs wasn't set on ext4 fs from the start and wasn't limiting anything
- i only have limited knowledge on this and don't want to take a hunch

maybe @amarts / @aravindavk can better explain this and we could document what to expect if we are not on xfs

[2022-03-25 07:01] vincentchong1 opened #779 "pvc usage is not reduced to match the actual usage"
There is a pvc, named pvc-volume1 set up as 60 GB RWX.

I believe after the pvc hit the maximum 60GB mark, it will not reduce back down to match the actual usage (4GB).

Further write to the pvc is blocked as the capacity is filled.

Will like a fix or remedy procedure to resolve the issue.

Kubernetes 1.23
Kadalu 0.8.8

[code]
Ref: https://kadalu.slack.com/archives/CLTPS540N/p1648144512690049?thr

[2022-03-25 17:08] aravindavk opened #782 "Expose Performance metrics from node plugins"
- Gluster exports the fops metrics from client and servers.
- Expose the fop metrics from each xlators and fop type.
- To collect the metrics,
    - Remove all the files in `/var/run/gluster/metrics/` directory
    - Send `USR2` signal to glusterfs process. Example: `kill -USR2 <glusterfs-pid>`
    - Open the new file created in `/var/run/gluster/metrics/` directory(Ex: `/var/run/gluster/metrics/g

[2022-03-25 17:09] aravindavk commented on #705
Closing this issue. Once Moana project becomes stable we will look into this integration.

[2022-03-26 06:45] WatchTh1 opened #783 "[BUG] Installation script has wrong links"
Installation script saves utility to /tmp/kubectl-kadalu and tries to install from /tmp/kadalu

Link to script (as provided in docs):
https://github.com/kadalu/kadalu/releases/latest/download/install.sh

Which is obviously goes wrong.

[code]

[2022-03-26 06:57] leelavg commented on #783
- good catch! will fix at the earliest.
- if you are fine to send a fix, it'll be great 😀
https://github.com/kadalu/kadalu/blob/devel/extras/install.sh

[2022-03-27 07:13] c-seeger commented on #768
Hello again.

I updated to latest version today and now i get
[code]
in the csi-provisioner logs. How do I set it?

[2022-03-27 07:56] c-seeger commented on #768
I tried to get metrics using the following service monitor configuration
[code]

prometheus now querys it but again i get the same stacktrace as mentioned above kadalu version 0.8.12

[2022-03-27 07:58] c-seeger commented on #768
[code]

[2022-03-27 08:02] c-seeger commented on #768
looks like a combination of things. First of the csi-provisioner does not start it's metrics endpoint second the operator that tries to collect the logs fails since no metrics endpoint is started on csi-provisioner and last but not least the metrics python script crashes since it expects sth.

[2022-03-27 08:08] c-seeger commented on #768
regarding the stacktrace looks like
https://github.com/kadalu/kadalu/blob/273a26b9ea669185fb4289594f79e8530efbd189/operator/exporter.py#L297
never catches the exception of
https://github.com/kadalu/kadalu/blob/273a26b9ea669185fb4289594f79e8530efbd189/operator/exporter.py#L285

[2022-03-27 10:00] leelavg commented on #768
- this is entirely different, do not consider this at all.

- this seems to be genuine, when the provisioner & nodeplugin aren't available we should skip their metrics and log an error.

In brief below is our monitoring stack
- metrics server in operator collates all the metrics collected from provisioner, nodeplugin and server pods
- only operator will serve these metrics and monitoring apps shou

[2022-03-27 10:03] c-seeger commented on #768
@leelavg thanks for taking care of this :) hope to get the metrics at some point :+1:

[2022-03-27 10:59] c-seeger commented on #768
one small update that may be related. After trying to get the metrics and seeing the exporter stacktrace in the operator pod it seems that the operator wasn't working anymore. After adding a new storage pool it was not added until I deleted the operator. After it was recreated it added the new storage pool.

[2022-03-28 05:38] vatsa287 commented on #768
@leelavg,

The unreachable pods have default values set, and logged [here](https://github.com/kadalu/kadalu/blob/devel/operator/exporter.py#L287).
Maybe the provisioner pod is not running. Since we are not setting `pod_name` by default. This field is not appended at defualt so while adding prometheus based values, it is throwing key-error.
One fix is to set the provisioner name by default since it

[2022-03-28 05:56] leelavg commented on #768
- ack, maybe in the exception we need to set the pod_name unless I'm missing something.
- like below lines should exist there 🤔
[code]

[2022-03-28 06:03] vatsa287 commented on #768
nodeplugin and server already have defualt names set in `set_default_values()`. Only for provisioner needs to be set. I think metrics data was designed to always have atleast operator and provisioner running. Hopefully this would fix it.
Need to add ``metrics.provisioner.update({"pod_name": "kadalu-csi-provisioner-0", "pod_phase": "unknown"})`` [here](https://github.com/kadalu/kadalu/blob/devel/op

[2022-03-28 14:21] #783 closed, assigned to nobody

[2022-03-29 14:34] #768 closed, assigned to nobody

[2022-03-30 00:15] vincentchong1 commented on #779
subsequent problem,
https://kadalu.slack.com/archives/CLTPS540N/p1648584063815679

[code]

[2022-03-30 11:54] amarts commented on #779
ENOTCONN looks like there is a crash. Any logs from server?

Considering if this is blocking the usecases, consider disabling the simple-quota till we check the problem (ref #603 ) - https://github.com/kadalu/kadalu/blob/devel/doc/troubleshooting.adoc#quota-of-pvcs

[2022-03-30 16:05] todeb opened #789 "DNS resolution failed on host"
I'm unable to provision PVC with storage class type Replica2, because the kubernetes coredns do not resolve nodenames to IPs.
What is the approach here? Are you modyfing coredns ?
I can't use IP edither because than it will not mach the nodename affinity rule when kadalu creates storage pods.
So maybe some mix of IP and nodename should be allowed in specification of storage class eg.?

[code]

[2022-03-30 16:16] vincentchong1 commented on #779
our user is doing performance testing, as I have seen the activity overloaded the pvc.
I believe "the subsequent problem" is the result of me emptying out the trace.log file in the pvc, directly from the worker hosting the brick.

[2022-03-30 16:46] leelavg commented on #789
Hello,

- First time hearing this issue
- If you are seeing warnings in the server pods that's normal, when all the server pods are ready DNS resolution will be successful
- We are not changing any dns rules/assume any network topologies, it's just a straightforward deployment
- We just deploy a headless service with StatefulSet and use nodename.svc.ns for pod resolution

- To me the details are i

[2022-03-30 23:50] todeb commented on #789
After changing the vxlan option it looks a bit better. Could you please provide more information what it does?

But still have problem with tiebreaker DNS resolution:

Storageclass:

[code]
[code]

[2022-03-31 01:34] leelavg commented on #789
- this was debugged by the user who raised that issue

- @amarts does the log look suspicious to you as I'm not that much aware of thin arbiter?

[2022-03-31 02:52] amarts commented on #789
Only question is, is the thin-arbiter process started there on this path? Do we know how it is started ?  is `node-6-dc2-igh` reachable from inside of container ?

Otherwise logs looks fine. Ideally, the replica2 should be started even without tie-breaker. Will need to check why the applications are not able to see the storage.

[2022-03-31 08:29] todeb commented on #789
PVC and pv were created.
/opt/kadaluarbitersdc is empty directory.

From the:
[code]

Im not able to ping any of the node, so not sure what you mean by reachable.
`ping: node-4-dc1-lgh: Name or service not known`

[2022-03-31 20:43] #648 closed, assigned to nobody

[2022-03-31 20:43] #651 closed, assigned to nobody

[2022-03-31 20:43] #586 closed, assigned to nobody

[2022-03-31 20:43] #519 closed, assigned to nobody

[2022-03-31 20:43] #610 closed, assigned to nobody

[2022-03-31 20:43] #654 closed, assigned to nobody

[2022-03-31 20:43] #587 closed, assigned to nobody

[2022-04-07 04:47] #757 closed, assigned to nobody

[2022-04-07 20:22] vincentchong1 commented on #779
similar but different issue, as if csi-provisioner-0 and operator lost sync.

I see different usage stats

I have only 1 kadalu pvc left, but kadalu still have the old 3 pvc status.  Hence I can not reprovisioned pvc-volume2, 3

[code]

[code]

[2022-04-14 00:49] vincentchong1 commented on #779
similar situation, which I have seen various error.
I have restart all kadalu pod, execpt kadalu-csi-nodeplugin.  And the problem still presist.

1) Failed to get size details of the storage "kadalu-storage-pool"
[code]
2) ???? stale file handle error
3) Transport endpoint is not connected error
[code]

[2022-04-14 17:39] aravindavk opened #794 "[RFE]: Remove Db and Info file for Size Accounting"
The Storage Pool size and size of PVs stored in the embedded Sqlite3 DB within the Volume. Also, one info file is created for each PVs and stored in the Volume itself. This RFE shows how to get the required information without depending on the Database or external files.

**To get PV size and utilization**:
- Simple quota already provides this detail when we run `df` on the sub dir where quota is

[2022-04-14 17:39] aravindavk commented on #794
@amarts @leelavg any thoughts? ^^

[2022-04-15 09:07] Expro opened #795 ""Driver name kadalu not found in the list of registered CSI drivers" after cluster reboot"
I'm getting following issue with pods that uses Kadalu after all cluster reboot:

"MountVolume.MountDevice failed for volume "pvc-808c8ac6-1de9-4ff5-baad-88919b0dd988" : kubernetes.io/csi: attacher.MountDevice failed to create newCsiDriverClient: driver name kadalu not found in the list of registered CSI drivers"

Steps from troubleshooting didn't help. Not even full reinstall help here.

Version

[2022-04-15 09:12] leelavg commented on #795
Hello,

- What's the o/p of `kubectl get csidrivers`?
- Is nodeplugin pod in running state?
- From what version did you upgrade to latest?
- Is above error from `describe pvc`?

[2022-04-15 11:18] Expro commented on #795
[code]

[code]

This is fresh installation, no version upgrades yet.

It's from `describe pod` for one of the pods that used PV provided by Kadalu.

[2022-04-15 12:54] leelavg commented on #795
@Expro
- Everything looks good to me
- A quick search landed here https://github.com/democratic-csi/charts/pull/11#issue-702357529
- We do take into account microk8s standard path but not the snap installed one
- If above isn't the case, could you let me know about your k8s distro and kubelet path?

[2022-04-15 13:00] Expro commented on #795
Pods stared, but volumes are not mounted - if I manually mount somwhere else GlusterFS volumes that contains PVs I can see data from before cluster reboot, but after cluster reboot pods cannot see this data - they started with clean storage.

Not the case:

[code]

None of those were used.

Pure Kubernetes with CRI-O as runtime, on Fedora 35.

[code]

[2022-04-15 14:08] leelavg commented on #795
- sry a little bit confused, did you lost the data after cluster reboot?
- ntg comes to my mind of what might be the issue, could you pls provide reproduction steps if possible?

[2022-04-15 14:21] Expro commented on #795
Sure, let me try to rephrase issue:

I have deployed fresh Kubernetes cluster via kubeadm. Deployed necessary CNI plugin and some DNS plugins, then deployed Kadalu via Helm chart. Created few StorageClasses that pointed to previously deployed GlusterFS volumes. Deployed few apps, PVs were created correctly, volumes were correctly mounted to pods, applications were able to write data that actually

[2022-04-15 16:45] Expro commented on #795
After some explorative debugging, I think I have narrowed down root of this issue to DNS. I had error in DNS configuration that affected pods ability to resolve DNS names - hosts were fine though. After correcting this error and rebooting cluster, volumes were mounted correctly.

It would be nice if such issue was handled and communicated in more clear manner.

[2022-04-15 16:54] leelavg commented on #795
- Frankly, this is the first time I'm hearing that DNS would cause this issue
- I can now connect the dots how DNS effected mounting of PVC however from info that I got upto now I wouldn't be able to find it
- Your debugging helped in reduction of to & fro and thanks for that
- iirc we have a mention about about checking connectivity b/n server pods however the way the issue is framed/popped up do

[2022-04-15 17:35] hunter86bg opened #796 "[RFE]: Create kadalu-viewer that can be used by external solutions like Prometheus"
**Is your feature request related to a problem? Please describe.**
It seems that we lack a less-privileged role for accessing the kadalu.
For example , in order to access kadalu metrics I setup scraping but Prometheus was lacking access:
[code]
Running the following gives the necessary permissions but they are too much for Prometheus:
`
oc policy add-role-to-user kadalu-operator system:serviceacco

[2022-04-16 17:05] #475 closed, assigned to nobody

[2022-04-16 17:05] #646 closed, assigned to nobody

[2022-04-18 12:54] pantxisto commented on #184
Hello,
I'm still having this problem when using "Replica3" type with three nodes. I have tried advises posted on [web page throubleshooting](https://kadalu.io/docs/k8s-storage/devel/troubleshooting/) but does not solve the problem. There exist any solution for this problem?

Thanks.

[2022-04-19 09:31] aravindavk opened #801 "[Bug]: Fetch Storage Pool status from Provisioner Pod"
The current approach to getting the Status of Storage pools is to exec to the first server pod and then get the Storage status info. This approach introduces many issues. (Ref: https://github.com/kadalu/kadalu/blob/787e6b89a060215c3bb69dd7b248713c0c2115b2/cli/kubectl_kadalu/storage_list.py#L184)

- If heal pending for the Db. Stale data will be shown in the CLI output
- If it is distributed Storag

[2022-04-19 15:56] aravindavk commented on #705
Reopening this issue with some modifications to the above design.

- Start making changes in a different branch and switch to the main branch once stable and matches expectations compared to the existing system.
- For PV management, do not use Moana APIs but continue the current process. Only the mount step will change.
- Do not support the high availability of Moana data(Future versions can suppo

[2022-04-21 15:34] Expro commented on #795
No problem, I always hoped for GlusterFS to get better and now I can :)

[2022-04-21 15:34] #795 closed, assigned to nobody

[2022-04-21 15:45] Expro opened #802 "[Bug]: PVC stuck in "pending" state"
**Describe the bug**
Previously, PVCs for same StorageClass were properly handled - PVs got created and mounted to pods. Since now, PVCs are stuck in "pending" state.

**Environment:**
kubectl-kadalu plugin: 0.8.13
kadalu pod(s) versions
pod/kadalu-csi-nodeplugin-fl4xr: 0.8.13
pod/kadalu-csi-nodeplugin-wqldp: 0.8.13
pod/kadalu-csi-provisioner-0: 0.8.13
pod/operator-df6585c7d-5jzlb: 0.8.13

**Scree

[2022-04-24 14:59] leelavg commented on #802
- uh oh, somehow missed this issue
- below seems to be the reason for pvc not getting created
[code]
- i could see only this particular pvc isn't getting bound from that storage class, any changes to storage class recently? (Most fields are immutable, just asking)
- if above isn't the case, something might have changed in external gluster which effects only new pvc creations or else you'd have alr

[2022-04-24 15:01] #801 closed, assigned to vatsa287

[2022-04-24 15:03] leelavg commented on #796
- Woah, I think above rules are too open
- Let me take a look and get back
- Btw, thanks for testing the kadalu metrics via user workload monitoring in ocp 😃

[2022-04-24 15:10] leelavg commented on #794
- I'll re-look this after #779
- IMHO i don't like to base size related ops from k8s perspective on simple quota yet
- Sry if I'm being condesive here as I still consider simple-quota as opaque to me

[2022-04-24 15:14] leelavg commented on #782
- is the referenced project feature complete? Just asking based on last commit
- I'd like to put effort on the existing code for supplying vol options and corresponding CI before providing these metrics 🤔

[2022-04-24 15:15] leelavg commented on #766
Ref #767

[2022-04-24 15:15] #766 closed, assigned to nobody

[2022-04-24 15:16] leelavg commented on #772
Ping @amarts @aravindavk ^^

[2022-04-24 15:18] leelavg commented on #752
@NawiLan are we good or you still seeing the issue?

[2022-04-26 20:49] pantxisto opened #804 "[Bug]: code = ResourceExhausted desc = No Hosting Volumes available, add more storage"
Hello,

**Describe the bug**
I have Kadalu managing volumes on 3 different nodes using Replica3 type. If the size of created volumes surpass the available storage, the pvc remains in pending status although I delete some of the existing pvcs and pvs and I try again to create the pvc deleting the previous one with pending status. Someway the available storage is not getting calculated as it should

[2022-04-27 01:49] leelavg commented on #804
Hey @pantxisto, thanks for the detailed issue.

- outright my thoughts go with usage of `ext4` since we test and support `xfs` I wasn't sure how well kadalu performs with the former
- would you be able to find out which PVC json files exist which aren't there in `kubectl get pvc`?
- by any chance did you set `pvReclaimPolicy: archive` in pool CR?
- it seems you provided `path:` in the pool CR and

[2022-04-27 08:36] pantxisto commented on #804
Hello @leelavg,

- I will make some test on a local cluster to see if I am able to replicate the behaviour and if it is solved using xfs.
- Yes.
[code]
So the two pvc that are on filesystem but not on kubernetes cluster are:
[code]
- To be honest I don't remember using archive, perhaps it could be... the KadaluStorage yaml spec is the next:
[code]

- Yes.

Thanks for your fast answer.

[2022-04-27 10:07] leelavg commented on #804
- thanks for the update
- to me it seems as a straightforward delete miss
- not sure when were these PVCs removed from k8s, if the op wasn't successful k8s will keep on trying for success
- do you have any failure logs in nodeplugin and provisioner for these PVCs
- all in all the simple workaround would be as below (pls adjust accordingly if you find any discrepancy)
[code]
- i still believe k8s w

[2022-04-27 12:22] Expro commented on #802
No, none.

Nothing changed. Existing pods are able to use this volume, which proves it can be mounted and is readable and writeable. No permission changes were done.

You are right, cutting down logs to fit into comment size constraints introduced some errors. Let me try again:

[code]

[code]

[2022-04-27 18:08] pantxisto commented on #804
- I have not been able to reproduce on local. I have not manage to make kadalu provisioning a pvc.
- After deleting both volumes I can provide pvcs again. I can provide and delete and everything works smoothly. Also a problem with reclaim policy that I had because pvs were no deleted have been resolved. :+1:
- However, all of the actual pvcs existing in the cluster can be found inside: mountpath/b

[2022-04-28 01:52] leelavg commented on #804
- uh oh, this should've mentioned earlier I think

- need to take a look, isn't above part of server pods?

Ask:
- what functionalities according to you aren't working as expected?
- do you see higher usage of resources (cpu & ram) being used by kadalu components?

[2022-04-28 03:03] kCyborg opened #806 "Can't get a proper installation run"
**Describe the bug**
Once installed I get the following error:
`ERROR [main - 872:csi_driver_object_api_version] - Failed to get version of csi driver object  error=error 1 Error from server (NotFound): csidrivers.storage.k8s.io "kadalu" not found`

**To Reproduce**
Steps to reproduce the behavior:
1. Install **kubectl-kadalu**:

[code]

2. Install kadalu operator:

[code]

**Expected behavior**
I

[2022-04-28 04:35] leelavg commented on #806
hello,
- Error seems to match #795 so could you pls recheck DNS once again?

- for future ref, we already have a busybox running in one of the pods and you can use that to verify connectivity https://github.com/kadalu/kadalu/issues/614#issuecomment-895683345

- above is incorrect (pls mind `gluster_host` vs `gluster_host`*s*), it should be one of below and as a result you are seeing these errors
[

[2022-04-28 11:05] kCyborg commented on #806
First of all, thanks you very much for the your quick answer:

- > Error seems to match https://github.com/kadalu/kadalu/issues/795 so could you pls recheck DNS once again?

It happens that I first create the SC using IP and not the name, and at that time it keeps failing :-(

- > for future ref, we already have a busybox running in one of the pods and you can use that to verify connectivity

Oh m

[2022-04-28 11:24] leelavg commented on #806
- small bug here, below should be the fix, @kCyborg interested in sending a PR?
[code]

- issue is here, quick fix would be, pls run `k delete cm kadalu-info -n kadalu` and restart operator
- background, earlier pool cr was stored in this config map and even after you changed the pool cr the info wasn't updated cause the cm already exists, this is one area we should improve -- reconciliation the d

[2022-04-28 13:02] Expro commented on #802
Additional info: tried to provision this PVC with all kadalu-based StorageClasses - all were stuck on "pending".

[2022-04-28 13:42] leelavg commented on #802
- If it's a test cluster can I get my hands on it?
- As mentioned earlier, kadalu isn't able to find the pool to create a volume
- Need to increase the logs verbosity (env value in operator, server and csi pod manifests) to see request and response cycle

[2022-04-28 14:46] Expro commented on #802
Unfortunately, it's production one full of private data.

[code]

[2022-04-28 14:50] Expro commented on #802
[code]

[2022-04-28 14:52] Expro commented on #802
One of nodeplugins:

[code]

[2022-04-28 15:51] leelavg commented on #802
- thanks for the logs as I'm afk it's getting tough to look at multiple tabs on mobile, will take a look in the morning.
- can you list the contents in `/var/lib/gluster`? Not sure why kadalu-info config map is empty 🤔
- are you sure that you didn't do anything out of ordinary in this setup
- what's `k get cm kadalu-info -oyaml`?
- pls paste your pool CR corresponding to `ssd-pv-sync`
- I'm starti

[2022-04-28 18:43] Expro commented on #802
[code]

From which container?

Yeah, pretty much. It was working fine, I had no reason to fiddle with it anymore.

Not sure how to get that?

[2022-04-28 22:39] kCyborg commented on #806
Hi @leelavg, sorry for the late answer mate, I was in a networking course and it took all my day.

- > small bug here, below should be the fix, @kCyborg interested in sending a PR?

I have never done this, if you guys have a guide or some link I can read, I would be gladly to help.

- > issue is here, quick fix would be, pls run k delete cm kadalu-info -n kadalu and restart operator

I did as you

[2022-04-29 01:10] leelavg commented on #802
- from provisioner

- I expected this after going through the logs, empty vols here when you have many online PVCs, super bad
- I'm pretty sure this isn't operator doing

- `k get kds -oyaml` this'll show every pool CRs you can mask any internal data and only supply corresponding pool to pending PVCs

- I'd highly recommend you to join kadalu slack (refer repo Readme) to fix this quickly, the setu

[2022-04-29 01:16] leelavg commented on #806
- you can do that by running https://github.com/kadalu/kadalu/blob/devel/extras/scripts/cleanup
- you are almost there, remove the existing storage class and you'll be good to go
- operator is picking up new config and trying to update storageclass, since fields are immutable in sc you are seeing above error

[2022-04-29 11:26] Expro commented on #802
There isn't much to mask...

[code]

Content of `/var/lib/gluster`:

[code]

I strongly dislike trend to migrate open discussions to chat clients such as Slack or Discord, as it makes knowledge gathered during debugging non discoverable for others. If someone else gets same issue, he will be able to find this discussion here on Github, but won't be able to do so on Slack / Discord, at least not fr

[2022-04-29 11:45] leelavg commented on #802
- no problem

- i believe your setup is not in a good state at all and I don't think you can do any ops apart from using the existing PVs
- what's `k get kds -oyaml -A`
- who did the initial setup of kadalu?

- is the capacity that's being reflected here is correct (100 tera)?

ps: i'll not be available until May 4th, will ask someone else to pitch in if possible

[2022-04-29 11:54] leelavg commented on #802
@aravindavk @amarts @vatsa287 can one of you take this forward?

status I can deduct:
- everything is external kadalu native, definitely not using native gluster quota
- close to 270 Gi in various PVCs and 100 Tera in a single PVC
- another PVC is pending to be provisioned
- I don't see any pool CR whatsoever 😕

[2022-04-29 12:56] Expro commented on #802
Yeah I can see that. I'm considering putting data aside, reinstalling Kadalu and reprovisioning fresh PVCs / PVs.

Exactly the same as when narrowed down to kadalu namespace.

I did, via Helm chart. I think only "unusual" thing was reinstallation of Kadalu when I was debugging previous issue (turned out to be DNS).

In this particular case no, it's 60T.

I confirm.

[2022-04-29 17:24] kCyborg commented on #806
hi @leelavg!!!

- > you can do that by running https://github.com/kadalu/kadalu/blob/devel/extras/scripts/cleanup

I applied the script and re-installed kadalu. I then re-installed with

[code]

And then create the sc and the test pvc:

[code]

Then I check the logs:

*Operator*'s logs seems ok to me:
[code]

The *csi-attacher*'s logs:
[code]
_______________________________________________________

[2022-04-30 00:32] kCyborg commented on #806
UPDATE:

@leelavg you are gonna kill me mate, my GlusterFS volume was created using another network, let me explain myself with a picture:

![imagen](https://user-images.githubusercontent.com/37458643/166082982-6c1f9ccb-d3de-48b2-baa5-4eb7252b19ea.png)

I was pointing my k3s cluster to the managment network (192.168.10.x), while the Gluster cluster was created in another subnet (192.168.1.x). I no

[2022-04-30 01:18] leelavg commented on #806
- Ack, np, mostly it's the network issue.

- are you sure in taking this route?

- ptal at https://thoughtexpo.com/exploring-kadalu-storage-in-k3d-cluster-glusterfs/ to get to know how we use gluster in kadalu
- I suggest before creating pool and pvc, just deploy kadalu and ping external gluster IP and check port is accessible?
- let's say `ping -c 5 gluster-host` and `nc -zv gluster-host 24007` f

[2022-04-30 02:16] kCyborg commented on #806
- > are you sure in taking this route?

I don't really know mate, when I tried in the testing enviroments all went sooo easy, and I wanna take advantage of an already deployed and in production gluster cluster.

- > I suggest before creating pool and pvc, just deploy kadalu and ping external gluster IP and check port is accessible?

Must be before? Right now (after the deployment):

[code]

Altoug

[2022-05-01 18:26] Expro commented on #802
I found older snapshot of VMs with Kadalu working properly. After some experimentation, it seems that deletion of StorageClass brakes Kadalu. It gets into state from above (empty volumes list etc. etc.). Deletion itself is also strange - if I do `kubectl delete sc <name>` and then try to recreate class by `kubectl apply -f <yaml file>`, it says it's still here and will be unchanged, despite not sh

[2022-05-02 01:32] leelavg commented on #802
- generally user isn't encouraged to edit existing storage class

- the storage class will not be deleted if there are any PVCs in use from it so that's what you are seeing

- what I'd suggest is, find the uuid of pools `getfattr -d -e text -m. <pool_root>` from provisioner pod
- Recreate all the pool CRs using above volume_id and make sure all the fields stay same and kadalu will re-use the exist

[2022-05-03 14:51] hunter86bg opened #808 "[RFE]: Preserve openshift.io/cluster-monitoring: "true" namespace label on update"
**Is your feature request related to a problem? Please describe.**
When updating , the label is removed which leads to Prometheus ignoring Kadalu Metrics

**Describe the solution you'd like**
The label to exist by default on Openshift/OKD clusters

[2022-05-03 15:21] hunter86bg opened #810 "[Bug]: kadalu_memory_usage_in_bytes is -1 in Openshift/OKD"
**Describe the bug**
On OKD4.10 (but should be valid for Openshift/OKD 4.8+) cgroup2 is used . This leads to missing "/sys/fs/cgroup/memory/memory.usage_in_bytes" on the pods and the metric 'kadalu_memory_usage_in_bytes' is presented as "-1".

**To Reproduce**
Steps to reproduce the behavior:
1. Enable user workload metrics
2. Apply the following manifest:
[code]
3. Set necessary permissions:
[cod

[2022-05-03 19:40] Expro commented on #802
But it does happen. I had to change retention policy.

In this case shouldn't it still be visible with `kubectl get sc`? And obviously it shouldn't nuke entire Kadulu cluster.

[2022-05-03 19:48] Expro commented on #660
I'm seeing same thing - Kadulu, even when idle (not provisioning volumes) consumes a lot of CPU on 0.8.4: around 50 - 70% of core.

[code]

I'm not behind proxy.

[2022-05-05 07:09] #808 closed, assigned to nobody

[2022-05-09 08:49] amarts opened #817 "Fix kadalu on nomad environment"
This PR breaks kadalu from working in a Nomad environment. There is no file or directory named ..data in a nomad environment. I would propose to setup a recursive watch of /var/lib/gluster instead, and put a sleep 1 into the loop, because else it has the potential of becoming very CPU intensive.

_Originally posted by @dhpowrhost in https://github.com/kadalu/kadalu/issues/715#issuecomment-11207661

[2022-05-13 08:24] c-seeger commented on #768
@aravindavk I updated to the newest version and it does not fail with stacktrace anymore but I get the following

operator pod
[code]

provisioner pod
[code]

any idea how to fix this? seems some json file is missing but.

[2022-05-18 08:51] hunter86bg opened #819 "[RFE]: kadalu metrics endpoint requires trailing slash - just the opposite of the standards in OKD/Openshift"
**Describe the bug**
It seems that the kadalu metrics endpoint doesn't work without a trailing "/" which is just the opposite of the standards in OKD/Openshift. All metrics there are without a "/". Can we make it work with both ?
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Prepare monitoring as per https://github.com/kadalu/kadalu/pull/815
2. Replace the ServiceMonitor path to "/m

[2022-05-18 09:01] hunter86bg opened #820 "[Bug]: Kadalu metrics show deleted PVCs"
**Describe the bug**
Kadalu metrics show deleted PVCs even after the whole cluster was powered off (all nodes were down).

Steps to reproduce the behavior:
1. Setup the metrics as per https://github.com/kadalu/kadalu/pull/815
2. Replace "/metrics" with "/metrics/" due to https://github.com/kadalu/kadalu/issues/819
3. Delete a PVC

**Expected behavior**
All deleted PVCs should not be visible in the

[2022-05-19 07:23] leelavg commented on #819
@vatsa287 this was my observation about trailing char, do we need to re-look this https://github.com/kadalu/kadalu/pull/769#issuecomment-1060633383, maybe just add a redirect?

[2022-05-19 07:50] #820 closed, assigned to nobody

[2022-05-19 11:12] vatsa287 commented on #819
Maybe this is only on openshift. Will "/" as common as it does not break any changes on rest of orchestrators.

[2022-05-19 13:36] leenooks opened #823 "[Bug]: Reported Size different to PV size"
**Describe the bug**
I've created a 5GB PVC, using a dispersed volume:

[code]

However, when I allocate it to a pod, it shows up as 2x it's size. (I tried with a 1G PVC initially, and then a 5G PVC to see if it was 2x).

[code]

As you can see, I've filled it up with 5G of data, and then I get quota-exceeded messages - so it's enforcing the 5G size.

Is the reported size (11G in this case) a bug?

[2022-05-19 13:42] leenooks opened #824 "[Bug]: Error showing kubectl-kadalu version"
**Describe the bug**
Not sure if you are aware, I'm using microk8s (which I believe it is supported), but `kubectl kadlue version` yields an error:

[code]

If I create a softlink of `kubectl` to `microk8s.kubectl`, then it's a different error:
[code]

But running `kubectl get pods -nkadalu -oname` works successfully:
[code]

[2022-05-19 18:19] hunter86bg commented on #819
All examples at https://kubernetes.io/docs/tasks/debug/debug-cluster/resource-metrics-pipeline/ lack a trailing slash.

[2022-05-19 18:20] hunter86bg commented on #819
I guess a simple redirect could be enough

[2022-05-20 04:57] leelavg commented on #824
- in the sense we use `/var/snap/microk8s/common/var/lib/kubelet` as `kubelet` path if you deploy correct manifest for your distro

- `kubectl` not found, the cli tool expects `kubectl` is in `$PATH`
- After creating symlink it should've worked, maybe due to Python Subprocess the command didn't work as expected 🤔

@aravindavk any quick deductions?

[2022-05-20 05:04] leelavg commented on #823
- I doubt it, `gluster volume/storage pool != single pvc` if `kadalu_format: native` is set in pool cr.

- I believe in the pool cr the disk (`device:`) you used might be either 11G or the mount path (`path:`) is of 11G in size and you created a single PVC with 5GiB.

Btw, if you are a regular gluster & k8s user pls refer https://thoughtexpo.com/exploring-kadalu-storage-in-k3d-cluster-glusterfs/ o

[2022-05-20 05:30] leenooks commented on #824
Yup, I have the same kubelet path:
[code]

I guess the difference is with microk8s there isnt a `kubectl` command (i have it as an alias to `microk8s kubectl`) - its also available as `microk8s.kubectl` (which is what my softlink pointed to when debugging this).

[2022-05-20 07:20] leenooks commented on #823
I'm not quite sure I follow - so let me give you more detail:

[code]

And KadaluStorage shows:
[code]

So, I have 3 hosts (3 node cluster) each with 100GB disk dedicated to gluster (/dev/sdb in all cases).

So on a server:
[code]

And this by definition the gluster volume is 200G in size.
[code]

When I created a 1G PVC and allocated it to a pod, exec into that pod and typing `df` it showed it as

[2022-05-20 11:34] leelavg commented on #823
@amarts in simple-quota do we need to account for type of volume as well?

[2022-05-21 13:24] nzolot opened #825 "[Bug]: PV extend does not work for StorageClass with pv_type: Block"
**Describe the bug**
I've tried to provision PVC which was using StorageClass with pv_type: Block and then resize it. Kadalu-csi-provisioner failed to do so

**To Reproduce**
Steps to reproduce the behavior:
1. Create KadaluStorage

[code]

3. Create StorageClass

[code]

4. Create PVC

[code]

6. Extend PVC size

**Expected behavior**
PV and FileSystem on it should extended

**Actual behavior**
K

[2022-05-21 13:42] leelavg commented on #825
@nzolot wow, this is a good report and analysis is added bonus, thanks a lot.

- well the bugs are evident so, not repeating them

- sounds reasonable, let me recheck if this is the only way

- iirc, there's nothing limiting us to make the op from provisioner in the sense that provisioner will never do IO 😅

Extra: seeing these issues it seems there's no test coverage, let's try to add that as wel

[2022-05-21 13:49] leelavg commented on #817
Hi @dhpowrhost, do you have any feedback in using kadalu in Nomad?

- I find Nomad cool relative to k8s, so thinking of writing a kadalu operator for Nomad 😅
- however, need feedback from users before investing time and effort if there's no requirement

[2022-05-21 13:54] leelavg commented on #510
If any watchers are still hanging around pls provide feedback to https://github.com/kadalu/kadalu/issues/817#issuecomment-1133637747 thanks.

[2022-05-21 14:22] nzolot commented on #825
hi @leelavg, thanks for the quick reply

hopefully I didn't messed up anything and understood the conceptions :smiley:

I believe that we "need" to make an IO as part of xfs_growfs, I've tried to run it manually from the provisioner, as a result the file system was extended from provisioner point of view, but pod did not reflect the changes. It got even worse when I've tried to write the files fro

[2022-05-21 15:14] leelavg commented on #825
- got it, it's not `volumeMode: Block` which'll be handled by k8s, however it's `pv_type: Block` which should be handled by kadalu and it seems we are missing some steps along the way
- will take a look when I'm near my workstation

[2022-05-23 10:44] denogio commented on #817
We are about to lauch nomad + kadalu + gluster in production. It actually works pretty stable using 0.8.6 which of course is before the aforementioned PR that causes the plugin to break in Nomad. I am pretty sure looking at the code that this can be solved easily: What kind of changes do you have in mind? I will be ready to provide you with feedback.

[2022-05-23 11:28] leelavg commented on #817
- ack, I'll spend some time to test and update the docs for latest version of Kadalu for a start

- i'm thinking to re-arch current operator and consolidate the functions needed by k8s and nomad
- integrate with consul and drop support for manual config entry in job files for pool cr (external/internal), I assume everyone use Consul with Nomad 🤔
- support for gluster to run on Nomad storage nodes

[2022-05-23 12:34] aravindavk commented on #819
Is this the issue while running with the curl command or with all tools? What is the output of `curl   -i http://10.128.2.14:8050/metrics`

[2022-05-23 13:07] hunter86bg commented on #819
[code]
The '/metrics/' reports as expected. I noticed that without the trailing  '/' openshift scrapes the endpoint for seconds, while '/metrics/' reports in fractions of the second.

[2022-05-23 14:33] aravindavk commented on #819
This looks like expected behaviour to me. Use `-L` to make the curl command to handle the redirect.

[code]

[2022-05-23 14:36] hunter86bg commented on #819
I always thought curl follows the redirects.
Then I guess the problem is somewhere else.

[2022-05-24 09:48] leelavg commented on #817
- could you pls comment on below @amarts and @aravindavk
- for some reason ssh commands are taking more than 30 sec even if kadalu and gluster is running on same machine
- https://github.com/kadalu/kadalu/blob/251a0801a593e4e6bad9557789899b46262dfde6/csi/volumeutils.py#L1167-L1186
[code]
- https://github.com/kadalu/kadalu/blob/251a0801a593e4e6bad9557789899b46262dfde6/csi/controllerserver.py#L51-L7

[2022-05-24 11:27] lucemans commented on #817
+1, just dropping in here to say that we are also affected by this and in need of a patch!

[2022-05-24 14:48] NawiLan commented on #752
yes, thanks, the problem is no longer observed

[2022-05-24 14:48] #752 closed, assigned to nobody

[2022-05-26 13:47] tomhatzer commented on #817
Hey everyone! 👋🏻

I‘m also going to use kadalu for my nomad cluster setup. If I can support development financially or likewise, please go ahead and tell me. Possibly some more people/companies could join me in supporting your work then?

Thank you very much for everything and have a great day!

Tom

[2022-05-26 14:05] leelavg commented on #817
- good to hear this, for this particular issue I've a fix already but that's failing on k8s environment
- will take  a look at the earliest possible

- this is an encouraging move, in general I'm quite interested to work with Nomad
- however my day work isn't allowing me to spend time on this 😅

@amarts @aravindavk I'm not sure of the revenue model of Kadalu as a company as of now and don't need t

[2022-05-27 01:40] hunter86bg opened #827 "[Bug]: pod/kadalu-csi-nodeplugin-XXXXX reports "E [fuse-helpers.c:203:frame_fill_groups] 0-fuse: WRITE: failed to open /proc/0/status: No such file or directory""
**Describe the bug**
It seems that kadalu-csi-nodeplugin pod constantly errors with:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a replica 3
2. Leave the setup running for 17 days

**Expected behavior**
No errors should be observed in the logs

**Actual behavior**
The pod spams with errors.

**Environment:**
kubectl-kadalu plugin: 0.8.9
kadalu pod(s) versions
pod/kadalu-csi-

[2022-05-29 10:12] #817 closed, assigned to nobody

[2022-05-29 10:16] amarts commented on #827
This is an issue fixed in GlusterFS upstream. Will send a patch to kadalu branch. Currently this is harmless other than filling the logs.

[2022-05-29 10:25] amarts commented on #823
@leelavg technically no, as its handled at 'distribute' level, and it would handle the `statfs()` call properly. I don't think I have done a thorough analysis of disperse volume with simple-quota in my tests. Will run some tests and report back.

But just by the design thoughts and code overview, the volume-type shouldn't play a role here.

[2022-05-30 06:16] patama8 opened #829 "[Bug]:"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Actual behavior**
A clear and concise description of what actually happened.

**Environment:**

 - Kadalu Version: [e.g., 0.8.6]
 - K8S_DIST: [e.g., kubernetes, openshift]

**Sc

[2022-05-30 06:38] denogio commented on #817
Great. Thank you for the fix - seems like a legit fix.
I till try it when released as a docker image (not devel)

[2022-05-30 07:01] leelavg commented on #829
Details not provided.

[2022-05-30 07:01] #829 closed, assigned to nobody

[2022-05-30 11:38] patama8 commented on #829
🙂🤨

[2022-05-30 11:38] patama8 commented on #829
🙂🤨

[2022-05-30 14:36] c-seeger opened #830 "[Bug]: Metrics PVC JSON not found"
I updated to the newest version of kadalu and metrics does not fail with stacktrace anymore (#768 ) but I get the following

operator pod
[code]

provisioner pod
[code]

any idea how to fix this? seems some json file is missing but.

[2022-05-30 15:08] c-seeger opened #831 "Backup and Recovery"
**Is your feature request related to a problem? Please describe.**
What are the current options to handle backup and recovery szenarios

**Describe the solution you'd like**
simple tool to manage backup and recovery. Does kadalu work with velero?

**Describe alternatives you've considered**
still researching for backup and recovery strategies

[2022-06-01 04:20] leelavg commented on #825
@nzolot
- along with multiple fixes this issue should be fixed by #828  and will be part of next release.
- if you've a test environment you can try out devel (after 30 min) or you can wait for release and close this issue
- btw, pls note you've to set `allowVolumeExpansion: true` in your custom storage class in-order to support pv expansion

[2022-06-01 11:27] nzolot commented on #825
hi @leelavg ,

Thanks for the fix, I'll give it a try as soon as I will have some free time

[2022-06-02 07:58] c-seeger opened #833 "[Bug]: PVC are not node restart resistant"
**Describe the bug**
when restarting a node using `kubectl drain` and returning it back using `kubectl uncordon` pods using pvc mounts from this node are broken due to failedMount. All existing pvc mounts aren't working anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. create a pod using a kadalu pvc
2. drain the node the pod is running
3. uncordon node

**Expected behavior**
mounts s

[2022-06-02 08:45] c-seeger commented on #833
found the issue was a missing block device on one of the servers

[2022-06-02 08:45] #833 closed, assigned to nobody

[2022-06-10 02:24] #688 closed, assigned to nobody

[2022-06-11 12:35] Timoses opened #835 "Provide documentation for GitOps oriented setup and configuration"
A lot of times it is more desirable to provision an application via Kubernetes resources directly rather than using a CLI tool.
This allows integration with GitOps workflows and is more declarative in nature.

I'd suggest adding a section at least in the **Setup** part of the documentation how to install Kaladu declaratively: https://kadalu.io/docs/k8s-storage/latest/setup/

Two options can be off

[2022-06-11 12:41] leelavg commented on #835
@Timoses we did document that here https://kadalu.io/docs/k8s-storage/latest/quick-start-yaml/.

Nevertheless, I'd say krew `kubectl krew install kadalu` iirc, will be the easiest for long term use and deploying manifests which was documented above for quick start in ops style.

[2022-06-11 13:22] Timoses commented on #835
Oh thanks for the pointer. I overread it and jumped right to `Setup`.

Can be closed on my part.

[2022-06-11 15:46] #835 closed, assigned to nobody

[2022-06-11 15:47] Timoses opened #836 "[RFE]: Use /lib/modules as server component's kernel modules path or use configurable parameter"
**Is your feature request related to a problem? Please describe.**
The Kadalu server component mounts the hostPath `/usr/lib/modules`.
This path may not exist at this specific path for every environment.
FSH states `/lib/modules` (https://refspecs.linuxfoundation.org/fhs.shtml).
In my specific case, Talos uses this `/lib/modules/` path.

**Describe the solution you'd like**
Server component should

[2022-06-11 15:56] leelavg commented on #836
- thanks for raising the issue
- if `/lib/modules` is universally available then the change will be straightforward https://github.com/kadalu/kadalu/blob/devel/templates/server.yaml.j2#L94
- if that's not the case, we need to decide from where this option should flow into the destination manifest
- either ways, I'd like to hear from @amarts when he get time

[2022-06-11 15:56] Timoses opened #837 "[Bug]: Kadalu provisioner logs 8 empty lines every few seconds"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install v0.8.14 via releases manifests
2. Deploy Storage:
[code]
4. View logs `k -n kadalu logs -f kadalu-csi-provisioner-0 -c kadalu-provisioner`

**Expected behavior**
It should not print empty lines.

**Actual behavior**
It prints empty 8 lines consistently about every 5 seconds

**Environment:**
$ kubectl exec -i

[2022-06-11 15:58] leelavg commented on #831
- it's being looked into however another feature took priority and so pls expect delay
- just wanted to update rather than leaving as unattended

[2022-06-11 16:00] leelavg commented on #837
- thanks for raising the issue
- I think I observed this recently while working on a pr but turned a blindeye at that time
- will take a relook

[2022-06-11 18:05] lretq commented on #748
Are there any updates on this issue?

[2022-06-11 18:29] Timoses commented on #837
As a hint: It seems to only begin after PVCs have been created and bound to kadalu storage:

Here logs where it began:
[code]

There I just deployed two PVCs. The empty lines appear in pairs of two like every 5 seconds.

[2022-06-11 18:45] Timoses commented on #837
By the way: Might this point at another issue?
Previously I deleted PVCs from the cluster and recreated them. Perhaps that is why in the first issue post I had 8 lines per 5 seconds and in the post just now only 2 (2 PVCs created).

An issue may be if this stacks sequentially: Say we created 20 PVCs, delete 10, created 50 PVCs then deleted 40... we would only have 20 active PVCs. If above assumpti

[2022-06-12 01:55] leelavg commented on #748
@legendary-cookie afaik it's not possible with drivers implementing csi spec.

Do you have the same usecase as the issue reporter or different one?

[2022-06-12 02:01] leelavg commented on #837
- this internal state is persisted to the storage pool itself however you may not feel space usage unless the pvc count is in thousands 😅
- with current changes in devel branch above metadata will even be lesser (can be observed in next release) 😉

Nevertheless, I'll take a look at empty log lines when I'm near my workstation (probably tomorrow)

[2022-06-12 14:00] lretq commented on #748
I have the same usecase, yes.

[2022-06-12 19:23] Timoses opened #838 "[RFE]: Hardening RBAC rules"
**Is your feature request related to a problem? Please describe.**
Currently, Kadalu basically receives permissions onto the complete cluster. For security minded folks this is an issue and inhibits adoption of Kadalu.

**Describe the solution you'd like**
1. Revise operator RBAC permissions:
    * These should be narrowed down as much as possible (e.g. using namespaced Roles where applicable, gra

[2022-06-12 21:40] Timoses opened #839 "[RFE]: Ability to build images directly from the repository"
**Is your feature request related to a problem? Please describe.**
Currently it is not possible to build images directly from the repository as the Dockerfiles
require the `requirements.txt`s to be in the repo's root directory (which `build.sh` currently does).

**Describe the solution you'd like**
Remove the redundant need to move the `requirements.txt`s in the first place allowing
build tools to

[2022-06-13 04:57] leelavg commented on #838
@Timoses thanks for the rfe and related analysis.
- Refining rbac is required as we are sprinting towards GA (version 1.0)
- IMHO, currently kadalu supports many features even without GA and I know of users using it in prod, so rbac changes should be done with caution
- I'm thinking to move the usage of secret which should be created before deploying kadalu as of now to one of the generated storag

[2022-06-13 05:04] leelavg commented on #837
@Timoses If you have a running setup could you pls let me know a couple of log msgs before and after empty lines?
- it's not in the logging framework, it's like sending carriage return to stdin 🤔

[2022-06-13 06:00] amarts commented on #836
I am fine with this change. This came in with e30524c8 and looks like it came from [gluster/gcs](https://github.com/gluster/gcs/blob/master/deploy/templates/gcs-manifests/gcs-gd2.yml.j2) project.

I think we can experiment even removing `gluster-kmods` section there. @aravindavk any concerns there?

[2022-06-13 11:04] Timoses commented on #837
@leelavg Doesn't this help? https://github.com/kadalu/kadalu/issues/837#issuecomment-1152977575
It's directly before it starts.

Afterwards I did not notice anything special happening. It just keeps spamming empty lines.
Let me know if you need anything specific.

[2022-06-13 16:04] Timoses commented on #737
Can reproduce:
[code]

[2022-06-13 22:19] Timoses commented on #358
An alternative could be a Validating Admissioncontroller. Though I like above proposal with `finalizers` more. It is also how rook manages it.

[2022-06-14 05:19] leelavg commented on #358
- ya, but as you mentioned it's heavy weight

- yep, most of the operators follow `finalizers` approach
- however, if you see kadalu operator, it doesn't use k8s api heavily relative to other operators
- either bringing [kopf](https://github.com/nolar/kopf) or re-write in golang is not a trivial effort and we have other priorities
- maybe a quick re-arch would be good enough and at the same time a

[2022-06-14 05:20] leelavg commented on #837
- no, that o/p has logs from all the containers, need kadalu-provisioner log lines alone

[2022-06-14 14:26] Timoses commented on #839
Building images directly is also blocked by the copying of the built `kubectl kadalu` artifact into the base image during `make build-containers`: See https://github.com/kadalu/kadalu/pull/840#issuecomment-1153808002

[2022-06-14 14:28] Timoses opened #843 "[RFE]: Provide separate optional "tool-box" container"
**Is your feature request related to a problem? Please describe.**
Currently kubectl is [included in the builder base image](https://github.com/kadalu/kadalu/blob/devel/extras/Dockerfile.builder#L17). From a security standpoint the images providing the actual work should be as lean as possible.

Furthermore, there exist arguments that users should be allowed to use a kadalu pod as a "base of opera

[2022-06-14 14:46] leelavg commented on #843
- when I saw only the issue summary, first thing occured to me was rook-ceph toolbox and you did mention that 😃
- I also see a couple of msgs in slack asking for troubleshooting docs/steps and I feel having a separate toolbox will be a good start

[2022-06-14 15:43] Timoses commented on #837
Here are logs:
At around 15:20 - Provisioned Kadalu including a Replica3 KadaluStorage across all nodes
At around 15:30 - Created a test app with PVC, removed it (including PVC) and created it again.

The `kadalu-provisioner` container first logged 1 empty line every couple of seconds. It keeps logging it even when the PVC is removed. After creating test app with PVC again it started logging 2 emp

[2022-06-15 06:14] leelavg commented on #830
- Warning from provisioner pod can be neglected and this'll not be seen from next release
- seems metrics from operator pod is still wonky, will take a look, however not on priority right now i'd say

[2022-06-15 16:55] pncps99 opened #846 "[Bug]: Pods are not able to mount volumes because of stale file handle"
**Describe the bug**
Pods are not able to mount volumes because of stale file handle (prints and logs are below). After fixing a previous bug where the storage pools were mismatching the `volume_id` in the `KadaluStorage` CRD, this bug persisted. This happened suddenly, as after the initial installation of Kadalu everything was working as expected; probably some changes on the cluster caused this.

[2022-06-16 02:28] aravindavk opened #847 "[RFE]: Code organization to improve the build/requirements issues"
Code reorganization: For better reuse of common code and to avoid redundant copies of Python files.

[code]
- kadalu will become main package and all others are sub packages. Common code can be accessed as `from kadalu.common import execute`
- `setup.py` can list all the dependencies in one place.
- `setup.py` also creates executables using console script
[code]

In respective Dockerfile, copy thi

[2022-06-16 02:50] amarts commented on #846
I saw the log like below: If this is the case, was the disk attached for the server used somewhere else? Please remove the xattr of 'volume-id' and try again if its empty, or use some other disk.

[code]

[2022-06-16 04:38] leelavg commented on #847
- I've some doubts around using only setup.py and not pip-compile
- Will the console_scripts takes care of copying required modules?
- Either ways, can we do a release sometime this week and work on reorganisation at the earliest?

[2022-06-16 06:02] aravindavk commented on #847
Anything is fine. Since this is controlled setup, Even virtual env is also not having many advantages compared to direct installation of modules.

Console script creates a binary file in `/usr/bin` which calls the specified module and function. https://python-packaging.readthedocs.io/en/latest/command-line-scripts.html#the-console-scripts-entry-point

Ack for the release. This is not a release blo

[2022-06-16 06:33] #837 closed, assigned to nobody

[2022-06-16 06:34] #737 closed, assigned to nobody

[2022-06-16 18:45] Timoses opened #850 "[RFE]: Helm vs Jinja2"
**Is your feature request related to a problem? Please describe.**
It's no fun [manually syncing Jinja2-generated manifests and helm chart files](https://github.com/kadalu/kadalu/pull/848#issuecomment-1157739688).

**Describe the solution you'd like**
Why not separate into:
* `templates/` directory contains only templated manifests rolled out by the operator (or kadalu controll plane)
* The rest g

[2022-06-17 03:20] leelavg commented on #850
- No we are not generating helm chart template from jinja2 manifests

General Info:
1. `templates/` contain all the Jinja2 files either user deployed or kadalu deployed
2. some of the files here will go into `manifests/` dir after generation in a PR and to releases pages for direct deployments via `curl`
3. user generally deploys `kadalu-operator*.yaml` and `csi-nodeplugin-*.yaml` (the separation

[2022-06-17 03:20] aravindavk commented on #850
Jinja templates are used in other places like Volfile generation and a few other places.

We can shift to use Helm templates only for Kubernetes specific yaml files and continue using Jinja for other Gluster specific templates(Volfiles). Instead of complicating the current Operator code by bringing more dependencies, I like the idea of generating the Helm templates itself from the Jinja Templates.

[2022-06-17 03:29] leelavg commented on #825
- should work with v0.8.15 now, reopen if there are any issues.

[2022-06-17 03:29] #825 closed, assigned to nobody

[2022-06-17 09:08] leelavg commented on #850
- I'll refactor user deployable manifests to be generated from helm
- kadalu deployable manifests will be untouched

Is that fine @aravindavk ?

[2022-06-17 11:58] TonyBogdanov opened #852 "[Bug]: High CPU usage in operator"
**Describe the bug**
When the operator is running on a cluster with nodes that are frequently rotated, the operator goes into a state of high CPU usage the first time a large batch of nodes are added/removed, and remains there indefinitely.

In my particular case I have 20 ephemeral nodes that are provisioned in order to handle some jobs and then deleted about 10 minutes later. During that time th

[2022-06-17 13:22] Timoses commented on #850
It is possible. However, it is cumbersome. One needs to analyse in which order Helm parses the template files (which is not alphabetical xD). It might sound trivial, but it's an effort that can be spared on our valuable dev brains :).

---

Sounds compelling, though I wouldn't recommend using two templating engines piped into one another. It'll end up with only the last pipe producing real valuabl

[2022-06-17 13:49] leelavg commented on #850
- agreed

- nope, CLI tool is stateless, it reaches out to github releases if local option isn't provided. So, no issues.

- yep, that's the final deal. I think it'll be pretty straightforward
- iirc, `helm template` couldn't generate namespace yaml, apart from that every change of user deployable content will go to `helm/kadalu` folder alone and we use `helm template` in `gen-manifest` target
- a

[2022-06-18 10:07] c-seeger commented on #124
for reference if others come accross this can be fixed [see Recreation of storage-pool with existing Volume ID](https://kadalu.io/docs/k8s-storage/latest/storage-config-options/) by adding volume_id from the error message to the creation yaml

[2022-06-18 20:22] #362 closed, assigned to nobody

[2022-06-18 20:22] #509 closed, assigned to nobody

[2022-06-18 20:22] #679 closed, assigned to nobody

[2022-06-18 20:22] #562 closed, assigned to nobody

[2022-06-18 20:22] #675 closed, assigned to nobody

[2022-06-19 11:51] TonyBogdanov commented on #852
Persists in release: **0.8.15**.

[2022-06-19 23:48] #700 closed, assigned to nobody

[2022-06-19 23:49] #676 closed, assigned to nobody

[2022-06-19 23:49] #542 closed, assigned to nobody

[2022-06-19 23:49] #721 closed, assigned to nobody

[2022-06-19 23:50] #709 closed, assigned to nobody

[2022-06-20 07:06] leelavg commented on #852
- are you using metrics exported by operator?
- as you stated network transfer I believe operator is trying to get metrics from all kadalu components and when nodes being ephemeral in your use-case that might be the reason increasing the CPU
- if you aren't using prometheus scraping we need to look the issue from different perspective as operator to my knowledge doesn't communicate with nodeplugin

[2022-06-20 07:14] TonyBogdanov commented on #852
@leelavg Thanks for the quick response and yes, I am using prometheus. I have an in-house operator handling some other stuff including auto-growing PVCs, so I need the metrics.

Now that I think about it, the operator trying to communicate with the nodes is most probably the cause of this. In addition I often get timeouts or `Internal Server Error` responses when trying to access `/metrics.json` p

[2022-06-20 07:21] leelavg commented on #852
- yes, that's how it's implemented, when prom scrapes operator ep, operator will in-turn reaches out to all kadalu components for new data

- maybe in most of the scenarios the cache maybe invalid? for ex: in your case, a data point from nodeplugin-a might not exist after the job completes

@aravindavk any deductions for the issue?

[2022-06-20 07:25] TonyBogdanov commented on #852
True, but it has to be a compromise either way I think.

If cached we risk stale metrics for whatever the scraping interval is configured to be. But if we scrape each time we risk high CPU and timeouts. But even if fresh metrics are more important so that the current implementation is the better way, at least it should be able to fail gracefully for unreachable nodes. Right now I either get intern

[2022-06-20 07:47] leelavg commented on #852
- ack, we can introduce the classic solution, the rate-limiter assuming prom metrics scraping are DDoS attacks 😅
- however, doesn't prometheus has a scrape interval which can be adjusted, basically fixing at the source (prom config)/outside of kadalu?
- I'd vote for adjusting prom scrape duration, we'll think of rate-limiter only as a last resort

[2022-06-20 08:55] TonyBogdanov commented on #852
@leelavg The problem is not the rate of scraping, I mean, sure, that'll help with CPU usage overall. But the real issue is the operator *crashing* (sort of) when it's unable to reach one of the CSI nodes during a request from prometheus.

If it were able to fail gracefully and just skip that node in the metrics when prometheus asks for metrics, that'd be totally fine by me. As long as that one "br

[2022-06-20 08:59] leelavg commented on #852
- makes sense, noted.

- I'll wait for @aravindavk / @vatsa287 to respond on this as I didn't get a chance to look at current metrics ops good enough
- Pls expect a delay in response, temporarily you might want to stop metrics scrapping 🤔

[2022-06-20 09:03] TonyBogdanov commented on #852
@leelavg Actually I have a script which restarts the operator process once each 5 minutes and it works just fine this way. Which is why it's making me think about this "accumulation" scenario.

So, regardless of the number of nodes currently in the cluster, the operator works fine as long as we are not adding / removing a bunch **while** the operator is running.

I've tested it with 70 nodes and i

[2022-06-20 19:26] bodleytunes opened #855 "Unable to delete storage pools, keep respawning"
Hi there,

I've got myself into sticky situation.

I'm Having to try and manually delete the storage pools because I'm getting this

[code]

So then I try and delete the statefulset

And the required storage pool pod is deleted, but then after rebooting my kube node the pods are re-spawned so I have this limbo of a non existent storage pool and these pods hanging around?

Not sure what to do to fo

[2022-06-20 20:04] bodleytunes commented on #855
Ah its okay I think I've managed to delete via the configmaps

[2022-06-20 21:12] #855 closed, assigned to nobody

[2022-06-21 15:30] ghost opened #856 "[Bug]: storageclass.storage.k8s.io "kadalu.ext-conf" not found"
Hello dear community!

Steps to reproduce the problem:

1. Install GlusterFS in three nodes (2 replica + 1 arbiter).
2. Create K8s cluster (kind used).
3. Kadalu installed.
4. Created KadaluStorage:

[code]

5. Created PVC:

[code]

Expected: working PVC.

Actual:

[code]

**Environment:**

[code]

Thanks a lot for the help!

[2022-06-21 16:23] amarts commented on #856
Can you check the operator log if this storage config started properly? Looks like the key should be `gluster_hosts`

[2022-06-21 16:50] aravindavk commented on #856
Run `kubectl get storageclass -n kadalu` to see if the Storage Class for the external volume is created or not.

[2022-06-21 17:27] ghost commented on #856
@amarts omg, you're absolutely correct, thank you a lot! 🥇

[2022-06-21 17:27] #856 closed, assigned to nobody

[2022-06-21 17:28] ghost commented on #856
@aravindavk with `gluster_hosts` everything correct:

[code]

[2022-06-21 18:28] ghost commented on #806
[code]

[code]

Same issue on `0.8.15` version: `ERROR [main - 871:csi_driver_object_api_version] - Failed to get version of csi driver object	 error=error 1 Error from server (NotFound): csidrivers.storage.k8s.io "kadalu" not found`

[2022-06-21 18:31] ghost commented on #806
PVC do not working:
[code]

[2022-06-21 20:49] bodleytunes opened #857 "Transport Endpoint Not connected"
Hi All,

I seem to have hit a snag where when I delete namespace with a load of PVC's, when I recreate the namespace, the storage hangs and the PV's are not created.

I can see the error "transport endpoint not connected" for the PVC's

[code]

Other than I don't really know why it fails to recreate the PV's.

Any ideas where to look or what to check?

my storage classes were created as follows:

[2022-06-22 01:32] leelavg commented on #806
- better we change this to INFO, it's creating confusion, this can be disregarded

- maybe for real resource is exhausted, with the info provided can't strike that out

@ox7a59

[2022-06-22 01:38] leelavg commented on #857
- Well, the pool cr `metadata.name` is `standard` and the log is from storageclass `kadalu.critical`
- Could you pls recheck your setup?

[2022-06-22 07:05] ghost commented on #806
[code]
[code]

Seems that previous time I have not enough space
Thank you! @leelavg

[2022-06-23 16:57] bodleytunes commented on #857
ok will check

[2022-06-27 10:18] pncps99 commented on #846
Sorry for the delay in the response,

I tried removing this `xattr` as you mentioned in the `server-storage-pool-charity-1-0-0` pod from the statefulset `server-storage-pool-charity-1-0` but it didn't change anything. Now the error takes this form:
[code]
`KadaluStorage` CRD has the correct `volume-id` and `kadalu-info` `ConfigMap` also has the correct `volume-id` value. The same is true for the s

[2022-06-28 00:28] #702 closed, assigned to nobody

[2022-06-28 00:28] #726 closed, assigned to nobody

[2022-06-29 08:30] handrea2009 opened #858 "[RFE]: No way to change the setting of the gluster volume created by Kadalu"
**Is your feature request related to a problem? Please describe.**
In native mode there's no way to change the setting of the gluster volume created by Kadalu
I am using kadalu in the development of a Samba service and on gluster volume write-behind must be turned off to avoid corruption, so I can't use native mode and I have to use external mode

**Describe the solution you'd like**
I would like

[2022-06-30 16:38] leelavg commented on #858
- Good to hear Samba again (https://github.com/kadalu/kadalu/issues/654), I'm eyeing on csi-proxy project to use in kadalu from when it was GA'd 😅
- Atleast, we'll try to provide a good enough solution for above
- Btw, a lot of recent work is happening in another branch which streamlines gluster usage in containers as smooth as standalone installations with a unified management layer 😃

[2022-07-01 10:59] leelavg commented on #846
- initial

- after removing xattr
- two are contradicting log msgs 😞

what's the current state of your machine?

[2022-07-01 11:18] leelavg commented on #846
- just reading through stateful set wrt `volume_id` in kadalu
- this isn't intended to be used when we have a running a cluster, it's used to re-use same disks which were used by kadalu/gluster before at the start of creating storage pool
- in that sense, setting this option on existing storage pool CR will not be propagated to server pods
---
- let's assess your machine state again, pardon the in

[2022-07-01 11:21] leelavg commented on #802
- could you pls provide current state of your cluster and corresponding issues
- pardon the inconvenience

[2022-07-01 11:40] #850 closed, assigned to leelavg

[2022-07-01 11:52] leelavg commented on #761
fixed leaf nodes deletion in #828

[2022-07-01 11:52] #761 closed, assigned to nobody

[2022-07-01 11:53] leelavg commented on #8
ping @aravindavk ^^, can this be closed?

[2022-07-01 11:56] leelavg commented on #569
can this issue be closed @golyalpha ?

[2022-07-01 12:01] leelavg commented on #779
@vincentchong1 are you still facing the issue?

[2022-07-01 12:06] leelavg commented on #804
@pantxisto if your machines are stable now, pls consider closing this issue. thanks.

[2022-07-03 02:24] leelavg commented on #838
Hi @Timoses
- I want to have this conversation after initial cut is passing CI, since it's working now, do you want current PR to be merged and still like to work on moving rbac to single file in separate PR?
- If you can't take that up, I need to work on that since having all rbac in a single place seems to be the correct way for visibility and debugging.

[2022-07-03 15:10] Timoses commented on #838
I added a commit which puts it into a single `rbac.yaml`. Feel free to remove the commit or leave it in.

Since CSI-Nodeplugin is a separate chart, I'd leave the RBAC things separate, too.
Though, perhaps it should also be called `rbac.yaml` there also then?

[2022-07-03 16:52] leelavg commented on #838
- I'm thinking more like,
1. operator_rbac.yaml - role, rolebinding, serviceaccount of operator
2. controllerplugin_rbac.yaml - role, rolebinding, serviceaccount of csi controller (including side cars)
3. nodeplugin_rbac.yaml - similar content as above but separate chart

I believe it'll neither be too detailed (rbac file for every resource of every component) nor single bulky one, agreeable?

[2022-07-03 17:58] Timoses commented on #838
Not sure what extra info would be extracted from naming files. The (cluster)role(binding) resource names are already pretty self-explanatory, aren't they? Plus, most of the time people don't even look at rbac that closely. But if they do, it's in one file.

I don't see the advantage of separating over several files ;).

[2022-07-05 14:40] Timoses opened #861 "[Bug]: csi-external-attacher sidecar running though not used"
**Describe the bug**
Apparently, the csi-external-attacher sidecar is not used by Kadalu (see https://github.com/kadalu/kadalu/pull/848#discussion_r913323770). However, it is running as a sidecar: https://github.com/kadalu/kadalu/blob/devel/templates/csi.yaml.j2#L224

**To Reproduce**
Deploy Kadalu ...
See https://github.com/kadalu/kadalu/blob/devel/templates/csi.yaml.j2#L224

**Expected behavior*

[2022-07-05 19:11] golyalpha commented on #569
I have no stake in this anymore (see https://github.com/kadalu/kadalu/issues/772#issuecomment-1074979863), and it seemed to be a mostly transient issue (as I mentioned - node reboots generally helped alleviate the problem).

If the part about mounting a de-facto emptyDir (idk if it was an actual emptyDir, or a new PV on the brick, or if the data just spilled out somewhere else into the host fs) ha

[2022-07-06 02:15] leelavg commented on #569
Ack, will track any issues pending in #772

[2022-07-06 02:15] #569 closed, assigned to nobody

[2022-07-06 04:27] #838 closed, assigned to nobody

[2022-07-06 06:13] #836 closed, assigned to nobody

[2022-07-06 19:45] ghost opened #864 "[Bug]: do not have significant metrics in prometheus"
Hello dear community!

In Prometheus I only have `container_blkio_device_usage_total` metric. I cannot see PV or PVC usage.

1. `Kadalu` installed via `Helm` (`operator` + `csi-nodeplugin`)
2. Connected to external `GlusterFS` (via `KadaluStorage`)
3. No significant metrics are available (especially about storage usage)

Kubernetes version: `1.23.7`
For Prometheus + Grafana I am using [kube-promet

[2022-07-08 10:46] ghost opened #865 "[Bug]: sum of pv greater than external gluster could provide"
Hello dear community!

I have following:

[code]

`200 (Gluster) < 279 (PVC) (50+50+20+13+8*7+30+30+30)`

`Kadalu` installed via `Helm` (`operator` + `csi-nodeplugin`)
Connected to external `GlusterFS` (via `KadaluStorage`)

How what could be possible?

Thanks in advance!

[2022-07-09 18:09] amarts commented on #865
With external GlusterFS, kadalu's quota logic needs to work with you configuring the quota server etc (refer: https://kadalu.github.io/docs/k8s-storage/latest/external-gluster-storage/ (Using GlusterFS directory quota to set capacity limitation for external gluster volumes). If this is not followed, the above behavior can happen.

[2022-07-10 03:25] #727 closed, assigned to nobody

[2022-07-10 06:35] amarts commented on #823
Ran some tests today, and found the issue. It needs a minor fix in glusterfs's disperse module to work. Will send the fix upstream.

[2022-07-10 06:36] amarts commented on #823
This is happening in disperse volume type only, and the size is increased by the number of data nodes used in disperse setup. Not in replica or only distribute mode.

[2022-07-13 05:08] leelavg opened #866 "[Bug]: Fix current CI Test Infra & Testing"
Notes from general observation and usage of github actions upto now:
1. Use a specific ubuntu version rather than latest
2. Refer the tools pre-installed in that runner, for ex: [ubuntu-2204](https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2204-Readme.md)
3. Install only the tools that are required and prefer versions that comes pre-installed
4. Update the base runner

[2022-07-13 14:32] #839 closed, assigned to nobody

[2022-07-15 14:51] a10sbraun opened #867 "[Bug]: Tolerate may not work or I just do not get it"
**Describe the bug**
Replica3 does not work as I the pool will not be scheduled to the master (toleration seems not to work) and will not be applied to the pool pods.

Replica2 (my favorite) the pool keeps restarting and crashing, also I do not know if I have to setup the tie-breaker or not, as the description is not really available. I would expect from the operator to setup the tie-breaker which

[2022-07-15 14:59] leelavg commented on #867
1. Taints and tolerations aren't documented due to #749
2. Code doesn't exist for taints & tolerations of provisioner pod at all
3. Maybe we can bring in a separate configmap for configuring operator rather than dumping everything in CRD 🤔

[2022-07-15 15:03] leelavg commented on #867
- kadalu doesn't get the nicety that other go-lang operator gets, namely the power of controller-runtime
- we follow a very simple approach and bringing another CRD is too much hassle

[2022-07-15 15:10] a10sbraun commented on #867
would it not possible to get it working / configurable via the install process kubectl kadalu install already allows local yaml files, again, why not having something like custom-resources or a way to add it / modify the existing operator yaml

[2022-07-19 22:44] Expro commented on #852
I'm experiencing same issue (high CPU usage of operator), but my environment is static - 3 nodes, none added or removed. Operator starts fine and uses CPU in sane manner, but after some time it starts hammering API server, making both operator and API server pods burn CPU cycles.

[2022-07-20 01:40] leelavg commented on #852
@Expro do you also use prometheus?

[2022-07-20 07:34] Expro commented on #852
No.

[2022-07-20 08:15] leelavg commented on #852
@Expro then it might be a different, better raise a separate issue.

At the same time do you see continuous error logs in operator?

[2022-07-20 08:30] Expro commented on #852
No, nothing - operator's logs just lists ConfigMaps for StorageClasses. No new entries before and after CPU usage elevation.

[2022-07-20 08:42] Expro commented on #852
CPU ramps up in less than 1 hour without any admin activity on cluster:
![image](https://user-images.githubusercontent.com/381025/179938112-10ad7b4c-cde1-4a45-96e8-a446708b3026.png)

I'm on 0.8.15, for 0.8.14 behaved in same way.

[2022-07-20 09:05] leelavg commented on #852
- thanks for checking
- that chart definitely shows some issue exist in operator
- can you set `VERBOSE` env value to `yes` in operator deployment
- this will not have any side effect in a running cluster

[2022-07-21 09:58] Expro commented on #852
Changed VERSOBE to yes. Operator did change level of details for log messages (so it was applied correctly), but there is no new log entries between time when operator was working correctly and time when operator started smashing API server. CPU ramped up without any trace in operator's log,

[2022-07-21 13:48] a10sbraun commented on #852
I notice the same after some time, even if it idles.
Operator (on node1) stress my K3S server (api)

[code]
![Screenshot from 2022-07-21 15-38-26](https://user-images.githubusercontent.com/74243350/180228170-6ec254eb-e1c9-44df-bfec-c65c48ed0d68.png)

and here after deleting
![Screenshot from 2022-07-21 15-48-01](https://user-images.githubusercontent.com/74243350/180229564-acc98084-8e06-4474-be54-4

[2022-07-21 16:15] leelavg commented on #852
- woah, three instances of same issue
- will take a look at the earliest
- I'm assuming https://github.com/kadalu/kadalu/blob/ed620e/kadalu_operator/main.py#L885-L889 is the suspect
- I may not be able to reproduce this in my dev k3d env so pls expect some delay

[2022-07-25 08:28] ghost opened #869 "[Bug]: how to monitor pvc usage with kadalu in prometheus"
Hello dear community!

1. `Kadalu` installed via `Helm` (`operator` + `csi-nodeplugin`)
2. Connected to external `GlusterFS` (via `KadaluStorage`)
3. No significant metrics are available (especially about `PVC` usage)

Kubernetes version: `1.23.7`
Kadalu version: `0.8.15`

Please, could you help me how to monitor `PVC` usage?

Thanks in advance!

[2022-07-25 08:28] #864 closed, assigned to nobody

[2022-07-25 10:55] ghost commented on #865
Thanks a lot, really help :)
@amarts btw, could we add quota via `gluster.gluster.gluster_volume module` Ansible module `options` parameter?
Just because we wanna use it in IaC way

[2022-07-25 10:58] amarts commented on #865
I haven't used quota with ansible. If it supports the quota setting, i believe you can use it.

@sac any help here? Does gluster ansible support quota?

[2022-07-25 10:59] ghost commented on #865
I need only to switch quota to "enable" and that's all.

[2022-07-28 10:20] ghost commented on #869
@amarts @aravindavk @leelavg could you please help?

[2022-07-28 12:18] ghost commented on #865
[code]

[2022-07-28 12:18] #865 closed, assigned to nobody

[2022-07-28 12:59] leelavg commented on #869
1. Kadalu currently exports these metrics https://github.com/kadalu/kadalu/blob/ed620e12493bd87f0f91beb980de7eb6c2a547dd/kadalu_operator/metrics.py#L3-L23
2. Sample from the CI
[code]
- in native format
[code]
- we don't ship any alerting rules and you need to create them using the available metrics
- apart from metrics that are exported by kadalu, prom when deployed on k8s comes with a discovery

[2022-07-28 13:03] ghost commented on #869
@leelavg I don't have `kadalu_pvc_free_capacity_bytes` and `kadalu_pvc_used_capacity_bytes`

![image](https://user-images.githubusercontent.com/89127595/181511771-87bbb926-c258-4898-bf61-54f1ce7f7735.png)

[2022-07-28 15:32] leelavg commented on #869
phew! back2back meetings 😅
- from above snap it's not obvious however I'm taking your word for it not showing up there
- I really need to look into code on why those aren't available
- No metric with `kadalu_pvc_*` is available?

[2022-07-28 15:34] ghost commented on #869
@leelavg no metric with `kadalu_pvc_*` is available :c

[2022-07-28 15:37] leelavg commented on #869
- ack, checking on mobile is tough, will take a look tomorrow.

[2022-07-28 15:43] leelavg commented on #869
@ox7a59 took a quick look, ntg looks suspicious. you do have PVCs from kadalu in use right?

[2022-07-28 15:44] ghost commented on #869
@leelavg yes, I have 3 PVCs

[2022-07-29 03:13] leelavg commented on #869
@ox7a59 what's the o/p of below?
1. `kubectl port-forward -l app.kubernetes.io/name=kadalu-csi-provisioner 8050:8050`
2. `curl -s 127.0.0.1:8050/_api/metrics | python -m json.tool`

@vatsa287 some of the metrics ops are still foreign to me 😅, could you pls take a look at above? thanks.

[2022-07-29 03:15] vatsa287 commented on #869
Sure I'll have a look at it

[2022-07-29 05:45] ghost commented on #869
@leelavg @vatsa287
[code]

[2022-07-29 06:24] leelavg commented on #869
- thanks, some parsing issue.
[code]

[2022-07-29 06:25] ghost commented on #869
@leelavg I changed manually :)

[2022-07-29 11:08] ghost commented on #869
what problem could be? I use kadalu with external Gluster...

[2022-07-31 04:34] abelard2008 opened #872 "[Bug]: How to modify Dockfile for sample-app failed？"
in Kubernetes' master, I got :
[code]
But my sample-app failed:
[code]
I don't know how to correct it,  also, where to find "mount ... /mnt/pv" command?

Best REGARDS

[2022-07-31 04:48] leelavg commented on #872
1. PVC claim should exists in sample app at specific location before it should be run
2. ptal at https://github.com/kadalu/kadalu/tree/devel/extras/sample-app

[2022-07-31 04:58] vatsa287 commented on #869
@leelavg @ox7a59 Maybe have to check with this method [`yield_pvc_from_mntdir`](https://github.com/kadalu/kadalu/blob/89aa431c562697070c67e604efec24a350baf21f/csi/volumeutils.py#L1447l) returns pvc found at this [`path`](https://github.com/kadalu/kadalu/blob/89aa431c562697070c67e604efec24a350baf21f/csi/volumeutils.py#L1449) for external type or not. I do not have setup for external but this might

[2022-07-31 05:01] vatsa287 commented on #872
@abelard2008 Please check
` $ kubectl get pvc`, pvc is found & use its name in pvc fle under `claimName` section.

[2022-07-31 06:34] abelard2008 commented on #872
@vatsa287
[code]
After that, I exec `kubectl apply -f sample-app.yaml`?
The following is content of `sample-app.yaml`:
[code]
right?

But after `kubectl apply -f sample-app.yaml`, I still got:
[code]
Thank you !

[2022-07-31 09:06] leelavg commented on #869
- External or not, we are peforming the ops from provisioner/nodeplugin which is basically a gluster client mount
- Moreover, from https://github.com/kadalu/kadalu/issues/869#issuecomment-1198902633 I believe the required info is available from the provisoner pod

[2022-07-31 10:01] vatsa287 commented on #869
Ack

[2022-08-01 04:28] ghost commented on #869
@leelavg @vatsa287 in [#869 ](https://github.com/kadalu/kadalu/issues/869#issuecomment-1198902633) I have 3 PVCs, but same free, used, and capacity size bytes. I suppose we have a problem here. Just because total size is equal to one disk from Gluster, and free size is simply equal to `df`. But I need e.g. free size of each PVC (for example I have PVC for 1 GB), and this create a problem, because

[2022-08-01 09:23] leelavg commented on #872
- shouldn't is be `kubectl logs sample-app` @abelard2008 ?

[2022-08-01 09:30] leelavg commented on #869
- what method are you using for quota in external gluster cluster?
- referring https://kadalu.github.io/docs/k8s-storage/devel/external-gluster-storage/, is it `kadalu-quotad/gluster native quota via ssh/1 PVC : 1 Gluster vol`?

[2022-08-01 09:35] ghost commented on #869
I have enabled quota for volume: ```gluster volume quota <volname> enable```

Then added SSH key via SecretMap: ```kubectl create secret generic glusterquota-ssh-secret --from-literal=glusterquota-ssh-username=<username> --from-file=ssh-privatekey=<ssh_privatekey_path> -n kadalu```

Then killed pods from `kadalu` to restart all of this.

[2022-08-01 09:37] abelard2008 commented on #872
[code]

[2022-08-01 09:37] leelavg commented on #869
- is there anyway that i can access the cluster? if above is a test environment?

[2022-08-01 09:39] leelavg commented on #872
- it should be `kubectl logs pod1` as per your yaml manifest, I meant `sample-app` as placeholder 😅

[2022-08-01 09:41] abelard2008 commented on #872
@leelavg Sorry，^_^
[code]

[2022-08-01 09:45] leelavg commented on #872
- there you have it, everything's working as expected
- what's your expectation apart from above and you shouldn't be running `docker run` when you actually deployed an app using `kubectl` those two are mutually exclusive.

[2022-08-01 09:49] ghost commented on #869
I suppose no, but I can do everything you send me. Just explain which moments I need to test/debug and I will find
Thank you!

[2022-08-01 09:54] abelard2008 commented on #872
@leelavg Thank you for your patience. Based on your comment above!
I create another sample:
[code]
I exec `kubectl apply -f sample-use-pvc.yaml`
the results for `kubectl get pods`
[code]
and exec `kubectl exec -ti pod-taocloudx -- /bin/sh`
and `df -Th` after entering into the terminal:
[code]
Right?

[2022-08-01 09:58] leelavg commented on #872
- Yes, I don't see an issue here. Am I missing anything?
- I can see `df -h` is empty but not `df -Th`, do you mean that as an issue?
- Can you provide the issue/problem details that you are facing?

[2022-08-01 10:06] abelard2008 commented on #872
@leelavg Sorry，My problem does not belong to issue，because  I am not familiar with k8s and I am done now.
But I can not access Slack, So I submit an issue here. Now what should I do？Thanks.

[2022-08-01 10:08] abelard2008 commented on #872
@leelavg Sorry，My problem does not belong to issue，because  I am not familiar with k8s and I am done now.
But I can not access Slack, So I submit an issue here. Now what should I do？Thanks.

[2022-08-01 12:14] leelavg commented on #869
- went through a single pass and able to get some metrics from external to the operator
- however these metrics aren't transformed correctly into prom txt format, might take a second pass when I get time
- I do see the free & size is available correctly, but not the inodes and no need to look into inodes as of now I guess
[code]
- From provisioner container
[code]

[2022-08-01 12:17] leelavg commented on #872
- oohk, I understood that you are not familiar with k8s
- what does this github issue should achieve for you? I still don't get the expectation from Kadalu community 😅

[2022-08-02 03:28] #872 closed, assigned to nobody

[2022-08-02 15:36] ghost commented on #869
@leelavg how did you install external Gluster + Kadalu, so you got these metrics?
I have installed external Gluster by [this](https://docs.gluster.org/en/main/Quick-Start-Guide/Quickstart) manual. I have replica 2 + 1 arbiter.

[2022-08-02 16:05] leelavg commented on #869
- I got above metrics after making changes as mentioned in #873
- Those changes are creating regression and so marked the PR as draft
- Totally occupied with day work and unable to squeese time to refresh the PR
- How I created the gluster vol isn't important, I just force created a 1 brick vol for testing

[2022-08-02 16:47] ghost commented on #869
Thank you, looking for a new release of Kadalu

[2022-08-12 18:11] vincentchong1 commented on #779
@leelavg , yes it is still an issue.

[2022-08-12 18:28] vincentchong1 commented on #779
following are recent capture from another set up, show the same issue,
pvc-324d8e41-bb34-4333-845a-09ff687b466a is shown 100% used, but the real usage is lower.

[code]
I did setfattr below successfully, but issue is not remedied either.
[code]

[2022-08-16 18:02] natanbs opened #875 "Helm installation - KadaluStorage race condition"
Hi,
I am installing Kadalu (external) installing with Helm and found a race condition:
Kind KadaluStorage does not create the pv unless the operator / provisioner are in "Running" state. So KadaluStorage kind must be created only after kadalu is up and running.
And I can't use a post installation hook to create the kind object.

Currently I apply the KadaluStorage once the helm installation is com

[2022-08-17 01:50] leelavg commented on #875
- hello, thanks for raising the issue.
- this should be a straight-forward fix since we solely use helm for manifest generation now
- iirc, just moving the CRDs into `crds/` dir of helm would be good enough

will take a look at the earliest.

[2022-08-18 19:41] ghost commented on #869
Hello!
Any progress on this?

[2022-08-19 11:00] leelavg commented on #875
- #877 should fix the CRD issue however there's still a chance that your app hook might fail if your workload ask for a kadalu pvc before operator is running
- do you have anything to add?

[2022-08-19 12:31] leelavg commented on #867
- with #878 we'll have the ability to make `server` pods occupy tainted nodes
- however, I feel this feature isn't required for provisioner and nodeplugin

[2022-08-22 08:27] leelavg commented on #869
- able to achieve below, might refresh the PR at the earliest
[code]

[2022-08-22 11:56] leelavg commented on #852
- not able to reproduce the high cpu issue in my setup
- as the original observation is for the ephemeral nodes, in the linked PR I removed redundant data collection from nodeplugins, hopefully it should've some positive effect

[2022-08-23 11:00] #749 closed, assigned to nobody

[2022-08-24 10:38] ghost opened #881 "[Bug]: PVC periodically falls off"
Hello dear community!

1. `Kadalu` installed via `Helm` (`operator` + `csi-nodeplugin`)
2. Connected to external `GlusterFS` (via `KadaluStorage`)

Kubernetes version: `1.23.7`
Kadalu version: `0.8.15`

Periodically, PVC in pods become in 'Socket not connected state'. Deleting kadalu pods & pod with PVC solve the problem.

Log: https://file.io/KwgWueLB3VQu

Thanks in advance!

[2022-08-24 11:34] leelavg commented on #881
- The log is huge and will get back to the issue, in the meantime your automation/prom scraping is hammering the kadalu metrics collection, you may want to increasing the scraping interval
[code]

[2022-08-24 11:42] leelavg commented on #881
- ntg is evident from the logs except below
[code]

- Simply scaling your app pod should fix this, mostly the underlying nodeplugin restarted and workloads running on that node if using kadalu pvc has lost mount availability
- This is a known issue across CSI plugins which provides FUSE based storage

[2022-08-24 11:47] ghost commented on #881
@leelavg so your suggestion is to try is to scale `kadalu-csi-provisioner-0`?

[2022-08-24 11:47] ghost commented on #881
or to scale pod with running app (loki e.g.)?

[2022-08-24 11:49] leelavg commented on #881
- pod running the app if you had observed that kadalu nodeplugin on that node was restarted

[2022-08-24 11:54] ghost commented on #881
@leelavg then why kadalu do not restart itself in order to fix this, if PVC falls of app pod?

[2022-08-24 12:01] leelavg commented on #881
- nope, we (kadalu) will never restart the user workloads
- do you see any issues from nodeplugin to external gluster in the log @amarts, ptal when you get time

[2022-08-24 12:06] ghost commented on #881
from nodeplugin (after killing old pods): https://file.io/5QNUzvI8gBLo
if we will receive new fall off, will send

[2022-08-24 13:08] leelavg commented on #881
- I never mentioned to kill nodeplugin
- Below are the kadalu components if you are using external gluster
1. operator
2. provisioner
3. nodeplugin
- when you perform ops on storage pool (kadalu CR), operator is involved
- when you create/delete PVCs, provisioner is involved
- when you use the PVCs, nodeplugin is involved
- given above, let's say pvc-1 is created by provisioner and app-a claimed t

[2022-08-25 06:57] uroot666 opened #882 "[Bug]: PVC cannot be expanded"
**Describe the bug**
In replica3 mode, the host capacity is sufficient, but PVC cannot be expanded

**To Reproduce**
Steps to reproduce the behavior:
The host has 50g space, first create 20g PVC, and then expand to 30g

kadalu version：0.8.15

**image**
![1](https://user-images.githubusercontent.com/18516722/186596143-60b6106c-2d8c-4985-93eb-0d8c35bdec61.jpg)
![2](https://user-images.githubusercont

[2022-08-26 15:36] ghost commented on #881
One more log: https://file.io/SH7BGpkYQKgU
Here nodeplugin starts to send a lot of errors.

[2022-08-31 10:46] ghost commented on #881
New log when PVC falls of and nodeplugin container restarted with error: https://file.io/e524cp7Zq4HW

[2022-09-05 05:22] leelavg opened #885 "[Bug]: Remove possible disable args for pylint"
- We are currently disabling many pylint checks and it'd be better if an effort can be put into not disabling them
[code]

[2022-09-06 06:44] Santobert opened #887 "[Bug]: Released YAMLs use `devel` images"
**Describe the bug**
The released YAML files (https://github.com/kadalu/kadalu/releases/tag/0.8.16) use container images with the `devel` tag.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Download YAMLs from the latest release
2. Proceed according to the docs https://github.com/kadalu/kadalu/blob/devel/doc/upgrade.adoc
3. `kubectl-kadalu version`

[code]

**Expected behavior**
YAM

[2022-09-06 06:50] Santobert commented on #887
Is it safe to upgrade from the current `devel` version to 0.8.16, once this is fixed?

[2022-09-06 06:53] leelavg commented on #887
- at this point of time, there's no commit to devel branch and it's almost analogous to 0.8.16
- yes, the upgrade can happen but need to see whether to defunct 0.8.16 and release 0.8.17

[2022-09-06 07:19] leelavg commented on #887
@aravindavk / @amarts could you ptal, I may not be able to look into it 😓

[2022-09-07 12:37] #887 closed, assigned to nobody

[2022-09-12 09:37] #881 closed, assigned to nobody

[2022-09-12 09:37] #869 closed, assigned to nobody

[2022-09-18 18:33] demern opened #896 "Storage Type with dynamic replica count?"
I have a use case where a number of K8s pods deployed across multiple (specified) nodes need access to a shared pure replicate Gluster volume. In general, the number of nodes involved can be anywhere from 1 to 32, and can shrink or expand dynamically. We also have a requirement that, when removing or adding nodes/pod instances, the instances on unaffected nodes must stay up and available. Generall

[2022-09-19 13:12] aravindavk commented on #705
Summary of current changes:

## Operator Starting

* If Kadalu Storage manager config backup is available in Configmap then restore from it.
* Start Kadalu Storage manager (Create default user and login)
* Read the existing Configmap to get existing Pool info and upgrade the Pool info and update the Server pods. Start them if not already started. This is very important step to support upgrade.
* E

[2022-09-20 06:32] leelavg commented on #705
- can you provide a oneliner diff b/n the two?

- atm, we are only creating pools on first pv ask. With moana, we'll be ready with pool before PV ask comes, correct?

- so, Kadalu Storage as a product is `GlusterFS - glusterd + Moana agent`?
- at the end we'll be orchestrating `Kadalu Storage` and `Glusterfs External`?

---
- What'll happen to the runtime info of pools `info/stat.db/{rawblock,subv

[2022-09-20 06:54] leelavg commented on #896
- this sums up the gist for first para, doesn't it?

- iiuc, the ask from this para is impossible atm, not in-terms of scaling but in-terms of data healing + checks and balances for scaling
- Kadalu operator isn't sophisticated enough for performing these activities (if only we can convince other maintainers to re-write Kadalu Operator to reach feature-parity with golang based operators)
- having

[2022-09-20 20:58] demern commented on #896
Thank you very much for the reply. This seems to confirm my suspicion that Kadalu doesn't support this exact use case right now. I understand that adding such support is a large undertaking/not the highest priority for your project--just wanted to double-check before spinning my own solution using base Gluster functionality. I will definitely look into using Kadalu CSI with whatever I come up with

[2022-09-20 20:59] #896 closed, assigned to nobody

[2022-09-21 01:00] aravindavk commented on #705
External Kadalu is Kadalu Storage hosted outside the k8s that is managed by Moana. External Gluster is managed by Glusterd outside the k8s.

No. Now also we are creating Pool(Hosting Volume) on Storage add.

Project. Yes without glusterd and a few more patches to filesystem (We are keeping the patches minimum by sending all the fixes to Gluster upstream as well). Kadalu Storage is packaged from ht

[2022-09-21 02:04] leelavg commented on #896
@demern I believe you overlooked the solution that Kadalu provides for using External Gluster storage already rather than rolling up your own.

Have a look at https://kadalu.github.io/docs/k8s-storage/devel/external-gluster-storage/, it's already documented.

[2022-09-21 11:05] #650 closed, assigned to nobody

[2022-09-21 17:39] demern commented on #896
I'll also look into that. I guess what I meant by 'rolling my own' was that it's up to me to create/manage the volumes using Gluster, and also manage any dynamic changes in replica count of the volume myself, even if I make use of the Kadalu operator and 'external' storage type, right?

[2022-09-21 20:24] hunter86bg opened #897 "[Bug]: The RoleBinding "kadalu-operator" is invalid: roleRef: Invalid value: rbac.RoleRef{APIGroup:"rbac.authorization.k8s.io", Kind:"Role", Name:"kadalu-operator"}: cannot change roleRef"
**Describe the bug**
When applying kadalu-operator-openshift.yaml (0.8.16) , I get :
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Update to OKD 4.11
2. from version 0.8.14 or 0.8.15 apply the kadalu-operator-openshift.yaml manifest

**Expected behavior**
No errors to occur during the upgrade

**Actual behavior**
[code]

**Environment:**
[code]

 - Kadalu Version: 0.8.14 (also valid

[2022-09-30 08:45] fastlorenzo opened #902 "[RFE]: Host containers in ghcr.io (Github)"
**Is your feature request related to a problem? Please describe.**
Docker hub implemented rate limiting for pulling containers (100 pulls /6h /ip for unauthenticated users, 200 for authenticated users).
https://docs.docker.com/docker-hub/download-rate-limit/

**Describe the solution you'd like**
It would be great to push the Kadalu containers to GitHub packages (ghcr.io), this is free and would sh

[2022-09-30 10:52] leelavg commented on #897
- Something's changed but not sure what exactly it is that touched rbac.
- Could you please provide existing role binding?

[2022-09-30 19:07] hunter86bg commented on #897
[code]

[code]

[2022-09-30 19:11] hunter86bg commented on #897
Could it be due to :
[code]

  And why upgrading from 0.8.14 to 0.8.15 doesn't report the error ?

[2022-09-30 19:20] hunter86bg commented on #897
In kadalu-operator-openshift v0.8.15 , I can't an entry of kind 'RoleBinding' while in 0.8.16 it has it.
Maybe I should just adjust it as per my setup and then apply ?

[2022-09-30 19:21] hunter86bg commented on #897
Commented out the RoleBinding definition and applied - no issues reported.

[2022-09-30 19:40] hunter86bg commented on #897
Now it seems quite messy:
[code]

Interestingly we got:
[code]
[code]

@leelavg , why the 0.8.16 is tagged as devel ? Is it expected ?

[2022-10-01 02:06] leelavg commented on #897
- Ya, an issue with prev release, ref: #887
- I saw there was no `RoleBinding` for `kadalu` prior to 0.8.14, need to check this gap when I'm near my workstation

[2022-10-13 08:32] handrea2009 opened #903 "[Bug]: PVC deployment pending forever cause "Unable to set quota-deem-statfs via ssh""
**Describe the bug**
System is configured for using external gluster in kadalu native way and gluster quota, and I have more KadaluStorage's each pointing to a dedicated gluster volume. The quota is enabled only on some gluster volumes cause I don't need quota for all KadaluStorage's.
The problem is that in this configuration Kadalu assumes that you have quota enabled on all gluster volumes and so

[2022-10-15 13:21] Timoses opened #904 "[Bug]: server component attempts to mount /usr/lib/modules instead of /lib/modules"
**Describe the bug**
The following Feature Request was intended to be solved by adapting to FSH standards: https://github.com/kadalu/kadalu/issues/836
However, the related Pull request only changed the [path mounted into the container](https://github.com/kadalu/kadalu/blob/devel/templates/server.yaml.j2#L94). Not the [path that is mounted from the Host](https://github.com/kadalu/kadalu/blob/devel/

[2022-10-16 16:37] #789 closed, assigned to nobody

[2022-10-16 16:39] #763 closed, assigned to nobody

[2022-10-16 16:39] #765 closed, assigned to nobody

[2022-10-16 16:39] #764 closed, assigned to nobody

[2022-10-16 16:40] #623 closed, assigned to nobody

[2022-10-16 18:44] joejulian opened #905 "[RFE]: Add status to kadalustorage resource"
**Is your feature request related to a problem? Please describe.**
When the kadalustorage resource is created, there's a period of time in which the storage is not yet running yet there's no way to know when it's ready.

**Describe the solution you'd like**
I'd like at minimum a "ready" status that shows when the cluster is ready to serve.

Even better would be if it had statistics like pending/fa

[2022-10-17 16:07] skrobul opened #907 "[Bug]: Unable to install devel on aarch64"
**Describe the bug**

I have attempted to try kadalu using minikube running on M1 macbook - installation for both stable and `devel` version has failed.

**To Reproduce**
Steps to reproduce the behavior:
`kubectl kadalu install --type kubernetes`  deploys the operator pods, but the images for `0.8.17` are [missing from Dockerhub](https://hub.docker.com/r/kadalu/kadalu-operator).

`kubectl kadalu i

[2022-10-17 16:13] skrobul commented on #907
Update: the 0.8.17 images are now available in the registry - looks like I was lucky enough to learn about this project during release time... :)  The issue with invalid architecture for 'devel' image remains though

[2022-10-17 16:58] amarts commented on #907
Ah! You are right, you tried at the time when the release scripts finished uploading manifest files, but the docker image was not built.

About devel tag not working on M1/M2 Mac, it's a known issue, ie, the devel branch merge CI only pushes amd64 platform image. Mainly because of the time consumed for build on arm arch.

Considering our speed of changes have reduced, we can consider changing this

[2022-10-17 16:58] amarts commented on #907
Ah! You are right, you tried at the time when the release scripts finished uploading manifest files, but the docker image was not built.

About devel tag not working on M1/M2 Mac, it's a known issue, ie, the devel branch merge CI only pushes amd64 platform image. Mainly because of the time consumed for build on arm arch.

Considering our speed of changes have reduced, we can consider changing this

[2022-10-17 17:38] amarts commented on #905
what is the best method here? You prefer to have a `kadalu` command  or some options with k8s commands ?

[2022-10-17 17:41] amarts commented on #904
@Timoses thanks for pointing out. Looks like a one line fix, as you pointed.

Before one of us submit PR, would you like to send the PR ? We would surely like to have more contributors to project :slightly_smiling_face:

[2022-10-17 17:43] amarts commented on #903
Thanks for the report. The description gives main pointers to look into the issue. We will look into this soon.

[2022-10-17 17:45] amarts commented on #902
Thanks for the suggestion. We will surely consider this.

[2022-10-17 17:46] amarts commented on #897
@hunter86bg is the issue still present?

[2022-10-17 17:50] amarts commented on #882
I am suspecting this is mainly due to possible 2-5% offset we keep in posix layer. Can this be expanded to 45GB? instead of 50GB?

[2022-10-17 17:56] hunter86bg commented on #897
After removing the Rolebinding from the yaml - no issues during apply.
Sadly, I don't know a way to make that Rolebinding optional.

[2022-10-17 18:28] handrea2009 opened #908 "Can't resize pvc even if there's plenty of space in the gluster volume"
**Describe the bug**
My system is configured for using external gluster in kadalu native way and gluster quota.
In some cases it can't resize pvc even if there's plenty of space in the gluster volumes

**To Reproduce**

- the gluster volume is 40Gb
- Create a PVC 5Gb in that gluster volume
- Resize the PVC to 25GB, it succeeds
- Resize the PVC to 30Gb, it fails and the following messages are logge

[2022-10-17 19:16] handrea2009 commented on #908
Temporary work-around is to connect to kadalu-provisioner container in the kadalu-csi-provisioner pod, and run the sqlite on stat.db file to change the pv size in the pv_stats table

[2022-10-18 17:19] joejulian commented on #905
I'm referring to `status` as defined in the [Working with Kubernetes Objects](https://kubernetes.io/docs/concepts/overview/working-with-objects/kubernetes-objects/) guide.

[2022-10-18 17:22] skrobul commented on #907
That makes sense, I'll stick to stable version for time being

[2022-10-20 05:43] #904 closed, assigned to nobody

[2022-10-20 05:56] amarts commented on #882
@vatsa287 Looks to be same as #908, can you check this too?

[2022-10-20 08:27] vatsa287 commented on #908
Got it @handrea2009! . Will send the fix.

[2022-10-20 13:19] Timoses opened #912 "[Bug]: kubectl kadalu remove-archived-pv returns: Failed to request deletion of archived pvc of the storage"
**Describe the bug**
Running `k kadalu remove-archived-pv --verbose storage` returns:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Apply
[code]
2. Create some PVCs, and remove them again.
3.
[code]
5. `kubectl kadalu remove-archived-pv storage`

**Expected behavior**
It should remove existing archives.

**Actual behavior**
It fails.

**Environment:**

kubectl-kadalu plugin: 0.8.16

[2022-10-20 18:10] #908 closed, assigned to nobody

[2022-10-21 04:12] leelavg commented on #907
- Arm builds might add at-least 2 hrs to every merge
- It's better to have a weekly or fortnight build if needed and at the same time most of the usecases might be fulfilled sticking to released versions
- If we've readily available gluster arm builds the whole 2 hrs merge will be snugged into 15 min build time 😃 , let's revisit after Moana merge

[2022-10-21 07:50] handrea2009 commented on #908
Thanks!

[2022-10-31 05:56] mohammaddawoodshaik opened #913 "App's FUSE mount goes to `Transport Endpoint not connected`"
**Describe the bug**
By any chance if kadalu-provisioner gets restarted then all the application having GlusterFS mount will start displaying `TransportENdpoint is not connected` even after kadalu-provisioner is came backup.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup Kdalu infra in a single node and make sure deploy an app with Gluster mount in it.
2. Delete the csi-node-plugin po

[2022-10-31 10:44] goolzerg opened #914 "[Bug]: csi-nodeplugin consumes all free space on a disk"
**Describe the bug**
Kadalu csi-nodeplugin (kadalu-logging container) writes it's logs to emtyDir volume by default. Eventually nodeplugin's logs consume all free space on a disk. Is it possible  to send logs to stdout as Kubernetes native applications do?

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy csi-nodeplugin to k8s cluster
2. Wait until disk space will end

[2022-11-02 06:31] prabhupraveen opened #915 "Deploy Kadalu on control plane nodes:"
**Is your feature request related to a problem? Please describe.**
In order to deploy Kadalu on control plane nodes, the taint <code>node-role.kubernetes.io/control-plane:NoSchedule</code> has to be removed. This may not be desirable because the control plane nodes then become available for all deployments.

Worker nodes usually are disposable, while control plane nodes run critical workloads. Hav

[2022-11-03 12:00] vatsa287 commented on #912
Hi @Timoses. Rechecked `remove-archived-pv` subcommand on my local setup. The delete request is being sent to the csi-provisioner.
Yes the archived pvc's consume space since their data is intact & their count is also included into `kubectl kadalu storage-list --status`.
To spot archived pvc's manually, please exec into kadalu-csi-provisioner
[code]
cd into `/mnt`
[code]

To delete these pvc's, cd

[2022-11-03 12:02] vatsa287 commented on #882
This issue is fixed through #911. Hopefully this can be closed.

[2022-11-03 12:58] aravindavk commented on #914
Logs are sent to stdout but the enhancement is required to purge the old log files. (https://github.com/kadalu/kadalu/blob/devel/helm/kadalu/charts/csi-nodeplugin/templates/daemonset.yaml#L84).

[2022-11-03 14:20] mohammaddawoodshaik opened #916 "[Bug]: Quota is not getting reclaimed once I delete the files"
**Describe the bug**
I have created a `Replica1` storage-pool and a PVC asking for 2G of space. I wrote the data to that PVC mount point and deleted th e same, but I see disk space is not completely freed.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a replica1 storage-pool by specifying hostpath, which is XFS.
2. Create a PVC asking for 2G in the above-created storage-pool
3. Now

[2022-11-03 14:52] leelavg commented on #916
- Ah! I debugged this with the user recently and #908 was raised
- Fix will be part of next release #911

[2022-11-10 06:42] vatsa287 commented on #914
@aravindavk @amarts
Soln:
Add logrotate configuration ex:
[code]
Change existing tail to `-F` to track the log file even if it is renamed or recreated.
Add a shell script as a process as a alternative to cron job in container to call logrotate configuration file twice a day.

[2022-11-10 06:44] amarts commented on #914
Go ahead and send a PR. This may be needed in other containers too.

[2022-11-10 12:30] aravindavk opened #920 "[RFE]: Pool mounts manager"
Storage pools are internaly Kadalu Storage or Gluster Volume. Every PV create request checks if the Pool is already mounted and mounts if it is not already mounted. Mount process(`glusterfs`) daemonizes itself and return prompt back to Provisioner/Node plugin.

Issues:
* No monitoring to watch if the mount process dies after mounting (Only noticed when a next PV create request comes or when a app

[2022-11-10 12:30] aravindavk commented on #920
@vatsa287 ^^

[2022-11-11 19:31] drbardin commented on #852
Updated kadalu to 0.8.17, persistent CPU spike ~45 minutes after restart of operator pod still exists, unfortunately.

AWS EC2 t3.xlarge
Kubernetes 1.23.5 - single node cluster, non-ephemeral.

[2022-11-12 04:51] #796 closed, assigned to nobody

[2022-11-12 04:51] #723 closed, assigned to nobody

[2022-11-12 04:51] #772 closed, assigned to nobody

[2022-11-12 04:51] #782 closed, assigned to nobody

[2022-11-12 07:34] hunter86bg commented on #810
@amarts ,

maybe we can use the stats in  '/sys/fs/cgroup/system.slice/' on each pod ?

[code]

[2022-11-12 07:39] hunter86bg commented on #810
An interesting read: https://docs.docker.com/config/containers/runmetrics/

[2022-11-12 07:46] hunter86bg commented on #810
Most probably cpu stats also need fixing as the path in kadalu_operator/exporter.py is for cgroup1 while Openshift/OKD use cgroup2.

This one might work:
[code]

[2022-11-13 20:51] hunter86bg commented on #810
I've played a little bit and I changed the exporter.py on operator & kadalu-csi-provisioner-0 pods:

Operator:
[code]

CSI-provisioner:
[code]

The results have changed as follows:
[code]

@aravindavk , @amarts ,
my guess is that kadalu_operator/exporter.py is the first one and server/exporter.py is the second one.
Would you take a look before opening a PR ?

[2022-11-14 03:10] leelavg opened #921 "[RFE]: Rewrite (/arch) Kadalu Operator to reconcile on required events"
- In-order not to get exhaustive I'll provide requirement and at-most one example for that specific requirement as a start

**Is your feature request related to a problem? Please describe.**
### 1. Finalizers:
- Operator should have the ability to add finalizers to Kadalu CRs and be able to act on it during deletion of Storage Pools
- When user deletes CR, our operator blocks pool deletion if ther

[2022-11-14 04:57] aravindavk commented on #921
This is nice. We can move Option set and other day2 Operations to Config map instead of CRD. But because of this Operator has to watch Configmap also. If everything related to the Storage pool is in CRD, then watching only CRD changes should suffice.

Modifications to kadalu-info configmap is done by the Operator. Users should update CRD if any changes required, they should not update kadalu-info

[2022-11-14 05:04] aravindavk commented on #921
If Golang rewrite is feasible, it can be 1.x and Moana integration can be 2.0 target.

[2022-11-14 06:26] leelavg commented on #921
- yes and at the same time current flow is more like tying storage & k8s operator, if we can have separate config map for operator then there's no need to update kadalu-info

- I'm thinking for initial rewrite of only operator, as CSI is mostly stateless that can come up later
- With the available tools for golang we can re-write operator in-around (continuous) 24 hrs and 2-3 hrs more if we want s

[2022-11-14 06:51] amarts commented on #921
@aravindavk lets not bother about golang and a release right now. We will keep the efforts by having a separate branch, an issue (mainly to document progress, benefits... - can be this one) and then then take a call on release version.

My take, with what we already have, we are good for 1.0.x releases for sure. Lets plan that this month before branching for golang efforts.

[2022-11-14 07:01] aravindavk opened #923 "[Tracking] 1.0 release"
This is a tracking issue for 1.0

- [x] Support for Replica2 without Tiebreaker (https://github.com/kadalu/kadalu/pull/922)
- [ ] Document Replica2 and Tiebreaker as Beta features
- [x] One more release before 1.0 (0.9.x)
- [ ] Documentation update as Pool wherever Hosting Volume is mentioned
- [ ] Branch based release workflow (Current one is tag based)

[2022-11-14 07:02] aravindavk commented on #923
@amarts @leelavg @vatsa287 add if any other issues to be fixed before 1.0

[2022-11-14 17:24] amarts commented on #923
If its possible to fix, any issues on OpenShift which are reported? (like the metrics issues mentioned by #897)

[2022-11-15 06:45] hunter86bg commented on #810
It's quite interesting why the gluster pods consume different ammount of memory:
[code]

[code]

[2022-11-15 07:28] hunter86bg commented on #810
![kadalu-on-okd-memory-metrics](https://user-images.githubusercontent.com/22281444/201856262-15c8d707-ab19-461a-93bc-12c6241e144a.png)

[2022-11-15 12:48] #914 closed, assigned to nobody

[2022-11-16 05:54] leelavg commented on #913
@mohammaddawoodshaik
- what was the state of nodeplugin when above issue is observed.
- workload/app is more related to the state of nodeplugin but not to the provisioner

[2022-11-16 06:03] leelavg commented on #915
@aravindavk could you pls refresh the docs, seems #878 wasn't populated

[2022-11-16 06:15] leelavg commented on #915
- just observed that the attached PR will not work as expected and also wrong, this is one area where having a separate configmap will be helpful
- use case is, users may want glusterfs-server, provisioner & nodeplugin should be running on a specific tainted node

[2022-11-16 11:23] leelavg commented on #912
- just checked this now to fix if there's any issue, however not able to reproduce this

[code]

[2022-11-16 16:07] mohammaddawoodshaik commented on #913
@leelavg
Sorry for the confusion, it was node-plugin pod I have deleted to simulate the scenario - what will happen if FUSE process gets restarted?
But the problem I see here is after FUSE process comes-backup it is not repairing the errored POD mounts.

[2022-11-16 16:28] leelavg commented on #913
- I already mentioned this in slack thread https://kadalu.slack.com/archives/CLTPS540N/p1667395933939249?thread_ts=1667363649.871229&cid=CLTPS540N

[code]

[2022-11-17 16:25] Fevereiro6 opened #928 "Used / remaining storage stage"
I have a storage pool of  of Replica1 type distributed over 3 nodes of a k8s cluster.  How can I check the used/reamining storage on each of the nodes of the pool. Kadalu version used 0.8.14.

[2022-11-17 16:52] leelavg commented on #928
[code]
- https://github.com/kadalu/kadalu/tree/devel/cli#usage
- plugin available from krew repo as well

[2022-11-18 05:02] Timoses commented on #912
Sorry, didn't have time to spin up my system and try it out, yet.

Will do as soon as I get to it!

[2022-11-18 05:29] #810 closed, assigned to nobody

[2022-11-19 14:12] bodleytunes opened #933 "How to upgrade?"
Hi,

I was just wondering how one was supposed to upgrade the Kadulu containers?

I managed to upgrade the plugin but not sure how to upgrade everything else and couldn't see any docs related to this.

Apologies if I'm missing something obvious!

Many thanks,

Jon.

[2022-11-20 07:48] inistor commented on #933
You'll find upgrade instructions here: https://github.com/kadalu/kadalu/blob/devel/doc/upgrade.adoc

In short, you're "applying" the new yaml manifests for the newer versions of Kadalu Operator and Kadalu CSI Nodeplugin.
Make sure you're using the appropriate manifests for your Kubernetes flavour (Generic, MicroK8s, OpenShift, etc).

[2022-11-20 09:54] bodleytunes commented on #933
OK thanks!

On Sun, 20 Nov 2022 at 07:48, Ion Nistor ***@***.***> wrote:

[2022-11-21 18:42] Compunctus commented on #913
Well, you should mark daemonset pods as OnDelete - so admin will be able to update one node at a time.

[2022-11-22 02:43] leelavg commented on #913
Ah! good one, it'll work for upgrades. However, this couldn't solve accidental nodeplugin reboots (which is rare though).

Neverthess, will update Nodeplugin manifests, thanks.

[2022-11-23 04:55] hunter86bg commented on #819
I think that thisissue is somehow related to the metrics problem that I observed recently.
I will try to reproduce it.

[2022-11-23 05:22] hunter86bg commented on #819
@leelavg ,
the actual symptoms are:
- After restart of Kadalu (cluster version upgrade), the monitoring (currently my target is 'http://10.131.0.14:8050/metrics/') is not working

How to reproduce:
- Restart the kadalu pods (or at least kill the exporter.py on the operator pod)
- Get the target from the UI
- ssh to one worker and run:
[code]

The endpoint without a trailing slash is slower, but so

[2022-11-23 05:30] leelavg commented on #819
@hunter86bg if you don't mind can we have one issue that's tracking all the metrics bugs as of now?

- pls setup the monitoring according to the updated monitoring guide (with `/metrics/` and correct RBAC)

[2022-11-23 06:09] hunter86bg commented on #819
@leelavg ,
As I will be rebuilding the cluster next year, I think that we can close this one and open a new issue if it exists afterwards.

[2022-11-23 06:13] leelavg commented on #819
That'll work, thanks.

[2022-11-23 06:22] #819 closed, assigned to nobody

[2022-11-24 05:00] Timoses commented on #912
Ok, testing a bit now.

1. It takes quite long to iterate through `/mnt`. I added a `print` statement [here])https://github.com/kadalu/kadalu/blob/e0e2ef99026e2792fbfdd51d3c2d636da91f15b4/csi/volumeutils.py#L1458). It iterates through quite a lot of stuff. Since we are only interested in `.json` files, would it make sense to use `find /mnt -name '*.json'`? Not sure if that would speed it up.
2. It

[2022-11-24 05:05] Timoses commented on #912
Is it safe to presume that https://github.com/kadalu/kadalu/blob/e0e2ef99026e2792fbfdd51d3c2d636da91f15b4/csi/volumeutils.py#L1449 is using wrong assumption about the layout?

As far as I see in my local setup, the PVC info data lies within `/mnt/storage/info/`. So iterating over `/mnt/*/info/` would seem a bit nicer!?

I can test that locally and create a PR, if you confirm that I'm not missing a

[2022-11-24 06:20] leelavg commented on #912
- exactly! thanks for pointing this out, it's a sneaky bug
- in the generator we need to restrict the depth of dir walk
- in hindsight, this also explains some of high CPU usages at times

[2022-11-24 07:07] aravindavk commented on #923
Realized that no change is required to make it branch based since tags are global level. No same tag can be created for two branches. So to release 1.0.0: Create a branch `1.0` and then tag `1.0.0`, `1.0.1` etc.

[2022-11-24 07:33] vatsa287 commented on #912
Makes sense here, have to verify if the .json file actually belongs to kadalu or not in `yield_pvc_from_mntdir`.
Rationale of using `yield_pvc_from_mntdir` and not other one was that removal of archived pv was restricted to a `single storage-pool` as it was a positional argument & yield_pvc_from_mntdir iterated over a single storage-pool.

[2022-11-24 08:21] Timoses commented on #912
@vatsa287  Pls see my PR where I added a not regarding usage of the two methods `yield_pvc_from_mntdir` and `yield_pvc_from_hostvol`).
IMO, `yield_pvc_from_mntdir` can be removed, when the other supports the `filters` dict.

[2022-11-24 08:22] leelavg commented on #912
nope, I was in a meeting. Give me some time, I'll get back at the earliest @Timoses

[2022-11-24 08:36] leelavg commented on #912
@Timoses the fix for the issue is below
[code]

in the generator we need to restrict the depth of dir walk
in hindsight, this also explains some of high CPU usages at times
- I'm wrong about these, I thought the function itself is stepping over users data but it's clearly not the reason

- the intention for `yield_pvc_from_mntdir` is to start the walk from `/mnt/<pool>/info` or `/mnt/<pool>/info/{

[2022-11-24 09:37] Timoses commented on #912
Yeh, it's the fix I found first as well.

However, the method `yield_pvc_from_mntdir` seems really unsafe. You can pass any path here and it will "work". It's not a user-friendly interface and therefore such bugs are bound to happen, as it did now ; ).

But I'm ok with the fix you suggested as well.

[2022-11-29 05:01] #912 closed, assigned to nobody